openapi: 3.1.0
info:
  description: '{% partial file="/partial-content/product/connect-channel-platform/rest/connect/openapi-description.md" /%}'
  title: Mirakl Connect Channel Platform APIs Carriers Messages API
  version: "1.0"
servers:
- description: Connect Channel Platform API
  url: https://miraklconnect.com/api/channel-platform
tags:
- name: Messages
paths:
  /api/messages:
    get:
      deprecated: true
      description: '<div class="extension-title">Deprecated endpoint</div>


        This API is going to be removed in a future update, please use M10 and M11 instead


        <div class="extension-title">Description</div>


        Returns messages received or sent to the operator. By default, returns only messages that are received by the operator.


        <div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: Synchronous only - at each message list display</div>

        <div class="max-call-frequency">Maximum usage: Synchronous only - at each message list display</div>

        <div class="extension-title">Pagination</div>


        <p>This resource supports offset pagination (<a href="#section/Offset-pagination-and-sort">see documentation</a>)</p>


        <div class="extension-title">Sort fields</div>


        <code>sort</code> field can have the following values:<ul><li><b>dateCreated</b> (Default) - Sort by creation date (desc by default)</li></ul>


        </div>'
      operationId: M01
      parameters:
      - description: Returns messages concerned by this <code>customer_id</code>
        explode: true
        in: query
        name: customer_id
        required: false
        schema:
          type: string
        style: form
      - description: Returns messages concerned by this <code>shop_id</code>
        explode: true
        in: query
        name: shop_id
        required: false
        schema:
          type: integer
          format: int64
        style: form
      - description: '<ul><li> If <code>TRUE</code>: returns only messages received by operator.</li><li> If <code>FALSE</code>: returns only messages sent to the operator.</li><li> If <code>ALL</code>: returns all messages, even direct messages between customer and shop.</li></ul>'
        explode: true
        in: query
        name: received
        required: false
        schema:
          type: string
          default: 'TRUE'
          enum:
          - 'TRUE'
          - 'FALSE'
          - ALL
        style: form
      - deprecated: true
        description: Ignored, will be removed in a future version
        explode: true
        in: query
        name: read
        required: false
        schema:
          type: string
          deprecated: true
          enum:
          - 'TRUE'
          - 'FALSE'
          - ALL
        style: form
      - description: Order identifier
        explode: true
        in: query
        name: order_id
        required: false
        schema:
          type: string
        style: form
      - description: Offer identifier
        explode: true
        in: query
        name: offer_id
        required: false
        schema:
          type: integer
          format: int64
        style: form
      - description: Start creation date for filtering
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - description: End creation date for filtering
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - deprecated: true
        description: Ignored, will be removed in a future version
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: string
          deprecated: true
          enum:
          - 'TRUE'
          - 'FALSE'
          - ALL
        style: form
      - deprecated: true
        description: '<ul><li> If <code>TRUE</code>: returns only the visible messages.</li><li> If <code>FALSE</code>: returns only the not visible messages.</li></ul>'
        explode: true
        in: query
        name: visible
        required: false
        schema:
          type: string
          default: 'TRUE'
          deprecated: true
          enum:
          - 'TRUE'
          - 'FALSE'
          - ALL
        style: form
      responses:
        '200':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Example with business values (application/json)
                  value:
                    messages:
                    - archived: false
                      body: 'Hi,

                        I ordered a CD from you earlier this week, and I wanted to know if you used USPS or UPS to deliver, since UPS drivers have trouble finding my house (it is at the bottom of a cul-de-sac). The order number is N°0823623574.

                        Thanks for your help,

                        Yvan'
                      commercial_id: MIR-KQ1CI2U0
                      date_created: '2019-03-25T14:25:24Z'
                      from_id: 356-30-5081
                      from_name: Juan Cao
                      from_type: CUSTOMER
                      id: 2006
                      order_id: MIR-KQ1CI2U0-B
                      read: false
                      subject: Question about delivery
                      to_operator: true
                      to_operator_archived: false
                      to_shop_archived: false
                      to_shop_id: 136
                      to_shop_name: Rogersound Labs
                    total_count: 1
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    messages:
                    - archived: true
                      body: string
                      commercial_id: string
                      date_created: '2023-03-28T09:34:42Z'
                      documents:
                      - date_uploaded: '2023-03-28T09:34:42Z'
                        file_name: string
                        file_size: 0
                        id: 0
                        type: string
                      from_id: string
                      from_name: string
                      from_type: OPERATOR
                      id: 0
                      offer_id: 0
                      order_id: string
                      read: true
                      subject: string
                      to_customer_archived: true
                      to_customer_id: string
                      to_customer_name: string
                      to_operator: true
                      to_operator_archived: true
                      to_shop_archived: true
                      to_shop_id: 0
                      to_shop_name: string
                      visible: true
                    total_count: 0
              schema:
                type: object
                $ref: '#/components/schemas/M01_Response_200'
          description: OK
      security:
      - Operator-Bearer-Token: []
      - OAuth-2: []
      summary: M01 - List messages linked to orders and offers
      tags:
      - Messages
      x-badges:
      - color: noIntegrationBadge
        name: ⚠️ No Integration Allowed ⚠️
        position: after
  /api/inbox/threads/{thread_id}:
    get:
      description: '<div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: Synchronous only - At each page that includes a message thread display</div>

        <div class="max-call-frequency">Maximum usage: Synchronous only - At each page that includes a message thread display</div>

        <div class="extension-title">Read More</div>


        <ul><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/integrating_mirakl/integrate_messages.htm">More context (Products Marketplace)</a></li><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/service_features/integrating_services/sending_service_messages.htm">More context (Services Marketplace)</a></li></ul></div>'
      operationId: M10
      parameters:
      - description: The identifier of the thread to retrieve.
        explode: false
        in: path
        name: thread_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Example with business values (application/json)
                  value:
                    authorized_participants:
                    - display_name: Shop display name
                      id: Shop id
                      type: SHOP
                    - display_name: Customer display name
                      id: Customer id
                      type: CUSTOMER
                    current_participants:
                    - display_name: Shop display name
                      id: Shop id
                      type: SHOP
                    - display_name: Customer display name
                      id: Customer id
                      type: CUSTOMER
                    customer_organization:
                      display_name: Customer organization
                      id: customer-org-id
                    date_created: '2018-10-02T08:36:36.479Z'
                    date_updated: '2018-10-03T09:40:17.241Z'
                    entities:
                    - id: Entity id
                      label: Entity label
                      type: Entity type
                    id: 702c3e56-dcca-41e2-b6bd-72ba3fa809be
                    messages:
                    - body: Hello, I have recently order a service and I have a few questions ...
                      date_created: '2018-10-02T08:36:36.479Z'
                      from:
                        display_name: Customer display name
                        type: CUSTOMER_USER
                      id: df4a3163-a44b-4c5f-8380-faebfa43ca68
                      to:
                      - display_name: Shop display name
                        id: Shop id
                        type: SHOP
                    - attachments:
                      - id: fce1742e-8160-45ed-b88a-100023d9d97b
                        name: Brochure du service
                        size: 200
                      - id: 983fd83f-0b39-4bdf-9932-bd774ab66ce4
                        name: Tarif
                        size: 10
                      body: Dear customer, ...
                      date_created: '2018-10-03T09:40:17.241Z'
                      from:
                        display_name: Shop user display name
                        organization_details:
                          display_name: Shop display name
                          id: Shop id
                          type: SHOP
                        type: SHOP_USER
                      id: d752f26f-03eb-499c-8f4d-828fa9640055
                      to:
                      - display_name: Customer display name
                        id: Customer id
                        type: CUSTOMER
                    metadata:
                      last_message_date: '2018-10-03T09:40:17.241Z'
                      last_sender:
                        display_name: Shop user display name
                        organization_details:
                          display_name: Shop display name
                          id: Shop id
                          type: SHOP
                        type: SHOP_USER
                      shop_reply_needed_since: null
                      total_count: 2
                    no_store_reply_needed: []
                    topic:
                      type: FREE_TEXT
                      value: Questions about my order
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    authorized_participants:
                    - display_name: string
                      id: string
                      type: OPERATOR
                    current_participants:
                    - display_name: string
                      id: string
                      type: OPERATOR
                    customer_organization:
                      display_name: string
                      id: string
                    date_created: '2023-03-28T09:34:42Z'
                    date_updated: '2023-03-28T09:34:42Z'
                    entities:
                    - id: string
                      label: string
                      type: string
                    id: string
                    messages:
                    - attachments:
                      - id: string
                        name: string
                        size: 0
                      body: string
                      date_created: '2023-03-28T09:34:42Z'
                      from:
                        display_name: string
                        organization_details:
                          display_name: string
                          id: string
                          type: OPERATOR
                        type: OPERATOR_USER
                      id: string
                      to:
                      - display_name: string
                        id: string
                        type: OPERATOR
                    metadata:
                      last_message_date: '2023-03-28T09:34:42Z'
                      last_sender:
                        display_name: string
                        organization_details:
                          display_name: string
                          id: string
                          type: OPERATOR
                        type: OPERATOR_USER
                      shop_reply_needed_since: '2023-03-28T09:34:42Z'
                      total_count: 0
                    no_store_reply_needed:
                    - date: '2023-03-28T09:34:42Z'
                      user_type: OPERATOR
                    topic:
                      type: FREE_TEXT
                      value: string
              schema:
                type: object
                $ref: '#/components/schemas/M10_Response_200'
          description: OK
      security:
      - Operator-Bearer-Token: []
      - OAuth-2: []
      summary: M10 - Retrieve a thread
      tags:
      - Messages
  /api/inbox/threads:
    get:
      description: '<div class="extension-title">Description</div>


        You may want to retrieve the threads linked to a specific entity, using both <code>entity_type</code> and <code>entity_id</code>.

        <br>For example, to retrieve threads for an order, use <code>entity_type=MMP_ORDER&entity_id=my-order-1</code>.

        <br>

        Available values for <code>entity_type</code> are:

        <ul>

        <li><code>MMP_ORDER</code>: for threads on product orders</li>

        <li><code>MMP_OFFER</code>: for threads on offers</li>

        <li><code>MPS_ORDER</code>: for threads on service orders</li>

        <li><code>MPS_SERVICE</code>: for threads on services</li>

        <li><code>SELLER_OPERATOR</code>: for threads between sellers and operator</li>

        </ul>


        This resource uses seek pagination. The default value for parameter <code>limit</code> is 50.



        <div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: Synchronous only - At each page that includes an inbox display</div>

        <div class="max-call-frequency">Maximum usage: Synchronous only - At each page that includes an inbox display</div>

        <div class="extension-title">Read More</div>


        <ul><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/integrating_mirakl/integrate_messages.htm">More context (Products Marketplace)</a></li><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/service_features/integrating_services/sending_service_messages.htm">More context (Services Marketplace)</a></li></ul><div class="extension-title">Pagination</div>


        <p>This resource supports seek pagination (<a href="#section/Seek-pagination-and-sort">see documentation</a>)</p>


        </div>'
      operationId: M11
      parameters:
      - description: 'Entity type to include in result (default: include all).<br/> Available values: MMP_ORDER, MMP_OFFER, MPS_ORDER, MPS_SERVICE, SELLER_OPERATOR'
        explode: true
        in: query
        name: entity_type
        required: false
        schema:
          type: string
        style: form
      - description: 'Comma separated list of Entity id to include in result (default: include all).<br/> The entity_type must be specified to use this filter, otherwise an error 400 will be returned.<br/> Example of an entity_id query: entity_id=order1-A,order20-A,order13-A&entity_type=MMP_ORDER'
        explode: true
        in: query
        name: entity_id
        required: false
        schema:
          type: array
          items:
            type: string
        style: form
      - description: Retrieve threads modified at or after this date.
        explode: true
        in: query
        name: updated_since
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - description: True to include message details. Limited to the last 100 messages received on each thread.
        explode: true
        in: query
        name: with_messages
        required: false
        schema:
          type: boolean
          default: false
        style: form
      - description: 'List of the channel codes to filter with, using a comma (,) as a separator.

          <br/> If specified, only order messages linked to the given channels will be returned (Whatever the value of <code>entity_type</code>).

          <br/> Otherwise, messages will be returned regardless of their channels.

          '
        explode: true
        in: query
        name: channel_codes
        required: false
        schema:
          type: array
          items:
            type: string
          uniqueItems: true
        style: form
      responses:
        '200':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Example with business values (application/json)
                  value:
                    data:
                    - authorized_participants:
                      - display_name: Shop display name
                        id: Shop id
                        type: SHOP
                      - display_name: Customer display name
                        id: Customer id
                        type: CUSTOMER
                      current_participants:
                      - display_name: Shop display name
                        id: Shop id
                        type: SHOP
                      - display_name: Customer display name
                        id: Customer id
                        type: CUSTOMER
                      customer_organization:
                        display_name: Customer organization
                        id: customer-org-id
                      date_created: '2016-09-03T13:37:00Z'
                      date_updated: '2018-09-03T13:37:00Z'
                      entities:
                      - id: Entity id
                        label: Entity label
                        type: Entity type
                      id: 702c3e56-dcca-41e2-b6bd-72ba3fa809be
                      metadata:
                        last_message_date: '2018-09-03T13:37:00Z'
                        last_sender:
                          display_name: Shop user display name
                          organization_details:
                            display_name: Shop display name
                            id: Shop id
                            type: SHOP
                          type: SHOP_USER
                        shop_reply_needed_since: null
                        total_count: 2
                      no_store_reply_needed: []
                      topic:
                        type: FREE_TEXT
                        value: Topic value
                    next_page_token: bGltaXQ9NTAmYWZ0ZXI9MjA3NjYwNTAtZDc5Yy00YzUyLWEwODctZWI5YjY1MjFkNzA5JnNvcnQ9ZGF0ZSxERVND.jFoPX_GjfbaRV88hhNxWWEzeRSqPt1WNExsrcBTkuSY=
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    data:
                    - authorized_participants:
                      - display_name: string
                        id: string
                        type: OPERATOR
                      current_participants:
                      - display_name: string
                        id: string
                        type: OPERATOR
                      customer_organization:
                        display_name: string
                        id: string
                      date_created: '2023-03-28T09:34:42Z'
                      date_updated: '2023-03-28T09:34:42Z'
                      entities:
                      - id: string
                        label: string
                        type: string
                      id: string
                      messages:
                      - attachments:
                        - id: string
                          name: string
                          size: 0
                        body: string
                        date_created: '2023-03-28T09:34:42Z'
                        from:
                          display_name: string
                          organization_details:
                            display_name: string
                            id: string
                            type: OPERATOR
                          type: OPERATOR_USER
                        id: string
                        to:
                        - display_name: string
                          id: string
                          type: OPERATOR
                      metadata:
                        last_message_date: '2023-03-28T09:34:42Z'
                        last_sender:
                          display_name: string
                          organization_details:
                            display_name: string
                            id: string
                            type: OPERATOR
                          type: OPERATOR_USER
                        shop_reply_needed_since: '2023-03-28T09:34:42Z'
                        total_count: 0
                      no_store_reply_needed:
                      - date: '2023-03-28T09:34:42Z'
                        user_type: OPERATOR
                      topic:
                        type: FREE_TEXT
                        value: string
                    next_page_token: string
                    previous_page_token: string
              schema:
                type: object
                $ref: '#/components/schemas/M11_Response_200'
          description: OK
      security:
      - Operator-Bearer-Token: []
      - OAuth-2: []
      summary: M11 - List all threads
      tags:
      - Messages
    post:
      description: '<div class="extension-title">Description</div>


        Create a thread with a seller and send a first message


        <div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: Synchronous only - At each thread</div>

        <div class="max-call-frequency">Maximum usage: Synchronous only - At each thread answer</div>

        <div class="extension-title">Read More</div>


        <ul><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/integrating_mirakl/integrate_messages.htm">More context (Products Marketplace)</a></li><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/service_features/integrating_services/sending_service_messages.htm">More context (Services Marketplace)</a></li></ul></div>'
      operationId: M14
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            examples:
              multipart/form-data-auto:
                summary: Complete example with value types (multipart/form-data)
                value:
                  files:
                  - string
                  thread_input:
                    body: string
                    entity:
                      id: string
                      type: string
                    topic:
                      type: FREE_TEXT
                      value: string
            schema:
              type: object
              properties:
                files:
                  type: array
                  description: List of attachments for the message<br/>Maximum 1000 across all threads of the same entity.<br/>For example, for a given seller, you can not have more than 1000 attachments across all its threads.
                  items:
                    type: string
                    format: binary
                thread_input:
                  $ref: '#/components/schemas/M14_Request_MultipartFormData_ThreadInput'
                  description: Message and thread data
              required:
              - thread_input
      responses:
        '201':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Example with business values (application/json)
                  value:
                    message_id: 873f1cb5-a7a2-4e07-8e0e-12eb64e93ece
                    thread_id: 702c3e56-dcca-41e2-b6bd-72ba3fa809be
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    message_id: string
                    thread_id: string
              schema:
                type: object
                $ref: '#/components/schemas/M14_Response_201'
          description: Created
      security:
      - Operator-Bearer-Token: []
      - OAuth-2: []
      summary: M14 - Create a thread with a seller
      tags:
      - Messages
      x-codeSamples:
      - lang: cURL
        source: "curl -i -X POST \\\n  https://your-instance.mirakl.net/api/inbox/threads \\\n  -H 'Content-Type: multipart/form-data' \\\n  -F 'files=@path/to/file' \\\n  -F 'thread_input=\"{\\\"body\\\":\\\"string\\\",\\\"entity\\\":{\\\"id\\\":\\\"string\\\",\\\"type\\\":\\\"string\\\"},\\\"topic\\\":{\\\"type\\\":\\\"FREE_TEXT\\\",\\\"value\\\":\\\"string\\\"}}\";type=application/json'\n"
  /api/inbox/threads/{thread_id}/message:
    post:
      description: '<div class="extension-title">Description</div>


        Maximum of 1000 messages on a thread


        <div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: Synchronous only - At each thread answer</div>

        <div class="max-call-frequency">Maximum usage: Synchronous only - At each thread answer</div>

        <div class="extension-title">Read More</div>


        <ul><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/integrating_mirakl/integrate_messages.htm">More context (Products Marketplace)</a></li><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/service_features/integrating_services/sending_service_messages.htm">More context (Services Marketplace)</a></li></ul></div>'
      operationId: M12
      parameters:
      - description: The ID of the thread to reply to.
        explode: false
        in: path
        name: thread_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            examples:
              multipart/form-data-auto:
                summary: Complete example with value types (multipart/form-data)
                value:
                  files:
                  - string
                  message_input:
                    body: string
                    to:
                    - id: string
                      type: OPERATOR
                    topic:
                      type: FREE_TEXT
                      value: string
            schema:
              type: object
              properties:
                files:
                  type: array
                  description: List of attachments for the message<br/>Maximum 50 across all threads of the same entity.<br/>For example, for a given order, you can not have more than 50 attachments across all its threads.
                  items:
                    type: string
                    format: binary
                message_input:
                  $ref: '#/components/schemas/M12_Request_MultipartFormData_MessageInput'
                  description: The message data
              required:
              - message_input
      responses:
        '201':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Example with business values (application/json)
                  value:
                    message_id: 873f1cb5-a7a2-4e07-8e0e-12eb64e93ece
                    thread_id: 702c3e56-dcca-41e2-b6bd-72ba3fa809be
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    message_id: string
                    thread_id: string
              schema:
                type: object
                $ref: '#/components/schemas/M12_Response_201'
          description: Created
      security:
      - Operator-Bearer-Token: []
      - OAuth-2: []
      summary: M12 - Reply to a thread
      tags:
      - Messages
      x-codeSamples:
      - lang: cURL
        source: "curl -i -X POST \\\n  https://your-instance.mirakl.net/api/inbox/threads/{thread_id}/message \\\n  -H 'Content-Type: multipart/form-data' \\\n  -F 'files=@path/to/file' \\\n  -F 'message_input=\"{\\\"body\\\":\\\"string\\\",\\\"to\\\":[{\\\"id\\\":\\\"string\\\",\\\"type\\\":\\\"OPERATOR\\\"}],\\\"topic\\\":{\\\"type\\\":\\\"FREE_TEXT\\\",\\\"value\\\":\\\"string\\\"}}\";type=application/json'\n"
  /api/inbox/threads/{attachment_id}/download:
    get:
      description: '<div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: Synchronous only - At each message attachment download</div>

        <div class="max-call-frequency">Maximum usage: Synchronous only - At each message attachment download</div>

        <div class="extension-title">Read More</div>


        <ul><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/integrating_mirakl/integrate_messages.htm">More context (Products Marketplace)</a></li><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/service_features/integrating_services/sending_service_messages.htm">More context (Services Marketplace)</a></li></ul></div>'
      operationId: M13
      parameters:
      - description: The identifier of the attachment to retrieve.
        explode: false
        in: path
        name: attachment_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/octet-stream:
              examples:
                application/octet-stream-auto:
                  summary: Complete example with value types (application/octet-stream)
                  value: string
              schema:
                type: string
                format: binary
          description: OK
      security:
      - Operator-Bearer-Token: []
      - OAuth-2: []
      summary: M13 - Download an attachment
      tags:
      - Messages
  /api/orders/{order_id}/messages:
    post:
      deprecated: true
      description: '<div class="extension-title">Deprecated endpoint</div>


        This API will be removed in a future version. Use OR43 and M12 instead.


        <div class="extension-title">Description</div>


        Maximum of 1000 messages on a thread


        <div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: At each new message posted on an order</div>

        <div class="max-call-frequency">Maximum usage: At each new message posted on an order</div>

        <div class="extension-title">Read More</div>


        <ul><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/integrating_mirakl/integrate_messages.htm">More context (message integration)</a></li><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/mmp/Operator/manage_docs/manage_order_and_seller_docs/attach_documents_to_messages.html">More context (message attachment)</a></li><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/mmp/Seller/manage_orders/answer_msg.html">More context (sellers)</a></li></ul></div>'
      operationId: OR42
      parameters:
      - description: Order identifier
        explode: false
        in: path
        name: order_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              application/json-0:
                summary: Example with business values (application/json)
                value:
                  body: I don't receive my product! Could you please tell me when should i received it?
                  customer_email: customer@mail.com
                  customer_firstname: Smith
                  customer_id: Customer_id_001
                  customer_lastname: Taylor
                  customer_locale: en_EN
                  document_ids:
                  - '2032'
                  subject: Item not received
                  to_customer: false
                  to_operator: false
                  to_shop: true
              application/json-auto:
                summary: Complete example with value types (application/json)
                value:
                  body: string
                  customer_email: string
                  customer_firstname: string
                  customer_id: string
                  customer_lastname: string
                  customer_locale: string
                  document_ids:
                  - 0
                  subject: string
                  to_customer: true
                  to_operator: true
                  to_shop: true
            schema:
              $ref: '#/components/schemas/OR42_Request'
      responses:
        '201':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Example with business values (application/json)
                  value:
                    id: 2038
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    id: 0
              schema:
                type: object
                $ref: '#/components/schemas/OR42_Response_201'
          description: Created
      security:
      - Operator-Bearer-Token: []
      - OAuth-2: []
      summary: OR42 - Post a message on an order
      tags:
      - Messages
      x-badges:
      - color: noIntegrationBadge
        name: ⚠️ No Integration Allowed ⚠️
        position: after
  /api/orders/{order_id}/threads:
    post:
      description: '<div class="extension-title">Description</div>


        <p>Each message has a 30 Megabyte size limit, regardless of the number of attachments in the message.</p>


        <div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: At each new thread posted on an order</div>

        <div class="max-call-frequency">Maximum usage: At each new thread posted on an order</div>

        </div>'
      operationId: OR43
      parameters:
      - description: Identifier of the order on which the thread is created
        explode: false
        in: path
        name: order_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            examples:
              multipart/form-data-auto:
                summary: Complete example with value types (multipart/form-data)
                value:
                  files:
                  - string
                  thread_input:
                    body: string
                    to:
                    - OPERATOR
                    topic:
                      type: FREE_TEXT
                      value: string
            schema:
              type: object
              properties:
                files:
                  type: array
                  description: List of attachments for the first message of the thread
                  items:
                    type: string
                    format: binary
                thread_input:
                  $ref: '#/components/schemas/OR43_Request_MultipartFormData_ThreadInput'
                  description: 'Thread content: body, topic, participants...'
              required:
              - thread_input
      responses:
        '201':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Example with business values (application/json)
                  value:
                    message_id: 00617ff1-7449-4574-a3a1-6fc256bf4d9b
                    thread_id: 1f33b4f0-0cf8-4869-b148-e8e18b179770
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    message_id: string
                    thread_id: string
              schema:
                type: object
                $ref: '#/components/schemas/OR43_Response_201'
          description: Created
      security:
      - Operator-Bearer-Token: []
      - OAuth-2: []
      summary: OR43 - Create a thread on an order
      tags:
      - Messages
      x-codeSamples:
      - lang: cURL
        source: "curl -i -X POST \\\n  https://your-instance.mirakl.net/api/orders/{order_id}/threads \\\n  -H 'Content-Type: multipart/form-data' \\\n  -F 'files=@path/to/file' \\\n  -F 'thread_input=\"{\\\"body\\\":\\\"string\\\",\\\"to\\\":[\\\"OPERATOR\\\"],\\\"topic\\\":{\\\"type\\\":\\\"FREE_TEXT\\\",\\\"value\\\":\\\"string\\\"}}\";type=application/json'\n"
  /api/mms/services/{service_code}/threads:
    post:
      description: '<div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: At every message thread</div>

        <div class="max-call-frequency">Maximum usage: At every message thread</div>

        <div class="extension-title">Read More</div>


        <ul><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/service_features/integrating_services/sending_service_messages.htm">More context</a></li></ul></div>'
      operationId: SOF43
      parameters:
      - description: Service code on which the thread is created.
        explode: false
        in: path
        name: service_code
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            examples:
              multipart/form-data-auto:
                summary: Complete example with value types (multipart/form-data)
                value:
                  files:
                  - string
                  thread_input:
                    body: string
                    to:
                    - OPERATOR
                    topic:
                      type: FREE_TEXT
                      value: string
            schema:
              type: object
              properties:
                files:
                  type: array
                  description: List of attachments for the first message of the thread
                  items:
                    type: string
                    format: binary
                thread_input:
                  $ref: '#/components/schemas/SOF43_Request_MultipartFormData_ThreadInput'
                  description: 'The content of the thread: body, topic, participants...'
              required:
              - thread_input
      responses:
        '201':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Example with business values (application/json)
                  value:
                    message_id: fdf3a03a-9368-4db8-b318-a63f8fe49899
                    thread_id: 9f16bf63-68f8-4edc-a557-1b4e4b4659fe
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    message_id: string
                    thread_id: string
              schema:
                type: object
                $ref: '#/components/schemas/SOF43_Response_201'
          description: Created
      summary: SOF43 - Create a thread on a service
      tags:
      - Messages
      x-codeSamples:
      - lang: cURL
        source: "curl -i -X POST \\\n  https://your-instance.mirakl.net/api/mms/services/{service_code}/threads \\\n  -H 'Content-Type: multipart/form-data' \\\n  -F 'files=@path/to/file' \\\n  -F 'thread_input=\"{\\\"body\\\":\\\"string\\\",\\\"to\\\":[\\\"OPERATOR\\\"],\\\"topic\\\":{\\\"type\\\":\\\"FREE_TEXT\\\",\\\"value\\\":\\\"string\\\"}}\";type=application/json'\n"
  /api/mms/orders/{order_id}/threads:
    post:
      description: '<div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: At each new message posted on a service order</div>

        <div class="max-call-frequency">Maximum usage: At each new message posted on a service order</div>

        <div class="extension-title">Read More</div>


        <ul><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/service_features/integrating_services/sending_service_messages.htm">More context</a></li></ul></div>'
      operationId: SOR43
      parameters:
      - description: The identifier of the order on which the thread is created.
        explode: false
        in: path
        name: order_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            examples:
              multipart/form-data-auto:
                summary: Complete example with value types (multipart/form-data)
                value:
                  files:
                  - string
                  thread_input:
                    body: string
                    to:
                    - OPERATOR
                    topic:
                      type: FREE_TEXT
                      value: string
            schema:
              type: object
              properties:
                files:
                  type: array
                  description: List of attachments for the first message of the thread
                  items:
                    type: string
                    format: binary
                thread_input:
                  $ref: '#/components/schemas/SOR43_Request_MultipartFormData_ThreadInput'
                  description: 'The content of the thread: body, topic, participants...'
              required:
              - thread_input
      responses:
        '201':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Example with business values (application/json)
                  value:
                    message_id: f3e8abe6-6966-42bd-9788-4531035d5d8f
                    thread_id: a515927a-5720-4689-bf1f-b6e4ae5e12ea
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    message_id: string
                    thread_id: string
              schema:
                type: object
                $ref: '#/components/schemas/SOR43_Response_201'
          description: Created
      summary: SOR43 - Create a thread on a service order
      tags:
      - Messages
      x-codeSamples:
      - lang: cURL
        source: "curl -i -X POST \\\n  https://your-instance.mirakl.net/api/mms/orders/{order_id}/threads \\\n  -H 'Content-Type: multipart/form-data' \\\n  -F 'files=@path/to/file' \\\n  -F 'thread_input=\"{\\\"body\\\":\\\"string\\\",\\\"to\\\":[\\\"OPERATOR\\\"],\\\"topic\\\":{\\\"type\\\":\\\"FREE_TEXT\\\",\\\"value\\\":\\\"string\\\"}}\";type=application/json'\n"
components:
  schemas:
    M14_Request_MultipartFormData_ThreadInput:
      type: object
      properties:
        body:
          type: string
          description: Message body
          maxLength: 50000
          minLength: 3
        entity:
          $ref: '#/components/schemas/M14_Request_MultipartFormData_ThreadInput_Entity'
          description: Entity related to the thread
        topic:
          $ref: '#/components/schemas/M14_Request_MultipartFormData_ThreadInput_Topic'
          description: Topic of the thread
      required:
      - body
      - entity
      - topic
    M01_Response_200:
      type: object
      properties:
        messages:
          type: array
          description: List of messages
          items:
            $ref: '#/components/schemas/M01_Response_200_Messages'
        total_count:
          type: integer
          format: int32
          description: Messages total count
      required:
      - messages
      - total_count
    M10_Response_200_NoStoreReplyNeeded:
      type: object
      properties:
        date:
          type: string
          format: date-time
          description: No store reply needed action date
        user_type:
          type: string
          description: 'Entity that operated "no store reply needed" action.



            Enum: `"OPERATOR"`, `"SHOP"`

            '
      required:
      - date
      - user_type
    OR43_Request_MultipartFormData_ThreadInput:
      type: object
      properties:
        body:
          type: string
          description: Message body
          maxLength: 50000
          minLength: 3
        to:
          type: array
          description: Message recipients
          items:
            type: string
            description: 'Enum: `"OPERATOR"`, `"SHOP"`, `"CUSTOMER"`

              '
        topic:
          $ref: '#/components/schemas/OR43_Request_MultipartFormData_ThreadInput_Topic'
          description: Thread topic<br /><br />The topic can either have a free or a fixed value depending on the topic type
      required:
      - body
      - to
      - topic
    OR42_Response_201:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Identifier of the message created
      required:
      - id
    M01_Response_200_Messages_Documents:
      type: object
      properties:
        date_uploaded:
          type: string
          format: date-time
          description: Document uploaded date
        file_name:
          type: string
          description: Document file name
        file_size:
          type: integer
          format: int64
          description: File size
        id:
          type: integer
          format: int64
          description: Document identifier
        type:
          type: string
          description: Document type code
      required:
      - file_name
      - id
      - type
    M11_Response_200_Data_Messages_To:
      type: object
      properties:
        display_name:
          type: string
          description: Participant display name
        id:
          type: string
          description: Participant id<br/>When <code>type</code> equals <code>OPERATOR</code>, no id will be returned.
        type:
          type: string
          description: 'Participant type


            Enum: `"OPERATOR"`, `"SHOP"`, `"CUSTOMER"`

            '
      required:
      - display_name
      - type
    M11_Response_200_Data:
      type: object
      properties:
        authorized_participants:
          type: array
          description: 'Thread authorized participants<br/>

            Those are the participants who are authorized to join the thread.

            '
          items:
            $ref: '#/components/schemas/M11_Response_200_Data_AuthorizedParticipants'
        current_participants:
          type: array
          description: 'Thread current participants<br/>

            Those are the participants who have actually participated in the thread, meaning that they are either sender or receivers of at least one message of the thread.<br/>

            These participants must be on the list of the <code>authorized_participants</code>

            '
          items:
            $ref: '#/components/schemas/M11_Response_200_Data_CurrentParticipants'
        customer_organization:
          $ref: '#/components/schemas/M11_Response_200_Data_CustomerOrganization'
          description: Data related to the customer organization (B2B transactions)
        date_created:
          type: string
          format: date-time
          description: Thread created date
        date_updated:
          type: string
          format: date-time
          description: Thread updated date
        entities:
          type: array
          description: Thread entities
          items:
            $ref: '#/components/schemas/M11_Response_200_Data_Entities'
        id:
          type: string
          description: Thread id
        messages:
          type: array
          description: Thread messages. Limited to the last 100 messages of the thread. Present if with_messages query parameter has been set to true
          items:
            $ref: '#/components/schemas/M11_Response_200_Data_Messages'
        metadata:
          $ref: '#/components/schemas/M11_Response_200_Data_Metadata'
          description: Thread metadata
        no_store_reply_needed:
          type: array
          description: '    Thread "no store reply needed" actions. Present if "with_messages" query parameter has been set to true.

            '
          items:
            $ref: '#/components/schemas/M11_Response_200_Data_NoStoreReplyNeeded'
        topic:
          $ref: '#/components/schemas/M11_Response_200_Data_Topic'
          description: Thread topic
      required:
      - authorized_participants
      - current_participants
      - date_created
      - date_updated
      - id
      - metadata
      - topic
    M12_Request_MultipartFormData_MessageInput:
      type: object
      properties:
        body:
          type: string
          description: Message body
          maxLength: 50000
          minLength: 3
        to:
          type: array
          description: List of recipients of the message
          items:
            $ref: '#/components/schemas/M12_Request_MultipartFormData_MessageInput_To'
        topic:
          $ref: '#/components/schemas/M12_Request_MultipartFormData_MessageInput_Topic'
          description: New topic for the thread. Leave empty if you don't want to update it.
      required:
      - body
      - to
    M14_Request_MultipartFormData_ThreadInput_Topic:
      type: object
      description: Topic of the thread
      discriminator:
        mapping:
          FREE_TEXT: '#/components/schemas/M14_Request_MultipartFormData_ThreadInput_Topic_FreeText'
          REASON_CODE: '#/components/schemas/M14_Request_MultipartFormData_ThreadInput_Topic_ReasonCode'
        propertyName: type
      properties:
        type:
          type: string
          description: 'Enum: `"FREE_TEXT"`, `"REASON_CODE"`

            '
        value:
          type: string
    OR43_Response_201:
      type: object
      properties:
        message_id:
          type: string
          description: Id of the first message created on the thread
        thread_id:
          type: string
          description: Id of the created thread
      required:
      - message_id
      - thread_id
    M11_Response_200_Data_CurrentParticipants:
      type: object
      properties:
        display_name:
          type: string
          description: Participant display name
        id:
          type: string
          description: Participant id<br/>When <code>type</code> equals <code>OPERATOR</code>, no id will be returned.
        type:
          type: string
          description: 'Participant type


            Enum: `"OPERATOR"`, `"SHOP"`, `"CUSTOMER"`

            '
      required:
      - display_name
      - type
    OR43_Request_MultipartFormData_ThreadInput_Topic:
      type: object
      description: Thread topic<br /><br />The topic can either have a free or a fixed value depending on the topic type
      discriminator:
        mapping:
          FREE_TEXT: '#/components/schemas/OR43_Request_MultipartFormData_ThreadInput_Topic_FreeText'
          REASON_CODE: '#/components/schemas/OR43_Request_MultipartFormData_ThreadInput_Topic_ReasonCode'
        propertyName: type
      properties:
        type:
          type: string
          description: 'Topic type


            Enum: `"FREE_TEXT"`, `"REASON_CODE"`

            '
        value:
          type: string
          description: Topic value
      required:
      - type
      - value
    M10_Response_200:
      type: object
      properties:
        authorized_participants:
          type: array
          description: 'Thread authorized participants<br/>

            Those are the participants who are authorized to join the thread.

            '
          items:
            $ref: '#/components/schemas/M10_Response_200_AuthorizedParticipants'
        current_participants:
          type: array
          description: 'Thread current participants<br/>

            Those are the participants who have actually participated in the thread, meaning that they are either sender or receivers of at least one message of the thread.<br/>

            These participants must be on the list of the <code>authorized_participants</code>

            '
          items:
            $ref: '#/components/schemas/M10_Response_200_CurrentParticipants'
        customer_organization:
          $ref: '#/components/schemas/M10_Response_200_CustomerOrganization'
          description: Data related to the customer organization (B2B transactions)
        date_created:
          type: string
          format: date-time
          description: Thread created date
        date_updated:
          type: string
          format: date-time
          description: Thread updated date
        entities:
          type: array
          description: Thread entities
          items:
            $ref: '#/components/schemas/M10_Response_200_Entities'
        id:
          type: string
          description: Thread id
        messages:
          type: array
          description: Thread messages
          items:
            $ref: '#/components/schemas/M10_Response_200_Messages'
        metadata:
          $ref: '#/components/schemas/M10_Response_200_Metadata'
          description: Thread metadata
        no_store_reply_needed:
          type: array
          description: '    Thread "no store reply needed" actions.

            '
          items:
            $ref: '#/components/schemas/M10_Response_200_NoStoreReplyNeeded'
        topic:
          $ref: '#/components/schemas/M10_Response_200_Topic'
          description: Thread topic
      required:
      - authorized_participants
      - current_participants
      - date_created
      - date_updated
      - id
      - messages
      - metadata
      - topic
    M10_Response_200_Messages_From:
      type: object
      properties:
        display_name:
          type: string
          description: Sender display name
        organization_details:
          $ref: '#/components/schemas/M10_Response_200_Messages_From_OrganizationDetails'
          description: Organization details of the sender
        type:
          type: string
          description: 'Sender type


            Enum: `"OPERATOR_USER"`, `"SHOP_USER"`, `"CUSTOMER_USER"`

            '
      required:
      - display_name
      - type
    M11_Response_200_Data_Messages_From:
      type: object
      properties:
        display_name:
          type: string
          description: Sender display name
        organization_details:
          $ref: '#/components/schemas/M11_Response_200_Data_Messages_From_OrganizationDetails'
          description: Organization details of the sender
        type:
          type: string
          description: 'Sender type


            Enum: `"OPERATOR_USER"`, `"SHOP_USER"`, `"CUSTOMER_USER"`

            '
      required:
      - display_name
      - type
    M14_Request_MultipartFormData_ThreadInput_Entity:
      type: object
      description: Entity related to the thread
      properties:
        id:
          type: string
          description: Entity id
        type:
          type: string
          description: Entity type
      required:
      - id
      - type
    M12_Response_201:
      type: object
      properties:
        message_id:
          type: string
          description: Id of the message
        thread_id:
          type: string
          description: Id of the thread
    M10_Response_200_Messages:
      type: object
      properties:
        attachments:
          type: array
          description: Message attachments
          items:
            $ref: '#/components/schemas/M10_Response_200_Messages_Attachments'
        body:
          type: string
          description: Message body
        date_created:
          type: string
          format: date-time
          description: Message creation date
        from:
          $ref: '#/components/schemas/M10_Response_200_Messages_From'
          description: Message sender
        id:
          type: string
          description: Message id
        to:
          type: array
          description: Message recipients
          items:
            $ref: '#/components/schemas/M10_Response_200_Messages_To'
      required:
      - body
      - date_created
      - from
      - id
      - to
    M10_Response_200_CustomerOrganization:
      type: object
      properties:
        display_name:
          type: string
          description: Customer organization name
        id:
          type: string
          description: Customer organization id
      required:
      - display_name
      - id
    M10_Response_200_AuthorizedParticipants:
      type: object
      properties:
        display_name:
          type: string
          description: Participant display name
        id:
          type: string
          description: Participant id<br/>When <code>type</code> equals <code>OPERATOR</code>, no id will be returned.
        type:
          type: string
          description: 'Participant type


            Enum: `"OPERATOR"`, `"SHOP"`, `"CUSTOMER"`

            '
      required:
      - display_name
      - type
    M11_Response_200_Data_CustomerOrganization:
      type: object
      properties:
        display_name:
          type: string
          description: Customer organization name
        id:
          type: string
          description: Customer organization id
      required:
      - display_name
      - id
    M11_Response_200_Data_Entities:
      type: object
      properties:
        id:
          type: string
          description: Entity id
        label:
          type: string
          description: Entity label
        type:
          type: string
          description: Entity type
      required:
      - id
      - label
      - type
    M10_Response_200_Metadata_LastSender:
      type: object
      properties:
        display_name:
          type: string
          description: Sender display name
        organization_details:
          $ref: '#/components/schemas/M10_Response_200_Metadata_LastSender_OrganizationDetails'
          description: Organization details of the sender
        type:
          type: string
          description: 'Sender type


            Enum: `"OPERATOR_USER"`, `"SHOP_USER"`, `"CUSTOMER_USER"`

            '
      required:
      - display_name
      - type
    M10_Response_200_Messages_To:
      type: object
      properties:
        display_name:
          type: string
          description: Participant display name
        id:
          type: string
          description: Participant id<br/>When <code>type</code> equals <code>OPERATOR</code>, no id will be returned.
        type:
          type: string
          description: 'Participant type


            Enum: `"OPERATOR"`, `"SHOP"`, `"CUSTOMER"`

            '
      required:
      - display_name
      - type
    M10_Response_200_Metadata_LastSender_OrganizationDetails:
      type: object
      properties:
        display_name:
          type: string
          description: Participant display name
        id:
          type: string
          description: Participant id<br/>When <code>type</code> equals <code>OPERATOR</code>, no id will be returned.
        type:
          type: string
          description: 'Participant type


            Enum: `"OPERATOR"`, `"SHOP"`, `"CUSTOMER"`

            '
      required:
      - display_name
      - type
    M11_Response_200_Data_AuthorizedParticipants:
      type: object
      properties:
        display_name:
          type: string
          description: Participant display name
        id:
          type: string
          description: Participant id<br/>When <code>type</code> equals <code>OPERATOR</code>, no id will be returned.
        type:
          type: string
          description: 'Participant type


            Enum: `"OPERATOR"`, `"SHOP"`, `"CUSTOMER"`

            '
      required:
      - display_name
      - type
    SOR43_Response_201:
      type: object
      properties:
        message_id:
          type: string
          description: Id of the first message created on the thread
        thread_id:
          type: string
          description: Id of the created thread
      required:
      - message_id
      - thread_id
    SOR43_Request_MultipartFormData_ThreadInput_Topic:
      type: object
      description: Thread topic<br><br>The topic can either have a free or a fixed value depending on the topic type
      properties:
        type:
          type: string
          description: 'Topic type


            Enum: `"FREE_TEXT"`, `"REASON_CODE"`

            '
        value:
          type: string
          description: 'Topic value, which depends on the <code>type</code>:<ul><li>When <code>type</code> equals <code>FREE_TEXT</code>: the topic value is free</li><li>When <code>type</code> equals <code>REASON_CODE</code>: the topic value must be a reason code (example: <code>MPS_ORDER_MESSAGING_ISSUE</code>)</li></ul>'
          maxLength: 200
          minLength: 3
      required:
      - type
      - value
    M11_Response_200_Data_Messages:
      type: object
      properties:
        attachments:
          type: array
          description: Message attachments
          items:
            $ref: '#/components/schemas/M11_Response_200_Data_Messages_Attachments'
        body:
          type: string
          description: Message body
        date_created:
          type: string
          format: date-time
          description: Message creation date
        from:
          $ref: '#/components/schemas/M11_Response_200_Data_Messages_From'
          description: Message sender
        id:
          type: string
          description: Message id
        to:
          type: array
          description: Message recipients
          items:
            $ref: '#/components/schemas/M11_Response_200_Data_Messages_To'
      required:
      - body
      - date_created
      - from
      - id
      - to
    M11_Response_200_Data_Metadata_LastSender_OrganizationDetails:
      type: object
      properties:
        display_name:
          type: string
          description: Participant display name
        id:
          type: string
          description: Participant id<br/>When <code>type</code> equals <code>OPERATOR</code>, no id will be returned.
        type:
          type: string
          description: 'Participant type


            Enum: `"OPERATOR"`, `"SHOP"`, `"CUSTOMER"`

            '
      required:
      - display_name
      - type
    M01_Response_200_Messages:
      type: object
      properties:
        archived:
          type: boolean
          deprecated: true
          description: Will be removed in next version
        body:
          type: string
          description: Message body
        commercial_id:
          type: string
          description: Order commercial ID. Used only when retrieving messages of an order.
        date_created:
          type: string
          format: date-time
          description: Message creation date
        documents:
          type: array
          description: Documents list
          items:
            $ref: '#/components/schemas/M01_Response_200_Messages_Documents'
        from_id:
          type: string
          description: Sender user identifier
        from_name:
          type: string
          description: Sender user name
        from_type:
          type: string
          description: 'Sender user type


            Enum: `"OPERATOR"`, `"SHOP"`, `"CUSTOMER"`

            '
        id:
          type: integer
          format: int64
          description: Message identifier
        offer_id:
          type: integer
          format: int64
          description: 'Identifier of offer : this value is not fixed and can changed after a long period'
        order_id:
          type: string
          description: Order ID. Used only when retrieving messages of an order.
        read:
          type: boolean
          deprecated: true
          description: Will be removed in next version
        subject:
          type: string
          description: Message subject
        to_customer_archived:
          type: boolean
          deprecated: true
          description: Will be removed in next version
        to_customer_id:
          type: string
          description: Recipient customer ID
        to_customer_name:
          type: string
          description: Recipient customer name
        to_operator:
          type: boolean
          description: Indicates the message sent to operator. <em>Used only when retrieving messages of an order</em>.
        to_operator_archived:
          type: boolean
          deprecated: true
          description: Will be removed in next version
        to_shop_archived:
          type: boolean
          deprecated: true
          description: Will be removed in next version
        to_shop_id:
          type: integer
          format: int64
          description: Recipient shop ID
        to_shop_name:
          type: string
          description: Recipient shop name
        visible:
          type: boolean
          deprecated: true
          description: States whether or not the message is visible (public). Only relevant for messages on offers and always null for messages on orders.
      required:
      - body
      - commercial_id
      - date_created
      - from_id
      - from_name
      - from_type
      - id
      - subject
      - to_customer_archived
      - to_customer_id
      - to_customer_name
      - to_operator
      - to_operator_archived
      - to_shop_archived
      - to_shop_id
      - to_shop_name
    SOR43_Request_MultipartFormData_ThreadInput:
      type: object
      properties:
        body:
          type: string
          description: The message body
          maxLength: 10000
          minLength: 3
        to:
          type: array
          description: The message recipients
          items:
            type: string
            description: 'Enum: `"OPERATOR"`, `"SHOP"`, `"CUSTOMER"`

              '
        topic:
          $ref: '#/components/schemas/SOR43_Request_MultipartFormData_ThreadInput_Topic'
          description: Thread topic<br><br>The topic can either have a free or a fixed value depending on the topic type
      required:
      - body
      - to
      - topic
    M12_Request_MultipartFormData_MessageInput_To:
      type: object
      description: List of recipients of the message
      properties:
        id:
          type: string
          description: Participant id
        type:
          type: string
          description: 'Participant type


            Enum: `"OPERATOR"`, `"SHOP"`, `"CUSTOMER"`

            '
      required:
      - type
    SOF43_Request_MultipartFormData_ThreadInput:
      type: object
      properties:
        body:
          type: string
          description: Body message
          maxLength: 10000
          minLength: 3
        to:
          type: array
          description: Recipients
          items:
            type: string
            description: 'Enum: `"OPERATOR"`, `"SHOP"`

              '
        topic:
          $ref: '#/components/schemas/SOF43_Request_MultipartFormData_ThreadInput_Topic'
          description: Thread topic
      required:
      - body
      - to
      - topic
    M10_Response_200_CurrentParticipants:
      type: object
      properties:
        display_name:
          type: string
          description: Participant display name
        id:
          type: string
          description: Participant id<br/>When <code>type</code> equals <code>OPERATOR</code>, no id will be returned.
        type:
          type: string
          description: 'Participant type


            Enum: `"OPERATOR"`, `"SHOP"`, `"CUSTOMER"`

            '
      required:
      - display_name
      - type
    M12_Request_MultipartFormData_MessageInput_Topic:
      type: object
      description: New topic for the thread. Leave empty if you don't want to update it.
      discriminator:
        mapping:
          FREE_TEXT: '#/components/schemas/M12_Request_MultipartFormData_MessageInput_Topic_FreeText'
          REASON_CODE: '#/components/schemas/M12_Request_MultipartFormData_MessageInput_Topic_ReasonCode'
        propertyName: type
      properties:
        type:
          type: string
          description: 'Enum: `"FREE_TEXT"`, `"REASON_CODE"`

            '
        value:
          type: string
    M11_Response_200_Data_NoStoreReplyNeeded:
      type: object
      properties:
        date:
          type: string
          format: date-time
          description: No store reply needed action date
        user_type:
          type: string
          description: 'Entity that operated "no store reply needed" action.



            Enum: `"OPERATOR"`, `"SHOP"`

            '
      required:
      - date
      - user_type
    M11_Response_200:
      type: object
      properties:
        data:
          type: array
          description: Page of data
          items:
            $ref: '#/components/schemas/M11_Response_200_Data'
        next_page_token:
          type: string
          description: Token to access the next page. Absent if the current page is the last one.
        previous_page_token:
          type: string
          description: Token to access the previous page. Absent if the current page is the first one.
      required:
      - data
    M14_Response_201:
      type: object
      properties:
        message_id:
          type: string
          description: Id of the message
        thread_id:
          type: string
          description: Id of the thread
    SOF43_Request_MultipartFormData_ThreadInput_Topic:
      type: object
      description: Thread topic
      properties:
        type:
          type: string
          description: 'Topic type


            Enum: `"FREE_TEXT"`, `"REASON_CODE"`

            '
        value:
          type: string
          description: 'Topic value, which depends on the <code>type</code>:<ul><li>When <code>type</code> equals <code>FREE_TEXT</code>: the topic value is free</li><li>When <code>type</code> equals <code>REASON_CODE</code>: the topic value must be a reason code (example: <code>MPS_ORDER_MESSAGING_ISSUE</code>)</li></ul>'
          maxLength: 200
          minLength: 3
      required:
      - type
      - value
    M10_Response_200_Messages_Attachments:
      type: object
      properties:
        id:
          type: string
          description: Attachment id
        name:
          type: string
          description: Attachment file name
        size:
          type: integer
          format: int64
          description: Attachment size
      required:
      - id
      - name
      - size
    M11_Response_200_Data_Messages_Attachments:
      type: object
      properties:
        id:
          type: string
          description: Attachment id
        name:
          type: string
          description: Attachment file name
        size:
          type: integer
          format: int64
          description: Attachment size
      required:
      - id
      - name
      - size
    M10_Response_200_Messages_From_OrganizationDetails:
      type: object
      properties:
        display_name:
          type: string
          description: Participant display name
        id:
          type: string
          description: Participant id<br/>When <code>type</code> equals <code>OPERATOR</code>, no id will be returned.
        type:
          type: string
          description: 'Participant type


            Enum: `"OPERATOR"`, `"SHOP"`, `"CUSTOMER"`

            '
      required:
      - display_name
      - type
    M10_Response_200_Topic:
      type: object
      properties:
        type:
          type: string
          description: 'Topic type


            Enum: `"FREE_TEXT"`, `"REASON_CODE"`

            '
        value:
          type: string
          description: Topic value
      required:
      - type
      - value
    M10_Response_200_Entities:
      type: object
      properties:
        id:
          type: string
          description: Entity id
        label:
          type: string
          description: Entity label
        type:
          type: string
          description: Entity type
      required:
      - id
      - label
      - type
    OR42_Request:
      type: object
      properties:
        body:
          type: string
          description: Body of the message
          maxLength: 50000
          minLength: 3
        customer_email:
          type: string
          description: Email of the customer who sent the message.<br/> Required only if the customer sent the message. Otherwise, do not define.
        customer_firstname:
          type: string
          description: First name of the customer who sent the message. Required only if the customer sent the message. Otherwise, do not define.
        customer_id:
          type: string
          description: Id of the customer who sent the message. Required only if the customer sent the message. Otherwise, do not define.
        customer_lastname:
          type: string
          description: Last name of the customer who sent the message. Required only if the customer sent the message. Otherwise, do not define.
        customer_locale:
          type: string
          description: Locale of the customer who sent the message
        document_ids:
          type: array
          description: 'Message''s attachments. List of document ids already linked to the order. Use OR74 to upload new documents and OR72 to retrieve their ids. NB: If one of those document_id have already been linked to a previous message, it will be ignored.'
          items:
            type: integer
            format: int64
        subject:
          type: string
          description: Subject of the message
          maxLength: 200
          minLength: 3
        to_customer:
          type: boolean
          description: Boolean to indicate the message will be sent to the customer associated with the order.
        to_operator:
          type: boolean
          description: Boolean to indicate the message will be sent to the operator.
        to_shop:
          type: boolean
          description: Boolean to indicate the message will be sent to the shop associated with the order
      required:
      - body
      - customer_email
      - customer_firstname
      - customer_id
      - customer_lastname
      - subject
      - to_customer
      - to_operator
      - to_shop
    M11_Response_200_Data_Metadata:
      type: object
      properties:
        last_message_date:
          type: string
          format: date-time
          description: Date of the last message
        last_sender:
          $ref: '#/components/schemas/M11_Response_200_Data_Metadata_LastSender'
          description: Last message sender
        shop_reply_needed_since:
          type: string
          format: date-time
          description: Date since the latest unanswered message awaiting a shop reply. Null when the shop has replied.
        total_count:
          type: integer
          format: int32
          description: Number of messages in the thread
      required:
      - last_message_date
      - last_sender
      - shop_reply_needed_since
      - total_count
    M11_Response_200_Data_Metadata_LastSender:
      type: object
      properties:
        display_name:
          type: string
          description: Sender display name
        organization_details:
          $ref: '#/components/schemas/M11_Response_200_Data_Metadata_LastSender_OrganizationDetails'
          description: Organization details of the sender
        type:
          type: string
          description: 'Sender type


            Enum: `"OPERATOR_USER"`, `"SHOP_USER"`, `"CUSTOMER_USER"`

            '
      required:
      - display_name
      - type
    M10_Response_200_Metadata:
      type: object
      properties:
        last_message_date:
          type: string
          format: date-time
          description: Date of the last message
        last_sender:
          $ref: '#/components/schemas/M10_Response_200_Metadata_LastSender'
          description: Last message sender
        shop_reply_needed_since:
          type: string
          format: date-time
          description: Date since the latest unanswered message awaiting a shop reply. Null when the shop has replied.
        total_count:
          type: integer
          format: int32
          description: Number of messages in the thread
      required:
      - last_message_date
      - last_sender
      - shop_reply_needed_since
      - total_count
    SOF43_Response_201:
      type: object
      properties:
        message_id:
          type: string
          description: Id of the first message created on the thread
        thread_id:
          type: string
          description: Id of the created thread
      required:
      - message_id
      - thread_id
    M11_Response_200_Data_Topic:
      type: object
      properties:
        type:
          type: string
          description: 'Topic type


            Enum: `"FREE_TEXT"`, `"REASON_CODE"`

            '
        value:
          type: string
          description: Topic value
      required:
      - type
      - value
    M11_Response_200_Data_Messages_From_OrganizationDetails:
      type: object
      properties:
        display_name:
          type: string
          description: Participant display name
        id:
          type: string
          description: Participant id<br/>When <code>type</code> equals <code>OPERATOR</code>, no id will be returned.
        type:
          type: string
          description: 'Participant type


            Enum: `"OPERATOR"`, `"SHOP"`, `"CUSTOMER"`

            '
      required:
      - display_name
      - type
  securitySchemes:
    Bearer:
      bearerFormat: JWT
      scheme: bearer
      type: http
x-group-parameters: true
