openapi: 3.1.0
info:
  description: '{% partial file="/partial-content/product/connect-channel-platform/rest/connect/openapi-description.md" /%}'
  title: Mirakl Connect Channel Platform APIs Carriers Stores API
  version: "1.0"
servers:
- description: Connect Channel Platform API
  url: https://miraklconnect.com/api/channel-platform
tags:
- name: Stores
paths:
  /api/shops/documents:
    get:
      description: '<div class="extension-title">Description</div>


        You must specify at least one of the following parameters: <code>shop_ids</code>, <code>updated_since</code>


        <div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: At each display of a page that includes documents from a store (for example: during the KYC process)</div>

        <div class="max-call-frequency">Maximum usage: At each display of a page that includes documents from a store (for example: during the KYC process)</div>

        </div>'
      operationId: S30
      parameters:
      - description: A list of shop identifiers
        explode: true
        in: query
        name: shop_ids
        required: false
        schema:
          type: string
        style: form
      - description: True to include deleted documents, false to remove them
        explode: true
        in: query
        name: include_deleted
        required: false
        schema:
          type: boolean
          default: false
        style: form
      - description: Retrieve shop documents modified at or after this date. The time period cannot exceed 90 days
        explode: true
        in: query
        name: updated_since
        required: false
        schema:
          type: string
          format: date-time
        style: form
      responses:
        '200':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Example with business values (application/json)
                  value:
                    shop_documents:
                    - date_deleted: null
                      date_uploaded: '2019-03-27T14:43:06Z'
                      file_name: legal.jpeg
                      id: 2002
                      shop_id: 2000
                      type: LEGAL_DOC
                    - date_deleted: null
                      date_uploaded: '2019-03-27T14:44:07Z'
                      file_name: card.jpeg
                      id: 2004
                      shop_id: 2000
                      type: ID_CARD
                    total_count: 2
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    shop_documents:
                    - date_deleted: '2023-03-28T09:34:42Z'
                      date_uploaded: '2023-03-28T09:34:42Z'
                      file_name: string
                      id: 0
                      shop_id: 0
                      type: string
                    total_count: 0
              schema:
                type: object
                $ref: '#/components/schemas/S30_Response_200'
          description: OK
      security:
      - Operator-Bearer-Token: []
      - OAuth-2: []
      summary: S30 - List shop's documents
      tags:
      - Stores
    post:
      description: '<div class="extension-title">Description</div>


        Document filenames must be distinct and there can be only one file per document type.<br/>Only documents of the following types are supported: csv, doc, docx, gif, html, jpeg, latex, mp4, odp, odc, odg, ods, odt, pdf, png, pps, ppsx, ppt, pptx, quicktime, rtf, text, tiff, xls, xlsx, xml, zip<br/><span class=''red''>You can upload a maximum of 50 business documents for each shop. These documents are not order related documents.</span>


        <div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: At each business document upload to a shop</div>

        <div class="max-call-frequency">Maximum usage: 50 business documents per call</div>

        <div class="extension-title">Read More</div>


        <ul><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/mmp/Operator/manage_docs/manage_order_and_seller_docs/manage_order_and_seller_documents.html">More context</a></li></ul></div>'
      operationId: S32
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            examples:
              multipart/form-data-auto:
                summary: Complete example with value types (multipart/form-data)
                value:
                  files:
                  - string
                  shop_documents:
                    shop_documents:
                    - file_name: string
                      type_code: string
                  shop_id: 0
            schema:
              type: object
              properties:
                files:
                  type: array
                  description: Files to upload
                  items:
                    type: string
                    format: binary
                shop_documents:
                  $ref: '#/components/schemas/S32_Request_MultipartFormData_ShopDocuments'
                  description: A descriptor associated to the files
                shop_id:
                  type: integer
                  format: int64
                  description: the shop identifier to add the documents to
              required:
              - files
              - shop_documents
              - shop_id
      responses:
        '200':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Example with business values (application/json)
                  value:
                    errors_count: 1
                    shop_documents:
                    - errors:
                      - code: valid_shop_document.type
                        field: type_code
                        message: Unable to retrieve document's type from the given code
                      input:
                        file_name: proof-of-identity-38294.pdf
                        type_code: IDENTIFICATION_DOCUMENTX
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    documents:
                    - errors:
                      - code: string
                        field: string
                        message: string
                    errors_count: 0
              schema:
                type: object
                $ref: '#/components/schemas/S32_Response_200'
          description: OK
      security:
      - Operator-Bearer-Token: []
      - OAuth-2: []
      summary: S32 - Upload business documents to associate with a shop
      tags:
      - Stores
      x-codeSamples:
      - lang: cURL
        source: "curl -i -X POST \\\n  https://your-instance.mirakl.net/api/shops/documents \\\n  -H 'Content-Type: multipart/form-data' \\\n  -F 'files=@path/to/file' \\\n  -F 'shop_documents=\"{\\\"shop_documents\\\":[{\\\"file_name\\\":\\\"string\\\",\\\"type_code\\\":\\\"string\\\"}]}\";type=application/json' \\\n  -F 'shop_id=\"0\";type=application/json'\n"
  /api/shops/documents/download:
    get:
      description: "<div class=\"extension-title\">Description</div>\n\n        <ul>  <li><span class='red'>It is mandatory to specify either the <code>shop_ids</code> or the <code>document_ids</code>.</span></li>  <li>If a list of document identifiers is specified only these documents are downloaded.    <ul>      <li>If more than one document id is specified, the documents will be wrapped in a ZIP archive</li>      <li>If only one document id is specified the document will not be zipped</li>    </ul>  </li>  <li>    If a list of shop identifiers is specified, all documents from those shops are downloaded.<br/>    Use a list of shop document type codes to retrieve specific types from those shops.<br/>    In this case, the output of the API will always be a ZIP archive even if there is only one document to retrieve.  </li></ul><p>When documents are retrieved, they're wrapped into a ZIP archive except when only one document id is specified. The tree structure of this archive is as follow:</p><pre>\ndocuments-timestamp.zip\n|\n|__ shop_id_x/\n|   |__ foo.txt\n|   |__ bar.txt\n|   |__ baz.pdf\n|\n|__ shop_id_y/\n|   |__ image.png\n|   |__ image(1).png\n</pre><p>Returns a <code>404</code> if at least one document id, one shop id or one document type code is invalid</p>\n\n<div class=\"api-description-extension\">\n<div class=\"extension-title\">Call Frequency</div>\n\n<div class=\"recommended-call-frequency\">Recommended usage: After each S30 call, when you want to download documents from a store</div>\n<div class=\"max-call-frequency\">Maximum usage: After each S30 call, when you want to download documents from a store</div>\n<div class=\"extension-title\">Read More</div>\n\n<ul><li><a href=\"https://help.mirakl.com/bundle/customers/page/topics/Mirakl/mmp/Operator/manage_docs/manage_order_and_seller_docs/manage_order_and_seller_documents.html\">More context</a></li></ul></div>"
      operationId: S31
      parameters:
      - description: A list of shop identifiers (separated by a comma). It is mandatory to specify either the <code>shop_ids</code> or the <code>document_ids</code>
        explode: true
        in: query
        name: shop_ids
        required: false
        schema:
          type: string
        style: form
      - description: A list of document identifiers (separated by a comma). It is mandatory to specify either the <code>shop_ids</code> or the <code>document_ids</code>
        explode: true
        in: query
        name: document_ids
        required: false
        schema:
          type: string
        style: form
      - description: A list of document type codes (separated by a comma)
        explode: true
        in: query
        name: type_codes
        required: false
        schema:
          type: string
        style: form
      responses:
        '200':
          content:
            application/octet-stream:
              examples:
                application/octet-stream-auto:
                  summary: Complete example with value types (application/octet-stream)
                  value: string
              schema:
                type: string
                format: binary
          description: OK
      security:
      - Operator-Bearer-Token: []
      - OAuth-2: []
      summary: S31 - Download documents for one or multiple shops
      tags:
      - Stores
  /api/shops/documents/{document_id}:
    delete:
      description: '<div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: At each document deletion from one store</div>

        <div class="max-call-frequency">Maximum usage: At each document deletion from one store</div>

        <div class="extension-title">Read More</div>


        <ul><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/mmp/Operator/manage_docs/manage_order_and_seller_docs/manage_order_and_seller_documents.html">More context</a></li></ul></div>'
      operationId: S33
      parameters:
      - description: Document identifier to delete
        explode: false
        in: path
        name: document_id
        required: true
        schema:
          type: integer
          format: int64
        style: simple
      responses:
        '204':
          description: No Content
      security:
      - Operator-Bearer-Token: []
      - OAuth-2: []
      summary: S33 - Delete a shop document
      tags:
      - Stores
  /api/account:
    get:
      description: '<div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: Once per day</div>

        <div class="max-call-frequency">Maximum usage: Once per day</div>

        </div>'
      operationId: A01
      parameters:
      - description: Use this parameter when your user has access to several shops. If not specified, the shop_id from your default shop will be used.
        explode: true
        in: query
        name: shop_id
        required: false
        schema:
          type: integer
          format: int64
        style: form
      responses:
        '200':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Example with business values (application/json)
                  value:
                    applicable_taxes:
                    - code: TAXDEFAULT
                      fee_types:
                      - COMMISSION
                      - SUBSCRIPTION
                      - ADDITIONAL_FEES
                      label: ShopTax.TAXDEFAULT.label
                    approval_delay: 33
                    approval_rate: 1
                    banner: https://url.mirakl.net/mmp/media/shop-banner/2000
                    channels:
                    - US
                    closed_from: '2019-07-31T22:00:00Z'
                    closed_to: '2019-08-31T21:59:59Z'
                    contact_informations:
                      city: New York
                      civility: Mr
                      country: USA
                      email: shop@mail.com
                      fax: 213-509-6997
                      firstname: John
                      lastname: Doe
                      phone: 213-509-6995
                      phone_secondary: 213-509-6996
                      state: Manhattan
                      street1: 30, Prince Street
                      street2: 1st floor
                      web_site: https://www.mirakl.com
                      zip_code: NY 10012
                    currency_iso_code: USD
                    date_created: '2019-03-25T14:34:03Z'
                    default_billing_information:
                      corporate_information:
                        company_registration_name: ACME SHOP
                        company_registration_number: '01234567'
                      default_language: en_US
                      fiscal_information:
                        tax_identification_country: USA
                        tax_identification_number: XXX-XX-XXXX
                      id: a83c1170-f8cb-45a1-aa4a-affe809d6c64
                      registration_address:
                        city: New York
                        country_iso_code: USA
                        state: New York
                        street_1: 30, Prince Street
                        street_2: null
                        zip_code: NY 10012
                    description: Games seller
                    domains:
                    - PRODUCT
                    evaluations_count: 3
                    free_shipping: false
                    grade: 4
                    is_professional: true
                    kyc:
                      reason: Missing information
                      status: REFUSED
                    last_updated_date: '2019-03-28T09:28:59Z'
                    logo: https://url.mirakl.net/mmp/media/shop-logo/2000
                    model: MARKETPLACE
                    offers_count: 234
                    order_messages_response_delay: 76
                    orders_count: 7
                    payment_details:
                      paid_balance: -170.06
                      payable_balance: -259.2
                      pending_balance: 512.84
                      reserve_balance: 0
                      reserve_target: 0
                      sub_balances:
                      - paid: -170.06
                        pay_out_psp_code: NOT_SPECIFIED
                        payable: -259.2
                        pending: 512.84
                    payment_info:
                      '@type': ABA
                      bank_account_number: 000123456789123
                      bank_city: New York
                      bank_name: Bank of America
                      bank_street: 115 W 42nd St
                      bank_zip: NY 10036 US
                      bic: BOFAUS3NXXX
                      owner: John Doe
                      routing_number: '789456124'
                    payment_method_mandatory: true
                    premium: true
                    pro_details:
                      corporate_name: ACME SHOP
                      identification_number: '01234567'
                      tax_identification_number: XXX-XX-XXXX
                    producer_identifiers:
                    - epr_category_code: FR-DEA
                      producer_id: FR123456_89ABCD
                    - epr_category_code: DE-WEEE
                      producer_id: PRODUCERID1
                    recycling_policy: 'When we deliver your new item, we’ll take your old one away for you. Appliance recycling: this service is available through our home delivery service. Recycling electronic items in-store: if you have an old electronic item, we can safely recycle these items in-store, for free'
                    return_policy: "Any product return must be the subject of a formal agreement between the Seller and Purchaser. Any product returned without this agreement shall be held on behalf of the Purchaser and shall not give rise to the granting of any credit note. Claims must be received by shop within 8 days of the delivery of the goods. Subsequently to this delay, no claims shall be accepted. Once this delay has expired, should the client not have addressed their claim in writing to shop, the client is deemed to have accepted the product.\r\nWarranties that cover the delivered goods only apply within the framework of their intended use. Defects and damage resulting from natural wear, faulty assembly or maintenance, as well as modification of the products that was not intended or specified by the Seller are excluded from the warranty. Goods must be returned in their original packaging and as new, the cost and risks of returning the goods being borne by the Purchaser. Once the returned goods have been received and inspected, shop shall send the Purchaser a credit note corresponding to the amount of the original invoice, after deduction of any compensation or expenses which arise from any reconditioning work deemed necessary. This sum is credited to the account that the Purchaser has opened with the shop."
                    shipping:
                      lead_time_to_ship: 2
                    shipping_country: USA
                    shippings:
                    - additional_fields:
                      - code: productid
                        type: STRING
                        value: EAN123456789
                      shipping_free_amount: 550
                      shipping_type_code: EXP
                      shipping_type_label: Express
                      shipping_type_standard_code: CU_ADD-EXP
                      shipping_zone_code: DOM2
                      shipping_zone_label: Domestic 2
                    - additional_fields:
                      - code: osi
                        type: STRING
                        value: 5 articles per box
                      shipping_free_amount: 550
                      shipping_type_code: EXP
                      shipping_type_label: Express
                      shipping_type_standard_code: CU_ADD-EXP
                      shipping_zone_code: INT1
                      shipping_zone_label: International 1
                    - additional_fields:
                      - code: osi
                        type: STRING
                        value: 'One article per box '
                      - code: osi1
                        type: STRING
                        value: Five articles per box
                      - code: productid
                        type: STRING
                        value: EAN12345678
                      shipping_free_amount: 570
                      shipping_type_code: STD
                      shipping_type_label: Standard
                      shipping_type_standard_code: CU_ADD-STD
                      shipping_zone_code: DOM1
                      shipping_zone_label: Domestic 1
                    shop_additional_fields:
                    - code: accounting-phone
                      type: STRING
                      value: 213-509-6995
                    - code: customer-care-phone
                      type: STRING
                      value: 213-509-6996
                    - code: recruitment
                      type: LIST
                      value: Opt-In
                    shop_id: 2000
                    shop_name: ACME SHOP
                    shop_state: OPEN
                    suspension_type: null
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    applicable_taxes:
                    - code: string
                      fee_types:
                      - COMMISSION
                      label: string
                    approval_delay: 0
                    approval_rate: 0
                    banner: string
                    billing_info:
                      bank_city: string
                      bank_name: string
                      bank_street: string
                      bic: string
                      iban: string
                      owner: string
                      zip_code: string
                    channels:
                    - string
                    closed_from: '2023-03-28T09:34:42Z'
                    closed_to: '2023-03-28T09:34:42Z'
                    contact_informations:
                      city: string
                      civility: string
                      country: string
                      email: string
                      fax: string
                      firstname: string
                      lastname: string
                      phone: string
                      phone_secondary: string
                      state: string
                      street1: string
                      street2: string
                      web_site: string
                      zip_code: string
                    currency_iso_code: AED
                    date_created: '2023-03-28T09:34:42Z'
                    default_billing_information:
                      corporate_information:
                        company_registration_name: string
                        company_registration_number: string
                        complementary_information:
                          business_activity_code: string
                          company_registration_city: string
                          company_registration_province: string
                          company_shareholders: SINGLE
                          is_in_liquidation: true
                          legal_form: string
                          share_capital: 0
                          share_capital_currency: AED
                          sole_trader: true
                        electronic_address: string
                        phone_number: string
                      default_language: string
                      fiscal_information:
                        local_tax_number: string
                        tax_identification_country: AFG
                        tax_identification_number: string
                      fiscal_representative:
                        city: string
                        civility: string
                        company_registration_name: string
                        company_registration_number: string
                        country_iso_code: AFG
                        first_name: string
                        last_name: string
                        local_tax_number: string
                        state: string
                        street_1: string
                        street_2: string
                        zip_code: string
                      id: string
                      personal_information:
                        birth_city: string
                        birth_country: AFG
                        birth_date: string
                        civility: string
                        first_name: string
                        last_name: string
                      registration_address:
                        city: string
                        country_iso_code: AFG
                        state: string
                        street_1: string
                        street_2: string
                        zip_code: string
                    description: string
                    domains:
                    - PRODUCT
                    dropship:
                      retail_pricing_edition_enabled: true
                    evaluations_count: 0
                    free_shipping: true
                    grade: 0
                    is_professional: true
                    kyc:
                      reason: string
                      status: PENDING_SUBMISSION
                    last_updated_date: '2023-03-28T09:34:42Z'
                    logo: string
                    model: MARKETPLACE
                    offers_count: 0
                    order_messages_response_delay: 0
                    orders_count: 0
                    payment_details:
                      paid_balance: 0
                      payable_balance: 0
                      pending_balance: 0
                      reserve_balance: 0
                      reserve_target: 0
                      sub_balances:
                      - paid: 0
                        pay_out_psp_code: NOT_SPECIFIED
                        payable: 0
                        pending: 0
                    payment_info:
                      '@type': IBAN
                      owner: string
                    payment_method_mandatory: true
                    premium: true
                    pro_details:
                      VAT_number: string
                      corporate_name: string
                      identification_number: string
                      tax_identification_number: string
                    producer_identifiers:
                    - epr_category_code: FR-AGROPACK
                      producer_id: string
                    recycling_policy: string
                    return_policy: string
                    shipping:
                      lead_time_to_ship: 0
                    shipping_country: string
                    shipping_types:
                    - string
                    shipping_zones:
                    - string
                    shippings:
                    - additional_fields:
                      - code: string
                        type: STRING
                      shipping_free_amount: 0
                      shipping_type_code: string
                      shipping_type_label: string
                      shipping_type_standard_code: string
                      shipping_zone_code: string
                      shipping_zone_label: string
                    shop_additional_fields:
                    - code: string
                      type: STRING
                    shop_id: 0
                    shop_name: string
                    shop_state: OPEN
                    specific_billing_informations:
                    - corporate_information:
                        company_registration_name: string
                        company_registration_number: string
                        complementary_information:
                          business_activity_code: string
                          company_registration_city: string
                          company_registration_province: string
                          company_shareholders: SINGLE
                          is_in_liquidation: true
                          legal_form: string
                          share_capital: 0
                          share_capital_currency: AED
                          sole_trader: true
                        electronic_address: string
                        phone_number: string
                      fiscal_information:
                        local_tax_number: string
                        tax_identification_country: AFG
                        tax_identification_number: string
                      fiscal_representative:
                        city: string
                        civility: string
                        company_registration_name: string
                        company_registration_number: string
                        country_iso_code: AFG
                        first_name: string
                        last_name: string
                        local_tax_number: string
                        state: string
                        street_1: string
                        street_2: string
                        zip_code: string
                      id: string
                      personal_information:
                        birth_city: string
                        birth_country: AFG
                        birth_date: string
                        civility: string
                        first_name: string
                        last_name: string
                      registration_address:
                        city: string
                        country_iso_code: AFG
                        state: string
                        street_1: string
                        street_2: string
                        zip_code: string
                    suspension_type: MANUAL
              schema:
                type: object
                $ref: '#/components/schemas/A01_Response_200'
          description: OK
      security:
      - Shop-API-Key:
        - ROLE_SHOP_ADMIN
        - ROLE_PARTNER_SHOP_READ
      summary: A01 - Get shop information
      tags:
      - Stores
    put:
      description: '<div class="extension-title">Description</div>


        Depending on the operator''s configuration, some fields might not be editable.


        <div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: At each information update</div>

        <div class="max-call-frequency">Maximum usage: Once per day</div>

        </div>'
      operationId: A02
      parameters:
      - description: Use this parameter when your user has access to several shops. If not specified, the shop_id from your default shop will be used.
        explode: true
        in: query
        name: shop_id
        required: false
        schema:
          type: integer
          format: int64
        style: form
      requestBody:
        content:
          application/json:
            examples:
              application/json-0:
                summary: Update shop account
                value:
                  address:
                    city: New York
                    civility: Mr
                    country: USA
                    firstname: Doe
                    lastname: John
                    phone: 213-509-6996
                    phone_secondary: 213-509-6995
                    state: Manhattan
                    street1: 30, Prince Street
                    street2: 1st floor
                    zip_code: NY 10012
                  channels:
                  - US
                  closed_from: '2025-03-20T16:42:21Z'
                  closed_to: '2026-03-20T16:42:21Z'
                  description: This is the description of this seller
                  email: my-store@example.com
                  fax: 0245875499
                  is_professional: true
                  payment_info:
                    '@type': IBAN
                    bank_name: CACE
                    bic: AGRIFRPPXX2
                    iban: FR6031047696713027315572590
                    owner: John Doe
                  pro_details:
                    corporate_name: Mirakl Inc.
                    identification_number: '44268625900078'
                    tax_identification_number: FR939383
                  producer_identifiers:
                  - epr_category_code: FR-DEA
                    producer_id: FR123456_89ABCD
                  - epr_category_code: DE-WEEE
                    producer_id: PRODUCERID1
                  recycling_policy: When we deliver your new item,we’ll take your old one away for you.Appliance recycling:this service is available through our home delivery service.Recycling electronic items in-store:if you have an old electronic item,we can safely recycle these items in-store,for free
                  return_policy: 3 days return policy
                  shipping_country: ITA
                  shop_additional_fields:
                  - code: segment
                    value: '1'
                  - code: prio-level
                    value: High
                  shop_name: My Super Seller
                  web_site: https://example.fr
              application/json-auto:
                summary: Complete example with value types (application/json)
                value:
                  address:
                    city: string
                    civility: string
                    country: AFG
                    firstname: string
                    lastname: string
                    phone: string
                    phone_secondary: string
                    state: string
                    street1: string
                    street2: string
                    zip_code: string
                  channels:
                  - string
                  closed_from: '2023-03-28T09:34:42Z'
                  closed_to: '2023-03-28T09:34:42Z'
                  description: string
                  email: string
                  fax: string
                  is_professional: true
                  payment_info:
                    '@type': IBAN
                    owner: string
                  pro_details:
                    corporate_name: string
                    identification_number: string
                    tax_identification_number: string
                  producer_identifiers:
                  - epr_category_code: FR-AGROPACK
                    producer_id: string
                  recycling_policy: string
                  return_policy: string
                  shipping_country: AFG
                  shop_additional_fields:
                  - code: string
                    type: STRING
                  shop_name: string
                  web_site: string
            schema:
              $ref: '#/components/schemas/A02_Request'
      responses:
        '200':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Response to a shop account update
                  value:
                    errors: []
                    updated:
                      address:
                        city: New York
                        civility: Mr
                        country: USA
                        firstname: Doe
                        lastname: John
                        phone: 213-509-6996
                        phone_secondary: 213-509-6995
                        state: Manhattan
                        street1: 30, Prince Street
                        street2: 1st floor
                        zip_code: NY 10012
                      channels:
                      - US
                      closed_from: '2022-03-20T16:42:21Z'
                      closed_to: '2025-03-20T16:42:21Z'
                      default_billing_information:
                        corporate_information:
                          company_registration_name: Mirakl Inc.
                          company_registration_number: '44268625900078'
                        default_language: en_US
                        fiscal_information:
                          tax_identification_country: FR
                          tax_identification_number: FR939383
                        id: a83c1170-f8cb-45a1-aa4a-affe809d6c64
                        registration_address:
                          city: Paris
                          country_iso_code: FRA
                          state: null
                          street_1: 1 avenue Victor Hugo
                          street_2: null
                          zip_code: '75016'
                      description: This is the description of this seller
                      email: my-store@example.com
                      fax: 0245875499
                      is_professional: true
                      model: MARKETPLACE
                      payment_info:
                        '@type': IBAN
                        bank_name: CACE
                        bic: AGRIFRPPXX2
                        iban: FR6031047696713027315572590
                        owner: John Doe
                      payment_method_mandatory: true
                      pro_details:
                        corporate_name: Mirakl Inc.
                        identification_number: '44268625900078'
                        tax_identification_number: FR939383
                      producer_identifiers:
                      - epr_category_code: FR-DEA
                        producer_id: FR123456_89ABCD
                      - epr_category_code: DE-WEEE
                        producer_id: PRODUCERID1
                      recycling_policy: When we deliver your new item,we’ll take your old one away for you.Appliance recycling:this service is available through our home delivery service.Recycling electronic items in-store:if you have an old electronic item,we can safely recycle these items in-store,for free
                      return_policy: 3 days return policy
                      shipping:
                        lead_time_to_ship: 2
                      shipping_country: ITA
                      shop_additional_fields:
                      - code: segment
                        type: STRING
                        value: '1'
                      - code: prio-level
                        type: STRING
                        value: High
                      shop_name: My Super Seller
                      web_site: https://example.fr
                application/json-1:
                  summary: Example of a response with errors
                  value:
                    errors:
                    - code: shop.identification_number_cannot_be_updated_by_this_user
                      field: shop_pro_detail.identification_number
                      message: You are not allowed to update the identification number. Please contact your operator.
                    - code: shop.tax_number_cannot_be_updated_by_this_user
                      field: shop_pro_detail.tax_identification_number
                      message: You are not allowed to update the tax number. Please contact your operator.
                    updated: null
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    errors:
                    - code: string
                      field: string
                      message: string
                    updated:
                      address:
                        city: string
                        civility: string
                        country: AFG
                        firstname: string
                        lastname: string
                        phone: string
                        phone_secondary: string
                        state: string
                        street1: string
                        street2: string
                        zip_code: string
                      channels:
                      - string
                      closed_from: '2023-03-28T09:34:42Z'
                      closed_to: '2023-03-28T09:34:42Z'
                      default_billing_information:
                        corporate_information:
                          company_registration_name: string
                          company_registration_number: string
                          complementary_information:
                            business_activity_code: string
                            company_registration_city: string
                            company_registration_province: string
                            company_shareholders: SINGLE
                            is_in_liquidation: true
                            legal_form: string
                            share_capital: 0
                            share_capital_currency: AED
                            sole_trader: true
                          electronic_address: string
                          phone_number: string
                        default_language: string
                        fiscal_information:
                          local_tax_number: string
                          tax_identification_country: AFG
                          tax_identification_number: string
                        fiscal_representative:
                          city: string
                          civility: string
                          company_registration_name: string
                          company_registration_number: string
                          country_iso_code: AFG
                          first_name: string
                          last_name: string
                          local_tax_number: string
                          state: string
                          street_1: string
                          street_2: string
                          zip_code: string
                        id: string
                        personal_information:
                          birth_city: string
                          birth_country: AFG
                          birth_date: string
                          civility: string
                          first_name: string
                          last_name: string
                        registration_address:
                          city: string
                          country_iso_code: AFG
                          state: string
                          street_1: string
                          street_2: string
                          zip_code: string
                      description: string
                      email: string
                      fax: string
                      is_professional: true
                      model: MARKETPLACE
                      payment_info:
                        '@type': IBAN
                        owner: string
                      payment_method_mandatory: true
                      pro_details:
                        corporate_name: string
                        identification_number: string
                        tax_identification_number: string
                      producer_identifiers:
                      - epr_category_code: FR-AGROPACK
                        producer_id: string
                      recycling_policy: string
                      return_policy: string
                      shipping:
                        lead_time_to_ship: 0
                      shipping_country: AFG
                      shop_additional_fields:
                      - code: string
                        type: STRING
                      shop_name: string
                      specific_billing_informations:
                      - corporate_information:
                          company_registration_name: string
                          company_registration_number: string
                          complementary_information:
                            business_activity_code: string
                            company_registration_city: string
                            company_registration_province: string
                            company_shareholders: SINGLE
                            is_in_liquidation: true
                            legal_form: string
                            share_capital: 0
                            share_capital_currency: AED
                            sole_trader: true
                          electronic_address: string
                          phone_number: string
                        fiscal_information:
                          local_tax_number: string
                          tax_identification_country: AFG
                          tax_identification_number: string
                        fiscal_representative:
                          city: string
                          civility: string
                          company_registration_name: string
                          company_registration_number: string
                          country_iso_code: AFG
                          first_name: string
                          last_name: string
                          local_tax_number: string
                          state: string
                          street_1: string
                          street_2: string
                          zip_code: string
                        id: string
                        personal_information:
                          birth_city: string
                          birth_country: AFG
                          birth_date: string
                          civility: string
                          first_name: string
                          last_name: string
                        registration_address:
                          city: string
                          country_iso_code: AFG
                          state: string
                          street_1: string
                          street_2: string
                          zip_code: string
                      web_site: string
              schema:
                type: object
                $ref: '#/components/schemas/A02_Response_200'
          description: OK
      security:
      - Shop-API-Key:
        - ROLE_SHOP_ADMIN
        - ROLE_PARTNER_SHOP_UPDATE
      summary: A02 - Update shop information
      tags:
      - Stores
  /api/account/statistics:
    get:
      description: '<div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: Once per day</div>

        <div class="max-call-frequency">Maximum usage: Once per day</div>

        </div>'
      operationId: A21
      parameters:
      - description: List of periods using a comma (,) as a separator. Accepted values are <code>ALL_SINCE_BEGINNING</code>, <code>LAST_MONTH</code>, <code>LAST_THREE_MONTHS</code>, <code>LAST_SIX_MONTHS</code>, <code>LAST_YEAR</code>. If specified, only statistics for the given periods will be returned. If not, all statistics will be returned.
        explode: true
        in: query
        name: periods
        required: false
        schema:
          type: string
        style: form
      - description: The code of the channel to filter statistics on. If not specified, the overall statistics will be returned.
        explode: true
        in: query
        name: channel_code
        required: false
        schema:
          type: string
        style: form
      - description: Use this parameter when your user has access to several shops. If not specified, the shop_id from your default shop will be used.
        explode: true
        in: query
        name: shop_id
        required: false
        schema:
          type: integer
          format: int64
        style: form
      responses:
        '200':
          content:
            application/json:
              examples:
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    approval_delay:
                    - period: ALL_SINCE_BEGINNING
                      value: 0
                    approval_rate:
                    - period: ALL_SINCE_BEGINNING
                      value: 0
                    auto_refused_rate:
                    - period: ALL_SINCE_BEGINNING
                      value: 0
                    average_cart:
                    - period: ALL_SINCE_BEGINNING
                      value: 0
                    average_cart_with_shipping:
                    - period: ALL_SINCE_BEGINNING
                      value: 0
                    cancelation_rate:
                    - period: ALL_SINCE_BEGINNING
                      value: 0
                    channel: string
                    consecutive_refused_orders_count:
                    - period: ALL_SINCE_BEGINNING
                      value: 0
                    evaluations_count:
                    - period: ALL_SINCE_BEGINNING
                      value: 0
                    grade:
                    - period: ALL_SINCE_BEGINNING
                      value: 0
                    incident_rate:
                    - period: ALL_SINCE_BEGINNING
                      value: 0
                    last_updated_date: '2023-03-28T09:34:42Z'
                    late_shipment_rate:
                    - period: ALL_SINCE_BEGINNING
                      value: 0
                    offers_count:
                    - period: ALL_SINCE_BEGINNING
                      value: 0
                    order_messages_response_delay:
                    - period: ALL_SINCE_BEGINNING
                      value: 0
                    orders_count:
                    - period: ALL_SINCE_BEGINNING
                      value: 0
                    refund_rate:
                    - period: ALL_SINCE_BEGINNING
                      value: 0
                    return_rate:
                    - period: ALL_SINCE_BEGINNING
                      value: 0
                    shipping_delay:
                    - period: ALL_SINCE_BEGINNING
                      value: 0
                    shop_id: 0
                    total_revenue:
                    - period: ALL_SINCE_BEGINNING
                      value: 0
                    valid_tracking_rate:
                    - period: ALL_SINCE_BEGINNING
                      value: 0
              schema:
                type: object
                $ref: '#/components/schemas/A21_Response_200'
          description: OK
      security:
      - Shop-API-Key:
        - ROLE_SHOP_ADMIN
        - ROLE_PARTNER_SHOP_READ
      summary: A21 - Get shop statistics
      tags:
      - Stores
components:
  schemas:
    S32_Response_200_Documents_Errors:
      type: object
      properties:
        code:
          type: string
          description: Error code
        field:
          type: string
          description: 'Name of the field on the input object. Can be composed, e.g.: address.zip_code'
        message:
          type: string
          description: Error message
      required:
      - code
      - field
      - message
    A21_Response_200_ReturnRate:
      type: object
      properties:
        period:
          type: string
          description: 'The statistic period


            Enum: `"ALL_SINCE_BEGINNING"`, `"LAST_MONTH"`, `"LAST_THREE_MONTHS"`, `"LAST_SIX_MONTHS"`, `"LAST_YEAR"`

            '
        value:
          type: number
          format: with decimals
          description: The statistic value
    A02_Response_200_Updated:
      type: object
      properties:
        address:
          $ref: '#/components/schemas/A02_Response_200_Updated_Address'
          description: Address of the shop
        channels:
          type: array
          description: List of the channel codes associated to the shop
          items:
            type: string
        closed_from:
          type: string
          format: date-time
          description: The start date of the closing of the shop
        closed_to:
          type: string
          format: date-time
          description: The end date of the closing of the shop
        default_billing_information:
          $ref: '#/components/schemas/A02_Response_200_Updated_DefaultBillingInformation'
          description: The default billing information of the shop, used for invoicing and reporting purposes
        description:
          type: string
          description: Shop description
        email:
          type: string
          description: Shop email
        fax:
          type: string
          description: Shop fax
        is_professional:
          type: boolean
          description: Whether or not the shop is professional
        model:
          type: string
          description: "Shop platform model, current possible values :\n<ul>\n    <li><code>MARKETPLACE</code></li>\n    <li><code>DROPSHIP</code></li>\n    <li><code>ONE_CREDITOR</code></li>\n</ul>\n\nEnum: `\"MARKETPLACE\"`, `\"DROPSHIP\"`, `\"ONE_CREDITOR\"`\n"
        payment_info:
          $ref: '#/components/schemas/A02_Response_200_Updated_PaymentInfo'
          description: Payment information of the shop
        payment_method_mandatory:
          type: boolean
          description: Payment method is mandatory
        pro_details:
          $ref: '#/components/schemas/A02_Response_200_Updated_ProDetails'
          deprecated: true
          description: <p>Professional details of the shop</p><p>Use "default_billing_information" instead</p>
        producer_identifiers:
          type: array
          description: List of shop’s producer identifiers per Extended Producer Responsibility (EPR) categories. Only available if the operator setting <em>Activate data collection related to circular economy regulations</em> is enabled.
          items:
            $ref: '#/components/schemas/A02_Response_200_Updated_ProducerIdentifiers'
          uniqueItems: true
        recycling_policy:
          type: string
          description: <span>Recycling policy of the shop - only available if the operator setting </span><em>Activate data collection related to circular economy regulations</em><span> has been enabled.</span>
        return_policy:
          type: string
          description: Return policy of the shop
        shipping:
          $ref: '#/components/schemas/A02_Response_200_Updated_Shipping'
          description: Shop shipping configuration
        shipping_country:
          type: string
          description: 'Shipping country of the shop


            Enum: `"AFG"`, `"ALA"`, `"ALB"`, `"DZA"`, `"ASM"`, `"AND"`, `"AGO"`, `"AIA"`, `"ATA"`, `"ATG"`, `"ARG"`, `"ARM"`, `"ABW"`, `"AUS"`, `"AUT"`, `"AZE"`, `"BHS"`, `"BHR"`, `"BGD"`, `"BRB"`, `"BLR"`, `"BEL"`, `"BLZ"`, `"BEN"`, `"BMU"`, `"BTN"`, `"BOL"`, `"BES"`, `"BIH"`, `"BWA"`, `"BVT"`, `"BRA"`, `"IOT"`, `"BRN"`, `"BGR"`, `"BFA"`, `"BDI"`, `"KHM"`, `"CMR"`, `"CAN"`, `"CPV"`, `"CYM"`, `"CAF"`, `"TCD"`, `"CHL"`, `"CHN"`, `"CXR"`, `"CCK"`, `"COL"`, `"COM"`, `"COG"`, `"COD"`, `"COK"`, `"CRI"`, `"CIV"`, `"HRV"`, `"CUB"`, `"CUW"`, `"CYP"`, `"CZE"`, `"DNK"`, `"DJI"`, `"DMA"`, `"DOM"`, `"ECU"`, `"EGY"`, `"SLV"`, `"GNQ"`, `"ERI"`, `"EST"`, `"ETH"`, `"FLK"`, `"FRO"`, `"FJI"`, `"FIN"`, `"FRA"`, `"GUF"`, `"PYF"`, `"ATF"`, `"GAB"`, `"GMB"`, `"GEO"`, `"DEU"`, `"GHA"`, `"GIB"`, `"GRC"`, `"GRL"`, `"GRD"`, `"GLP"`, `"GUM"`, `"GTM"`, `"GGY"`, `"GIN"`, `"GNB"`, `"GUY"`, `"HTI"`, `"HMD"`, `"VAT"`, `"HND"`, `"HKG"`, `"HUN"`, `"ISL"`, `"IND"`, `"IDN"`, `"IRQ"`, `"IRL"`, `"IMN"`, `"ISR"`, `"ITA"`, `"JAM"`, `"JPN"`, `"JEY"`, `"JOR"`, `"KAZ"`, `"KEN"`, `"KIR"`, `"KOR"`, `"KWT"`, `"KGZ"`, `"LAO"`, `"LVA"`, `"LBN"`, `"LSO"`, `"LBR"`, `"LBY"`, `"LIE"`, `"LTU"`, `"LUX"`, `"MAC"`, `"MKD"`, `"MDG"`, `"MWI"`, `"MYS"`, `"MDV"`, `"MLI"`, `"MLT"`, `"MHL"`, `"MTQ"`, `"MRT"`, `"MUS"`, `"MYT"`, `"MEX"`, `"FSM"`, `"MDA"`, `"MCO"`, `"MNG"`, `"MNE"`, `"MSR"`, `"MAR"`, `"MOZ"`, `"MMR"`, `"NAM"`, `"NRU"`, `"NPL"`, `"NLD"`, `"NCL"`, `"NZL"`, `"NIC"`, `"NER"`, `"NGA"`, `"NIU"`, `"NFK"`, `"MNP"`, `"NOR"`, `"OMN"`, `"PAK"`, `"PLW"`, `"PSE"`, `"PAN"`, `"PNG"`, `"PRY"`, `"PER"`, `"PHL"`, `"PCN"`, `"POL"`, `"PRT"`, `"PRI"`, `"QAT"`, `"REU"`, `"ROU"`, `"RUS"`, `"RWA"`, `"BLM"`, `"SHN"`, `"KNA"`, `"LCA"`, `"MAF"`, `"SPM"`, `"VCT"`, `"WSM"`, `"SMR"`, `"STP"`, `"SAU"`, `"SEN"`, `"SRB"`, `"SYC"`, `"SLE"`, `"SGP"`, `"SXM"`, `"SVK"`, `"SVN"`, `"SLB"`, `"SOM"`, `"ZAF"`, `"SGS"`, `"SSD"`, `"ESP"`, `"LKA"`, `"SUR"`, `"SJM"`, `"SWZ"`, `"SWE"`, `"CHE"`, `"TWN"`, `"TJK"`, `"TZA"`, `"THA"`, `"TLS"`, `"TGO"`, `"TKL"`, `"TON"`, `"TTO"`, `"TUN"`, `"TUR"`, `"TKM"`, `"TCA"`, `"TUV"`, `"UGA"`, `"UKR"`, `"ARE"`, `"GBR"`, `"USA"`, `"UMI"`, `"URY"`, `"UZB"`, `"VUT"`, `"VEN"`, `"VNM"`, `"VGB"`, `"VIR"`, `"WLF"`, `"YEM"`, `"ZMB"`, `"ZWE"`

            '
        shop_additional_fields:
          type: array
          description: Additional fields of the shop
          items:
            $ref: '#/components/schemas/A02_Response_200_Updated_ShopAdditionalFields'
        shop_name:
          type: string
          description: Shop name
        specific_billing_informations:
          type: array
          description: 'The list of specific billing information of the shop, used for invoicing and reporting purposes

            <br/><i>Applies only when the shop is <code>professional</code></i>

            '
          items:
            $ref: '#/components/schemas/A02_Response_200_Updated_SpecificBillingInformations'
        web_site:
          type: string
          description: Shop website
    A21_Response_200_ShippingDelay:
      type: object
      properties:
        period:
          type: string
          description: 'The statistic period


            Enum: `"ALL_SINCE_BEGINNING"`, `"LAST_MONTH"`, `"LAST_THREE_MONTHS"`, `"LAST_SIX_MONTHS"`, `"LAST_YEAR"`

            '
        value:
          type: integer
          format: int64
          description: The statistic value
    A21_Response_200_IncidentRate:
      type: object
      properties:
        period:
          type: string
          description: 'The statistic period


            Enum: `"ALL_SINCE_BEGINNING"`, `"LAST_MONTH"`, `"LAST_THREE_MONTHS"`, `"LAST_SIX_MONTHS"`, `"LAST_YEAR"`

            '
        value:
          type: number
          format: with decimals
          description: The statistic value
    A01_Response_200_Shippings:
      type: object
      properties:
        additional_fields:
          type: array
          description: List of custom shipping fields for this shipping zone and shipping method
          items:
            $ref: '#/components/schemas/A01_Response_200_Shippings_AdditionalFields'
        shipping_free_amount:
          type: number
          format: with decimals
          description: Minimal amount for free shipping
        shipping_type_code:
          type: string
          description: The code of the shipping type
        shipping_type_label:
          type: string
          description: The label of the shipping type
        shipping_type_standard_code:
          type: string
          description: The code of the standard shipping type
        shipping_zone_code:
          type: string
          description: The code of the shipping zone
        shipping_zone_label:
          type: string
          description: The label of the shipping zone
      required:
      - shipping_type_code
      - shipping_type_label
      - shipping_zone_code
      - shipping_zone_label
    A21_Response_200_ValidTrackingRate:
      type: object
      properties:
        period:
          type: string
          description: 'The statistic period


            Enum: `"ALL_SINCE_BEGINNING"`, `"LAST_MONTH"`, `"LAST_THREE_MONTHS"`, `"LAST_SIX_MONTHS"`, `"LAST_YEAR"`

            '
        value:
          type: number
          format: with decimals
          description: The statistic value
    A02_Response_200_Updated_DefaultBillingInformation_RegistrationAddress:
      type: object
      properties:
        city:
          type: string
          description: The city where the shop company is located.
        country_iso_code:
          type: string
          description: 'Country ISO 3166-1 code of the shop company address


            Enum: `"AFG"`, `"ALA"`, `"ALB"`, `"DZA"`, `"ASM"`, `"AND"`, `"AGO"`, `"AIA"`, `"ATA"`, `"ATG"`, `"ARG"`, `"ARM"`, `"ABW"`, `"AUS"`, `"AUT"`, `"AZE"`, `"BHS"`, `"BHR"`, `"BGD"`, `"BRB"`, `"BLR"`, `"BEL"`, `"BLZ"`, `"BEN"`, `"BMU"`, `"BTN"`, `"BOL"`, `"BES"`, `"BIH"`, `"BWA"`, `"BVT"`, `"BRA"`, `"IOT"`, `"BRN"`, `"BGR"`, `"BFA"`, `"BDI"`, `"KHM"`, `"CMR"`, `"CAN"`, `"CPV"`, `"CYM"`, `"CAF"`, `"TCD"`, `"CHL"`, `"CHN"`, `"CXR"`, `"CCK"`, `"COL"`, `"COM"`, `"COG"`, `"COD"`, `"COK"`, `"CRI"`, `"CIV"`, `"HRV"`, `"CUB"`, `"CUW"`, `"CYP"`, `"CZE"`, `"DNK"`, `"DJI"`, `"DMA"`, `"DOM"`, `"ECU"`, `"EGY"`, `"SLV"`, `"GNQ"`, `"ERI"`, `"EST"`, `"ETH"`, `"FLK"`, `"FRO"`, `"FJI"`, `"FIN"`, `"FRA"`, `"GUF"`, `"PYF"`, `"ATF"`, `"GAB"`, `"GMB"`, `"GEO"`, `"DEU"`, `"GHA"`, `"GIB"`, `"GRC"`, `"GRL"`, `"GRD"`, `"GLP"`, `"GUM"`, `"GTM"`, `"GGY"`, `"GIN"`, `"GNB"`, `"GUY"`, `"HTI"`, `"HMD"`, `"VAT"`, `"HND"`, `"HKG"`, `"HUN"`, `"ISL"`, `"IND"`, `"IDN"`, `"IRQ"`, `"IRL"`, `"IMN"`, `"ISR"`, `"ITA"`, `"JAM"`, `"JPN"`, `"JEY"`, `"JOR"`, `"KAZ"`, `"KEN"`, `"KIR"`, `"KOR"`, `"KWT"`, `"KGZ"`, `"LAO"`, `"LVA"`, `"LBN"`, `"LSO"`, `"LBR"`, `"LBY"`, `"LIE"`, `"LTU"`, `"LUX"`, `"MAC"`, `"MKD"`, `"MDG"`, `"MWI"`, `"MYS"`, `"MDV"`, `"MLI"`, `"MLT"`, `"MHL"`, `"MTQ"`, `"MRT"`, `"MUS"`, `"MYT"`, `"MEX"`, `"FSM"`, `"MDA"`, `"MCO"`, `"MNG"`, `"MNE"`, `"MSR"`, `"MAR"`, `"MOZ"`, `"MMR"`, `"NAM"`, `"NRU"`, `"NPL"`, `"NLD"`, `"NCL"`, `"NZL"`, `"NIC"`, `"NER"`, `"NGA"`, `"NIU"`, `"NFK"`, `"MNP"`, `"NOR"`, `"OMN"`, `"PAK"`, `"PLW"`, `"PSE"`, `"PAN"`, `"PNG"`, `"PRY"`, `"PER"`, `"PHL"`, `"PCN"`, `"POL"`, `"PRT"`, `"PRI"`, `"QAT"`, `"REU"`, `"ROU"`, `"RUS"`, `"RWA"`, `"BLM"`, `"SHN"`, `"KNA"`, `"LCA"`, `"MAF"`, `"SPM"`, `"VCT"`, `"WSM"`, `"SMR"`, `"STP"`, `"SAU"`, `"SEN"`, `"SRB"`, `"SYC"`, `"SLE"`, `"SGP"`, `"SXM"`, `"SVK"`, `"SVN"`, `"SLB"`, `"SOM"`, `"ZAF"`, `"SGS"`, `"SSD"`, `"ESP"`, `"LKA"`, `"SUR"`, `"SJM"`, `"SWZ"`, `"SWE"`, `"CHE"`, `"TWN"`, `"TJK"`, `"TZA"`, `"THA"`, `"TLS"`, `"TGO"`, `"TKL"`, `"TON"`, `"TTO"`, `"TUN"`, `"TUR"`, `"TKM"`, `"TCA"`, `"TUV"`, `"UGA"`, `"UKR"`, `"ARE"`, `"GBR"`, `"USA"`, `"UMI"`, `"URY"`, `"UZB"`, `"VUT"`, `"VEN"`, `"VNM"`, `"VGB"`, `"VIR"`, `"WLF"`, `"YEM"`, `"ZMB"`, `"ZWE"`

            '
        state:
          type: string
          description: The state/province/region where the shop company is located.
        street_1:
          type: string
          description: The first line of the address of the shop company
        street_2:
          type: string
          description: The second line of the address of the shop company
        zip_code:
          type: string
          description: The Zip/Postal code corresponding to the shop company location
      required:
      - city
      - country_iso_code
      - street_1
    A21_Response_200_AverageCart:
      type: object
      properties:
        period:
          type: string
          description: 'The statistic period


            Enum: `"ALL_SINCE_BEGINNING"`, `"LAST_MONTH"`, `"LAST_THREE_MONTHS"`, `"LAST_SIX_MONTHS"`, `"LAST_YEAR"`

            '
        value:
          type: number
          format: with decimals
          description: The statistic value
    A02_Request_ProducerIdentifiers:
      type: object
      description: List of shop’s producer identifiers per Extended Producer Responsibility (EPR) categories. Only available if the operator setting <em>Activate data collection related to circular economy regulations</em> is enabled.
      properties:
        epr_category_code:
          type: string
          description: 'Extended Producer Responsibility (EPR) category code.


            Enum: `"FR-AGROPACK"`, `"FR-ASL"`, `"FR-DASRIPAT"`, `"FR-DBPS"`, `"FR-DDS"`, `"FR-DEA"`, `"FR-DEEE"`, `"FR-DISPMED"`, `"FR-DIY"`, `"FR-EMBM"`, `"FR-GF"`, `"FR-JOUETS"`, `"FR-LUB"`, `"FR-MH"`, `"FR-MNU"`, `"FR-PA"`, `"FR-PAP"`, `"FR-PCHIM"`, `"FR-PMCB"`, `"FR-PNEU"`, `"FR-TABAC"`, `"FR-TLC"`, `"FR-VEHICULE"`, `"FR-VHU"`, `"DE-BATTG"`, `"DE-PACK"`, `"DE-WEEE"`, `"ES-PACK"`, `"ES-GPACK"`, `"ES-WEEE"`

            '
          maxLength: 255
          minLength: 0
        producer_id:
          type: string
          description: Shop producer identifier.
          maxLength: 255
          minLength: 0
      required:
      - epr_category_code
      - producer_id
    A21_Response_200_TotalRevenue:
      type: object
      properties:
        period:
          type: string
          description: 'The statistic period


            Enum: `"ALL_SINCE_BEGINNING"`, `"LAST_MONTH"`, `"LAST_THREE_MONTHS"`, `"LAST_SIX_MONTHS"`, `"LAST_YEAR"`

            '
        value:
          type: number
          format: with decimals
          description: The statistic value
    A01_Response_200_PaymentInfo:
      type: object
      discriminator:
        mapping:
          ABA: '#/components/schemas/A01_Response_200_PaymentInfo_Aba'
          AUBSB: '#/components/schemas/A01_Response_200_PaymentInfo_Aubsb'
          BRAZILIAN: '#/components/schemas/A01_Response_200_PaymentInfo_Brazilian'
          CANADIAN: '#/components/schemas/A01_Response_200_PaymentInfo_Canadian'
          COLOMBIAN: '#/components/schemas/A01_Response_200_PaymentInfo_Colombian'
          GUATEMALAN: '#/components/schemas/A01_Response_200_PaymentInfo_Guatemalan'
          HK: '#/components/schemas/A01_Response_200_PaymentInfo_Hk'
          IBAN: '#/components/schemas/A01_Response_200_PaymentInfo_Iban'
          INDIAN: '#/components/schemas/A01_Response_200_PaymentInfo_Indian'
          ISRAELI: '#/components/schemas/A01_Response_200_PaymentInfo_Israeli'
          JAPANESE: '#/components/schemas/A01_Response_200_PaymentInfo_Japanese'
          MEXICAN: '#/components/schemas/A01_Response_200_PaymentInfo_Mexican'
          NUBAN: '#/components/schemas/A01_Response_200_PaymentInfo_Nuban'
          NZBSB: '#/components/schemas/A01_Response_200_PaymentInfo_Nzbsb'
          PAYOUT: '#/components/schemas/A01_Response_200_PaymentInfo_Payout'
          PHILIPPINES: '#/components/schemas/A01_Response_200_PaymentInfo_Philippines'
          SERBIAN: '#/components/schemas/A01_Response_200_PaymentInfo_Serbian'
          SG: '#/components/schemas/A01_Response_200_PaymentInfo_Sg'
          TAIWANESE: '#/components/schemas/A01_Response_200_PaymentInfo_Taiwanese'
          THAI: '#/components/schemas/A01_Response_200_PaymentInfo_Thai'
          UK: '#/components/schemas/A01_Response_200_PaymentInfo_Uk'
          URUGUAYAN: '#/components/schemas/A01_Response_200_PaymentInfo_Uruguayan'
          VIETNAMESE: '#/components/schemas/A01_Response_200_PaymentInfo_Vietnamese'
        propertyName: '@type'
      properties:
        '@type':
          type: string
          description: 'Enum: `"IBAN"`, `"NUBAN"`, `"AUBSB"`, `"NZBSB"`, `"ABA"`, `"HK"`, `"CANADIAN"`, `"MEXICAN"`, `"JAPANESE"`, `"BRAZILIAN"`, `"TAIWANESE"`, `"THAI"`, `"INDIAN"`, `"UK"`, `"URUGUAYAN"`, `"COLOMBIAN"`, `"GUATEMALAN"`, `"SG"`, `"ISRAELI"`, `"VIETNAMESE"`, `"SERBIAN"`, `"PHILIPPINES"`, `"PAYOUT"`

            '
        owner:
          type: string
          description: Name of the owner of the payment information
          maxLength: 100
          minLength: 1
      required:
      - owner
    A01_Response_200_DefaultBillingInformation_CorporateInformation_ComplementaryInformation:
      type: object
      properties:
        business_activity_code:
          type: string
          description: 'The business activity code of the company, known as <code>APE code</code> in France.

            <br/><i>Applies only when the operator is registered in the <code>EU</code>, and the seller is registered in <code>France</code>.</i>

            '
        company_registration_city:
          type: string
          description: 'The city of the company''s registry office.

            <br/><i>Applies only when the operator is registered in the <code>EU</code> and the seller is registered in <code>France</code> or <code>Luxembourg</code>.</i>

            '
        company_registration_province:
          type: string
          description: 'The initials of the company’s registry office province. Known as <code>Ufficio</code> in Italy.

            <br/><i>Applies only when the operator is registered in the <code>EU</code> and the seller is registered in <code>Italy</code>.</i>

            '
        company_shareholders:
          type: string
          description: 'Indicates if there is a single shareholder or several shareholders. Known as <code>Socio Unico</code> in Italy.

            <br/><i>Applies only when the operator is registered in the <code>EU</code> and the seller is registered in <code>Italy</code>.</i>



            Enum: `"SINGLE"`, `"SEVERAL"`

            '
        is_in_liquidation:
          type: boolean
          description: 'Indicates whether the company is in liquidation or not.

            <br/><i>Applies only when the operator is registered in the <code>EU</code></i>

            '
        legal_form:
          type: string
          description: 'The legal form of the company.

            <br/><i>Applies only when the operator is registered in the <code>EU</code></i>

            '
        share_capital:
          type: number
          format: with decimals
          description: 'The share capital of the company.

            <br/><i>Applies only when the operator is registered in the <code>EU</code></i>

            '
        share_capital_currency:
          type: string
          description: 'The share capital currency of the company.

            <br/><i>Applies only when the operator is registered in the <code>EU</code></i>



            Enum: `"AED"`, `"ARS"`, `"AUD"`, `"BAM"`, `"BGN"`, `"BHD"`, `"BRL"`, `"CAD"`, `"CHF"`, `"CLP"`, `"CNY"`, `"COP"`, `"CZK"`, `"DKK"`, `"EGP"`, `"EUR"`, `"GBP"`, `"GEL"`, `"GTQ"`, `"HKD"`, `"HRK"`, `"HUF"`, `"IDR"`, `"ILS"`, `"INR"`, `"IQD"`, `"JOD"`, `"JPY"`, `"KES"`, `"KRW"`, `"KWD"`, `"LKR"`, `"MAD"`, `"MGA"`, `"MXN"`, `"MYR"`, `"NGN"`, `"NOK"`, `"NZD"`, `"OMR"`, `"PEN"`, `"PHP"`, `"PKR"`, `"PLN"`, `"QAR"`, `"RON"`, `"RSD"`, `"RUB"`, `"SAR"`, `"SEK"`, `"SGD"`, `"TND"`, `"TRY"`, `"THB"`, `"TWD"`, `"UAH"`, `"USD"`, `"UYU"`, `"UZS"`, `"VND"`, `"ZAR"`

            '
        sole_trader:
          type: boolean
          description: Defines if the shop is a sole trader. When this option is set to true, additional information is asked to the shop. <i>Applies only when the operator is registered in the <code>EU</code></i>
    A21_Response_200_ApprovalRate:
      type: object
      properties:
        period:
          type: string
          description: 'The statistic period


            Enum: `"ALL_SINCE_BEGINNING"`, `"LAST_MONTH"`, `"LAST_THREE_MONTHS"`, `"LAST_SIX_MONTHS"`, `"LAST_YEAR"`

            '
        value:
          type: number
          format: with decimals
          description: The statistic value
    A21_Response_200_ConsecutiveRefusedOrdersCount:
      type: object
      properties:
        period:
          type: string
          description: 'The statistic period


            Enum: `"ALL_SINCE_BEGINNING"`, `"LAST_MONTH"`, `"LAST_THREE_MONTHS"`, `"LAST_SIX_MONTHS"`, `"LAST_YEAR"`

            '
        value:
          type: integer
          format: int64
          description: The statistic value
    A02_Response_200_Updated_DefaultBillingInformation_FiscalInformation:
      type: object
      properties:
        local_tax_number:
          type: string
          description: The VAT or GST number of the shop
        tax_identification_country:
          type: string
          description: 'The country of issuance of the tax identification number


            Enum: `"AFG"`, `"ALA"`, `"ALB"`, `"DZA"`, `"ASM"`, `"AND"`, `"AGO"`, `"AIA"`, `"ATA"`, `"ATG"`, `"ARG"`, `"ARM"`, `"ABW"`, `"AUS"`, `"AUT"`, `"AZE"`, `"BHS"`, `"BHR"`, `"BGD"`, `"BRB"`, `"BLR"`, `"BEL"`, `"BLZ"`, `"BEN"`, `"BMU"`, `"BTN"`, `"BOL"`, `"BES"`, `"BIH"`, `"BWA"`, `"BVT"`, `"BRA"`, `"IOT"`, `"BRN"`, `"BGR"`, `"BFA"`, `"BDI"`, `"KHM"`, `"CMR"`, `"CAN"`, `"CPV"`, `"CYM"`, `"CAF"`, `"TCD"`, `"CHL"`, `"CHN"`, `"CXR"`, `"CCK"`, `"COL"`, `"COM"`, `"COG"`, `"COD"`, `"COK"`, `"CRI"`, `"CIV"`, `"HRV"`, `"CUB"`, `"CUW"`, `"CYP"`, `"CZE"`, `"DNK"`, `"DJI"`, `"DMA"`, `"DOM"`, `"ECU"`, `"EGY"`, `"SLV"`, `"GNQ"`, `"ERI"`, `"EST"`, `"ETH"`, `"FLK"`, `"FRO"`, `"FJI"`, `"FIN"`, `"FRA"`, `"GUF"`, `"PYF"`, `"ATF"`, `"GAB"`, `"GMB"`, `"GEO"`, `"DEU"`, `"GHA"`, `"GIB"`, `"GRC"`, `"GRL"`, `"GRD"`, `"GLP"`, `"GUM"`, `"GTM"`, `"GGY"`, `"GIN"`, `"GNB"`, `"GUY"`, `"HTI"`, `"HMD"`, `"VAT"`, `"HND"`, `"HKG"`, `"HUN"`, `"ISL"`, `"IND"`, `"IDN"`, `"IRQ"`, `"IRL"`, `"IMN"`, `"ISR"`, `"ITA"`, `"JAM"`, `"JPN"`, `"JEY"`, `"JOR"`, `"KAZ"`, `"KEN"`, `"KIR"`, `"KOR"`, `"KWT"`, `"KGZ"`, `"LAO"`, `"LVA"`, `"LBN"`, `"LSO"`, `"LBR"`, `"LBY"`, `"LIE"`, `"LTU"`, `"LUX"`, `"MAC"`, `"MKD"`, `"MDG"`, `"MWI"`, `"MYS"`, `"MDV"`, `"MLI"`, `"MLT"`, `"MHL"`, `"MTQ"`, `"MRT"`, `"MUS"`, `"MYT"`, `"MEX"`, `"FSM"`, `"MDA"`, `"MCO"`, `"MNG"`, `"MNE"`, `"MSR"`, `"MAR"`, `"MOZ"`, `"MMR"`, `"NAM"`, `"NRU"`, `"NPL"`, `"NLD"`, `"NCL"`, `"NZL"`, `"NIC"`, `"NER"`, `"NGA"`, `"NIU"`, `"NFK"`, `"MNP"`, `"NOR"`, `"OMN"`, `"PAK"`, `"PLW"`, `"PSE"`, `"PAN"`, `"PNG"`, `"PRY"`, `"PER"`, `"PHL"`, `"PCN"`, `"POL"`, `"PRT"`, `"PRI"`, `"QAT"`, `"REU"`, `"ROU"`, `"RUS"`, `"RWA"`, `"BLM"`, `"SHN"`, `"KNA"`, `"LCA"`, `"MAF"`, `"SPM"`, `"VCT"`, `"WSM"`, `"SMR"`, `"STP"`, `"SAU"`, `"SEN"`, `"SRB"`, `"SYC"`, `"SLE"`, `"SGP"`, `"SXM"`, `"SVK"`, `"SVN"`, `"SLB"`, `"SOM"`, `"ZAF"`, `"SGS"`, `"SSD"`, `"ESP"`, `"LKA"`, `"SUR"`, `"SJM"`, `"SWZ"`, `"SWE"`, `"CHE"`, `"TWN"`, `"TJK"`, `"TZA"`, `"THA"`, `"TLS"`, `"TGO"`, `"TKL"`, `"TON"`, `"TTO"`, `"TUN"`, `"TUR"`, `"TKM"`, `"TCA"`, `"TUV"`, `"UGA"`, `"UKR"`, `"ARE"`, `"GBR"`, `"USA"`, `"UMI"`, `"URY"`, `"UZB"`, `"VUT"`, `"VEN"`, `"VNM"`, `"VGB"`, `"VIR"`, `"WLF"`, `"YEM"`, `"ZMB"`, `"ZWE"`

            '
        tax_identification_number:
          type: string
          description: The identifying number issued by the tax administration of the shop country
    S32_Response_200:
      type: object
      properties:
        documents:
          type: array
          description: List of error reports associated to each document in an error state
          items:
            $ref: '#/components/schemas/S32_Response_200_Documents'
        errors_count:
          type: integer
          format: int32
          description: The number of documents in an error state
      required:
      - documents
    A02_Response_200_Updated_Address:
      type: object
      properties:
        city:
          type: string
          description: City of the shop contact
        civility:
          type: string
          description: Civility of the shop contact
        country:
          type: string
          description: 'Country ISO 3166-1 code of the shop contact


            Enum: `"AFG"`, `"ALA"`, `"ALB"`, `"DZA"`, `"ASM"`, `"AND"`, `"AGO"`, `"AIA"`, `"ATA"`, `"ATG"`, `"ARG"`, `"ARM"`, `"ABW"`, `"AUS"`, `"AUT"`, `"AZE"`, `"BHS"`, `"BHR"`, `"BGD"`, `"BRB"`, `"BLR"`, `"BEL"`, `"BLZ"`, `"BEN"`, `"BMU"`, `"BTN"`, `"BOL"`, `"BES"`, `"BIH"`, `"BWA"`, `"BVT"`, `"BRA"`, `"IOT"`, `"BRN"`, `"BGR"`, `"BFA"`, `"BDI"`, `"KHM"`, `"CMR"`, `"CAN"`, `"CPV"`, `"CYM"`, `"CAF"`, `"TCD"`, `"CHL"`, `"CHN"`, `"CXR"`, `"CCK"`, `"COL"`, `"COM"`, `"COG"`, `"COD"`, `"COK"`, `"CRI"`, `"CIV"`, `"HRV"`, `"CUB"`, `"CUW"`, `"CYP"`, `"CZE"`, `"DNK"`, `"DJI"`, `"DMA"`, `"DOM"`, `"ECU"`, `"EGY"`, `"SLV"`, `"GNQ"`, `"ERI"`, `"EST"`, `"ETH"`, `"FLK"`, `"FRO"`, `"FJI"`, `"FIN"`, `"FRA"`, `"GUF"`, `"PYF"`, `"ATF"`, `"GAB"`, `"GMB"`, `"GEO"`, `"DEU"`, `"GHA"`, `"GIB"`, `"GRC"`, `"GRL"`, `"GRD"`, `"GLP"`, `"GUM"`, `"GTM"`, `"GGY"`, `"GIN"`, `"GNB"`, `"GUY"`, `"HTI"`, `"HMD"`, `"VAT"`, `"HND"`, `"HKG"`, `"HUN"`, `"ISL"`, `"IND"`, `"IDN"`, `"IRQ"`, `"IRL"`, `"IMN"`, `"ISR"`, `"ITA"`, `"JAM"`, `"JPN"`, `"JEY"`, `"JOR"`, `"KAZ"`, `"KEN"`, `"KIR"`, `"KOR"`, `"KWT"`, `"KGZ"`, `"LAO"`, `"LVA"`, `"LBN"`, `"LSO"`, `"LBR"`, `"LBY"`, `"LIE"`, `"LTU"`, `"LUX"`, `"MAC"`, `"MKD"`, `"MDG"`, `"MWI"`, `"MYS"`, `"MDV"`, `"MLI"`, `"MLT"`, `"MHL"`, `"MTQ"`, `"MRT"`, `"MUS"`, `"MYT"`, `"MEX"`, `"FSM"`, `"MDA"`, `"MCO"`, `"MNG"`, `"MNE"`, `"MSR"`, `"MAR"`, `"MOZ"`, `"MMR"`, `"NAM"`, `"NRU"`, `"NPL"`, `"NLD"`, `"NCL"`, `"NZL"`, `"NIC"`, `"NER"`, `"NGA"`, `"NIU"`, `"NFK"`, `"MNP"`, `"NOR"`, `"OMN"`, `"PAK"`, `"PLW"`, `"PSE"`, `"PAN"`, `"PNG"`, `"PRY"`, `"PER"`, `"PHL"`, `"PCN"`, `"POL"`, `"PRT"`, `"PRI"`, `"QAT"`, `"REU"`, `"ROU"`, `"RUS"`, `"RWA"`, `"BLM"`, `"SHN"`, `"KNA"`, `"LCA"`, `"MAF"`, `"SPM"`, `"VCT"`, `"WSM"`, `"SMR"`, `"STP"`, `"SAU"`, `"SEN"`, `"SRB"`, `"SYC"`, `"SLE"`, `"SGP"`, `"SXM"`, `"SVK"`, `"SVN"`, `"SLB"`, `"SOM"`, `"ZAF"`, `"SGS"`, `"SSD"`, `"ESP"`, `"LKA"`, `"SUR"`, `"SJM"`, `"SWZ"`, `"SWE"`, `"CHE"`, `"TWN"`, `"TJK"`, `"TZA"`, `"THA"`, `"TLS"`, `"TGO"`, `"TKL"`, `"TON"`, `"TTO"`, `"TUN"`, `"TUR"`, `"TKM"`, `"TCA"`, `"TUV"`, `"UGA"`, `"UKR"`, `"ARE"`, `"GBR"`, `"USA"`, `"UMI"`, `"URY"`, `"UZB"`, `"VUT"`, `"VEN"`, `"VNM"`, `"VGB"`, `"VIR"`, `"WLF"`, `"YEM"`, `"ZMB"`, `"ZWE"`

            '
        firstname:
          type: string
          description: First name of the shop contact
        lastname:
          type: string
          description: Last name of the shop contact
        phone:
          type: string
          description: Phone of the shop contact
        phone_secondary:
          type: string
          description: Secondary phone of the shop contact
        state:
          type: string
          description: State (address) of the shop contact
        street1:
          type: string
          description: First line of the address of the shop contact
        street2:
          type: string
          description: Second line of the address of the shop contact
        zip_code:
          type: string
          description: Zip code of the shop contact
    A01_Response_200_DefaultBillingInformation_RegistrationAddress:
      type: object
      properties:
        city:
          type: string
          description: The city where the shop company is located.
        country_iso_code:
          type: string
          description: 'Country ISO 3166-1 code of the shop company address


            Enum: `"AFG"`, `"ALA"`, `"ALB"`, `"DZA"`, `"ASM"`, `"AND"`, `"AGO"`, `"AIA"`, `"ATA"`, `"ATG"`, `"ARG"`, `"ARM"`, `"ABW"`, `"AUS"`, `"AUT"`, `"AZE"`, `"BHS"`, `"BHR"`, `"BGD"`, `"BRB"`, `"BLR"`, `"BEL"`, `"BLZ"`, `"BEN"`, `"BMU"`, `"BTN"`, `"BOL"`, `"BES"`, `"BIH"`, `"BWA"`, `"BVT"`, `"BRA"`, `"IOT"`, `"BRN"`, `"BGR"`, `"BFA"`, `"BDI"`, `"KHM"`, `"CMR"`, `"CAN"`, `"CPV"`, `"CYM"`, `"CAF"`, `"TCD"`, `"CHL"`, `"CHN"`, `"CXR"`, `"CCK"`, `"COL"`, `"COM"`, `"COG"`, `"COD"`, `"COK"`, `"CRI"`, `"CIV"`, `"HRV"`, `"CUB"`, `"CUW"`, `"CYP"`, `"CZE"`, `"DNK"`, `"DJI"`, `"DMA"`, `"DOM"`, `"ECU"`, `"EGY"`, `"SLV"`, `"GNQ"`, `"ERI"`, `"EST"`, `"ETH"`, `"FLK"`, `"FRO"`, `"FJI"`, `"FIN"`, `"FRA"`, `"GUF"`, `"PYF"`, `"ATF"`, `"GAB"`, `"GMB"`, `"GEO"`, `"DEU"`, `"GHA"`, `"GIB"`, `"GRC"`, `"GRL"`, `"GRD"`, `"GLP"`, `"GUM"`, `"GTM"`, `"GGY"`, `"GIN"`, `"GNB"`, `"GUY"`, `"HTI"`, `"HMD"`, `"VAT"`, `"HND"`, `"HKG"`, `"HUN"`, `"ISL"`, `"IND"`, `"IDN"`, `"IRQ"`, `"IRL"`, `"IMN"`, `"ISR"`, `"ITA"`, `"JAM"`, `"JPN"`, `"JEY"`, `"JOR"`, `"KAZ"`, `"KEN"`, `"KIR"`, `"KOR"`, `"KWT"`, `"KGZ"`, `"LAO"`, `"LVA"`, `"LBN"`, `"LSO"`, `"LBR"`, `"LBY"`, `"LIE"`, `"LTU"`, `"LUX"`, `"MAC"`, `"MKD"`, `"MDG"`, `"MWI"`, `"MYS"`, `"MDV"`, `"MLI"`, `"MLT"`, `"MHL"`, `"MTQ"`, `"MRT"`, `"MUS"`, `"MYT"`, `"MEX"`, `"FSM"`, `"MDA"`, `"MCO"`, `"MNG"`, `"MNE"`, `"MSR"`, `"MAR"`, `"MOZ"`, `"MMR"`, `"NAM"`, `"NRU"`, `"NPL"`, `"NLD"`, `"NCL"`, `"NZL"`, `"NIC"`, `"NER"`, `"NGA"`, `"NIU"`, `"NFK"`, `"MNP"`, `"NOR"`, `"OMN"`, `"PAK"`, `"PLW"`, `"PSE"`, `"PAN"`, `"PNG"`, `"PRY"`, `"PER"`, `"PHL"`, `"PCN"`, `"POL"`, `"PRT"`, `"PRI"`, `"QAT"`, `"REU"`, `"ROU"`, `"RUS"`, `"RWA"`, `"BLM"`, `"SHN"`, `"KNA"`, `"LCA"`, `"MAF"`, `"SPM"`, `"VCT"`, `"WSM"`, `"SMR"`, `"STP"`, `"SAU"`, `"SEN"`, `"SRB"`, `"SYC"`, `"SLE"`, `"SGP"`, `"SXM"`, `"SVK"`, `"SVN"`, `"SLB"`, `"SOM"`, `"ZAF"`, `"SGS"`, `"SSD"`, `"ESP"`, `"LKA"`, `"SUR"`, `"SJM"`, `"SWZ"`, `"SWE"`, `"CHE"`, `"TWN"`, `"TJK"`, `"TZA"`, `"THA"`, `"TLS"`, `"TGO"`, `"TKL"`, `"TON"`, `"TTO"`, `"TUN"`, `"TUR"`, `"TKM"`, `"TCA"`, `"TUV"`, `"UGA"`, `"UKR"`, `"ARE"`, `"GBR"`, `"USA"`, `"UMI"`, `"URY"`, `"UZB"`, `"VUT"`, `"VEN"`, `"VNM"`, `"VGB"`, `"VIR"`, `"WLF"`, `"YEM"`, `"ZMB"`, `"ZWE"`

            '
        state:
          type: string
          description: The state/province/region where the shop company is located.
        street_1:
          type: string
          description: The first line of the address of the shop company
        street_2:
          type: string
          description: The second line of the address of the shop company
        zip_code:
          type: string
          description: The Zip/Postal code corresponding to the shop company location
      required:
      - city
      - country_iso_code
      - street_1
    A01_Response_200:
      type: object
      properties:
        applicable_taxes:
          type: array
          description: List of the shop's applicable taxes
          items:
            $ref: '#/components/schemas/A01_Response_200_ApplicableTaxes'
        approval_delay:
          type: integer
          format: int64
          description: Average time for a shop to accept or refuse an order (in seconds)
        approval_rate:
          type: number
          format: with decimals
          description: Rate of accepted orders
        banner:
          type: string
          description: Url of the shop's banner image
        billing_info:
          $ref: '#/components/schemas/A01_Response_200_BillingInfo'
          deprecated: true
          description: <p>Banking information</p><p>Use “payment_info” attribute instead</p>
        channels:
          type: array
          description: List of the channel codes associated to the shop
          items:
            type: string
          uniqueItems: true
        closed_from:
          type: string
          format: date-time
          description: The start date of the closing of the shop
        closed_to:
          type: string
          format: date-time
          description: The end date of the closing of the shop
        contact_informations:
          $ref: '#/components/schemas/A01_Response_200_ContactInformations'
          description: Contact information
        currency_iso_code:
          type: string
          description: 'The currency of the shop (iso format)


            Enum: `"AED"`, `"ARS"`, `"AUD"`, `"BAM"`, `"BGN"`, `"BHD"`, `"BRL"`, `"CAD"`, `"CHF"`, `"CLP"`, `"CNY"`, `"COP"`, `"CZK"`, `"DKK"`, `"EGP"`, `"EUR"`, `"GBP"`, `"GEL"`, `"GTQ"`, `"HKD"`, `"HRK"`, `"HUF"`, `"IDR"`, `"ILS"`, `"INR"`, `"IQD"`, `"JOD"`, `"JPY"`, `"KES"`, `"KRW"`, `"KWD"`, `"LKR"`, `"MAD"`, `"MGA"`, `"MXN"`, `"MYR"`, `"NGN"`, `"NOK"`, `"NZD"`, `"OMR"`, `"PEN"`, `"PHP"`, `"PKR"`, `"PLN"`, `"QAR"`, `"RON"`, `"RSD"`, `"RUB"`, `"SAR"`, `"SEK"`, `"SGD"`, `"TND"`, `"TRY"`, `"THB"`, `"TWD"`, `"UAH"`, `"USD"`, `"UYU"`, `"UZS"`, `"VND"`, `"ZAR"`

            '
        date_created:
          type: string
          format: date-time
          description: Creation date of the shop
        default_billing_information:
          $ref: '#/components/schemas/A01_Response_200_DefaultBillingInformation'
          description: The default billing information of the shop, used for invoicing and reporting purposes
        description:
          type: string
          description: 'The description of the shop, max length: 3000 characters.'
        domains:
          type: array
          description: Shop domains
          items:
            type: string
            description: 'Enum: `"PRODUCT"`, `"SERVICE"`

              '
          uniqueItems: true
        dropship:
          $ref: '#/components/schemas/A01_Response_200_Dropship'
          description: Dropship configuration
        evaluations_count:
          type: integer
          format: int64
          description: Number of evaluations for the shop
        free_shipping:
          type: boolean
          description: Whether or not this shop offers free shipping to customers
        grade:
          type: number
          format: with decimals
          description: Global grade of the shop
        is_professional:
          type: boolean
          description: Whether or not the shop is professional
        kyc:
          $ref: '#/components/schemas/A01_Response_200_Kyc'
          description: KYC information (only supported when KYC feature is enabled)
        last_updated_date:
          type: string
          format: date-time
          description: "The date of the last modification of the shop.\nNote: The following statistics fields do not update the <code>last_updated</code> date:\n<ul>\n    <li><code>orders_count</code></li>\n    <li><code>offers_count</code></li>\n    <li><code>evaluations_count</code></li>\n    <li><code>grade</code></li>\n    <li><code>approval_rate</code></li>\n    <li><code>approval_delay</code></li>\n    <li><code>order_messages_response_delay</code></li>\n</ul>\n"
        logo:
          type: string
          description: Url of the shop's logo image
        model:
          type: string
          description: "Shop platform model, current possible values :\n<ul>\n    <li><code>MARKETPLACE</code></li>\n    <li><code>DROPSHIP</code></li>\n    <li><code>ONE_CREDITOR</code></li>\n</ul>\n\nEnum: `\"MARKETPLACE\"`, `\"DROPSHIP\"`, `\"ONE_CREDITOR\"`\n"
        offers_count:
          type: integer
          format: int64
          description: Total count of active offers of the shop
        order_messages_response_delay:
          type: integer
          format: int64
          description: Average time for a shop to answer to an order message (in seconds)
        orders_count:
          type: integer
          format: int64
          description: Total count of debited orders (or if Pay on Delivery, accepted) of the shop
        payment_details:
          $ref: '#/components/schemas/A01_Response_200_PaymentDetails'
          description: Payment details
        payment_info:
          $ref: '#/components/schemas/A01_Response_200_PaymentInfo'
          description: Payment information
        payment_method_mandatory:
          type: boolean
          description: Payment method mandatory
        premium:
          type: boolean
          description: Whether or not the shop is premium
        pro_details:
          $ref: '#/components/schemas/A01_Response_200_ProDetails'
          deprecated: true
          description: <p>Professional details</p><p>Use "default_billing_information" instead</p>
        producer_identifiers:
          type: array
          description: List of shop’s producer identifiers per Extended Producer Responsibility (EPR) categories. Only available if the operator setting <em>Activate data collection related to circular economy regulations</em> is enabled.
          items:
            $ref: '#/components/schemas/A01_Response_200_ProducerIdentifiers'
          uniqueItems: true
        recycling_policy:
          type: string
          description: Recycling policy - only available if the operator setting <em>Activate data collection related to circular economy regulations</em> has been enabled.
          maxLength: 5000
        return_policy:
          type: string
          description: 'Terms of restitution, max length: 60000 characters.'
        shipping:
          $ref: '#/components/schemas/A01_Response_200_Shipping'
          description: Shop shipping configuration
        shipping_country:
          type: string
          description: Code ISO 3166-1 alpha-3 of the shipping country
        shipping_types:
          type: array
          deprecated: true
          description: <p>List of shipping types of the shop</p><p>Use “shippings” attributes instead</p>
          items:
            type: string
            deprecated: true
        shipping_zones:
          type: array
          deprecated: true
          description: <p>List of shipping zones of the shop</p><p>Use “shippings” attributes instead</p>
          items:
            type: string
            deprecated: true
        shippings:
          type: array
          description: All the pair shipping zone / shipping type accepted by the shop
          items:
            $ref: '#/components/schemas/A01_Response_200_Shippings'
        shop_additional_fields:
          type: array
          description: List of additional fields
          items:
            $ref: '#/components/schemas/A01_Response_200_ShopAdditionalFields'
        shop_id:
          type: integer
          format: int64
          description: The identifier of the shop
        shop_name:
          type: string
          description: The name of the shop
        shop_state:
          type: string
          description: 'The state of the shop


            Enum: `"OPEN"`, `"CLOSE"`, `"SUSPENDED"`, `"TERMINATED"`

            '
        specific_billing_informations:
          type: array
          description: 'The list of specific billing information of the shop, used for invoicing and reporting purposes

            <br/><i>Applies only when the shop is <code>professional</code></i>

            '
          items:
            $ref: '#/components/schemas/A01_Response_200_SpecificBillingInformations'
        suspension_type:
          type: string
          description: 'Shop suspension type, current possible values:<ul><li><code>MANUAL</code>: Shop account has been manually suspended in the back-office</li><li><code>PENDING_APPROVAL</code>: Shop account has been suspended at creation</li><li><code>AUTOMATIC_SUSPENSION</code>: Shop account has been suspended by Mirakl Quality Control</li><li><code>INCOMPLETE_PROFILE</code>: Shop account is suspended because some mandatory fields are missing in its profile</li></ul>


            Enum: `"MANUAL"`, `"PENDING_APPROVAL"`, `"INCOMPLETE_PROFILE"`, `"AUTOMATIC_SUSPENSION"`

            '
      required:
      - billing_info
      - channels
      - contact_informations
      - currency_iso_code
      - date_created
      - default_billing_information
      - domains
      - evaluations_count
      - free_shipping
      - is_professional
      - last_updated_date
      - offers_count
      - orders_count
      - payment_details
      - payment_method_mandatory
      - premium
      - pro_details
      - shipping
      - shipping_types
      - shipping_zones
      - shop_additional_fields
      - shop_id
      - shop_name
      - shop_state
    A01_Response_200_SpecificBillingInformations_CorporateInformation:
      type: object
      properties:
        company_registration_name:
          type: string
          description: The name of the shop company, as registered in the business registry of the shop country
        company_registration_number:
          type: string
          description: The unique code used to identify the shop company and verify its legal existence as an incorporated entity
        complementary_information:
          $ref: '#/components/schemas/A01_Response_200_SpecificBillingInformations_CorporateInformation_ComplementaryInformation'
          description: The complementary information of the shop, as requested by local regulations.
        electronic_address:
          type: string
          description: The electronic address (e-invoicing routing code) of the billing entity, used for e-invoice routing and transmission
        phone_number:
          type: string
          description: The phone number of the billing entity, used for e-invoicing purposes
    A02_Response_200_Updated_ShopAdditionalFields:
      type: object
      discriminator:
        mapping:
          BOOLEAN: '#/components/schemas/A02_Response_200_Updated_ShopAdditionalFields_Boolean'
          DATE: '#/components/schemas/A02_Response_200_Updated_ShopAdditionalFields_Date'
          LINK: '#/components/schemas/A02_Response_200_Updated_ShopAdditionalFields_Link'
          LIST: '#/components/schemas/A02_Response_200_Updated_ShopAdditionalFields_List'
          MULTIPLE_VALUES_LIST: '#/components/schemas/A02_Response_200_Updated_ShopAdditionalFields_MultipleValuesList'
          NUMERIC: '#/components/schemas/A02_Response_200_Updated_ShopAdditionalFields_Numeric'
          REGEX: '#/components/schemas/A02_Response_200_Updated_ShopAdditionalFields_Regex'
          STRING: '#/components/schemas/A02_Response_200_Updated_ShopAdditionalFields_String'
          TEXTAREA: '#/components/schemas/A02_Response_200_Updated_ShopAdditionalFields_Textarea'
        propertyName: type
      properties:
        code:
          type: string
          description: Custom field's code
        type:
          type: string
          description: 'Custom field''s type


            Enum: `"STRING"`, `"DATE"`, `"NUMERIC"`, `"BOOLEAN"`, `"LINK"`, `"REGEX"`, `"TEXTAREA"`, `"LIST"`, `"MULTIPLE_VALUES_LIST"`

            '
      required:
      - code
    A02_Response_200_Updated_ProducerIdentifiers:
      type: object
      properties:
        epr_category_code:
          type: string
          description: 'Extended Producer Responsibility (EPR) category code.


            Enum: `"FR-AGROPACK"`, `"FR-ASL"`, `"FR-DASRIPAT"`, `"FR-DBPS"`, `"FR-DDS"`, `"FR-DEA"`, `"FR-DEEE"`, `"FR-DISPMED"`, `"FR-DIY"`, `"FR-EMBM"`, `"FR-GF"`, `"FR-JOUETS"`, `"FR-LUB"`, `"FR-MH"`, `"FR-MNU"`, `"FR-PA"`, `"FR-PAP"`, `"FR-PCHIM"`, `"FR-PMCB"`, `"FR-PNEU"`, `"FR-TABAC"`, `"FR-TLC"`, `"FR-VEHICULE"`, `"FR-VHU"`, `"DE-BATTG"`, `"DE-PACK"`, `"DE-WEEE"`, `"ES-PACK"`, `"ES-GPACK"`, `"ES-WEEE"`

            '
          maxLength: 255
          minLength: 0
        producer_id:
          type: string
          description: Shop producer identifier.
          maxLength: 255
          minLength: 0
      required:
      - epr_category_code
      - producer_id
    A01_Response_200_SpecificBillingInformations_RegistrationAddress:
      type: object
      properties:
        city:
          type: string
          description: The city where the shop company is located.
        country_iso_code:
          type: string
          description: 'Country ISO 3166-1 code of the shop company address


            Enum: `"AFG"`, `"ALA"`, `"ALB"`, `"DZA"`, `"ASM"`, `"AND"`, `"AGO"`, `"AIA"`, `"ATA"`, `"ATG"`, `"ARG"`, `"ARM"`, `"ABW"`, `"AUS"`, `"AUT"`, `"AZE"`, `"BHS"`, `"BHR"`, `"BGD"`, `"BRB"`, `"BLR"`, `"BEL"`, `"BLZ"`, `"BEN"`, `"BMU"`, `"BTN"`, `"BOL"`, `"BES"`, `"BIH"`, `"BWA"`, `"BVT"`, `"BRA"`, `"IOT"`, `"BRN"`, `"BGR"`, `"BFA"`, `"BDI"`, `"KHM"`, `"CMR"`, `"CAN"`, `"CPV"`, `"CYM"`, `"CAF"`, `"TCD"`, `"CHL"`, `"CHN"`, `"CXR"`, `"CCK"`, `"COL"`, `"COM"`, `"COG"`, `"COD"`, `"COK"`, `"CRI"`, `"CIV"`, `"HRV"`, `"CUB"`, `"CUW"`, `"CYP"`, `"CZE"`, `"DNK"`, `"DJI"`, `"DMA"`, `"DOM"`, `"ECU"`, `"EGY"`, `"SLV"`, `"GNQ"`, `"ERI"`, `"EST"`, `"ETH"`, `"FLK"`, `"FRO"`, `"FJI"`, `"FIN"`, `"FRA"`, `"GUF"`, `"PYF"`, `"ATF"`, `"GAB"`, `"GMB"`, `"GEO"`, `"DEU"`, `"GHA"`, `"GIB"`, `"GRC"`, `"GRL"`, `"GRD"`, `"GLP"`, `"GUM"`, `"GTM"`, `"GGY"`, `"GIN"`, `"GNB"`, `"GUY"`, `"HTI"`, `"HMD"`, `"VAT"`, `"HND"`, `"HKG"`, `"HUN"`, `"ISL"`, `"IND"`, `"IDN"`, `"IRQ"`, `"IRL"`, `"IMN"`, `"ISR"`, `"ITA"`, `"JAM"`, `"JPN"`, `"JEY"`, `"JOR"`, `"KAZ"`, `"KEN"`, `"KIR"`, `"KOR"`, `"KWT"`, `"KGZ"`, `"LAO"`, `"LVA"`, `"LBN"`, `"LSO"`, `"LBR"`, `"LBY"`, `"LIE"`, `"LTU"`, `"LUX"`, `"MAC"`, `"MKD"`, `"MDG"`, `"MWI"`, `"MYS"`, `"MDV"`, `"MLI"`, `"MLT"`, `"MHL"`, `"MTQ"`, `"MRT"`, `"MUS"`, `"MYT"`, `"MEX"`, `"FSM"`, `"MDA"`, `"MCO"`, `"MNG"`, `"MNE"`, `"MSR"`, `"MAR"`, `"MOZ"`, `"MMR"`, `"NAM"`, `"NRU"`, `"NPL"`, `"NLD"`, `"NCL"`, `"NZL"`, `"NIC"`, `"NER"`, `"NGA"`, `"NIU"`, `"NFK"`, `"MNP"`, `"NOR"`, `"OMN"`, `"PAK"`, `"PLW"`, `"PSE"`, `"PAN"`, `"PNG"`, `"PRY"`, `"PER"`, `"PHL"`, `"PCN"`, `"POL"`, `"PRT"`, `"PRI"`, `"QAT"`, `"REU"`, `"ROU"`, `"RUS"`, `"RWA"`, `"BLM"`, `"SHN"`, `"KNA"`, `"LCA"`, `"MAF"`, `"SPM"`, `"VCT"`, `"WSM"`, `"SMR"`, `"STP"`, `"SAU"`, `"SEN"`, `"SRB"`, `"SYC"`, `"SLE"`, `"SGP"`, `"SXM"`, `"SVK"`, `"SVN"`, `"SLB"`, `"SOM"`, `"ZAF"`, `"SGS"`, `"SSD"`, `"ESP"`, `"LKA"`, `"SUR"`, `"SJM"`, `"SWZ"`, `"SWE"`, `"CHE"`, `"TWN"`, `"TJK"`, `"TZA"`, `"THA"`, `"TLS"`, `"TGO"`, `"TKL"`, `"TON"`, `"TTO"`, `"TUN"`, `"TUR"`, `"TKM"`, `"TCA"`, `"TUV"`, `"UGA"`, `"UKR"`, `"ARE"`, `"GBR"`, `"USA"`, `"UMI"`, `"URY"`, `"UZB"`, `"VUT"`, `"VEN"`, `"VNM"`, `"VGB"`, `"VIR"`, `"WLF"`, `"YEM"`, `"ZMB"`, `"ZWE"`

            '
        state:
          type: string
          description: The state/province/region where the shop company is located.
        street_1:
          type: string
          description: The first line of the address of the shop company
        street_2:
          type: string
          description: The second line of the address of the shop company
        zip_code:
          type: string
          description: The Zip/Postal code corresponding to the shop company location
      required:
      - city
      - country_iso_code
      - street_1
    A21_Response_200_Grade:
      type: object
      properties:
        period:
          type: string
          description: 'The statistic period


            Enum: `"ALL_SINCE_BEGINNING"`, `"LAST_MONTH"`, `"LAST_THREE_MONTHS"`, `"LAST_SIX_MONTHS"`, `"LAST_YEAR"`

            '
        value:
          type: number
          format: with decimals
          description: The statistic value
    A01_Response_200_PaymentDetails:
      type: object
      properties:
        paid_balance:
          type: number
          format: with decimals
          description: Paid balance
        payable_balance:
          type: number
          format: with decimals
          description: Payable balance
        pending_balance:
          type: number
          format: with decimals
          description: Pending balance
        reserve_balance:
          type: number
          format: with decimals
          description: Current reserve balance
        reserve_target:
          type: number
          format: with decimals
          description: Configured reserve target
        sub_balances:
          type: array
          description: Store sub-balances by pay-out PSP. Requires the feature Hybrid pay-out PSP to be enabled on the platform
          items:
            $ref: '#/components/schemas/A01_Response_200_PaymentDetails_SubBalances'
      required:
      - paid_balance
      - payable_balance
      - pending_balance
    A01_Response_200_SpecificBillingInformations_PersonalInformation:
      type: object
      properties:
        birth_city:
          type: string
          description: 'The city of birth of the shop owner.

            <br/><i>Applies only when the shop is <code>non professional</code> or <code>professional sole trader</code>.</i>

            '
        birth_country:
          type: string
          description: 'The country of birth of the shop owner.

            <br/><i>Applies only when the shop is <code>non professional</code> or <code>professional sole trader</code>.</i>



[...]
