openapi: 3.1.0
info:
  description: '{% partial file="/partial-content/product/connect-channel-platform/rest/connect/openapi-description.md" /%}'
  title: Mirakl Connect Channel Platform APIs Carriers Orders API
  version: ''
servers:
- description: Connect Channel Platform API
  url: https://miraklconnect.com/api/channel-platform
tags:
- name: Orders
paths:
  /v1/orders/documents/{channel_document_id}:
    delete:
      description: '<div class="extension-title">Description</div>


        Use this API to delete a document.


        <div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: On each document deletion on the order</div>

        <div class="max-call-frequency">Maximum usage: On each document deletion on the order</div>

        </div>'
      operationId: deleteOrderDocument
      parameters:
      - description: Document ID from the channel
        example: DOC-1234
        explode: false
        in: path
        name: channel_document_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              application/json-auto:
                summary: Complete example with value types (application/json)
                value:
                  origin:
                    channel_id: string
                    channel_store_id: string
                    sub_channel_code: string
            schema:
              type: object
              properties:
                origin:
                  $ref: '#/components/schemas/DocumentOriginRequest'
              required:
              - origin
        required: true
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              examples:
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    code: DATA_NOT_FOUND
                    message: An error occurred while processing your request
                    errors:
                    - message: 'An error occurred while processing your request: id is null'
                      field: input.account.id
                      extensions:
                        minLength: 1
                        maxLength: 255
                    extensions:
                      minLength: 1
                      maxLength: 255
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        '404':
          content:
            application/json:
              examples:
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    code: DATA_NOT_FOUND
                    message: An error occurred while processing your request
                    errors:
                    - message: 'An error occurred while processing your request: id is null'
                      field: input.account.id
                      extensions:
                        minLength: 1
                        maxLength: 255
                    extensions:
                      minLength: 1
                      maxLength: 255
              schema:
                $ref: '#/components/schemas/Error'
          description: 'The channel document ID does not exists. This may occur if the ID is incorrect or the document has already been deleted.

            '
      security:
      - Bearer:
        - connect-channel-platform:order-document:delete
      summary: deleteOrderDocument - Delete order document
      tags:
      - Orders
  /v1/orders/actions/{action_id}:
    put:
      description: '<div class="extension-title">Description</div>


        Updates the final status of an asynchronous action previously initiated through a command event.


        ## Overview

        - When an asynchronous action is requested via command event, an `action_id` is provided to track the action

        - Use this endpoint to report the final outcome (SUCCESS or FAILURE) of the action

        - For failed actions, detailed error information must be provided


        ## Usage Notes

        - Update should be sent once the action is fully completed

        - Multiple errors can be provided for failed actions

        - The action ID must match the one provided in the original command event



        <div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: Send update as soon as the action is completed</div>

        <div class="max-call-frequency">Maximum usage: Once per action completion</div>

        </div>'
      operationId: updateActionStatus
      parameters:
      - description: The unique identifier of the action. This ID was provided in the original command event that initiated the action.
        example: 1ba5fc4b-c4fd-4251-880b-3052e301bbd4
        explode: false
        in: path
        name: action_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              application/json-auto:
                summary: Complete example with value types (application/json)
                value:
                  status: SUCCESS
                  errors:
                  - code: INVALID_INPUT
                    message: 'Cannot process cancellation: order is already shipped'
            schema:
              $ref: '#/components/schemas/UpdateActionRequest'
        description: The updated status and any error details for the action
        required: true
      responses:
        '204':
          description: The action status was successfully updated. No additional content is provided.
        '400':
          content:
            application/json:
              examples:
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    code: DATA_NOT_FOUND
                    message: An error occurred while processing your request
                    errors:
                    - message: 'An error occurred while processing your request: id is null'
                      field: input.account.id
                      extensions:
                        minLength: 1
                        maxLength: 255
                    extensions:
                      minLength: 1
                      maxLength: 255
              schema:
                $ref: '#/components/schemas/Error'
          description: 'The request was invalid. Common causes include: - Invalid action status : must be either SUCCESS or FAILED - Action is already in a final state (SUCCESS or FAILED). This error will have code `ACTION_ALREADY_FINAL`. - Invalid error format'
        '404':
          content:
            application/json:
              examples:
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    code: DATA_NOT_FOUND
                    message: An error occurred while processing your request
                    errors:
                    - message: 'An error occurred while processing your request: id is null'
                      field: input.account.id
                      extensions:
                        minLength: 1
                        maxLength: 255
                    extensions:
                      minLength: 1
                      maxLength: 255
              schema:
                $ref: '#/components/schemas/Error'
          description: 'The specified action ID was not found. This may occur if: - The ID is incorrect - The action has expired - The action was already completed'
      security:
      - Bearer:
        - connect-channel-platform:order-action:upsert
      summary: updateActionStatus - Update asynchronous action status
      tags:
      - Orders
  /v1/orders/anonymize-after:
    put:
      description: '<div class="extension-title">Description</div>


        Updates the anonymization date for orders in the Mirakl Connect platform.

        Use this API to indicated after which date orders should be anonymized by Connect.

        The anonymization process is irreversible and should be used with caution.



        <div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: Once per order when the anonymization date is set</div>

        <div class="max-call-frequency">Maximum usage: Every time the anonymization date needs to be changed</div>

        </div>'
      operationId: updateAnonymizeAfterDate
      requestBody:
        content:
          application/json:
            examples:
              application/json-auto:
                summary: Complete example with value types (application/json)
                value:
                  orders:
                  - channel_order_id: COMMERCIAL_ID-A
                    channel_id: 1234
                    channel_store_id: string
                    sub_channel_code: string
                    anonymize_after: '2023-10-01T00:00:00Z'
            schema:
              $ref: '#/components/schemas/UpdateAnonymizeAfterRequest'
        description: The new anonymize_after date for the orders
        required: true
      responses:
        '204':
          description: Successfully updated the anonymize_after date for all orders of the request. No additional content is provided.
        '400':
          content:
            application/json:
              examples:
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    code: DATA_NOT_FOUND
                    message: An error occurred while processing your request
                    errors:
                    - message: 'An error occurred while processing your request: id is null'
                      field: input.account.id
                      extensions:
                        minLength: 1
                        maxLength: 255
                    extensions:
                      minLength: 1
                      maxLength: 255
              schema:
                $ref: '#/components/schemas/Error'
          description: 'At least one the item of the payload is invalid. The entire request is canceled, none of the anonymize_after date have been updated. Common errors include: - referencing an order that does not exist - trying to set an anonymize_after date in the past

            Please refer to the error message for more details.'
      security:
      - Bearer:
        - connect-channel-platform:order:update-anonymize-after
      summary: updateAnonymizeAfterDate - Update anonymization date for orders
      tags:
      - Orders
  /v1/orders/{channel_order_id}/documents:
    post:
      description: '<div class="extension-title">Description</div>


        Use this API to upload a document for an order or its related entities (e.g. returns).


        <div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: On each new document on the order</div>

        <div class="max-call-frequency">Maximum usage: On each new document on the order</div>

        </div>'
      operationId: uploadOrderDocument
      parameters:
      - description: Order identifier from the channel
        example: COMMERCIAL_ID-A
        explode: false
        in: path
        name: channel_order_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            examples:
              multipart/form-data-auto:
                summary: Complete example with value types (multipart/form-data)
                value:
                  file: string
                  origin:
                    channel_id: string
                    channel_store_id: string
                    sub_channel_code: string
                  metadata:
                    channel_document_id: string
                    filename: UPS_1Z999AA10123456784.pdf
                    type: RETURN_LABEL
                    channel_type: string
                    entity:
                      id: caf30673-ea3d-4113-9a18-674850f6a290
                      type: RETURN
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: "The document file to upload.\n\nMaximum file size: <code>10 MB</code>.\n\nSupported formats are :\n                      - <code>PDF</code>\n                      - <code>JPEG</code>\n                      - <code>PNG</code>\n                      - <code>CSV</code>\n"
                metadata:
                  $ref: '#/components/schemas/UploadOrderDocumentMetadata'
                origin:
                  $ref: '#/components/schemas/DocumentOriginRequest'
              required:
              - file
              - metadata
              - origin
        required: true
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              examples:
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    code: DATA_NOT_FOUND
                    message: An error occurred while processing your request
                    errors:
                    - message: 'An error occurred while processing your request: id is null'
                      field: input.account.id
                      extensions:
                        minLength: 1
                        maxLength: 255
                    extensions:
                      minLength: 1
                      maxLength: 255
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
      security:
      - Bearer:
        - connect-channel-platform:order-document:upload
      summary: uploadOrderDocument - Upload order document
      tags:
      - Orders
      x-codeSamples:
      - lang: cURL
        source: "curl -i -X POST \\\n  https://miraklconnect.com/api/channel-platform/v1/orders/{channel_order_id}/documents \\\n  -H 'Content-Type: multipart/form-data' \\\n  -F 'file=@path/to/file' \\\n  -F 'origin=\"{\\\"channel_id\\\":\\\"string\\\",\\\"channel_store_id\\\":\\\"string\\\",\\\"sub_channel_code\\\":\\\"string\\\"}\";type=application/json' \\\n  -F 'metadata=\"{\\\"channel_document_id\\\":\\\"string\\\",\\\"filename\\\":\\\"UPS_1Z999AA10123456784.pdf\\\",\\\"type\\\":\\\"RETURN_LABEL\\\",\\\"channel_type\\\":\\\"string\\\",\\\"entity\\\":{\\\"id\\\":\\\"caf30673-ea3d-4113-9a18-674850f6a290\\\",\\\"type\\\":\\\"RETURN\\\"}}\";type=application/json'\n"
  /v1/orders:
    post:
      description: '<div class="extension-title">Description</div>


        Use this API to synchronize orders with Mirakl Connect.


        - The operation is **not partially successful**: if any order in the payload is invalid, the entire request is rejected.

        - This API does not support PATCH operations. All fields must be sent with each upsert request to ensure the complete update of the order data.

        - Updates whose `channel_updated_at` timestamp is older than the value already stored in Connect are silently ignored (anti-replay guard).



        <div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: 20 / sec</div>

        <div class="max-call-frequency">Maximum usage: 30 / sec</div>

        </div>'
      operationId: upsertOrders
      requestBody:
        content:
          application/json:
            examples:
              application/json-auto:
                summary: Complete example with value types (application/json)
                value:
                  origin:
                    channel_id: string
                    channel_store_id: string
                  orders:
                  - channel_order_id: string
                    created_at: '2023-03-28T09:34:42Z'
                    channel_updated_at: '2023-03-28T09:34:42Z'
                    status: AWAITING_ACCEPTANCE
                    shipping_info:
                      email: string
                      address:
                        last_name: string
                        street: string
                        city: string
                        first_name: string
                        company: string
                        street_additional_info: string
                        state: string
                        country: string
                        country_iso_code: string
                        zip_code: string
                        phone: string
                        additional_info: string
                      carrier: string
                      method: string
                      pudo_id: string
                      shipping_deadline: '2023-03-28T09:34:42Z'
                      delivery_date:
                        earliest: '2023-03-28T09:34:42Z'
                        latest: '2023-03-28T09:34:42Z'
                    order_lines:
                    - channel_order_line_id: string
                      created_at: '2023-03-28T09:34:42Z'
                      updated_at: '2023-03-28T09:34:42Z'
                      quantity: 0
                      can_cancel: true
                      can_refund: true
                      total_shipping_price:
                        amount: 0
                        currency: string
                      price:
                        amount: 0
                        currency: string
                      product:
                        id: string
                        title: string
                        thumbnail_url: string
                      taxes:
                      - amount:
                          amount: 0
                          currency: string
                        code: string
                        rate: 0
                        seller_collectible:
                          amount: 0
                          currency: string
                        channel_collectible:
                          amount: 0
                          currency: string
                      shipping_taxes:
                      - amount:
                          amount: 0
                          currency: string
                        code: string
                        rate: 0
                        seller_collectible:
                          amount: 0
                          currency: string
                        channel_collectible:
                          amount: 0
                          currency: string
                      status: AWAITING_ACCEPTANCE
                      status_reason: ACCEPTANCE_TIMEOUT
                      adjustments:
                      - channel_adjustment_id: string
                        reason: CUSTOMER_CANCELATION
                        created_at: '2023-03-28T09:34:42Z'
                        type: REFUND
                        quantity: 0
                        price:
                          amount: 0
                          currency: string
                        taxes:
                        - amount:
                            amount: 0
                            currency: string
                          code: string
                          rate: 0
                          seller_collectible:
                            amount: 0
                            currency: string
                          channel_collectible:
                            amount: 0
                            currency: string
                        shipping_price:
                          amount: 0
                          currency: string
                        shipping_taxes:
                        - amount:
                            amount: 0
                            currency: string
                          code: string
                          rate: 0
                          seller_collectible:
                            amount: 0
                            currency: string
                          channel_collectible:
                            amount: 0
                            currency: string
                      custom_attributes:
                      - id: string
                        type: STRING
                    status_reason: ACCEPTANCE_TIMEOUT
                    fulfillment:
                      type: FULFILLED_BY_SELLER
                      code: string
                    billing_info:
                      address:
                        last_name: string
                        street: string
                        city: string
                        first_name: string
                        company: string
                        street_additional_info: string
                        state: string
                        country: string
                        country_iso_code: string
                        zip_code: string
                        phone: string
                        additional_info: string
                    has_incident: true
                    custom_attributes:
                    - id: string
                      type: STRING
                    sub_channel_code: string
            schema:
              $ref: '#/components/schemas/UpsertOrdersRequest'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              examples:
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    code: DATA_NOT_FOUND
                    message: An error occurred while processing your request
                    errors:
                    - message: 'An error occurred while processing your request: id is null'
                      field: input.account.id
                      extensions:
                        minLength: 1
                        maxLength: 255
                    extensions:
                      minLength: 1
                      maxLength: 255
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        '404':
          content:
            application/json:
              examples:
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    code: DATA_NOT_FOUND
                    message: An error occurred while processing your request
                    errors:
                    - message: 'An error occurred while processing your request: id is null'
                      field: input.account.id
                      extensions:
                        minLength: 1
                        maxLength: 255
                    extensions:
                      minLength: 1
                      maxLength: 255
              schema:
                $ref: '#/components/schemas/Error'
          description: 'A critical resource was not found. This may occur if:


            - The channel or its technology is unknown to Connect

            - The store is unknown to Connect

            '
      security:
      - Bearer:
        - connect-channel-platform:orders:upsert
      summary: upsertOrders - Upsert orders
      tags:
      - Orders
  /api/orders:
    put:
      description: '<div class="extension-title">Description</div>


        <p>Update orders information field by field: unspecified fields will not be updated. To remove the value for a field, send it with the ''null'' value (not allowed for the required fields).</p><p>You cannot use API OR04 to update customer-related information if the customer has been anonymized via API AN01.</p><p><span class=''red''>A maximum of 100 orders can be sent at once.</span></p>


        <div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: At each information update of one or multiple orders (for example: to modify the billing address)</div>

        <div class="max-call-frequency">Maximum usage: Once per minute, 100 orders per call</div>

        <div class="extension-title">Read More</div>


        <ul><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/integrating_mirakl/update_orders_info.htm">More context</a></li><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/integrating_mirakl/create_orders/organization_data.htm">If the customer organization feature is activated, read this page</a></li></ul></div>'
      operationId: OR04
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              application/json-0:
                summary: Updating several order information
                value:
                  orders:
                  - customer:
                      accounting_contact:
                        customer_id: Customer_id_002
                      billing_address:
                        city: New York
                        company: simple customer
                        company_2: second information
                        country: USA
                        country_iso_code: USA
                        phone_secondary: 213-509-6995
                        state: Manhattan
                        street_1: 113 MacDougal Street
                        street_2: 1st floor
                        zip_code: NY 10012
                      delivery_contact:
                        customer_id: Customer_id_003
                      organization:
                        address:
                          city: New York
                          country_iso_code: USA
                          state: Manhattan
                          street_1: 113 MacDougal Street
                          street_2: 1st floor
                          zip_code: NY 10012
                        identification_number: '982837446'
                        name: Limark Company Inc.
                        tax_identification_number: 96-25472919
                      shipping_address:
                        additional_info: One article per box
                        city: New York
                        civility: M
                        company: LIMARK Company
                        company_2: Paris branch
                        country: USA
                        country_iso_code: USA
                        firstname: Smith
                        internal_additional_info: No additional information
                        lastname: Taylor
                        phone: 213-509-6995
                        phone_secondary: 213-509-6996
                        state: Manhattan
                        street_1: 113 MacDougal Street
                        street_2: 1st floor
                        zip_code: NY 10012
                    invoice_details:
                      document_details:
                      - format: PDF
                      - format: cXML
                      payment_terms:
                        days: 10
                        type: NET
                    order_id: Order_00014
                    payment_destination:
                      '@type': IBAN
                      iban: '123456789'
                      payment_reference: TX1000
                    payment_workflow: PAY_ON_ACCEPTANCE
                    shipping_deadline: '2020-03-20T16:38:31.131Z'
                    shop_statistics:
                      excluded: true
                      reason: Reason for exclusion
              application/json-1:
                summary: Updating the billing address
                value:
                  orders:
                  - customer:
                      billing_address:
                        city: New York
                        company: simple customer
                        company_2: second information
                        country: USA
                        country_iso_code: USA
                        phone_secondary: 213-509-6995
                        state: Manhattan
                        street_1: 113 MacDougal Street
                        street_2: 1st floor
                        zip_code: NY 10012
                    order_id: Order_00014
              application/json-2:
                summary: Updating shipping deadlines
                value:
                  orders:
                  - order_id: Order_00014
                    shipping_deadline: '2020-03-20T16:38:31.131Z'
              application/json-3:
                summary: Updating payment workflow
                value:
                  orders:
                  - order_id: Order_00014
                    payment_workflow: PAY_ON_ACCEPTANCE
              application/json-4:
                summary: Excluding order from store statistics
                value:
                  orders:
                  - order_id: Order_00014
                    shop_statistics:
                      excluded: true
                      reason: Reason for exclusion
              application/json-5:
                summary: Updating order references
                value:
                  orders:
                  - order_id: Order_00014
                    references:
                      order_reference_for_customer: ref_customer
                      order_reference_for_seller: ref_seller
              application/json-6:
                summary: Updating customer organization data
                value:
                  orders:
                  - customer:
                      accounting_contact:
                        customer_id: Customer_id_002
                      delivery_contact:
                        customer_id: Customer_id_003
                      organization:
                        address:
                          city: New York
                          country_iso_code: USA
                          state: Manhattan
                          street_1: 113 MacDougal Street
                          street_2: 1st floor
                          zip_code: NY 10012
                        identification_number: '982837446'
                        name: Limark Company Inc.
                        tax_identification_number: 96-25472919
                    order_id: Order_00014
              application/json-7:
                summary: Updating eco-contributions
                value:
                  orders:
                  - order_id: Order_00014
                    order_lines:
                    - eco_contributions:
                      - epr_category_code: FR-DEEE
                        producer_id: '123456789012345'
                        unit_amount: 1.25
                      - epr_category_code: FR-ASL
                        producer_id: FRASLPRODUCERID
                        unit_amount: 1.1
                      order_line_id: Order_00014-A-1
              application/json-auto:
                summary: Complete example with value types (application/json)
                value:
                  orders:
                  - customer:
                      accounting_contact:
                        customer_id: string
                      billing_address:
                        city: string
                        civility: string
                        company: string
                        company_2: string
                        country: string
                        country_iso_code: AFG
                        firstname: string
                        lastname: string
                        phone: string
                        phone_secondary: string
                        state: string
                        street_1: string
                        street_2: string
                        zip_code: string
                      delivery_contact:
                        customer_id: string
                      organization:
                        address:
                          city: string
                          country_iso_code: AFG
                          state: string
                          street_1: string
                          street_2: string
                          zip_code: string
                        identification_number: string
                        name: string
                        tax_identification_number: string
                      shipping_address:
                        additional_info: string
                        city: string
                        civility: string
                        company: string
                        company_2: string
                        country: string
                        country_iso_code: AFG
                        firstname: string
                        internal_additional_info: string
                        lastname: string
                        phone: string
                        phone_secondary: string
                        state: string
                        street_1: string
                        street_2: string
                        zip_code: string
                    invoice_details:
                      document_details:
                      - format: PDF
                      payment_terms:
                        days: 0
                        type: END_OF_MONTH
                    order_id: string
                    order_lines:
                    - eco_contributions:
                      - epr_category_code: string
                        producer_id: string
                        unit_amount: 0
                      order_line_id: string
                    payment_destination:
                      '@type': string
                      payment_reference: string
                    payment_workflow: string
                    references:
                      order_reference_for_customer: string
                      order_reference_for_seller: string
                    shipping_deadline: '2023-03-28T09:34:42Z'
                    shop_statistics:
                      excluded: true
                      reason: string
            schema:
              $ref: '#/components/schemas/OR04_Request'
      responses:
        '200':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Response
                  value:
                    updated_orders:
                    - errors: []
                      order_id: Order_00014
                      updated:
                        customer:
                          accounting_contact:
                            customer_id: Customer_id_002
                          billing_address:
                            city: New York
                            civility: M
                            company: simple customer
                            company_2: second information
                            country: USA
                            country_iso_code: USA
                            firstname: Smith
                            lastname: Taylor
                            phone: 213-509-6996
                            phone_secondary: 213-509-6995
                            state: Manhattan
                            street_1: 113 MacDougal Street
                            street_2: 1st floor
                            zip_code: NY 10012
                          delivery_contact:
                            customer_id: Customer_id_003
                          organization:
                            address:
                              city: New York
                              country_iso_code: USA
                              state: Manhattan
                              street_1: 113 MacDougal Street
                              street_2: 1st floor
                              zip_code: NY 10012
                            identification_number: '982837446'
                            name: Limark Company Inc.
                            tax_identification_number: 96-25472919
                          shipping_address:
                            additional_info: One article per box
                            city: New York
                            civility: M
                            company: LIMARK Company
                            company_2: Paris branch
                            country: USA
                            country_iso_code: USA
                            firstname: Smith
                            internal_additional_info: No additional information
                            lastname: Taylor
                            state: Manhattan
                            street_1: 113 MacDougal Street
                            street_2: 1st floor
                            zip_code: NY 10012
                        delivery_date:
                          earliest: '2020-03-25T16:38:31.131Z'
                          latest: '2020-03-28T16:38:31.131Z'
                        invoice_details:
                          document_details:
                          - format: PDF
                          - format: cXML
                          payment_terms:
                            days: 10
                            type: NET
                        leadtime_to_ship: 9
                        order_lines:
                        - cancelations:
                          - cancelation_id: '2453'
                            eco_contributions:
                            - epr_category_code: FR-ASL
                              producer_id: OPERATOR_PRODUCER_ID
                              producer_id_owner: OPERATOR
                              total_amount: 1.5
                              unit_amount: 1.5
                          eco_contributions:
                          - epr_category_code: FR-ASL
                            producer_id: OPERATOR_PRODUCER_ID
                            producer_id_owner: OPERATOR
                            total_amount: 15
                            unit_amount: 1.5
                          order_line_id: Order_00014-1
                          refunds:
                          - eco_contributions:
                            - epr_category_code: FR-ASL
                              producer_id: OPERATOR_PRODUCER_ID
                              producer_id_owner: OPERATOR
                              total_amount: 3
                              unit_amount: 1.5
                            refund_id: '1254'
                        payment_destination:
                          '@type': IBAN
                          iban: '123456789'
                          payment_reference: TX1000
                        payment_workflow: PAY_ON_ACCEPTANCE
                        references:
                          order_reference_for_customer: ref_customer
                          order_reference_for_seller: ref_seller
                        shipping_deadline: '2020-03-20T16:38:31.131Z'
                        shop_statistics:
                          excluded: true
                          reason: Reason for exclusion
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    updated_orders:
                    - errors:
                      - code: string
                        field: string
                        message: string
                      order_id: string
                      updated:
                        customer:
                          accounting_contact:
                            customer_id: string
                          billing_address:
                            city: string
                            civility: string
                            company: string
                            company_2: string
                            country: string
                            country_iso_code: AFG
                            firstname: string
                            lastname: string
                            phone: string
                            phone_secondary: string
                            state: string
                            street_1: string
                            street_2: string
                            zip_code: string
                          delivery_contact:
                            customer_id: string
                          organization:
                            address:
                              city: string
                              country_iso_code: AFG
                              state: string
                              street_1: string
                              street_2: string
                              zip_code: string
                            identification_number: string
                            name: string
                            tax_identification_number: string
                          shipping_address:
                            additional_info: string
                            city: string
                            civility: string
                            company: string
                            company_2: string
                            country: string
                            country_iso_code: AFG
                            firstname: string
                            internal_additional_info: string
                            lastname: string
                            phone: string
                            phone_secondary: string
                            state: string
                            street_1: string
                            street_2: string
                            zip_code: string
                        delivery_date:
                          earliest: '2023-03-28T09:34:42Z'
                          latest: '2023-03-28T09:34:42Z'
                        invoice_details:
                          document_details:
                          - format: PDF
                          payment_terms:
                            days: 0
                            type: END_OF_MONTH
                        leadtime_to_ship: 0
                        order_lines:
                        - cancelations:
                          - cancelation_id: string
                            eco_contributions:
                            - epr_category_code: string
                              producer_id: string
                              producer_id_owner: string
                              total_amount: 0
                              unit_amount: 0
                          eco_contributions:
                          - epr_category_code: string
                            producer_id: string
                            producer_id_owner: string
                            total_amount: 0
                            unit_amount: 0
                          order_line_id: string
                          refunds:
                          - eco_contributions:
                            - epr_category_code: string
                              producer_id: string
                              producer_id_owner: string
                              total_amount: 0
                              unit_amount: 0
                            refund_id: string
                        payment_destination:
                          '@type': IBAN
                          payment_reference: string
                        payment_workflow: PAY_ON_ACCEPTANCE
                        references:
                          order_reference_for_customer: string
                          order_reference_for_seller: string
                        shipping_deadline: '2023-03-28T09:34:42Z'
                        shop_statistics:
                          excluded: true
                          reason: string
              schema:
                type: object
                $ref: '#/components/schemas/OR04_Response_200'
          description: OK
        '400':
          description: Too many orders given
      security:
      - Operator-Bearer-Token: []
      - OAuth-2: []
      summary: OR04 - Patch update orders
      tags:
      - Orders
    get:
      description: '<div class="extension-title">Description</div>


        Returns a 400 Bad Request response if the limit of commercialIds, customerIds, offerIds or productSkus is exceeded.<br/>Pagination is enabled by default. For large requests, use asynchronous order export APIs OR13, OR14 and OR15 instead.<br/>


        <div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div>Default:</div><div class="persona-specific-call-frequency"><div class="recommended-call-frequency">Recommended usage: <br/>- Asynchronous: every 5 minutes <br/>- Synchronous: at each order page display</div>

        <div class="max-call-frequency">Maximum usage: <br/>- Asynchronous: once per minute <br/>- Synchronous: at each order page display</div>

        </div><div>External Partner:</div><div class="persona-specific-call-frequency"><div class="recommended-call-frequency">Recommended usage: <br/>- Asynchronous: every 15 minutes <br/>- Synchronous: at each order page display</div>

        <div class="max-call-frequency">Maximum usage: <br/>- Asynchronous: every 15 minutes <br/>- Synchronous: at each order page display</div>

        </div><div class="extension-title">Read More</div>


        <ul><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/integration_guide/mcm_inte/enable_customer_care_service_to_access_order_status_details_mcm.html">More context (Customer Care - Order status & details)</a></li><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/integration_guide/mcm_inte/display_order_history_to_customer_mcm.html">More context (Displaying the order history to the customer)</a></li><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/integration_guide/mcm_inte/display_order_details_and_features_mcm.html">More context (Displaying order details & order follow-up)</a></li><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/integrating_mirakl/create_orders/organization_data.htm">If the customer organization feature is activated, read this page</a></li></ul><div class="extension-title">Pagination</div>


        <p>This resource supports offset pagination (<a href="#section/Offset-pagination-and-sort">see documentation</a>)</p>


        <div class="extension-title">Sort fields</div>


        <code>sort</code> field can have the following values:<ul><li><b>dateCreated</b> (Default) - Sort by creation date, and then by order identifier (asc by default)</li></ul>


        <div class="extension-title">Localization</div>


        <p>This resource supports <code>locale</code> parameter (<a href="#section/Locale">see documentation</a>)</p><p>Localized output fields will be highlighted with an icon: <span class="flag"></span></p></div>'
      operationId: OR11
      parameters:
      - description: A comma-separated list of order commercial's identifiers
        explode: true
        in: query
        name: commercial_ids
        required: false
        schema:
          type: string
          maximum: 100
        style: form
      - description: A comma-separated list of customer's identifiers
        explode: true
        in: query
        name: customer_ids
        required: false
        schema:
          type: string
          maximum: 100
        style: form
      - description: A comma-separated list of customer organization's identifiers
        explode: true
        in: query
        name: customer_organization_ids
        required: false
        schema:
          type: string
        style: form
      - description: A comma-separated list of offer's identifiers
        explode: true
        in: query
        name: offer_ids
        required: false
        schema:
          type: string
          maximum: 100
        style: form
      - description: A comma-separated list of order's identifiers
        explode: true
        in: query
        name: order_ids
        required: false
        schema:
          type: string
          maximum: 100
        style: form
      - description: A comma-separated list of shop's identifiers
        explode: true
        in: query
        name: shop_ids
        required: false
        schema:
          type: string
          maximum: 100
        style: form
      - description: A comma-separated list of order references for customer
        explode: true
        in: query
        name: order_references_for_customer
        required: false
        schema:
          type: string
          maximum: 100
        style: form
      - description: A comma-separated list of order references for seller
        explode: true
        in: query
        name: order_references_for_seller
        required: false
        schema:
          type: string
          maximum: 100
        style: form
      - description: A comma-separated list of product's skus
        explode: true
        in: query
        name: product_skus
        required: false
        schema:
          type: string
          maximum: 100
        style: form
      - description: A comma-separated list of order state's codes
        explode: true
        in: query
        name: order_state_codes
        required: false
        schema:
          type: string
          enum:
          - STAGING
          - WAITING_ACCEPTANCE
          - WAITING_DEBIT
          - WAITING_DEBIT_PAYMENT
          - SHIPPING
          - SHIPPED
          - TO_COLLECT
          - RECEIVED
          - CLOSED
          - REFUSED
          - CANCELED
        style: form
      - description: A comma-separated list of channel codes
        explode: true
        in: query
        name: channel_codes
        required: false
        schema:
          type: string
          maximum: 100
        style: form
      - description: Return only orders without channel. If <code>true</code>, ignore the <code>channel_codes</code>
        explode: true
        in: query
        name: only_null_channel
        required: false
        schema:
          type: boolean
          default: false
        style: form
      - description: Start creation date for filtering
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - description: End creation date for filtering
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - description: Start update date for filtering. Mirakl will subtract a time delta to ensure no orders are missed due to network and/or software latency.
        explode: true
        in: query
        name: start_update_date
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - description: End update date for filtering
        explode: true
        in: query
        name: end_update_date
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - description: Order paid by customer
        explode: true
        in: query
        name: customer_debited
        required: false
        schema:
          type: boolean
        style: form
      - description: Payment workflow of an order
        explode: true
        in: query
        name: payment_workflow
        required: false
        schema:
          type: string
          enum:
          - PAY_ON_ACCEPTANCE
          - PAY_ON_DELIVERY
          - PAY_ON_DUE_DATE
          - PAY_ON_SHIPMENT
          - NO_CUSTOMER_PAYMENT_CONFIRMATION
        style: form
      - description: If <code>true</code> returns only orders with incidents in progress, if <code>false</code> returns orders without incidents in progress. If not provided, all orders with or without incident will be returned
        explode: true
        in: query
        name: has_incident
        required: false
        schema:
          type: boolean
        style: form
      - description: Code of the fulfillment center
        explode: true
        in: query
        name: fulfillment_center_code
        required: false
        schema:
          type: array
          items:
            type: string
            maximum: 100
          maximum: 100
        style: form
      - description: 'Please note: If the taxes are not specified, the prices with mode TAX_EXCLUDED and with mode TAX_INCLUDED will return the same amounts.<br>Possible values:<ul><li><code>TAX_EXCLUDED</code>: the price fields (price, unit price, shipping price, cancellation amount, refund amount and order total prices) do not include taxes.</li><li><code>TAX_INCLUDED</code>: the price fields include the tax amount. </li></ul><li>If this query parameter is not specified, the default order tax mode of the platform is used.</li>'
        explode: true
        in: query
        name: order_tax_mode
        required: false
        schema:
          type: string
          enum:
          - TAX_INCLUDED
          - TAX_EXCLUDED
        style: form
      - description: If <code>true</code> returns only orders with commission, if <code>false</code> returns orders without commission. Please note that this filter is available only when the platform is in mixed commission model
        explode: true
        in: query
        name: commissionable
        required: false
        schema:
          type: boolean
        style: form
      - description: If <code>true</code> returns only orders awaiting a tax confirmation, When <code>false</code> it does not impact the result.
        explode: true
        in: query
        name: waiting_tax_confirmation
        required: false
        schema:
          type: boolean
        style: form
      - description: 'If <code>true</code> returns only orders for which taxes must be recalculated on at least one order line. When <code>false</code> it does not impact the result. Must be used with at least one date range filter: created or last updated date, of a maximum duration of one month.'
        explode: true
        in: query
        name: tax_recalculation_required_only
        required: false
        schema:
          type: boolean
        style: form
      - description: If <code>true</code> returns only orders awaiting a funding update. When <code>false</code> it does not impact the result.
        explode: true
        in: query
        name: waiting_funding_confirmation
        required: false
        schema:
          type: boolean
        style: form
      - description: 'A comma-separated list of refund state''s codes.<br/>

          Must be used in combination with filters <code>start_update_date</code> and <code>end_update_date</code>, with a maximum of one month period.

          '
        explode: true
        in: query
        name: refund_state_codes
        required: false
        schema:
          type: string
          enum:
          - WAITING_REFUND_TAX_CONFIRMATION
          - WAITING_REFUND
          - WAITING_REFUND_PAYMENT
          - REFUNDED
        style: form
      responses:
        '200':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Example with business values (application/json)
                  value:
                    orders:
                    - acceptance_decision_date: '2019-04-02T14:56:01Z'
                      can_cancel: false
                      can_evaluate: true
                      can_shop_ship: false
                      channel:
                        code: US
                        label: Website US
                      commercial_id: Order_00010
                      created_date: '2019-04-02T14:18:43Z'
                      currency_iso_code: USD
                      customer:
                        accounting_contact:
                          customer_id: Customer_id_003
                          email: thomasanderson@mail.com
                          firstname: Thomas
                          lastname: Anderson
                          locale: en_US
                        billing_address:
                          city: New York City
                          civility: M
                          company: LIMARK Company
                          company_2: Paris branch
                          country: USA
                          country_iso_code: USA
                          firstname: smith
                          lastname: Taylor
                          state: Manhattan
                          street_1: 113 MacDougal Street
                          street_2: 1st floor
                          zip_code: NY 10012
                        civility: M
                        customer_id: Customer_id_001
                        delivery_contact:
                          customer_id: Customer_id_002
                          email: stella.lettiere@mail.com
                          firstname: Stella
                          lastname: Lettiere
                          locale: en_US
                        email: customer@mail.com
                        firstname: Smith
                        lastname: Taylor
                        locale: en_US
                        organization:
                          address:
                            city: New York
                            country_iso_code: USA
                            state: Manhattan
                            street_1: 113 MacDougal Street
                            street_2: 1st floor
                            zip_code: NY 10012
                          identification_number: '982837446'
                          name: Limark Company Inc.
                          organization_id: organization_id_001
                          tax_identification_number: 96-25472919
                        shipping_address:
                          additional_info: One article per box
                          city: New York
                          civility: M
                          company: LIMARK Company
                          company_2: Paris branch
                          country: USA
                          country_iso_code: USA
                          firstname: Smith
                          internal_additional_info: No additional information
                          lastname: Taylor
                          state: Manhattan
                          street_1: 113 MacDougal Street
                          street_2: 1st floor
                          zip_code: NY 10012
                      customer_debited_date: '2019-04-02T14:58:22.460Z'
                      customer_directly_pays_seller: false
                      delivery_date:
                        earliest: '2019-09-02T08:07:22.326Z'
                        latest: '2019-09-03T08:07:22.326Z'
                      fulfillment:
                        center:
                          code: FULFILLMENT_CENTER_CODE
                      fully_refunded: false
                      has_customer_message: false
                      has_incident: false
                      has_invoice: false
                      imprint_number: My_Imprint_Number
                      invoice_details:
                        document_details:
                        - format: PDF
                        - format: cXML
                        payment_terms:
                          days: 10
                          type: NET
                      last_updated_date: '2019-04-02T14:59:58Z'
                      leadtime_to_ship: 5
                      order_additional_fields: []
                      order_id: Order_00010-A
                      order_lines:
                      - can_open_incident: true
                        can_refund: true
                        cancelations:
                        - amount: 12.34
                          amount_breakdown:
                            parts:
                            - amount: 12.34
                              commissionable: true
                              debitable_from_customer: true
                              payable_to_shop: true
                          commission_amount: 2.38
                          commission_taxes: []
                          commission_total_amount: 2.38
                          created_date: '2022-08-04T09:37:58Z'
                          eco_contributions: []
                          fees:
                          - amount: 0.35
                            code: fee1
                          funding:
                            customer:
                              fees:
                                breakdown:
                                - amount: 0.35
                                  method: VISA_CARD
                              offer:
                                breakdown:
                                - amount: 12.34
                                  method: VISA_CARD
                              shipping:
                                breakdown:
                                - amount: 1.23
                                  method: VISA_CARD
                              total_amount: 13.92
                              total_tax_amount: 4.58
                            operator:
                              fees:
                                breakdown: []
                              offer:
                                breakdown: []
                              shipping:
                                breakdown: []
                              total_amount: 0
                              total_tax_amount: 0
                          id: '1122'
                          purchase_information:
                            purchase_commission_on_fees:
                              total_amount: 0.05
                            purchase_commission_on_price: 2.12
                            purchase_commission_on_shipping: 0.21
                            purchase_fee_amount:
                              total_amount: 0.3
                            purchase_price: 10.22
                            purchase_shipping_price: 1
                          quantity: 0
                          reason_code: '34'
                          shipping_amount: 1.23
                          shipping_amount_breakdown:
                            parts:
                            - amount: 1.23
                              commissionable: true
                              debitable_from_customer: true
                              payable_to_shop: true
                          shipping_taxes:
                          - amount: 1.54
                            amount_breakdown:
                              parts:
                              - amount: 1.54
                                commissionable: true
                                debitable_from_customer: true
                                payable_to_shop: false
                            code: tax1
                            purchase_tax:
                              purchase_amount: 1.27
                              purchase_rate: 7.5
                            rate: 17.5
                          - amount: 1.54
                            amount_breakdown:
                              parts:
                              - amount: 1.54
                                commissionable: false
                                debitable_from_customer: true
                                payable_to_shop: false
                            code: tax2
                            purchase_tax:
                              purchase_amount: 1.27
                              purchase_rate: 7.5
                            rate: 17.5
                          taxes:
                          - amount: 0.75
                            amount_breakdown:
                              parts:
                              - amount: 0.75
                                commissionable: true
                                debitable_from_customer: true
                                payable_to_shop: false
                            code: tax1
                            purchase_tax:
                              purchase_amount: 0.62
                              purchase_rate: 7.5
                            rate: 17.5
                          - amount: 0.75
                            amount_breakdown:
                              parts:
                              - amount: 0.75
                                commissionable: false
                                debitable_from_customer: true
                                payable_to_shop: false
                            code: tax2
                            purchase_tax:
                              purchase_amount: 0.62
                              purchase_rate: 7.5
                            rate: 17.5
                        category_code: '5110114'
                        category_label: Coffee Machines
                        commission_fee: 21.3
                        commission_taxes:
                        - amount: 0
                          code: TAXZERO
                          rate: 0
                        created_date: '2019-04-02T14:18:43Z'
                        debited_date: '2019-04-02T14:58:22Z'
                        description: null
                        eco_contributions:
                        - epr_category_code: FR_DEE
                          producer_id: EPR_PRODUCER_ID
                          producer_id_owner: SELLER
                          total_amount: 6
                          unit_amount: 2
                        fees:
                        - amount: 0.65
                          code: fee1
                        funding:
                          customer:
                            fees:
                              breakdown:
                              - amount: 0.65
                                method: VISA_CARD
                            offer:
                              breakdown:
                              - amount: 165
                                method: VISA_CARD
                            shipping:
                              breakdown:
                              - amount: 8
                                method: VISA_CARD
                            total_amount: 173.65
                            total_tax_amount: 40
                          operator:
                            fees:
                              breakdown: []
                            offer:
                              breakdown: []
                            shipping:
                              breakdown: []
                            total_amount: 0
                            total_tax_amount: 0
                        last_updated_date: '2019-04-02T14:59:58Z'
                        offer_id: 2130
                        offer_sku: S2000
                        offer_state_code: '11'
                        order_line_additional_fields:
                        - code: delivery-countries
                          type: MULTIPLE_VALUES_LIST
                          value:
                          - USA
                        order_line_id: Order_00010-A-1
                        order_line_index: 1
                        order_line_state: RECEIVED
                        order_line_state_reason_code: null
                        order_line_state_reason_label: null
                        origin_unit_price: 60
                        price: 165
                        price_additional_info: null
                        price_unit: 55
                        product_medias:
                        - media_url: /media/product/image/57b58b2e-8849-4d8d-9072-0aa33d314e5c
                          mime_type: JPEG
                          type: MEDIUM
                        - media_url: /media/product/image/8bc8241d-0747-4891-bb2e-881202f5465a
                          mime_type: JPEG
                          type: LARGE
                        - media_url: /media/product/image/d3fd1d4e-a943-4df0-8878-3343ba139dd9
                          mime_type: JPEG
                          type: SMALL
                        product_shop_sku: '125069'
                        product_sku: MKP100000000037254
                        product_title: Breville Cafe Roma Stainless Espresso/Cappuccino Machine - ESP8C
                        promotions: []
                        purchase_information:
                          purchase_commission_on_fees:
                            total_amount: 1
                          purchase_commission_on_price: 25.45
                          purchase_commission_on_shipping: 1.12
                          purchase_fee_amount:
                            total_amount: 1
                          purchase_price: 127.21
                          purchase_shipping_price: 5.65
                          purchase_unit_price: 137.39
                        quantity: 3
                        received_date: '2019-04-02T14:59:58Z'
                        refunds:
                        - amount: 6.82
                          commission_amount: 1.69
                          commission_tax_amount: 0
                          commission_taxes:
                          - amount: 0
                            code: TAXZERO
                          commission_total_amount: 1.69
                          created_date: '2022-08-04T09:40:41Z'
                          eco_contributions: []
                          fees:
                          - amount: 0.3
                            code: fee1
                          funding:
                            customer:
                              fees:
                                breakdown:
                                - amount: 0.3
                                  method: VISA_CARD
                              offer:
                                breakdown:
                                - amount: 6.82
                                  method: VISA_CARD
                              shipping:
                                breakdown:
                                - amount: 1.79
                                  method: VISA_CARD
                              total_amount: 8.91
                              total_tax_amount: 5.3
                            operator:
                              fees:
                                breakdown: []
                              offer:
                                breakdown: []
                              shipping:
                                breakdown: []
                              total_amount: 0
                              total_tax_amount: 0
                          id: '1106'
                          order_refund_id: f029dc92-e5ae-4b89-b342-cf254ddd4b4d
                          purchase_information:
                            purchase_commission_on_fees:
                              total_amount: 0.05
                            purchase_commission_on_price: 1.34
                            purchase_commission_on_shipping: 0.35
                            purchase_fee_amount:
                              total_amount: 0.3
                            purchase_price: 5.48
                            purchase_shipping_price: 1.44
                          quantity: 0
                          reason_code: '19'
                          refund_state: WAITING_REFUND_PAYMENT
                          shipping_amount: 1.79
                          shipping_taxes:
                          - amount: 2.24
                            code: tax1
                            purchase_tax:
                              purchase_amount: 1.8
                              purchase_rate: 1.5
                            rate: 17.5
                          - amount: 2.24
                            code: tax2
                            purchase_tax:
                              purchase_amount: 1.8
                              purchase_rate: 1.5
                            rate: 17.5
                          state: WAITING_REFUND_PAYMENT
                          tax_legal_notice: Tax Legal Notice
                          taxes:
                          - amount: 0.41
                            code: tax1
                            purchase_tax:
                              purchase_amount: 0.33
                              purchase_rate: 1.5
                            rate: 17.5
                          - amount: 0.41
                            code: tax2
                            purchase_tax:
                              purchase_amount: 0.33
                              purchase_rate: 1.5
                            rate: 17.5
                        shipped_date: '2019-04-02T14:58:39Z'
                        shipping_from:
                          address:
                            city: New York City
                            country_iso_code: USA
                            state: New York
                            street_1: 10E 40th Street
                            street_2: 14th floor
                            zip_code: '10016'
                          warehouse: null
                        shipping_price: 8
                        shipping_taxes:
                        - amount: 10
                          code: tax1
                          purchase_tax:
                            purchase_amount: 7.06
                          rate: 17.5
                        - amount: 10
                          code: tax2
                          purchase_tax:
                            purchase_amount: 7.06
                          tax_calculation_rule: PROPORTIONAL_TO_AMOUNT
                        tax_legal_notice: Tax Legal Notice
                        taxes:
                        - amount: 10
                          code: tax1
                          origin_unit_amount: 2
                          purchase_tax:
                            purchase_amount: 7.71
                          rate: 17.5
                          tax_calculation_rule: NONE
                        - amount: 10
                          code: tax2
                          origin_unit_amount: 2
                          purchase_tax:
                            purchase_amount: 7.71
                        total_commission: 21.3
                        total_price: 173
                      order_refunds:
                      - order_refund_id: f029dc92-e5ae-4b89-b342-cf254ddd4b4d
                        taxes:
                        - code: tax1
                          rate: 17.5
                          total_amount: 2.65
                        - code: tax2
                          rate: 17.5
                          total_amount: 2.65
                      order_state: RECEIVED
                      order_state_reason_code: null
                      order_state_reason_label: null
                      order_tax_mode: TAX_EXCLUDED
                      order_taxes:
                      - code: tax1
                        rate: 17.5
                        total_amount: 40
                      - code: tax2
                        rate: null
                        total_amount: 40
                      pay_out_psp_code: NOT_SPECIFIED
                      payment_destination:
                        '@type': IBAN
                        iban: '123456789'
                        payment_reference: TX1000
                      payment_type: Visa
                      payment_workflow: PAY_ON_ACCEPTANCE
                      price: 165
                      promotions:
                        applied_promotions: []
                        total_deduced_amount: 0
                      quote_id: null
                      references:
                        order_reference_for_customer: ref_customer
                        order_reference_for_seller: ref_seller
                      shipping_carrier_code: UPS
                      shipping_carrier_standard_code: UPS
                      shipping_company: UPS
                      shipping_deadline: '2019-09-01T23:59:59.999Z'
                      shipping_price: 8
                      shipping_pudo_id: C1039
                      shipping_tracking: '2344'
                      shipping_tracking_url: https://wwwapps.ups.com/WebTracking/track?track=yes&trackNums=2344
                      shipping_type_code: STD
                      shipping_type_label: Standard
                      shipping_type_standard_code: CU_ADD-STD
                      shipping_zone_code: INT1
                      shipping_zone_label: International 1
                      shop_id: 2000
                      shop_name: ACME SHOP
                      total_commission: 21.3
                      total_price: 173
                      transaction_date: '2019-06-25T07:42:21.215Z'
                      transaction_number: TR_MIR-PHHV83UB
                      waiting_funding_confirmation: 'false'
                      waiting_tax_confirmation: 'false'
                    total_count: 1
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    orders:
                    - acceptance_decision_date: '2023-03-28T09:34:42Z'
                      can_cancel: true
                      can_evaluate: true
                      can_shop_ship: true
                      channel:
                        code: string
                        label: string
                      commercial_id: string
                      commissionable: true
                      created_date: '2023-03-28T09:34:42Z'
                      currency_iso_code: AED
                      customer:
                        accounting_contact:
                          civility: string
                          customer_id: string
                          email: string
                          firstname: string
                          lastname: string
                          locale: string
                        billing_address:
                          city: string
                          civility: string
                          company: string
                          company_2: string
                          country: string
                          country_iso_code: AFG
                          firstname: string
                          lastname: string
                          phone: string
                          phone_secondary: string
                          state: string
                          street_1: string
                          street_2: string
                          zip_code: string
                        civility: string
                        customer_id: string
                        delivery_contact:
                          civility: string
                          customer_id: string
                          email: string
                          firstname: string
                          lastname: string
                          locale: string
                        email: string
                        firstname: string
                        lastname: string
                        locale: string
                        organization:
                          address:
                            city: string
                            country_iso_code: AFG
                            state: string
                            street_1: string
                            street_2: string
                            zip_code: string
                          identification_number: string
                          name: string
                          organization_id: string
                          tax_identification_number: string
                        shipping_address:
                          additional_info: string
                          city: string
                          civility: string
                          company: string
                          company_2: string
                          country: string
                          country_iso_code: AFG
                          firstname: string
                          internal_additional_info: string
                          lastname: string
                          phone: string
                          phone_secondary: string
                          state: string
                          street_1: string
                          street_2: string
                          zip_code: string
                      customer_debited_date: '2023-03-28T09:34:42Z'
                      customer_directly_pays_seller: true
                      delivery_date:
                        earliest: '2023-03-28T09:34:42Z'
                        latest: '2023-03-28T09:34:42Z'
                      discount_campaigns:
                      - identifier: string
                      fulfillment:
                        center:
                          code: string
                      fully_refunded: true
                      has_customer_message: true
                      has_incident: true
                      has_invoice: true
                      imprint_number: string
                      invoice_details:
                        document_details:
                        - format: PDF
                        payment_terms:
                          days: 0
                          type: END_OF_MONTH
                      last_updated_date: '2023-03-28T09:34:42Z'
                      leadtime_to_ship: 0
                      order_additional_fields:
                      - code: string
                        type: STRING
                      order_id: string
                      order_lines:
                      - can_open_incident: true
                        can_refund: true
                        cancelations:
                        - amount: 0
                          amount_breakdown:
                            parts:
                            - amount: 0
                              commissionable: true
                              debitable_from_customer: true
                              payable_to_shop: true
                          commission_amount: 0
                          commission_taxes:
                          - amount: 0
                            code: string
                          commission_total_amount: 0
                          created_date: '2023-03-28T09:34:42Z'
                          eco_contributions:
                          - epr_category_code: string
                            producer_id: string
                            producer_id_owner: string
                            total_amount: 0
                            unit_amount: 0
                          fees:
                          - amount: 0
                            code: string
                          funding:
                            customer:
                              fees:
                                breakdown:
                                - amount: 0
                                  method: string
                              offer:
                                breakdown:
                                - amount: 0
                                  method: string
                              shipping:
                                breakdown:
                                - amount: 0
                                  method: string
                              total_amount: 0
                              total_tax_amount: 0
                            operator:
                              fees:
                                breakdown:
                                - amount: 0
                                  method: string
                              offer:
                                breakdown:
                                - amount: 0
                                  method: string
                              shipping:
                                breakdown:
                                - amount: 0
                                  method: string
                              total_amount: 0
                              total_tax_amount: 0
                          id: string
                          purchase_information:
                            purchase_commission_on_fees:
                              total_amount: 0
                            purchase_commission_on_price: 0
                            purchase_commission_on_shipping: 0
                            purchase_fee_amount:
                              total_amount: 0
                            purchase_price: 0
                            purchase_shipping_price: 0
                          quantity: 0
                          reason_code: string
                          shipping_amount: 0
                          shipping_amount_breakdown:
                            parts:
                            - amount: 0
                              commissionable: true
                              debitable_from_customer: true
                              payable_to_shop: true
                          shipping_taxes:
                          - amount: 0
                            amount_breakdown:
                              parts:
                              - amount: 0
                                commissionable: true
                                debitable_from_customer: true
                                payable_to_shop: true
                            code: string
                            purchase_tax:
                              purchase_amount: 0
                              purchase_rate: 0
                            rate: 0
                          taxes:
                          - amount: 0
                            amount_breakdown:
                              parts:
                              - amount: 0
                                commissionable: true
                                debitable_from_customer: true
                                payable_to_shop: true
                            code: string
                            purchase_tax:
                              purchase_amount: 0
                              purchase_rate: 0
                            rate: 0
                        category_code: string
                        category_label: string
                        commission_fee: 0
                        commission_rate_vat: 0
                        commission_taxes:
                        - amount: 0
                          code: string
                          rate: 0
                        commission_vat: 0
                        created_date: '2023-03-28T09:34:42Z'
                        debited_date: '2023-03-28T09:34:42Z'
                        description: string
                        discount_campaign:
                          identifier: string
                        eco_contributions:
                        - epr_category_code: string
                          producer_id: string
                          producer_id_owner: string
                          total_amount: 0
                          unit_amount: 0
                        fees:
                        - amount: 0
                          code: string
                        funding:
                          customer:
                            fees:
                              breakdown:
                              - amount: 0
                                method: string
                            offer:
                              breakdown:
                              - amount: 0
                                method: string
                            shipping:
                              breakdown:
                              - amount: 0
                                method: string
                            total_amount: 0
                            total_tax_amount: 0
                          operator:
                            fees:
                              breakdown:
                              - amount: 0
                                method: string
                            offer:
                              breakdown:
                              - amount: 0
                                method: string
                            shipping:
                              breakdown:
                              - amount: 0
                                method: string
                            total_amount: 0
                            total_tax_amount: 0
                        last_updated_date: '2023-03-28T09:34:42Z'
                        measurement:
                          actual_measurement: 0
                          adjustment_limit: 0
                          measurement_unit: GRAM
                          ordered_measurement: 0
                        offer_id: 0
                        offer_sku: string
                        offer_state_code: string
                        order_line_additional_fields:
                        - code: string
                          type: STRING
                        order_line_id: string
                        order_line_index: 0
                        order_line_state: STAGING
                        order_line_state_reason_code: string
                        order_line_state_reason_label: string
                        origin_unit_price: 0
                        price: 0
                        price_additional_info: string
                        price_amount_breakdown:
                          parts:
                          - amount: 0
                            commissionable: true
                            debitable_from_customer: true
                            payable_to_shop: true
                        price_unit: 0
                        product_medias:
                        - media_url: string
                          mime_type: string
                          type: string
                        product_shop_sku: string
                        product_sku: string
                        product_title: string
                        promotions:
                        - apportioned: true
                          campaign:
                            identifier: string
                          configuration:
                            amount_off: 0
                            free_items_quantity: 0
                            internal_description: string
                            percentage_off: 0
                            reduced_unit_price: 0
                            type: ALL
                          deduced_amount: 0
                          id: string
                          offered_quantity: 0
                          promo_code: string
                        purchase_information:
                          purchase_commission_on_fees:
                            total_amount: 0
                          purchase_commission_on_price: 0
                          purchase_commission_on_shipping: 0
                          purchase_fee_amount:
                            total_amount: 0
                          purchase_price: 0
                          purchase_shipping_price: 0
                          purchase_unit_price: 0
                        quantity: 0
                        received_date: '2023-03-28T09:34:42Z'
                        refunds:
                        - amount: 0
                          amount_breakdown:
                            parts:
                            - amount: 0
                              commissionable: true
                              debitable_from_customer: true
                              payable_to_shop: true
                          commission_amount: 0
                          commission_tax_amount: 0
                          commission_taxes:
                          - amount: 0
                            code: string
                          commission_total_amount: 0
                          created_date: '2023-03-28T09:34:42Z'
                          eco_contributions:
                          - epr_category_code: string
                            producer_id: string
                            producer_id_owner: string
                            total_amount: 0
                            unit_amount: 0
                          fees:
                          - amount: 0
                            code: string
                          funding:
                            customer:
                              fees:
                                breakdown:
                                - amount: 0
                                  method: string
                              offer:
                                breakdown:
                                - amount: 0
                                  method: string
                              shipping:
                                breakdown:
                                - amount: 0
                                  method: string
                              total_amount: 0
                              total_tax_amount: 0
                            operator:
                              fees:
                                breakdown:
                                - amount: 0
                                  method: string
                              offer:
                                breakdown:
                                - amount: 0
                                  method: string
                              shipping:
                                breakdown:
                                - amount: 0
                                  method: string
                              total_amount: 0
                              total_tax_amount: 0
                          id: string
                          order_refund_id: string
                          purchase_information:
                            purchase_commission_on_fees:
                              total_amount: 0
                            purchase_commission_on_price: 0
                            purchase_commission_on_shipping: 0
                            purchase_fee_amount:
                              total_amount: 0
                            purchase_price: 0
                            purchase_shipping_price: 0
                          quantity: 0
                          reason_code: string
                          refund_state: WAITING_REFUND_TAX_CONFIRMATION
                          shipping_amount: 0
                          shipping_amount_breakdown:
                            parts:
                            - amount: 0
                              commissionable: true
                              debitable_from_customer: true
                              payable_to_shop: true
                          shipping_taxes:
                          - amount: 0
                            amount_breakdown:
                              parts:
                              - amount: 0
                                commissionable: true
                                debitable_from_customer: true
                                payable_to_shop: true
                            code: string
                            purchase_tax:
                              purchase_amount: 0
                              purchase_rate: 0
                            rate: 0
                          state: WAITING_REFUND
                          tax_legal_notice: string
                          taxes:
                          - amount: 0
                            amount_breakdown:
                              parts:
                              - amount: 0
                                commissionable: true
                                debitable_from_customer: true
                                payable_to_shop: true
                            code: string
                            purchase_tax:
                              purchase_amount: 0
                              purchase_rate: 0
                            rate: 0
                          transaction_date: '2023-03-28T09:34:42Z'
                          transaction_number: string
                        shipped_date: '2023-03-28T09:34:42Z'
                        shipping_from:
                          address:
                            city: string
                            country_iso_code: string
                            state: string
                            street_1: string
                            street_2: string
                            zip_code: string
                          warehouse:
                            code: string
                        shipping_price: 0
                        shipping_price_additional_unit: 0
                        shipping_price_amount_breakdown:
                          parts:
                          - amount: 0
                            commissionable: true
                            debitable_from_customer: true
                            payable_to_shop: true
                        shipping_price_unit: 0
                        shipping_taxes:
                        - amount: 0
                          amount_breakdown:
                            parts:
                            - amount: 0
                              commissionable: true
                              debitable_from_customer: true
                              payable_to_shop: true
                          code: string
                          purchase_tax:
                            purchase_amount: 0
                            purchase_rate: 0
                          rate: 0
                          tax_calculation_rule: PROPORTIONAL_TO_AMOUNT
                        tax_legal_notice: string
                        tax_recalculation_required: true
                        taxes:
                        - amount: 0
                          amount_breakdown:
                            parts:
                            - amount: 0
                              commissionable: true
                              debitable_from_customer: true
                              payable_to_shop: true
                          code: string
                          origin_unit_amount: 0
                          purchase_tax:
                            purchase_amount: 0
                            purchase_rate: 0
                          rate: 0
[...]
