openapi: 3.1.0
info:
  description: '{% partial file="/partial-content/product/connect-channel-platform/rest/connect/openapi-description.md" /%}'
  title: Mirakl Connect Channel Platform APIs Carriers Invoicing and Accounting API
  version: ''
servers:
- description: Connect Channel Platform API
  url: https://miraklconnect.com/api/channel-platform
tags:
- name: Invoicing and Accounting
paths:
  /api/document-request/requests:
    get:
      description: '<div class="api-description-extension">

        <div class="extension-title">Pagination</div>


        <p>This resource supports seek pagination (<a href="#section/Seek-pagination-and-sort">see documentation</a>)</p>


        <div class="extension-title">Sort fields</div>


        <code>sort</code> field can have the following values:<ul><li><b>dateCreated</b> (Default) - Sort by creation date (desc by default)</li></ul>


        </div>'
      operationId: DR11
      parameters:
      - description: Filter by accounting document request identifier.
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: Filter by accounting document number.
        explode: true
        in: query
        name: document_number
        required: false
        schema:
          type: string
        style: form
      - description: Filter accounting document requests created after the given date.
        explode: true
        in: query
        name: date_created_from
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - description: Filter accounting document requests created before the given date.
        explode: true
        in: query
        name: date_created_to
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - description: Filter accounting document requests updated after the given date.
        explode: true
        in: query
        name: last_updated_from
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - description: Filter accounting document requests updated before the given date.
        explode: true
        in: query
        name: last_updated_to
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - description: Filter accounting document requests issued after the given date.
        explode: true
        in: query
        name: issue_date_from
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - description: Filter accounting document requests issued before the given date.
        explode: true
        in: query
        name: issue_date_to
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - description: Filter by accounting document request state. This parameter can be supplied multiple times.
        explode: true
        in: query
        name: state
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - STAGING
            - TO_PROCESS
            - ISSUED
            - CANCELED
            maxLength: 100
            minLength: 0
          maxItems: 100
          minItems: 0
        style: form
      - description: Filter by accounting document request type. This parameter can be supplied multiple times.
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - INVOICE
            - CREDIT_NOTE
            maxLength: 100
            minLength: 0
          maxItems: 100
          minItems: 0
        style: form
      - description: Filter by accounting document request issuer type. This parameter can be supplied multiple times.
        explode: true
        in: query
        name: issuer_type
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - OPERATOR
            - SHOP
            maxLength: 100
            minLength: 0
          maxItems: 100
          minItems: 0
        style: form
      - description: Filter by the shop identifier linked to the accounting document request entity. This parameter can be supplied multiple times.
        explode: true
        in: query
        name: shop_ids
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int64
            maximum: 100
            minimum: 0
          maxItems: 100
          minItems: 0
        style: form
      - description: 'Filter by accounting document request entity identifier. This parameter can be supplied multiple times.


          The `entity_type` must be specified to use this filter, otherwise an error 400 will be returned.


          Example: `entity_id=order1-A&entity_id=order20-A&entity_type=PRODUCT_LOGISTIC_ORDER`'
        explode: true
        in: query
        name: entity_id
        required: false
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            minLength: 0
          maxItems: 100
          minItems: 0
        style: form
      - description: Filter by accounting document request entity type. This parameter can be supplied multiple times.
        explode: true
        in: query
        name: entity_type
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - PRODUCT_LOGISTIC_ORDER
            - SHOP_BILLING_CYCLE_PURCHASE_ORDER
            - LOGISTIC_PURCHASE_ORDER
            - FEES
            - ONE_OFF_FEES
            maxLength: 100
            minLength: 0
          maxItems: 100
          minItems: 0
        style: form
      - description: 'Filter accounting document requests generated by a shop billing cycle having the given identifier.


          This filter is only available for document requests of the type: `FEES`, `ONE_OFF_FEES`, `SHOP_BILLING_CYCLE_PURCHASE_ORDER`.'
        explode: true
        in: query
        name: shop_billing_cycle_id
        required: false
        schema:
          type: string
        style: form
      - description: 'Filter accounting document requests generated by shop billing cycle after the given date.


          This filter is only available for document requests of the type: `FEES`, `ONE_OFF_FEES`, `SHOP_BILLING_CYCLE_PURCHASE_ORDER`.


          This parameter was previously named `billing_cycle_from`, which is still accepted but deprecated.'
        explode: true
        in: query
        name: shop_billing_cycle_from
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - description: 'Filter accounting document requests generated by shop billing cycle before the given date.


          This filter is only available for document requests of the type: `FEES`, `ONE_OFF_FEES`, `SHOP_BILLING_CYCLE_PURCHASE_ORDER`.


          This parameter was previously named `billing_cycle_to`, which is still accepted but deprecated.'
        explode: true
        in: query
        name: shop_billing_cycle_to
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - description: 'Filter by accounting document request payment state.


          This filter is only available for document requests of the type: `SHOP_BILLING_CYCLE_PURCHASE_ORDER`, `LOGISTIC_PURCHASE_ORDER`, `FEES`.'
        explode: true
        in: query
        name: payment_state
        required: false
        schema:
          type: string
          enum:
          - PAID
          - PENDING
        style: form
      responses:
        '200':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: List all document requests
                  value:
                    data:
                    - currency_iso_code: EUR
                      date_created: '2025-06-02T00:00:00Z'
                      document_details:
                      - format: PDF
                      due_date: '2025-07-02T00:00:00Z'
                      entities:
                        ship_to_iso_country_code: FRA
                        shop_billing_cycle:
                          date_from: '2024-01-01T08:00:01Z'
                          date_to: '2024-01-01T08:00:01Z'
                          id: df3a1eb6-3947-4102-ad4e-ef621ad66671
                      entity_date_created: '2025-06-01T00:00:00Z'
                      entity_id: df3a1eb6-3947-4102-ad4e-ef621ad66671
                      entity_type: SHOP_BILLING_CYCLE_PURCHASE_ORDER
                      id: f8a553c6-0adc-4544-bed8-736221272f2a
                      initial_payment_state: NOT_PAID
                      issue_date: '2025-06-02T00:00:00Z'
                      issuer:
                        id: 837606d6-3416-11f1-9cb4-33f11d6a3b91
                        organization:
                          address:
                            city: Paris
                            country_iso_code: FRA
                            street_1: 46 Rue de Montmorency
                            zip_code: '75003'
                          electronic_address: 0007:12345678901234
                          identification_number: '12345678912345'
                          local_tax_number: FRXX123456789
                          local_tax_number_country: FRA
                          name: Acme Marketplace
                          phone_number: '+33172316200'
                          tax_identification_number: '123456789'
                          tax_number_country: FRA
                        type: SHOP
                      last_updated: '2025-06-02T00:00:00Z'
                      payment_terms:
                        days: 30
                        type: NET
                      recipient:
                        billing_address:
                          city: Paris
                          company: Acme Marketplace
                          country: France
                          country_iso_code: FRA
                          state: Île-de-France
                          street_1: 12, rue de Lübeck
                          street_2: Bâtiment A
                          zip_code: '75116'
                        id: 59408d80-340e-11f1-a5a7-4bc65396d791
                        locale: fr_FR
                        organization:
                          electronic_address: 0007:12345678901234
                          identification_number: '53089799000079'
                          local_tax_number: FR57530897990
                          local_tax_number_country: FRA
                          name: Mirakl
                          organization_id: a16f4e36-3411-11f1-803d-9342431024ae
                          phone_number: '+33172316200'
                          tax_identification_number: '530897990'
                          tax_number_country: FRA
                        type: OPERATOR
                      state: TO_PROCESS
                      taxes:
                      - code: TVA
                        rate: 20
                        total_amount: 1300
                      total_amount_excluding_taxes: 6500
                      total_amount_including_taxes: 7800
                      total_tax_amount: 1300
                      type: INVOICE
                    - currency_iso_code: EUR
                      date_created: '2025-06-02T00:00:00Z'
                      document_details: []
                      due_date: '2025-07-02T00:00:00Z'
                      entities:
                        shop_billing_cycle:
                          date_from: '2023-12-01T00:00:00Z'
                          date_to: '2023-12-31T23:59:59.999Z'
                          id: df3a1eb6-3947-4102-ad4e-ef621ad66671
                      entity_date_created: '2025-06-01T00:00:00Z'
                      entity_id: df3a1eb6-3947-4102-ad4e-ef621ad66671
                      entity_type: FEES
                      id: f1a2b3c4-5678-9abc-def0-112233445588
                      initial_documents:
                      - id: 38a9d7a2-3418-11f1-9541-abc065fa90d8
                        issue_date: '2025-06-02T00:00:00Z'
                        type: INVOICE
                      initial_payment_state: NOT_PAID
                      issue_date: '2025-06-02T00:00:00Z'
                      issuer:
                        id: 59408d80-340e-11f1-a5a7-4bc65396d791
                        organization:
                          address:
                            city: Paris
                            country_iso_code: FRA
                            state: France
                            street_1: 12, rue de Lübeck
                            street_2: Bâtiment A
                            zip_code: '75116'
                          electronic_address: 0007:12345678901234
                          identification_number: '53089799000079'
                          local_tax_number: FR57530897990
                          local_tax_number_country: FRA
                          name: Mirakl
                          phone_number: '+33172316200'
                          tax_identification_number: '530897990'
                          tax_number_country: FRA
                        type: OPERATOR
                      last_updated: '2025-06-02T00:00:00Z'
                      payment_terms:
                        days: 30
                        type: NET
                      recipient:
                        billing_address:
                          city: Paris
                          company: Acme Marketplace
                          country_iso_code: FRA
                          street_1: 46 Rue de Montmorency
                          zip_code: '75003'
                        id: 9cc3020c-3415-11f1-8d4f-bf432e4e10a7
                        locale: fr_FR
                        organization:
                          electronic_address: 0007:12345678901234
                          identification_number: '12345678912345'
                          local_tax_number: FRXX123456789
                          local_tax_number_country: FRA
                          name: Acme Marketplace
                          organization_id: a3c9c9c8-3415-11f1-9e5f-5fb45bd58dcf
                          phone_number: '+33172316200'
                          tax_identification_number: '123456789'
                          tax_number_country: FRA
                        type: SHOP
                      state: TO_PROCESS
                      taxes:
                      - code: TVA
                        rate: 20
                        total_amount: 12
                      total_amount_excluding_taxes: 60
                      total_amount_including_taxes: 72
                      total_tax_amount: 12
                      type: CREDIT_NOTE
                    - currency_iso_code: EUR
                      date_created: '2025-06-02T00:00:00Z'
                      document_details:
                      - format: PDF
                      due_date: '2025-07-02T00:00:00Z'
                      entities:
                        shipping_information:
                          ship_to_address:
                            city: Paris
                            company: Acme Marketplace
                            country_iso_code: FRA
                            state: Île-de-France
                            street1: 12, rue de Lübeck
                            street2: Bâtiment A
                            zip_code: '75116'
                      entity_date_created: '2025-06-01T00:00:00Z'
                      entity_id: 123123123-A
                      entity_type: LOGISTIC_PURCHASE_ORDER
                      id: f12e02f4-3421-11f1-8710-8ba3659d2900
                      initial_payment_state: NOT_PAID
                      issue_date: '2025-06-02T00:00:00Z'
                      issuer:
                        id: 837606d6-3416-11f1-9cb4-33f11d6a3b91
                        organization:
                          address:
                            city: Paris
                            country_iso_code: FRA
                            street_1: 46 Rue de Montmorency
                            zip_code: '75003'
                          electronic_address: 0007:12345678901234
                          identification_number: '12345678912345'
                          local_tax_number: FRXX123456789
                          local_tax_number_country: FRA
                          name: Acme Marketplace
                          phone_number: '+33172316200'
                          tax_identification_number: '123456789'
                          tax_number_country: FRA
                        type: SHOP
                      last_updated: '2025-06-02T00:00:00Z'
                      payment_terms:
                        days: 30
                        type: NET
                      recipient:
                        billing_address:
                          city: Paris
                          company: Acme Marketplace
                          country: France
                          country_iso_code: FRA
                          state: Île-de-France
                          street_1: 12, rue de Lübeck
                          street_2: Bâtiment A
                          zip_code: '75116'
                        id: 59408d80-340e-11f1-a5a7-4bc65396d791
                        locale: fr_FR
                        organization:
                          electronic_address: 0007:12345678901234
                          identification_number: '53089799000079'
                          local_tax_number: FR57530897990
                          local_tax_number_country: FRA
                          name: Mirakl
                          organization_id: a16f4e36-3411-11f1-803d-9342431024ae
                          phone_number: '+33172316200'
                          tax_identification_number: '530897990'
                          tax_number_country: FRA
                        type: OPERATOR
                      state: TO_PROCESS
                      taxes:
                      - code: TVA
                        rate: 20
                        total_amount: 20
                      total_amount_excluding_taxes: 100
                      total_amount_including_taxes: 120
                      total_tax_amount: 20
                      type: INVOICE
                    - currency_iso_code: EUR
                      date_created: '2025-06-02T00:00:00Z'
                      document_details:
                      - format: PDF
                      due_date: '2025-07-02T00:00:00Z'
                      entities:
                        ship_to_iso_country_code: FRA
                        shop_billing_cycle:
                          date_from: '2024-01-01T08:00:01Z'
                          date_to: '2024-01-01T08:00:01Z'
                          id: df3a1eb6-3947-4102-ad4e-ef621ad66671
                      entity_date_created: '2025-06-01T00:00:00Z'
                      entity_id: df3a1eb6-3947-4102-ad4e-ef621ad66671
                      entity_type: SHOP_BILLING_CYCLE_PURCHASE_ORDER
                      id: c4a7e1b2-5d39-4f8a-b123-9876abcdef01
                      initial_payment_state: NOT_PAID
                      issue_date: '2025-06-02T00:00:00Z'
                      issuer:
                        id: 837606d6-3416-11f1-9cb4-33f11d6a3b91
                        organization:
                          address:
                            city: Paris
                            country_iso_code: FRA
                            street_1: 46 Rue de Montmorency
                            zip_code: '75003'
                          electronic_address: 0007:12345678901234
                          identification_number: '12345678912345'
                          local_tax_number: FRXX123456789
                          local_tax_number_country: FRA
                          name: Acme Marketplace
                          phone_number: '+33172316200'
                          tax_identification_number: '123456789'
                          tax_number_country: FRA
                        type: SHOP
                      last_updated: '2025-06-02T00:00:00Z'
                      payment_terms:
                        days: 30
                        type: NET
                      recipient:
                        billing_address:
                          city: Paris
                          company: Acme Marketplace
                          country: France
                          country_iso_code: FRA
                          state: Île-de-France
                          street_1: 12, rue de Lübeck
                          street_2: Bâtiment A
                          zip_code: '75116'
                        id: 59408d80-340e-11f1-a5a7-4bc65396d791
                        locale: fr_FR
                        organization:
                          electronic_address: 0007:12345678901234
                          identification_number: '53089799000079'
                          local_tax_number: FR57530897990
                          local_tax_number_country: FRA
                          name: Mirakl
                          organization_id: a16f4e36-3411-11f1-803d-9342431024ae
                          phone_number: '+33172316200'
                          tax_identification_number: '530897990'
                          tax_number_country: FRA
                        type: OPERATOR
                      state: TO_PROCESS
                      taxes:
                      - code: TVA
                        rate: 20
                        total_amount: 300
                      total_amount_excluding_taxes: 1500
                      total_amount_including_taxes: 1800
                      total_tax_amount: 300
                      type: CREDIT_NOTE
                    - currency_iso_code: EUR
                      date_created: '2025-06-02T00:00:00Z'
                      document_details: []
                      due_date: '2025-07-02T00:00:00Z'
                      entity_date_created: '2025-06-01T00:00:00Z'
                      entity_id: c3d4e5f6-3430-11f1-b71b-eb1d36ddc383
                      entity_type: ONE_OFF_FEES
                      id: c3d4e5f6-3430-11f1-b71b-eb1d36ddc383
                      initial_documents:
                      - id: be4efb5a-342f-11f1-b71b-eb1d36ddc382
                        issue_date: '2025-06-02T00:00:00Z'
                        type: INVOICE
                      initial_payment_state: NOT_PAID
                      issue_date: '2025-06-02T00:00:00Z'
                      issuer:
                        id: 59408d80-340e-11f1-a5a7-4bc65396d791
                        organization:
                          address:
                            city: Paris
                            country_iso_code: FRA
                            state: France
                            street_1: 12, rue de Lübeck
                            street_2: Bâtiment A
                            zip_code: '75116'
                          electronic_address: 0007:12345678901234
                          identification_number: '53089799000079'
                          local_tax_number: FR57530897990
                          local_tax_number_country: FRA
                          name: Mirakl
                          phone_number: '+33172316200'
                          tax_identification_number: '530897990'
                          tax_number_country: FRA
                        type: OPERATOR
                      last_updated: '2025-06-02T00:00:00Z'
                      payment_terms:
                        days: 30
                        type: NET
                      recipient:
                        billing_address:
                          city: Paris
                          company: Acme Marketplace
                          country_iso_code: FRA
                          street_1: 46 Rue de Montmorency
                          zip_code: '75003'
                        id: 9cc3020c-3415-11f1-8d4f-bf432e4e10a7
                        locale: fr_FR
                        organization:
                          electronic_address: 0007:12345678901234
                          identification_number: '12345678912345'
                          local_tax_number: FRXX123456789
                          local_tax_number_country: FRA
                          name: Acme Marketplace
                          organization_id: a3c9c9c8-3415-11f1-9e5f-5fb45bd58dcf
                          phone_number: '+33172316200'
                          tax_identification_number: '123456789'
                          tax_number_country: FRA
                        type: SHOP
                      state: TO_PROCESS
                      taxes:
                      - code: TVA
                        rate: 20
                        total_amount: 12
                      total_amount_excluding_taxes: 60
                      total_amount_including_taxes: 72
                      total_tax_amount: 12
                      type: CREDIT_NOTE
                    - currency_iso_code: EUR
                      date_created: '2025-06-02T00:00:00Z'
                      document_details: []
                      due_date: '2025-07-02T00:00:00Z'
                      entity_date_created: '2025-06-01T00:00:00Z'
                      entity_id: be4efb5a-342f-11f1-b71b-eb1d36ddc382
                      entity_type: ONE_OFF_FEES
                      id: be4efb5a-342f-11f1-b71b-eb1d36ddc382
                      initial_payment_state: NOT_PAID
                      issue_date: '2025-06-02T00:00:00Z'
                      issuer:
                        id: 59408d80-340e-11f1-a5a7-4bc65396d791
                        organization:
                          address:
                            city: Paris
                            country_iso_code: FRA
                            state: France
                            street_1: 12, rue de Lübeck
                            street_2: Bâtiment A
                            zip_code: '75116'
                          electronic_address: 0007:12345678901234
                          identification_number: '53089799000079'
                          local_tax_number: FR57530897990
                          local_tax_number_country: FRA
                          name: Mirakl
                          phone_number: '+33172316200'
                          tax_identification_number: '530897990'
                          tax_number_country: FRA
                        type: OPERATOR
                      last_updated: '2025-06-02T00:00:00Z'
                      payment_terms:
                        days: 30
                        type: NET
                      recipient:
                        billing_address:
                          city: Paris
                          company: Acme Marketplace
                          country_iso_code: FRA
                          street_1: 46 Rue de Montmorency
                          zip_code: '75003'
                        id: 9cc3020c-3415-11f1-8d4f-bf432e4e10a7
                        locale: fr_FR
                        organization:
                          electronic_address: 0007:12345678901234
                          identification_number: '12345678912345'
                          local_tax_number: FRXX123456789
                          local_tax_number_country: FRA
                          name: Acme Marketplace
                          organization_id: a3c9c9c8-3415-11f1-9e5f-5fb45bd58dcf
                          phone_number: '+33172316200'
                          tax_identification_number: '123456789'
                          tax_number_country: FRA
                        type: SHOP
                      state: TO_PROCESS
                      taxes:
                      - code: TVA
                        rate: 20
                        total_amount: 20
                      total_amount_excluding_taxes: 100
                      total_amount_including_taxes: 120
                      total_tax_amount: 20
                      type: INVOICE
                    - currency_iso_code: EUR
                      date_created: '2025-06-02T00:00:00Z'
                      document_details:
                      - format: PDF
                      due_date: '2025-07-02T00:00:00Z'
                      entity_date_created: '2025-06-01T00:00:00Z'
                      entity_id: 1234567890-A
                      entity_type: PRODUCT_LOGISTIC_ORDER
                      id: bdf76a80-216d-441d-b650-7736076015d0
                      initial_payment_state: NOT_PAID
                      issue_date: '2025-06-02T00:00:00Z'
                      issuer:
                        id: 837606d6-3416-11f1-9cb4-33f11d6a3b91
                        organization:
                          address:
                            city: Paris
                            country_iso_code: FRA
                            street_1: 46 Rue de Montmorency
                            zip_code: '75003'
                          electronic_address: 0007:12345678901234
                          identification_number: '12345678912345'
                          local_tax_number: FRXX123456789
                          local_tax_number_country: FRA
                          name: Acme Marketplace
                          phone_number: '+33172316200'
                          tax_identification_number: '123456789'
                          tax_number_country: FRA
                        type: SHOP
                      last_updated: '2025-06-02T00:00:00Z'
                      payment_destination:
                        '@type': IBAN
                        iban: FR7630001007941234567890185
                        payment_reference: REF-A1654
                      payment_terms:
                        days: 30
                        type: NET
                      recipient:
                        billing_address:
                          city: Noisy-le-grand
                          civility: MRS
                          country: France
                          country_iso_code: FRA
                          firstname: Jeanne
                          lastname: Dupont
                          street_1: 48 boulevard de Prague
                          street_2: Bâtiment 2
                          zip_code: '93160'
                        id: 62697a48-3413-11f1-bfc1-5f49c5e88baf
                        locale: fr_FR
                        shipping_address:
                          city: Paris
                          civility: MRS
                          company: Mirakl
                          country: France
                          country_iso_code: FRA
                          firstname: Jeanne
                          lastname: Dupont
                          state: Île-de-France
                          street_1: 12, rue de Lübeck
                          street_2: Bâtiment A
                          zip_code: '75116'
                      state: ISSUED
                      taxes:
                      - code: TVA
                        rate: 20
                        total_amount: 20
                      total_amount_excluding_taxes: 100
                      total_amount_including_taxes: 120
                      total_tax_amount: 20
                      type: INVOICE
                    - currency_iso_code: EUR
                      date_created: '2025-06-02T00:00:00Z'
                      document_details:
                      - format: PDF
                      due_date: '2025-07-02T00:00:00Z'
                      entities:
                        shipping_information:
                          ship_to_address:
                            city: Paris
                            company: Acme Marketplace
                            country_iso_code: FRA
                            state: Île-de-France
                            street1: 12, rue de Lübeck
                            street2: Bâtiment A
                            zip_code: '75116'
                      entity_date_created: '2025-06-01T00:00:00Z'
                      entity_id: 123123123-A
                      entity_type: LOGISTIC_PURCHASE_ORDER
                      id: a23b4c5d-6789-4def-a012-345678abcdef
                      initial_payment_state: NOT_PAID
                      issue_date: '2025-06-02T00:00:00Z'
                      issuer:
                        id: 837606d6-3416-11f1-9cb4-33f11d6a3b91
                        organization:
                          address:
                            city: Paris
                            country_iso_code: FRA
                            street_1: 46 Rue de Montmorency
                            zip_code: '75003'
                          electronic_address: 0007:12345678901234
                          identification_number: '12345678912345'
                          local_tax_number: FRXX123456789
                          local_tax_number_country: FRA
                          name: Acme Marketplace
                          phone_number: '+33172316200'
                          tax_identification_number: '123456789'
                          tax_number_country: FRA
                        type: SHOP
                      last_updated: '2025-06-02T00:00:00Z'
                      payment_terms:
                        days: 30
                        type: NET
                      recipient:
                        billing_address:
                          city: Paris
                          company: Acme Marketplace
                          country: France
                          country_iso_code: FRA
                          state: Île-de-France
                          street_1: 12, rue de Lübeck
                          street_2: Bâtiment A
                          zip_code: '75116'
                        id: 59408d80-340e-11f1-a5a7-4bc65396d791
                        locale: fr_FR
                        organization:
                          electronic_address: 0007:12345678901234
                          identification_number: '53089799000079'
                          local_tax_number: FR57530897990
                          local_tax_number_country: FRA
                          name: Mirakl
                          organization_id: a16f4e36-3411-11f1-803d-9342431024ae
                          phone_number: '+33172316200'
                          tax_identification_number: '530897990'
                          tax_number_country: FRA
                        type: OPERATOR
                      state: TO_PROCESS
                      taxes:
                      - code: TVA
                        rate: 20
                        total_amount: 6
                      total_amount_excluding_taxes: 30
                      total_amount_including_taxes: 36
                      total_tax_amount: 6
                      type: CREDIT_NOTE
                    - currency_iso_code: EUR
                      date_created: '2025-06-02T00:00:00Z'
                      document_details:
                      - format: PDF
                      due_date: '2025-07-02T00:00:00Z'
                      entity_date_created: '2025-06-01T00:00:00Z'
                      entity_id: 9876543210-A
                      entity_type: PRODUCT_LOGISTIC_ORDER
                      id: 681ab1e8-5e70-49b6-9489-36e766d64328
                      initial_documents:
                      - id: bdf76a80-216d-441d-b650-7736076015d0
                        issue_date: '2025-06-02T00:00:00Z'
                        number: IN1234A-1
                        type: INVOICE
                      initial_payment_state: NOT_PAID
                      issue_date: '2025-06-02T00:00:00Z'
                      issuer:
                        id: 837606d6-3416-11f1-9cb4-33f11d6a3b91
                        organization:
                          address:
                            city: Paris
                            country_iso_code: FRA
                            street_1: 46 Rue de Montmorency
                            zip_code: '75003'
                          electronic_address: 0007:12345678901234
                          identification_number: '12345678912345'
                          local_tax_number: FRXX123456789
                          local_tax_number_country: FRA
                          name: Acme Marketplace
                          phone_number: '+33172316200'
                          tax_identification_number: '123456789'
                          tax_number_country: FRA
                        type: SHOP
                      last_updated: '2025-06-02T00:00:00Z'
                      payment_terms:
                        days: 30
                        type: NET
                      recipient:
                        billing_address:
                          city: Noisy-le-grand
                          civility: MRS
                          country: France
                          country_iso_code: FRA
                          firstname: Jeanne
                          lastname: Dupont
                          street_1: 48 boulevard de Prague
                          street_2: Bâtiment 2
                          zip_code: '93160'
                        id: 62697a48-3413-11f1-bfc1-5f49c5e88baf
                        locale: fr_FR
                        shipping_address:
                          city: Paris
                          civility: MRS
                          company: Mirakl
                          country: France
                          country_iso_code: FRA
                          firstname: Jeanne
                          lastname: Dupont
                          state: Île-de-France
                          street_1: 12, rue de Lübeck
                          street_2: Bâtiment A
                          zip_code: '75116'
                      state: TO_PROCESS
                      taxes:
                      - code: TVA
                        rate: 20
                        total_amount: 14
                      total_amount_excluding_taxes: 70
                      total_amount_including_taxes: 84
                      total_tax_amount: 14
                      type: CREDIT_NOTE
                    - currency_iso_code: EUR
                      date_created: '2025-06-02T00:00:00Z'
                      document_details: []
                      due_date: '2025-07-02T00:00:00Z'
                      entities:
                        shop_billing_cycle:
                          date_from: '2023-12-01T00:00:00Z'
                          date_to: '2023-12-31T23:59:59.999Z'
                          id: df3a1eb6-3947-4102-ad4e-ef621ad66671
                      entity_date_created: '2025-06-01T00:00:00Z'
                      entity_id: df3a1eb6-3947-4102-ad4e-ef621ad66671
                      entity_type: FEES
                      id: 38a9d7a2-3418-11f1-9541-abc065fa90d8
                      initial_payment_state: NOT_PAID
                      issue_date: '2025-06-02T00:00:00Z'
                      issuer:
                        id: 59408d80-340e-11f1-a5a7-4bc65396d791
                        organization:
                          address:
                            city: Paris
                            country_iso_code: FRA
                            state: France
                            street_1: 12, rue de Lübeck
                            street_2: Bâtiment A
                            zip_code: '75116'
                          electronic_address: 0007:12345678901234
                          identification_number: '53089799000079'
                          local_tax_number: FR57530897990
                          local_tax_number_country: FRA
                          name: Mirakl
                          phone_number: '+33172316200'
                          tax_identification_number: '530897990'
                          tax_number_country: FRA
                        type: OPERATOR
                      last_updated: '2025-06-02T00:00:00Z'
                      payment_terms:
                        days: 30
                        type: NET
                      recipient:
                        billing_address:
                          city: Paris
                          company: Acme Marketplace
                          country_iso_code: FRA
                          street_1: 46 Rue de Montmorency
                          zip_code: '75003'
                        id: 9cc3020c-3415-11f1-8d4f-bf432e4e10a7
                        locale: fr_FR
                        organization:
                          electronic_address: 0007:12345678901234
                          identification_number: '12345678912345'
                          local_tax_number: FRXX123456789
                          local_tax_number_country: FRA
                          name: Acme Marketplace
                          organization_id: a3c9c9c8-3415-11f1-9e5f-5fb45bd58dcf
                          phone_number: '+33172316200'
                          tax_identification_number: '123456789'
                          tax_number_country: FRA
                        type: SHOP
                      state: TO_PROCESS
                      taxes:
                      - code: TVA
                        rate: 20
                        total_amount: 20
                      total_amount_excluding_taxes: 100
                      total_amount_including_taxes: 120
                      total_tax_amount: 20
                      type: INVOICE
                application/json-1:
                  summary: List all PRODUCT_LOGISTIC_ORDER document requests
                  value:
                    data:
                    - currency_iso_code: EUR
                      date_created: '2025-06-02T00:00:00Z'
                      document_details:
                      - format: PDF
                      due_date: '2025-07-02T00:00:00Z'
                      entity_date_created: '2025-06-01T00:00:00Z'
                      entity_id: 1234567890-A
                      entity_type: PRODUCT_LOGISTIC_ORDER
                      id: bdf76a80-216d-441d-b650-7736076015d0
                      initial_payment_state: NOT_PAID
                      issue_date: '2025-06-02T00:00:00Z'
                      issuer:
                        id: 837606d6-3416-11f1-9cb4-33f11d6a3b91
                        organization:
                          address:
                            city: Paris
                            country_iso_code: FRA
                            street_1: 46 Rue de Montmorency
                            zip_code: '75003'
                          electronic_address: 0007:12345678901234
                          identification_number: '12345678912345'
                          local_tax_number: FRXX123456789
                          local_tax_number_country: FRA
                          name: Acme Marketplace
                          phone_number: '+33172316200'
                          tax_identification_number: '123456789'
                          tax_number_country: FRA
                        type: SHOP
                      last_updated: '2025-06-02T00:00:00Z'
                      payment_destination:
                        '@type': IBAN
                        iban: FR7630001007941234567890185
                        payment_reference: REF-A1654
                      payment_terms:
                        days: 30
                        type: NET
                      recipient:
                        billing_address:
                          city: Noisy-le-grand
                          civility: MRS
                          country: France
                          country_iso_code: FRA
                          firstname: Jeanne
                          lastname: Dupont
                          street_1: 48 boulevard de Prague
                          street_2: Bâtiment 2
                          zip_code: '93160'
                        id: 62697a48-3413-11f1-bfc1-5f49c5e88baf
                        locale: fr_FR
                        shipping_address:
                          city: Paris
                          civility: MRS
                          company: Mirakl
                          country: France
                          country_iso_code: FRA
                          firstname: Jeanne
                          lastname: Dupont
                          state: Île-de-France
                          street_1: 12, rue de Lübeck
                          street_2: Bâtiment A
                          zip_code: '75116'
                      state: ISSUED
                      taxes:
                      - code: TVA
                        rate: 20
                        total_amount: 20
                      total_amount_excluding_taxes: 100
                      total_amount_including_taxes: 120
                      total_tax_amount: 20
                      type: INVOICE
                    - currency_iso_code: EUR
                      date_created: '2025-06-02T00:00:00Z'
                      document_details:
                      - format: PDF
                      due_date: '2025-07-02T00:00:00Z'
                      entity_date_created: '2025-06-01T00:00:00Z'
                      entity_id: 9876543210-A
                      entity_type: PRODUCT_LOGISTIC_ORDER
                      id: 681ab1e8-5e70-49b6-9489-36e766d64328
                      initial_documents:
                      - id: bdf76a80-216d-441d-b650-7736076015d0
                        issue_date: '2025-06-02T00:00:00Z'
                        number: IN1234A-1
                        type: INVOICE
                      initial_payment_state: NOT_PAID
                      issue_date: '2025-06-02T00:00:00Z'
                      issuer:
                        id: 837606d6-3416-11f1-9cb4-33f11d6a3b91
                        organization:
                          address:
                            city: Paris
                            country_iso_code: FRA
                            street_1: 46 Rue de Montmorency
                            zip_code: '75003'
                          electronic_address: 0007:12345678901234
                          identification_number: '12345678912345'
                          local_tax_number: FRXX123456789
                          local_tax_number_country: FRA
                          name: Acme Marketplace
                          phone_number: '+33172316200'
                          tax_identification_number: '123456789'
                          tax_number_country: FRA
                        type: SHOP
                      last_updated: '2025-06-02T00:00:00Z'
                      payment_terms:
                        days: 30
                        type: NET
                      recipient:
                        billing_address:
                          city: Noisy-le-grand
                          civility: MRS
                          country: France
                          country_iso_code: FRA
                          firstname: Jeanne
                          lastname: Dupont
                          street_1: 48 boulevard de Prague
                          street_2: Bâtiment 2
                          zip_code: '93160'
                        id: 62697a48-3413-11f1-bfc1-5f49c5e88baf
                        locale: fr_FR
                        shipping_address:
                          city: Paris
                          civility: MRS
                          company: Mirakl
                          country: France
                          country_iso_code: FRA
                          firstname: Jeanne
                          lastname: Dupont
                          state: Île-de-France
                          street_1: 12, rue de Lübeck
                          street_2: Bâtiment A
                          zip_code: '75116'
                      state: TO_PROCESS
                      taxes:
                      - code: TVA
                        rate: 20
                        total_amount: 14
                      total_amount_excluding_taxes: 70
                      total_amount_including_taxes: 84
                      total_tax_amount: 14
                      type: CREDIT_NOTE
                application/json-2:
                  summary: List all SHOP_BILLING_CYCLE_PURCHASE_ORDER document requests
                  value:
                    data:
                    - currency_iso_code: EUR
                      date_created: '2025-06-02T00:00:00Z'
                      document_details:
                      - format: PDF
                      due_date: '2025-07-02T00:00:00Z'
                      entities:
                        ship_to_iso_country_code: FRA
                        shop_billing_cycle:
                          date_from: '2024-01-01T08:00:01Z'
                          date_to: '2024-01-01T08:00:01Z'
                          id: df3a1eb6-3947-4102-ad4e-ef621ad66671
                      entity_date_created: '2025-06-01T00:00:00Z'
                      entity_id: df3a1eb6-3947-4102-ad4e-ef621ad66671
                      entity_type: SHOP_BILLING_CYCLE_PURCHASE_ORDER
                      id: f8a553c6-0adc-4544-bed8-736221272f2a
                      initial_payment_state: NOT_PAID
                      issue_date: '2025-06-02T00:00:00Z'
                      issuer:
                        id: 837606d6-3416-11f1-9cb4-33f11d6a3b91
                        organization:
                          address:
                            city: Paris
                            country_iso_code: FRA
                            street_1: 46 Rue de Montmorency
                            zip_code: '75003'
                          electronic_address: 0007:12345678901234
                          identification_number: '12345678912345'
                          local_tax_number: FRXX123456789
                          local_tax_number_country: FRA
                          name: Acme Marketplace
                          phone_number: '+33172316200'
                          tax_identification_number: '123456789'
                          tax_number_country: FRA
                        type: SHOP
                      last_updated: '2025-06-02T00:00:00Z'
                      payment_terms:
                        days: 30
                        type: NET
                      recipient:
                        billing_address:
                          city: Paris
                          company: Acme Marketplace
                          country: France
                          country_iso_code: FRA
                          state: Île-de-France
                          street_1: 12, rue de Lübeck
                          street_2: Bâtiment A
                          zip_code: '75116'
                        id: 59408d80-340e-11f1-a5a7-4bc65396d791
                        locale: fr_FR
                        organization:
                          electronic_address: 0007:12345678901234
                          identification_number: '53089799000079'
                          local_tax_number: FR57530897990
                          local_tax_number_country: FRA
                          name: Mirakl
                          organization_id: a16f4e36-3411-11f1-803d-9342431024ae
                          phone_number: '+33172316200'
                          tax_identification_number: '530897990'
                          tax_number_country: FRA
                        type: OPERATOR
                      state: TO_PROCESS
                      taxes:
                      - code: TVA
                        rate: 20
                        total_amount: 1300
                      total_amount_excluding_taxes: 6500
                      total_amount_including_taxes: 7800
                      total_tax_amount: 1300
                      type: INVOICE
                    - currency_iso_code: EUR
                      date_created: '2025-06-02T00:00:00Z'
                      document_details:
                      - format: PDF
                      due_date: '2025-07-02T00:00:00Z'
                      entities:
                        ship_to_iso_country_code: FRA
                        shop_billing_cycle:
                          date_from: '2024-01-01T08:00:01Z'
                          date_to: '2024-01-01T08:00:01Z'
                          id: df3a1eb6-3947-4102-ad4e-ef621ad66671
                      entity_date_created: '2025-06-01T00:00:00Z'
                      entity_id: df3a1eb6-3947-4102-ad4e-ef621ad66671
                      entity_type: SHOP_BILLING_CYCLE_PURCHASE_ORDER
                      id: c4a7e1b2-5d39-4f8a-b123-9876abcdef01
                      initial_payment_state: NOT_PAID
                      issue_date: '2025-06-02T00:00:00Z'
                      issuer:
                        id: 837606d6-3416-11f1-9cb4-33f11d6a3b91
                        organization:
                          address:
                            city: Paris
                            country_iso_code: FRA
                            street_1: 46 Rue de Montmorency
                            zip_code: '75003'
                          electronic_address: 0007:12345678901234
                          identification_number: '12345678912345'
                          local_tax_number: FRXX123456789
                          local_tax_number_country: FRA
                          name: Acme Marketplace
                          phone_number: '+33172316200'
                          tax_identification_number: '123456789'
                          tax_number_country: FRA
                        type: SHOP
                      last_updated: '2025-06-02T00:00:00Z'
                      payment_terms:
                        days: 30
                        type: NET
                      recipient:
                        billing_address:
                          city: Paris
                          company: Acme Marketplace
                          country: France
                          country_iso_code: FRA
                          state: Île-de-France
                          street_1: 12, rue de Lübeck
                          street_2: Bâtiment A
                          zip_code: '75116'
                        id: 59408d80-340e-11f1-a5a7-4bc65396d791
                        locale: fr_FR
                        organization:
                          electronic_address: 0007:12345678901234
                          identification_number: '53089799000079'
                          local_tax_number: FR57530897990
                          local_tax_number_country: FRA
                          name: Mirakl
                          organization_id: a16f4e36-3411-11f1-803d-9342431024ae
                          phone_number: '+33172316200'
                          tax_identification_number: '530897990'
                          tax_number_country: FRA
                        type: OPERATOR
                      state: TO_PROCESS
                      taxes:
                      - code: TVA
                        rate: 20
                        total_amount: 300
                      total_amount_excluding_taxes: 1500
                      total_amount_including_taxes: 1800
                      total_tax_amount: 300
                      type: CREDIT_NOTE
                application/json-3:
                  summary: List all LOGISTIC_PURCHASE_ORDER document requests
                  value:
                    data:
                    - currency_iso_code: EUR
                      date_created: '2025-06-02T00:00:00Z'
                      document_details:
                      - format: PDF
                      due_date: '2025-07-02T00:00:00Z'
                      entities:
                        shipping_information:
                          ship_to_address:
                            city: Paris
                            company: Acme Marketplace
                            country_iso_code: FRA
                            state: Île-de-France
                            street1: 12, rue de Lübeck
                            street2: Bâtiment A
                            zip_code: '75116'
                      entity_date_created: '2025-06-01T00:00:00Z'
                      entity_id: 123123123-A
                      entity_type: LOGISTIC_PURCHASE_ORDER
                      id: f12e02f4-3421-11f1-8710-8ba3659d2900
                      initial_payment_state: NOT_PAID
                      issue_date: '2025-06-02T00:00:00Z'
                      issuer:
                        id: 837606d6-3416-11f1-9cb4-33f11d6a3b91
                        organization:
                          address:
                            city: Paris
                            country_iso_code: FRA
                            street_1: 46 Rue de Montmorency
                            zip_code: '75003'
                          electronic_address: 0007:12345678901234
                          identification_number: '12345678912345'
                          local_tax_number: FRXX123456789
                          local_tax_number_country: FRA
                          name: Acme Marketplace
                          phone_number: '+33172316200'
                          tax_identification_number: '123456789'
                          tax_number_country: FRA
                        type: SHOP
                      last_updated: '2025-06-02T00:00:00Z'
                      payment_terms:
                        days: 30
                        type: NET
                      recipient:
                        billing_address:
                          city: Paris
                          company: Acme Marketplace
                          country: France
                          country_iso_code: FRA
                          state: Île-de-France
                          street_1: 12, rue de Lübeck
                          street_2: Bâtiment A
                          zip_code: '75116'
                        id: 59408d80-340e-11f1-a5a7-4bc65396d791
                        locale: fr_FR
                        organization:
                          electronic_address: 0007:12345678901234
                          identification_number: '53089799000079'
                          local_tax_number: FR57530897990
                          local_tax_number_country: FRA
                          name: Mirakl
                          organization_id: a16f4e36-3411-11f1-803d-9342431024ae
                          phone_number: '+33172316200'
                          tax_identification_number: '530897990'
                          tax_number_country: FRA
                        type: OPERATOR
                      state: TO_PROCESS
                      taxes:
                      - code: TVA
                        rate: 20
                        total_amount: 20
                      total_amount_excluding_taxes: 100
                      total_amount_including_taxes: 120
                      total_tax_amount: 20
                      type: INVOICE
                    - currency_iso_code: EUR
                      date_created: '2025-06-02T00:00:00Z'
                      document_details:
                      - format: PDF
                      due_date: '2025-07-02T00:00:00Z'
                      entities:
                        shipping_information:
                          ship_to_address:
                            city: Paris
                            company: Acme Marketplace
                            country_iso_code: FRA
                            state: Île-de-France
                            street1: 12, rue de Lübeck
                            street2: Bâtiment A
                            zip_code: '75116'
                      entity_date_created: '2025-06-01T00:00:00Z'
                      entity_id: 123123123-A
                      entity_type: LOGISTIC_PURCHASE_ORDER
                      id: a23b4c5d-6789-4def-a012-345678abcdef
                      initial_payment_state: NOT_PAID
                      issue_date: '2025-06-02T00:00:00Z'
                      issuer:
                        id: 837606d6-3416-11f1-9cb4-33f11d6a3b91
                        organization:
                          address:
                            city: Paris
                            country_iso_code: FRA
                            street_1: 46 Rue de Montmorency
                            zip_code: '75003'
                          electronic_address: 0007:12345678901234
                          identification_number: '12345678912345'
                          local_tax_number: FRXX123456789
                          local_tax_number_country: FRA
                          name: Acme Marketplace
                          phone_number: '+33172316200'
                          tax_identification_number: '123456789'
                          tax_number_country: FRA
                        type: SHOP
                      last_updated: '2025-06-02T00:00:00Z'
                      payment_terms:
                        days: 30
                        type: NET
                      recipient:
                        billing_address:
                          city: Paris
                          company: Acme Marketplace
                          country: France
                          country_iso_code: FRA
                          state: Île-de-France
                          street_1: 12, rue de Lübeck
                          street_2: Bâtiment A
                          zip_code: '75116'
                        id: 59408d80-340e-11f1-a5a7-4bc65396d791
                        locale: fr_FR
                        organization:
                          electronic_address: 0007:12345678901234
                          identification_number: '53089799000079'
                          local_tax_number: FR57530897990
                          local_tax_number_country: FRA
                          name: Mirakl
                          organization_id: a16f4e36-3411-11f1-803d-9342431024ae
                          phone_number: '+33172316200'
                          tax_identification_number: '530897990'
                          tax_number_country: FRA
                        type: OPERATOR
                      state: TO_PROCESS
                      taxes:
                      - code: TVA
                        rate: 20
                        total_amount: 6
                      total_amount_excluding_taxes: 30
                      total_amount_including_taxes: 36
                      total_tax_amount: 6
                      type: CREDIT_NOTE
                application/json-4:
                  summary: List all FEES document requests
                  value:
                    data:
                    - currency_iso_code: EUR
                      date_created: '2025-06-02T00:00:00Z'
                      document_details: []
                      due_date: '2025-07-02T00:00:00Z'
                      entities:
                        shop_billing_cycle:
                          date_from: '2023-12-01T00:00:00Z'
                          date_to: '2023-12-31T23:59:59.999Z'
                          id: df3a1eb6-3947-4102-ad4e-ef621ad66671
                      entity_date_created: '2025-06-01T00:00:00Z'
                      entity_id: df3a1eb6-3947-4102-ad4e-ef621ad66671
                      entity_type: FEES
                      id: f1a2b3c4-5678-9abc-def0-112233445588
                      initial_documents:
                      - id: 38a9d7a2-3418-11f1-9541-abc065fa90d8
                        issue_date: '2025-06-02T00:00:00Z'
                        type: INVOICE
                      initial_payment_state: NOT_PAID
                      issue_date: '2025-06-02T00:00:00Z'
                      issuer:
                        id: 59408d80-340e-11f1-a5a7-4bc65396d791
                        organization:
                          address:
                            city: Paris
                            country_iso_code: FRA
                            state: France
                            street_1: 12, rue de Lübeck
                            street_2: Bâtiment A
                            zip_code: '75116'
                          electronic_address: 0007:12345678901234
                          identification_number: '53089799000079'
                          local_tax_number: FR57530897990
                          local_tax_number_country: FRA
                          name: Mirakl
                          phone_number: '+33172316200'
                          tax_identification_number: '530897990'
                          tax_number_country: FRA
                        type: OPERATOR
                      last_updated: '2025-06-02T00:00:00Z'
                      payment_terms:
                        days: 30
                        type: NET
                      recipient:
                        billing_address:
                          city: Paris
                          company: Acme Marketplace
                          country_iso_code: FRA
                          street_1: 46 Rue de Montmorency
                          zip_code: '75003'
                        id: 9cc3020c-3415-11f1-8d4f-bf432e4e10a7
                        locale: fr_FR
                        organization:
                          electronic_address: 0007:12345678901234
                          identification_number: '12345678912345'
                          local_tax_number: FRXX123456789
                          local_tax_number_country: FRA
                          name: Acme Marketplace
                          organization_id: a3c9c9c8-3415-11f1-9e5f-5fb45bd58dcf
                          phone_number: '+33172316200'
                          tax_identification_number: '123456789'
                          tax_number_country: FRA
                        type: SHOP
                      state: TO_PROCESS
                      taxes:
                      - code: TVA
                        rate: 20
                        total_amount: 12
                      total_amount_excluding_taxes: 60
                      total_amount_including_taxes: 72
                      total_tax_amount: 12
                      type: CREDIT_NOTE
                    - currency_iso_code: EUR
                      date_created: '2025-06-02T00:00:00Z'
                      document_details: []
                      due_date: '2025-07-02T00:00:00Z'
                      entities:
                        shop_billing_cycle:
                          date_from: '2023-12-01T00:00:00Z'
                          date_to: '2023-12-31T23:59:59.999Z'
                          id: df3a1eb6-3947-4102-ad4e-ef621ad66671
                      entity_date_created: '2025-06-01T00:00:00Z'
                      entity_id: df3a1eb6-3947-4102-ad4e-ef621ad66671
                      entity_type: FEES
                      id: 38a9d7a2-3418-11f1-9541-abc065fa90d8
                      initial_payment_state: NOT_PAID
                      issue_date: '2025-06-02T00:00:00Z'
                      issuer:
                        id: 59408d80-340e-11f1-a5a7-4bc65396d791
                        organization:
                          address:
                            city: Paris
                            country_iso_code: FRA
                            state: France
                            street_1: 12, rue de Lübeck
                            street_2: Bâtiment A
                            zip_code: '75116'
                          electronic_address: 0007:12345678901234
                          identification_number: '53089799000079'
                          local_tax_number: FR57530897990
                          local_tax_number_country: FRA
                          name: Mirakl
                          phone_number: '+33172316200'
                          tax_identification_number: '530897990'
                          tax_number_country: FRA
                        type: OPERATOR
                      last_updated: '2025-06-02T00:00:00Z'
                      payment_terms:
                        days: 30
                        type: NET
                      recipient:
                        billing_address:
                          city: Paris
                          company: Acme Marketplace
                          country_iso_code: FRA
                          street_1: 46 Rue de Montmorency
                          zip_code: '75003'
                        id: 9cc3020c-3415-11f1-8d4f-bf432e4e10a7
                        locale: fr_FR
                        organization:
                          electronic_address: 0007:12345678901234
                          identification_number: '12345678912345'
                          local_tax_number: FRXX123456789
                          local_tax_number_country: FRA
                          name: Acme Marketplace
                          organization_id: a3c9c9c8-3415-11f1-9e5f-5fb45bd58dcf
                          phone_number: '+33172316200'
                          tax_identification_number: '123456789'
                          tax_number_country: FRA
                        type: SHOP
                      state: TO_PROCESS
                      taxes:
                      - code: TVA
                        rate: 20
                        total_amount: 20
                      total_amount_excluding_taxes: 100
                      total_amount_including_taxes: 120
                      total_tax_amount: 20
                      type: INVOICE
                application/json-5:
                  summary: List all ONE_OFF_FEES document requests
                  value:
                    data:
                    - currency_iso_code: EUR
                      date_created: '2025-06-02T00:00:00Z'
                      document_details: []
                      due_date: '2025-07-02T00:00:00Z'
                      entity_date_created: '2025-06-01T00:00:00Z'
                      entity_id: c3d4e5f6-3430-11f1-b71b-eb1d36ddc383
                      entity_type: ONE_OFF_FEES
                      id: c3d4e5f6-3430-11f1-b71b-eb1d36ddc383
                      initial_documents:
                      - id: be4efb5a-342f-11f1-b71b-eb1d36ddc382
                        issue_date: '2025-06-02T00:00:00Z'
                        type: INVOICE
                      initial_payment_state: NOT_PAID
                      issue_date: '2025-06-02T00:00:00Z'
                      issuer:
                        id: 59408d80-340e-11f1-a5a7-4bc65396d791
                        organization:
                          address:
                            city: Paris
                            country_iso_code: FRA
                            state: France
                            street_1: 12, rue de Lübeck
                            street_2: Bâtiment A
                            zip_code: '75116'
                          electronic_address: 0007:12345678901234
                          identification_number: '53089799000079'
                          local_tax_number: FR57530897990
                          local_tax_number_country: FRA
                          name: Mirakl
                          phone_number: '+33172316200'
                          tax_identification_number: '530897990'
                          tax_number_country: FRA
                        type: OPERATOR
                      last_updated: '2025-06-02T00:00:00Z'
                      payment_terms:
                        days: 30
                        type: NET
                      recipient:
                        billing_address:
                          city: Paris
                          company: Acme Marketplace
                          country_iso_code: FRA
                          street_1: 46 Rue de Montmorency
                          zip_code: '75003'
                        id: 9cc3020c-3415-11f1-8d4f-bf432e4e10a7
                        locale: fr_FR
                        organization:
                          electronic_address: 0007:12345678901234
                          identification_number: '12345678912345'
                          local_tax_number: FRXX123456789
                          local_tax_number_country: FRA
                          name: Acme Marketplace
                          organization_id: a3c9c9c8-3415-11f1-9e5f-5fb45bd58dcf
                          phone_number: '+33172316200'
                          tax_identification_number: '123456789'
                          tax_number_country: FRA
                        type: SHOP
                      state: TO_PROCESS
                      taxes:
                      - code: TVA
                        rate: 20
                        total_amount: 12
                      total_amount_excluding_taxes: 60
                      total_amount_including_taxes: 72
                      total_tax_amount: 12
                      type: CREDIT_NOTE
                    - currency_iso_code: EUR
                      date_created: '2025-06-02T00:00:00Z'
                      document_details: []
                      due_date: '2025-07-02T00:00:00Z'
                      entity_date_created: '2025-06-01T00:00:00Z'
                      entity_id: be4efb5a-342f-11f1-b71b-eb1d36ddc382
                      entity_type: ONE_OFF_FEES
                      id: be4efb5a-342f-11f1-b71b-eb1d36ddc382
                      initial_payment_state: NOT_PAID
                      issue_date: '2025-06-02T00:00:00Z'
                      issuer:
                        id: 59408d80-340e-11f1-a5a7-4bc65396d791
                        organization:
                          address:
                            city: Paris
                            country_iso_code: FRA
                            state: France
                            street_1: 12, rue de Lübeck
                            street_2: Bâtiment A
                            zip_code: '75116'
                          electronic_address: 0007:12345678901234
                          identification_number: '53089799000079'
                          local_tax_number: FR57530897990
                          local_tax_number_country: FRA
                          name: Mirakl
                          phone_number: '+33172316200'
                          tax_identification_number: '530897990'
                          tax_number_country: FRA
                        type: OPERATOR
                      last_updated: '2025-06-02T00:00:00Z'
                      payment_terms:
                        days: 30
                        type: NET
                      recipient:
                        billing_address:
                          city: Paris
                          company: Acme Marketplace
                          country_iso_code: FRA
                          street_1: 46 Rue de Montmorency
                          zip_code: '75003'
                        id: 9cc3020c-3415-11f1-8d4f-bf432e4e10a7
                        locale: fr_FR
                        organization:
                          electronic_address: 0007:12345678901234
                          identification_number: '12345678912345'
                          local_tax_number: FRXX123456789
                          local_tax_number_country: FRA
                          name: Acme Marketplace
                          organization_id: a3c9c9c8-3415-11f1-9e5f-5fb45bd58dcf
                          phone_number: '+33172316200'
                          tax_identification_number: '123456789'
                          tax_number_country: FRA
                        type: SHOP
                      state: TO_PROCESS
                      taxes:
                      - code: TVA
                        rate: 20
                        total_amount: 20
                      total_amount_excluding_taxes: 100
                      total_amount_including_taxes: 120
                      total_tax_amount: 20
                      type: INVOICE
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    data:
                    - currency_iso_code: AED
                      date_created: '2023-03-28T09:34:42Z'
                      document_details:
                      - format: PDF
                      document_number: string
                      document_upload_date: '2023-03-28T09:34:42Z'
                      due_date: '2023-03-28T09:34:42Z'
                      entities:
                        delivery_bill_information:
                        - delivery_bill_date: string
                          delivery_bill_id: string
                        ship_to_iso_country_code: string
                        shipping_information:
                          ship_to_address:
                            city: string
                            civility: string
                            company: string
                            company2: string
                            country_iso_code: string
                            firstname: string
                            lastname: string
                            phone: string
                            phone_secondary: string
                            state: string
                            street1: string
                            street2: string
                            zip_code: string
                        shop_billing_cycle:
                          date_from: '2023-03-28T09:34:42Z'
                          date_to: '2023-03-28T09:34:42Z'
                          id: string
                      entity_date_created: '2023-03-28T09:34:42Z'
                      entity_id: string
                      entity_type: PRODUCT_LOGISTIC_ORDER
                      id: string
                      initial_documents:
                      - id: string
                        issue_date: '2023-03-28T09:34:42Z'
                        number: string
                        type: INVOICE
                      initial_payment_state: PAID
                      issue_date: '2023-03-28T09:34:42Z'
                      issuer:
                        id: string
                        locale: string
                        organization:
                          address:
                            city: string
                            country_iso_code: string
                            state: string
                            street_1: string
                            street_2: string
                            zip_code: string
                          business_activity_code: string
                          company_shareholders: string
                          electronic_address: string
                          fiscal_representative:
                            city: string
                            civility: string
                            company_registration_name: string
                            company_registration_number: string
                            country_iso_code: string
                            first_name: string
                            last_name: string
                            local_tax_number: string
                            state: string
                            street_1: string
                            street_2: string
                            zip_code: string
                          identification_number: string
                          is_in_liquidation: true
                          legal_form: string
                          local_tax_number: string
                          local_tax_number_country: string
                          name: string
                          personal_information:
                            civility: string
                            first_name: string
                            last_name: string
                          phone_number: string
                          share_capital: 0
                          share_capital_currency: string
                          sole_trader: true
                          tax_identification_number: string
                          tax_number_country: string
                          trade_company_registration_location: string
                        type: OPERATOR
                      last_updated: '2023-03-28T09:34:42Z'
                      payment:
                        reference: string
                        state: PAID
                        transaction_date: '2023-03-28T09:34:42Z'
                      payment_destination:
                        '@type': IBAN
                        payment_reference: string
                      payment_terms:
                        days: 0
                        type: END_OF_MONTH
                      recipient:
                        billing_address:
                          city: string
                          civility: string
                          company: string
                          company_2: string
                          country: string
                          country_iso_code: string
                          firstname: string
                          lastname: string
                          state: string
                          street_1: string
                          street_2: string
                          zip_code: string
                        id: string
                        locale: string
                        organization:
                          address:
                            city: string
                            country_iso_code: string
                            state: string
                            street_1: string
                            street_2: string
                            zip_code: string
                          business_activity_code: string
                          company_shareholders: string
                          electronic_address: string
                          identification_number: string
                          is_in_liquidation: true
                          legal_form: string
                          local_tax_number: string
                          local_tax_number_country: string
                          name: string
                          organization_id: string
                          phone_number: string
                          share_capital: 0
                          share_capital_currency: string
                          tax_identification_number: string
                          tax_number_country: string
                          trade_company_registration_location: string
                        shipping_address:
                          city: string
                          civility: string
                          company: string
                          company_2: string
                          country: string
                          country_iso_code: string
                          firstname: string
                          lastname: string
                          state: string
                          street_1: string
                          street_2: string
                          zip_code: string
                        type: CUSTOMER
                      state: STAGING
                      taxes:
                      - code: string
                        rate: 0
                        total_amount: 0
                      total_amount_excluding_taxes: 0
                      total_amount_including_taxes: 0
                      total_tax_amount: 0
                      type: INVOICE
                    next_page_token: string
                    previous_page_token: string
              schema:
                type: object
                $ref: '#/components/schemas/DR11_Response_200'
          description: OK
      summary: DR11 - List accounting documents requests
      tags:
      - Invoicing and Accounting
  /api/document-request/{document_request_id}/lines:
    get:
      description: '<div class="api-description-extension">

        <div class="extension-title">Pagination</div>


        <p>This resource supports seek pagination (<a href="#section/Seek-pagination-and-sort">see documentation</a>)</p>


        <div class="extension-title">Sort fields</div>


        <code>sort</code> field can have the following values:<ul><li><b>dateCreated</b> - Sort by creation date (asc by default)</li></ul>


        </div>'
      operationId: DR12
      parameters:
      - description: Document Request identifier
        explode: false
        in: path
        name: document_request_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: List lines of a PRODUCT_LOGISTIC_ORDER invoice document request
                  value:
                    data:
                    - delivery_bill_information: []
                      entity_id: 1234567890-A-1
                      entity_type: PRODUCT_DEBIT
                      id: 050f270d-8500-4185-acc7-3b11dc7da412
                      order:
                        commercial_id: '1234567890'
                        id: 1234567890-A
                        reference_for_customer: 1234567890-C
                        reference_for_seller: 1234567890-S
                        transaction_info:
                          date: '2025-06-02T00:00:00Z'
                          number: '1234567890'
                      order_line:
                        id: 1234567890-A-1
                      price_excluding_taxes: 50
                      product:
                        references:
                        - reference: '3059412166368'
                          type: EAN
                        sku: '3059412166368'
                        title: Rica Lewis 46
                      promotions: []
                      quantity: 5
                      shipping_from:
                        address:
                          country_iso_code: FRA
                      shipping_price_excluding_taxes: 0
                      shipping_taxes: []
                      shipping_to:
                        address:
                          city: Paris
                          civility: MRS
                          company: Mirakl
                          country_iso_code: FRA
                          firstname: Jeanne
                          lastname: Dupont
                          state: Île-de-France
                          street1: 12, rue de Lübeck
                          street2: Bâtiment A
                          zip_code: '75116'
                      shop:
                        id: 1234
                      taxes:
                      - amount: 10
                        code: TVA
                        rate: 20
                      total_price_including_taxes: 60
                      unit_price_excluding_taxes: 10
                    - delivery_bill_information: []
                      entity_id: 1234567891-A-1
                      entity_type: PRODUCT_DEBIT
                      id: 050f270d-8500-4185-acc7-3b11dc7da413
                      order:
                        commercial_id: '1234567891'
                        id: 1234567891-A
                        reference_for_customer: 1234567891-C
                        reference_for_seller: 1234567891-S
                        transaction_info:
                          date: '2025-06-02T00:00:00Z'
                          number: '1234567891'
                      order_line:
                        id: 1234567891-A-1
                      price_excluding_taxes: 50
                      product:
                        references:
                        - reference: 0888755367001
                          type: EAN
                        sku: 0888755367001
                        title: Converse All Star
                      promotions: []
                      quantity: 1
                      shipping_from:
                        address:
                          country_iso_code: FRA
                      shipping_price_excluding_taxes: 0
                      shipping_taxes: []
                      shipping_to:
                        address:
                          city: Paris
                          civility: MRS
                          company: Mirakl
                          country_iso_code: FRA
                          firstname: Jeanne
                          lastname: Dupont
                          state: Île-de-France
                          street1: 12, rue de Lübeck
                          street2: Bâtiment A
                          zip_code: '75116'
                      shop:
                        id: 1234
                      taxes:
                      - amount: 10
                        code: TVA
                        rate: 20
                      total_price_including_taxes: 60
                      unit_price_excluding_taxes: 50
                application/json-1:
                  summary: List lines of a PRODUCT_LOGISTIC_ORDER credit note document request
                  value:
                    data:
                    - delivery_bill_information: []
                      entity_id: 9876543210-A-1
                      entity_type: PRODUCT_CREDIT_REFUND
                      id: b2c3d4e5-1111-2222-3333-444455556666
                      order:
                        commercial_id: '9876543210'
                        id: 9876543210-A
                        reference_for_customer: 9876543210-C
                        reference_for_seller: 9876543210-S
                        transaction_info:
                          date: '2025-06-02T00:00:00Z'
                          number: '9876543210'
                      order_line:
                        id: 9876543210-A-1
                      price_excluding_taxes: 20
                      product:
                        references:
                        - reference: '3059412166368'
                          type: EAN
                        sku: '3059412166368'
                        title: Rica Lewis 46
                      quantity: 2
                      shipping_from:
                        address:
                          country_iso_code: FRA
                      shipping_price_excluding_taxes: 0
                      shipping_taxes: []
                      shipping_to:
                        address:
                          city: Paris
                          civility: MRS
                          company: Mirakl
                          country_iso_code: FRA
                          firstname: Jeanne
                          lastname: Dupont
                          state: Île-de-France
                          street1: 12, rue de Lübeck
                          street2: Bâtiment A
                          zip_code: '75116'
                      shop:
                        id: 1234
                      taxes:
                      - amount: 4
                        code: TVA
                        rate: 20
                      total_price_including_taxes: 24
                      unit_price_excluding_taxes: 10
                    - delivery_bill_information: []
                      entity_id: 9876543210-A-1
                      entity_type: PRODUCT_CREDIT_CANCEL
                      id: b2c3d4e5-1111-2222-3333-444455556667
                      order:
                        commercial_id: '9876543210'
                        id: 9876543210-A
                        reference_for_customer: 9876543210-C
                        reference_for_seller: 9876543210-S
                        transaction_info:
                          date: '2025-06-02T00:00:00Z'
                          number: '9876543210'
                      order_line:
                        id: 9876543210-A-1
                      price_excluding_taxes: 50
                      product:
                        references:
                        - reference: 0888755367001
                          type: EAN
                        sku: 0888755367001
                        title: Converse All Star
                      quantity: 1
                      shipping_from:
                        address:
                          country_iso_code: FRA
                      shipping_price_excluding_taxes: 0
                      shipping_taxes: []
                      shipping_to:
                        address:
                          city: Paris
                          civility: MRS
                          company: Mirakl
                          country_iso_code: FRA
                          firstname: Jeanne
                          lastname: Dupont
                          state: Île-de-France
                          street1: 12, rue de Lübeck
                          street2: Bâtiment A
                          zip_code: '75116'
                      shop:
                        id: 1234
                      taxes:
                      - amount: 10
                        code: TVA
                        rate: 20
                      total_price_including_taxes: 60
                      unit_price_excluding_taxes: 50
                application/json-2:
                  summary: List lines of a SHOP_BILLING_CYCLE_PURCHASE_ORDER invoice document request
                  value:
                    data:
                    - delivery_bill_information: []
                      entity_id: DS-2014-SAS657-A-1
                      entity_type: PURCHASE_ORDER_DEBIT
                      id: a1b2c3d4-5678-9abc-def0-111122223333
                      order:
                        commercial_id: DS-2014-SAS657
                        id: DS-2014-SAS657-A
                        reference_for_customer: DS-2014-SAS657-C
                        reference_for_seller: DS-2014-SAS657-S
                        transaction_info:
                          date: '2025-06-02T00:00:00Z'
                          number: DS-2014-SAS657
                      order_line:
                        id: DS-2014-SAS657-A-1
                      price_excluding_taxes: 5000
                      product:
                        references:
                        - reference: '5413729247857'
                          type: EAN
                        sku: '5413729247857'
                        title: Apple iPhone 16 256GB Ultramarine
                      promotions: []
                      quantity: 5
                      shipping_from:
                        address:
                          country_iso_code: FRA
                      shipping_price_excluding_taxes: 0
                      shipping_taxes: []
                      shipping_to:
                        address:
                          city: Paris
                          civility: MRS
                          company: Mirakl
                          country_iso_code: FRA
                          firstname: Jeanne
                          lastname: Dupont
                          state: Île-de-France
                          street1: 12, rue de Lübeck
                          street2: Bâtiment A
                          zip_code: '75116'
                      shop:
                        id: 1234
                      taxes:
                      - amount: 1000
                        code: TVA
                        rate: 20
                      total_price_including_taxes: 6000
                      unit_price_excluding_taxes: 1000
                    - delivery_bill_information: []
                      entity_id: DS-2014-SAS658-A-1
                      entity_type: PURCHASE_ORDER_DEBIT
                      id: a1b2c3d4-5678-9abc-def0-111122224444
                      order:
                        commercial_id: DS-2014-SAS658
                        id: DS-2014-SAS658-A
                        reference_for_customer: DS-2014-SAS658-C
                        reference_for_seller: DS-2014-SAS658-S
                        transaction_info:
                          date: '2025-06-02T00:00:00Z'
                          number: DS-2014-SAS658
                      order_line:
                        id: DS-2014-SAS658-A-1
                      price_excluding_taxes: 1500
                      product:
                        references:
                        - reference: 0195949806506
                          type: EAN
                        sku: 0195949806506
                        title: Apple iPhone 16 Pro Max 512GB Black Titanium
                      promotions: []
                      quantity: 1
                      shipping_from:
                        address:
                          country_iso_code: FRA
                      shipping_price_excluding_taxes: 0
                      shipping_taxes: []
                      shipping_to:
                        address:
                          city: Paris
                          civility: MRS
                          company: Mirakl
                          country_iso_code: FRA
                          firstname: Jeanne
                          lastname: Dupont
                          state: Île-de-France
                          street1: 12, rue de Lübeck
                          street2: Bâtiment A
                          zip_code: '75116'
                      shop:
                        id: 1234
                      taxes:
                      - amount: 300
                        code: TVA
                        rate: 20
                      total_price_including_taxes: 1800
                      unit_price_excluding_taxes: 1500
                application/json-3:
                  summary: List lines of a SHOP_BILLING_CYCLE_PURCHASE_ORDER credit note document request
                  value:
                    data:
                    - delivery_bill_information: []
                      entity_id: DS-2014-SAS658-A-1
                      entity_type: PURCHASE_ORDER_CREDIT
                      id: b1c2d3e4-5678-9abc-def0-aabb11223355
                      order:
                        commercial_id: DS-2014-SAS658
                        id: DS-2014-SAS658-A
                        reference_for_customer: DS-2014-SAS658-C
                        reference_for_seller: DS-2014-SAS658-S
                        transaction_info:
                          date: '2025-06-02T00:00:00Z'
                          number: DS-2014-SAS658
                      order_line:
                        id: DS-2014-SAS658-A-1
                      price_excluding_taxes: 1500
                      product:
                        references:
                        - reference: 0195949806506
[...]
