openapi: 3.1.0
info:
  description: '{% partial file="/partial-content/product/connect-channel-platform/rest/connect/openapi-description.md" /%}'
  title: Mirakl Connect Channel Platform APIs Carriers Offers API
  version: "1.0"
servers:
- description: Connect Channel Platform API
  url: https://miraklconnect.com/api/channel-platform
tags:
- name: Offers
paths:
  /api/offers/imports:
    post:
      description: '<div class="extension-title">Description</div>


        Returns the import identifier to track the status of the import.


        <div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: Every 5 minutes with offers only, every hour with offers and products, for each seller</div>

        <div class="max-call-frequency">Maximum usage: Once per minute with offers only, once every 15 minutes with offers and products, for each seller</div>

        </div>'
      operationId: OF01
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            examples:
              multipart/form-data-0:
                summary: text/csv payload
                value:
                  file: 'sku;product-id;product-id-type;description;internal-description;price-additional-info;quantity;min-quantity-alert;state;available-start-date;available-end-date;logistic-class;update-delete;discount-start-date;discount-end-date;price;discount-price;discount-ranges;price-ranges;discount-start-date[channel=FR];discount-end-date[channel=FR];price[channel=FR];discount-price[channel=FR];discount-ranges[channel=FR];prices-ranges[channel=FR];discount-start-date[channel=CA];discount-end-date[channel=CA];price[channel=CA];discount-price[channel=CA];discount-ranges[channel=CA];prices-ranges[channel=CA];leadtime-to-ship;ecotax;gift-wrap;min-quantity-ordered;producer-id[FR-DEA];eco-contribution-amount[FR-DEA];producer-id[DE-WEEE];eco-contribution-amount[DE-WEEE]

                    OFFER_SKU_004;MKP100000000037254;SKU;My Offer Description n∞1;My Internal description 1;My price Additional innformations;1000000;20;11;2017-02-20T10:45:53+01;2017-04-30T10:45:53+01;S;update;2017-02-22T10:45:53+01;2017-04-30T10:45:53+01;110.52;108,56;;5|109.20,10|108.736;2017-02-22T10:45:53+01;2017-03-31T10:45:53+01;105.56;102,36;;5|104.56,10|103.27;2017-02-22T10:45:53+01;2017-03-31T10:45:53+01;190.23;175,36;;5|182.58,10|181.27;15;1;true;1;FR123456_89ABCD;3.59;ProducerID1;0.99

                    '
                  import_mode: NORMAL
                  operator_format: true
                  shop: 0
                  with_products: true
              multipart/form-data-auto:
                summary: Complete example with value types (multipart/form-data)
                value:
                  file: string
                  import_mode: NORMAL
                  operator_format: true
                  shop: 0
                  with_products: true
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 'Import file (CSV or XML or XLSX) to upload. Use <code>multipart/form-data</code> with name <code>file</code>.<br/> Csv format:<br/><pre>"sku";"product-id";"product-id-type";"description";"internal-description";"price";"price-additional-info";"quantity";"min-quantity-alert";"state";"available-start-date";"available-end-date";"discount-price";"discount-start-date";"discount-end-date";"discount-ranges";"allow-quote-requests";"leadtime-to-ship";"min-order-quantity";"max-order-quantity";"package-quantity";"update-delete";"price-ranges";"ecotax";"gift-wrap";"min-quantity-ordered"</pre><br/><br/>If you use specific sales channels, use: <pre>"price[channel=channel code]";"discount-price[channel=channel code]";"discount-start-date[channel=channel code]";"discount-end-date[channel=channel code]";"discount-ranges[channel=channel code]";"price-ranges[channel=channel code]"</pre><br/>If you use the price per measurement unit feature, use <code>pricing-unit</code> to specify the unit corresponding to the submitted <code>price</code>.<br/><br/>If US Tax options are activated on the platform, use: <code>product-tax-code</code> to facilitate tax calculations.<br/><br/>If <i>Data collection related to circular economy regulations</i> is enabled, use:<br/><pre>"producer-id[EPR category code]"; "eco-contribution-amount[EPR category code]"</pre>EPR category code must be one of: <pre>FR-AGROPACK, FR-ASL, FR-DASRIPAT, FR-DBPS, FR-DDS, FR-DEA, FR-DEEE, FR-DISPMED, FR-DIY, FR-EMBM, FR-GF, FR-JOUETS, FR-LUB, FR-MH, FR-MNU, FR-PA, FR-PAP, FR-PCHIM, FR-PMCB, FR-PNEU, FR-TABAC, FR-TLC, FR-VEHICULE, FR-VHU, DE-BATTG, DE-PACK, DE-WEEE, ES-PACK, ES-GPACK, ES-WEEE</pre><br/>'
                import_mode:
                  type: string
                  description: "Enum: `\"NORMAL\"`, `\"REPLACE\"`\n\n<details>\n  <summary>See deprecated values</summary>\n\n  Deprecated values: `\"PARTIAL_UPDATE\"`\n</details>\n"
                operator_format:
                  type: boolean
                  default: false
                  description: Force the use of the operator product format
                shop:
                  type: integer
                  format: int64
                  description: Shop Identifier
                with_products:
                  type: boolean
                  default: false
                  description: This file also contains product information
              required:
              - file
              - import_mode
              - shop
      responses:
        '201':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Example with business values (application/json)
                  value:
                    import_id: 2035
                    product_import_id: 2036
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    import_id: 0
                    product_import_id: 0
              schema:
                type: object
                $ref: '#/components/schemas/OF01_Response_201'
          description: Created
          headers:
            Location:
              description: Pre-calculated URL to call to get the import status
              explode: false
              schema: {}
              style: simple
      security:
      - Operator-Bearer-Token: []
      - OAuth-2: []
      summary: OF01 - Import a file to create, update or delete offers
      tags:
      - Offers
      x-codeSamples:
      - lang: cURL
        source: "curl -i -X POST \\\n  https://your-instance.mirakl.net/api/offers/imports \\\n  -H 'Content-Type: multipart/form-data' \\\n  -F 'file=@path/to/file' \\\n  -F 'import_mode=\"\\\"NORMAL\\\"\";type=application/json' \\\n  -F 'operator_format=\"true\";type=application/json' \\\n  -F 'shop=\"0\";type=application/json' \\\n  -F 'with_products=\"true\";type=application/json'\n"
    get:
      description: '<div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: Every 5 minutes</div>

        <div class="max-call-frequency">Maximum usage: Once per minute</div>

        <div class="extension-title">Pagination</div>


        <p>This resource supports seek pagination (<a href="#section/Seek-pagination-and-sort">see documentation</a>)</p>


        <div class="extension-title">Sort fields</div>


        <code>sort</code> field can have the following values:<ul><li><b>dateCreated</b> (Default) - Sort by creation date (desc by default)</li></ul>


        </div>'
      operationId: OF04
      parameters:
      - description: Shop identifier
        explode: true
        in: query
        name: shop_id
        required: false
        schema:
          type: integer
          format: int64
        style: form
      - description: Start creation date for filtering
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - description: End creation date for filtering
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - description: Offer import status
        explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
          enum:
          - WAITING_SYNCHRONIZATION_PRODUCT
          - WAITING
          - RUNNING
          - COMPLETE
          - FAILED
        style: form
      - description: Offer import mode
        explode: true
        in: query
        name: mode
        required: false
        schema:
          type: string
          enum:
          - NORMAL
          - REPLACE
        style: form
      - description: List of offer import origins for filtering. This parameter can be supplied multiple times (origins=API&origins=FTP...).
        explode: true
        in: query
        name: origins
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - API
            - FTP
            - SFTP
            - HTTP
            - HTTPS
            - FRONT
            - PENDING_OFFERS
        style: form
      responses:
        '200':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Example with business values (application/json)
                  value:
                    data:
                    - date_created: '2021-05-11T14:50:25Z'
                      has_error_report: false
                      import_id: 2029
                      lines_in_error: 0
                      lines_in_pending: 0
                      lines_in_success: 8
                      lines_read: 8
                      mode: NORMAL
                      offer_deleted: 3
                      offer_inserted: 3
                      offer_updated: 2
                      origin: FRONT
                      shop_id: 123
                      status: COMPLETE
                    - date_created: '2021-05-11T14:50:25Z'
                      has_error_report: true
                      import_id: 2028
                      lines_in_error: 1
                      lines_in_pending: 0
                      lines_in_success: 9
                      lines_read: 10
                      mode: NORMAL
                      offer_deleted: 3
                      offer_inserted: 3
                      offer_updated: 3
                      origin: API
                      reason_status: A parsing error has occurred at line 10
                      shop_id: 456
                      status: WAITING
                    next_page_token: bGltaXQ9MiZhZnRlcj0yMDIxLTA1LTExJTIwMTY6NTA6MjUuNDczJnNvcnQ9ZGF0ZUNyZWF0ZWQsREVTQw==
                    previous_page_token: null
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    data:
                    - date_created: '2023-03-28T09:34:42Z'
                      has_error_report: true
                      import_id: 0
                      lines_in_error: 0
                      lines_in_pending: 0
                      lines_in_success: 0
                      lines_read: 0
                      mode: NORMAL
                      offer_deleted: 0
                      offer_inserted: 0
                      offer_updated: 0
                      origin: API
                      reason_status: string
                      shop_id: 0
                      status: WAITING_SYNCHRONIZATION_PRODUCT
                    next_page_token: string
                    previous_page_token: string
              schema:
                type: object
                $ref: '#/components/schemas/OF04_Response_200'
          description: OK
      security:
      - Operator-Bearer-Token: []
      - OAuth-2: []
      summary: OF04 - Get information and statistics about offer imports
      tags:
      - Offers
  /api/offers/imports/{import}:
    get:
      description: '<div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: After each OF01 call, every 5 minutes</div>

        <div class="max-call-frequency">Maximum usage: Once per minute</div>

        </div>'
      operationId: OF02
      parameters:
      - description: Import identifier
        explode: false
        in: path
        name: import
        required: true
        schema:
          type: integer
          format: int64
        style: simple
      responses:
        '200':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Example with business values (application/json)
                  value:
                    date_created: '2019-04-01T15:16:31Z'
                    has_error_report: false
                    import_id: 2035
                    lines_in_error: 0
                    lines_in_pending: 0
                    lines_in_success: 1
                    lines_read: 1
                    mode: NORMAL
                    offer_deleted: 0
                    offer_inserted: 1
                    offer_updated: 0
                    status: COMPLETE
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    date_created: '2023-03-28T09:34:42Z'
                    has_error_report: true
                    import_id: 0
                    lines_in_error: 0
                    lines_in_pending: 0
                    lines_in_success: 0
                    lines_read: 0
                    mode: NORMAL
                    offer_deleted: 0
                    offer_inserted: 0
                    offer_updated: 0
                    reason_status: string
                    status: WAITING_SYNCHRONIZATION_PRODUCT
                    type: AUTO
              schema:
                type: object
                $ref: '#/components/schemas/OF02_Response_200'
          description: OK
      security:
      - Operator-Bearer-Token: []
      - OAuth-2: []
      summary: OF02 - Get information and statistics about an offer import
      tags:
      - Offers
  /api/offers/imports/{import}/error_report:
    get:
      description: '<div class="extension-title">Description</div>


        This API returns a CSV, XLSX or XML file, depending on the file format provided by the seller.


        <div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: After each OF02 call, every 5 minutes</div>

        <div class="max-call-frequency">Maximum usage: Once per minute</div>

        </div>'
      operationId: OF03
      parameters:
      - description: Import identifier
        explode: false
        in: path
        name: import
        required: true
        schema:
          type: integer
          format: int64
        style: simple
      responses:
        '200':
          content:
            application/octet-stream:
              examples:
                application/octet-stream-0:
                  summary: Example with business values (application/octet-stream)
                  value: '"sku";"product-id";"product-id-type";"description";"internal-description";"price-additional-info";"quantity";"min-quantity-alert";"state";"available-start-date";"available-end-date";"logistic-class";"update-delete";"discount-start-date";"discount-end-date";"price";"discount-price";"discount-ranges";"price-ranges";"discount-start-date[channel=FR]";"discount-end-date[channel=FR]";"price[channel=FR]";"discount-price[channel=FR]";"discount-ranges[channel=FR]";"prices-ranges[channel=FR]";"discount-start-date[channel=CA]";"discount-end-date[channel=CA]";"price[channel=CA]";"discount-price[channel=CA]";"discount-ranges[channel=CA]";"prices-ranges[channel=CA]";"leadtime-to-ship";"error-line";"error-message"

                    "OFFER_SKU_004";"MKP100000000195360";"SKU";"My Offer Description n°1";"My Internal description 1";"My price Additional innformations";"1000000";"20";"11";"2017-02-20T10:45:53+01";"2017-04-30T10:45:53+01";"S";"update";"2017-02-22T10:45:53+01";"2017-04-30T10:45:53+01";"110.52";"108,56";"";"5|109.20,10|108.736";"2017-02-22T10:45:53+01";"2017-03-31T10:45:53+01";"105.56";"102,36";"";"5|104.56,10|103.27";"2017-02-22T10:45:53+01";"2017-03-31T10:45:53+01";"190.23";"175,36";"";"5|182.58,10|181.27";"15";"2";"The product does not exist"

                    '
                application/octet-stream-auto:
                  summary: Complete example with value types (application/octet-stream)
                  value: string
              schema:
                type: string
                format: binary
          description: OK
      security:
      - Operator-Bearer-Token: []
      - OAuth-2: []
      summary: OF03 - Get the error report file for an offer import
      tags:
      - Offers
  /api/offers/{offer}:
    get:
      description: '<div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: At each offer page display</div>

        <div class="max-call-frequency">Maximum usage: At each offer page display</div>

        <div class="extension-title">Read More</div>


        <ul><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/integrating_mirakl/integrate_price_approval.htm">If the "Price approval" option is activated, read this page</a></li><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/integration_guide/adv_pricing_inte/adv_pricing_offer_apis.htm#Aboutprioritizationrulesforpricefields">Price prioritization for Advanced Pricing</a></li></ul><div class="extension-title">Localization</div>


        <p>This resource supports <code>locale</code> parameter (<a href="#section/Locale">see documentation</a>)</p><p>Localized output fields will be highlighted with an icon: <span class="flag"></span></p></div>'
      operationId: OF22
      parameters:
      - description: Offer identifier
        explode: false
        in: path
        name: offer
        required: true
        schema:
          type: integer
          format: int64
        style: simple
      - description: Filter used to pick prices on a specific channel
        explode: true
        in: query
        name: pricing_channel_code
        required: false
        schema:
          type: string
        style: form
      - description: For Customer Pricing users only. Customer identifier code the API will use to return all prices and applicable price for this organization. Ignored if value does not exist.
        explode: true
        in: query
        name: pricing_customer_organization_id
        required: false
        schema:
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Example with business values for single channel pricing users (application/json)
                  value:
                    active: true
                    all_prices:
                    - channel_code: null
                      discount_end_date: '2019-04-29T22:00:00Z'
                      discount_start_date: '2019-03-31T22:00:00Z'
                      price: 49
                      unit_discount_price: 49
                      unit_origin_price: 50
                      volume_prices:
                      - price: 49
                        quantity_threshold: 1
                        unit_discount_price: 49
                        unit_origin_price: 50
                      - price: 44
                        quantity_threshold: 50
                        unit_discount_price: 44
                        unit_origin_price: 45
                      - price: 39
                        quantity_threshold: 100
                        unit_discount_price: 39
                        unit_origin_price: 40
                    - channel_code: US
                      context:
                        channel_codes:
                        - US
                      discount_end_date: '2019-04-29T22:00:00Z'
                      discount_start_date: '2019-03-31T22:00:00Z'
                      price: 59
                      unit_discount_price: 59
                      unit_origin_price: 60
                      volume_prices:
                      - price: 59
                        quantity_threshold: 1
                        unit_discount_price: 59
                        unit_origin_price: 60
                      - price: 49
                        quantity_threshold: 50
                        unit_discount_price: 49
                        unit_origin_price: 50
                      - price: 44
                        quantity_threshold: 100
                        unit_discount_price: 44
                        unit_origin_price: 45
                    - channel_code: US
                      context:
                        channel_codes:
                        - US
                        customer_group_ids:
                        - Group2
                        - Group3
                        customer_organization_ids:
                        - Org1
                        end_date: '2023-12-31T23:59:59Z'
                        start_date: '2023-01-01T00:00:00Z'
                      discount_end_date: '2023-01-31T22:00:00Z'
                      discount_start_date: '2023-03-31T22:00:00Z'
                      price: 29
                      unit_discount_price: 29
                      unit_origin_price: 30
                      volume_prices:
                      - price: 29
                        quantity_threshold: 1
                        unit_discount_price: 29
                        unit_origin_price: 30
                      - price: 19
                        quantity_threshold: 20
                        unit_discount_price: 19
                        unit_origin_price: 20
                      - price: 14
                        quantity_threshold: 100
                        unit_discount_price: 14
                        unit_origin_price: 15
                    allow_quote_requests: false
                    applicable_pricing:
                      channel_code: US
                      context:
                        channel_codes:
                        - US
                        customer_group_ids:
                        - Group2
                        - Group3
                        customer_organization_ids:
                        - Org1
                        end_date: '2023-12-31T23:59:59Z'
                        start_date: '2023-01-01T00:00:00Z'
                      discount_end_date: '2023-01-31T22:00:00Z'
                      discount_start_date: '2023-03-31T22:00:00Z'
                      price: 29
                      unit_discount_price: 29
                      unit_origin_price: 30
                      volume_prices:
                      - price: 29
                        quantity_threshold: 1
                        unit_discount_price: 29
                        unit_origin_price: 30
                      - price: 19
                        quantity_threshold: 20
                        unit_discount_price: 19
                        unit_origin_price: 20
                      - price: 14
                        quantity_threshold: 100
                        unit_discount_price: 14
                        unit_origin_price: 15
                    available_end_date: '2019-09-29T22:00:00Z'
                    available_start_date: '2019-03-31T22:00:00Z'
                    category_code: '3016100'
                    category_label: Shoes
                    channels:
                    - FR
                    - US
                    currency_iso_code: USD
                    description: Offer for product MKP100000000154824
                    discount:
                      discount_price: null
                      end_date: '2019-04-29T22:00:00Z'
                      origin_price: 50
                      ranges:
                      - price: 49
                        quantity_threshold: 1
                      - price: 44
                        quantity_threshold: 50
                      - price: 39
                        quantity_threshold: 100
                      start_date: '2019-03-31T22:00:00Z'
                    eco_contributions:
                    - eco_contribution_amount: 3.59
                      epr_category_code: FR-DEA
                      producer_id: FR123456_89ABCD
                    - eco_contribution_amount: 0.99
                      epr_category_code: DE-WEEE
                      producer_id: ProducerID1
                    fulfillment:
                      center:
                        code: DEFAULT
                    inactivity_reasons:
                    - SHOP_NOT_OPEN
                    - ZERO_QUANTITY
                    leadtime_to_ship: 10
                    logistic_class:
                      code: M
                      label: Medium
                    max_order_quantity: 5
                    min_order_quantity: 1
                    min_quantity_alert: 1
                    min_shipping_price: 0
                    min_shipping_price_additional: 0
                    min_shipping_type: CLC
                    min_shipping_zone: DOM1
                    model: MARKETPLACE
                    offer_additional_fields:
                    - code: ecotax
                      type: NUMERIC
                      value: '20'
                    - code: gift-wrap
                      type: BOOLEAN
                      value: 'true'
                    - code: min-quantity-ordered
                      type: NUMERIC
                      value: '5'
                    offer_id: 2135
                    package_quantity: 1
                    price: 49
                    price_additional_info: Apply Discount prices
                    product_brand: Capture
                    product_description: 'Cobalt, fuchsia, leopard print: imitation suede upper. Synthetic lining, upper and sole. Almond toe court with cushioned sole. Heel height 9cm.'
                    product_references:
                    - reference: '9400016774345'
                      reference_type: EAN
                    product_sku: MKP100000000154824
                    product_title: Capture Coloured Court Shoe - 10
                    quantity: 1000000
                    shipping_deadline: '2019-09-01T23:59:59.999Z'
                    shop_grade: 4
                    shop_id: 2000
                    shop_name: ACME SHOP
                    shop_sku: S2002
                    state_code: '11'
                    total_price: 49
                    warehouses:
                    - code: WAREHOUSE_001
                      quantity: 750000
                    - code: WAREHOUSE_002
                      quantity: 250000
                application/json-1:
                  summary: Example with business values for multi channel pricing users (application/json)
                  value:
                    active: true
                    all_prices:
                    - channel_code: null
                      discount_end_date: '2019-04-29T22:00:00Z'
                      discount_start_date: '2019-03-31T22:00:00Z'
                      price: 49
                      unit_discount_price: 49
                      unit_origin_price: 50
                      volume_prices:
                      - price: 49
                        quantity_threshold: 1
                        unit_discount_price: 49
                        unit_origin_price: 50
                      - price: 44
                        quantity_threshold: 50
                        unit_discount_price: 44
                        unit_origin_price: 45
                      - price: 39
                        quantity_threshold: 100
                        unit_discount_price: 39
                        unit_origin_price: 40
                    - channel_code: null
                      context:
                        channel_codes:
                        - US
                      discount_end_date: '2019-04-29T22:00:00Z'
                      discount_start_date: '2019-03-31T22:00:00Z'
                      price: 59
                      unit_discount_price: 59
                      unit_origin_price: 60
                      volume_prices:
                      - price: 59
                        quantity_threshold: 1
                        unit_discount_price: 59
                        unit_origin_price: 60
                      - price: 49
                        quantity_threshold: 50
                        unit_discount_price: 49
                        unit_origin_price: 50
                      - price: 44
                        quantity_threshold: 100
                        unit_discount_price: 44
                        unit_origin_price: 45
                    - channel_code: null
                      context:
                        channel_codes:
                        - US
                        - FR
                        customer_group_ids:
                        - Group2
                        - Group3
                        customer_organization_ids:
                        - Org1
                        end_date: '2023-12-31T23:59:59Z'
                        start_date: '2023-01-01T00:00:00Z'
                      discount_end_date: '2023-01-31T22:00:00Z'
                      discount_start_date: '2023-03-31T22:00:00Z'
                      price: 29
                      unit_discount_price: 29
                      unit_origin_price: 30
                      volume_prices:
                      - price: 29
                        quantity_threshold: 1
                        unit_discount_price: 29
                        unit_origin_price: 30
                      - price: 19
                        quantity_threshold: 20
                        unit_discount_price: 19
                        unit_origin_price: 20
                      - price: 14
                        quantity_threshold: 100
                        unit_discount_price: 14
                        unit_origin_price: 15
                    allow_quote_requests: false
                    applicable_pricing:
                      channel_code: null
                      context:
                        channel_codes:
                        - US
                        - FR
                        customer_group_ids:
                        - Group2
                        - Group3
                        customer_organization_ids:
                        - Org1
                        end_date: '2023-12-31T23:59:59Z'
                        start_date: '2023-01-01T00:00:00Z'
                      discount_end_date: '2023-01-31T22:00:00Z'
                      discount_start_date: '2023-03-31T22:00:00Z'
                      price: 29
                      unit_discount_price: 29
                      unit_origin_price: 30
                      volume_prices:
                      - price: 29
                        quantity_threshold: 1
                        unit_discount_price: 29
                        unit_origin_price: 30
                      - price: 19
                        quantity_threshold: 20
                        unit_discount_price: 19
                        unit_origin_price: 20
                      - price: 14
                        quantity_threshold: 100
                        unit_discount_price: 14
                        unit_origin_price: 15
                    available_end_date: '2019-09-29T22:00:00Z'
                    available_start_date: '2019-03-31T22:00:00Z'
                    category_code: '3016100'
                    category_label: Shoes
                    channels:
                    - FR
                    - US
                    currency_iso_code: USD
                    description: Offer for product MKP100000000154824
                    discount:
                      discount_price: null
                      end_date: '2019-04-29T22:00:00Z'
                      origin_price: 50
                      ranges:
                      - price: 49
                        quantity_threshold: 1
                      - price: 44
                        quantity_threshold: 50
                      - price: 39
                        quantity_threshold: 100
                      start_date: '2019-03-31T22:00:00Z'
                    eco_contributions:
                    - eco_contribution_amount: 3.59
                      epr_category_code: FR-DEA
                      producer_id: FR123456_89ABCD
                    - eco_contribution_amount: 0.99
                      epr_category_code: DE-WEEE
                      producer_id: ProducerID1
                    fulfillment:
                      center:
                        code: DEFAULT
                    inactivity_reasons:
                    - SHOP_NOT_OPEN
                    - ZERO_QUANTITY
                    leadtime_to_ship: 10
                    logistic_class:
                      code: M
                      label: Medium
                    max_order_quantity: 5
                    min_order_quantity: 1
                    min_quantity_alert: 1
                    min_shipping_price: 0
                    min_shipping_price_additional: 0
                    min_shipping_type: CLC
                    min_shipping_zone: DOM1
                    model: MARKETPLACE
                    offer_additional_fields:
                    - code: ecotax
                      type: NUMERIC
                      value: '20'
                    - code: gift-wrap
                      type: BOOLEAN
                      value: 'true'
                    - code: min-quantity-ordered
                      type: NUMERIC
                      value: '5'
                    offer_id: 2135
                    package_quantity: 1
                    price: 49
                    price_additional_info: Apply Discount prices
                    product_brand: Capture
                    product_description: 'Cobalt, fuchsia, leopard print: imitation suede upper. Synthetic lining, upper and sole. Almond toe court with cushioned sole. Heel height 9cm.'
                    product_references:
                    - reference: '9400016774345'
                      reference_type: EAN
                    product_sku: MKP100000000154824
                    product_title: Capture Coloured Court Shoe - 10
                    quantity: 1000000
                    shipping_deadline: '2019-09-01T23:59:59.999Z'
                    shop_grade: 4
                    shop_id: 2000
                    shop_name: ACME SHOP
                    shop_sku: S2002
                    state_code: '11'
                    total_price: 49
                    warehouses:
                    - code: WAREHOUSE_001
                      quantity: 750000
                    - code: WAREHOUSE_002
                      quantity: 250000
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    active: true
                    all_prices:
                    - channel_code: string
                      context:
                        channel_codes:
                        - string
                        customer_group_ids:
                        - string
                        customer_organization_ids:
                        - string
                        end_date: '2023-03-28T09:34:42Z'
                        start_date: '2023-03-28T09:34:42Z'
                      discount_end_date: '2023-03-28T09:34:42Z'
                      discount_start_date: '2023-03-28T09:34:42Z'
                      price: 0
                      unit_discount_price: 0
                      unit_origin_price: 0
                      volume_prices:
                      - price: 0
                        quantity_threshold: 0
                        unit_discount_price: 0
                        unit_origin_price: 0
                    allow_quote_requests: true
                    applicable_pricing:
                      channel_code: string
                      context:
                        channel_codes:
                        - string
                        customer_group_ids:
                        - string
                        customer_organization_ids:
                        - string
                        end_date: '2023-03-28T09:34:42Z'
                        start_date: '2023-03-28T09:34:42Z'
                      discount_end_date: '2023-03-28T09:34:42Z'
                      discount_start_date: '2023-03-28T09:34:42Z'
                      price: 0
                      unit_discount_price: 0
                      unit_origin_price: 0
                      volume_prices:
                      - price: 0
                        quantity_threshold: 0
                        unit_discount_price: 0
                        unit_origin_price: 0
                    available_end_date: '2023-03-28T09:34:42Z'
                    available_start_date: '2023-03-28T09:34:42Z'
                    category_code: string
                    category_label: string
                    channels:
                    - string
                    currency_iso_code: AED
                    description: string
                    discount:
                      discount_price: 0
                      end_date: '2023-03-28T09:34:42Z'
                      origin_price: 0
                      ranges:
                      - price: 0
                        quantity_threshold: 0
                      start_date: '2023-03-28T09:34:42Z'
                    eco_contributions:
                    - eco_contribution_amount: 0
                      epr_category_code: FR-AGROPACK
                      producer_id: string
                    favorite_rank: 0
                    fulfillment:
                      center:
                        code: string
                    inactivity_reasons:
                    - PRODUCT_STATUS_NEW
                    leadtime_to_ship: 0
                    logistic_class:
                      code: string
                      label: string
                    max_order_quantity: 0
                    min_order_quantity: 0
                    min_quantity_alert: 0
                    min_shipping_price: 0
                    min_shipping_price_additional: 0
                    min_shipping_type: string
                    min_shipping_zone: string
                    model: MARKETPLACE
                    msrp: 0
                    offer_additional_fields:
                    - code: string
                      type: STRING
                    offer_id: 0
                    package_quantity: 0
                    price: 0
                    price_additional_info: string
                    product_brand: string
                    product_description: string
                    product_references:
                    - reference: string
                      reference_type: string
                    product_sku: string
                    product_tax_code: string
                    product_title: string
                    quantity: 0
                    retail_prices:
                    - discount_end_date: '2023-03-28T09:34:42Z'
                      discount_start_date: '2023-03-28T09:34:42Z'
                      price: 0
                      unit_discount_price: 0
                      unit_origin_price: 0
                    shipping_deadline: '2023-03-28T09:34:42Z'
                    shop_grade: 0
                    shop_id: 0
                    shop_name: string
                    shop_sku: string
                    state_code: string
                    total_price: 0
                    warehouses:
                    - code: string
                      quantity: 0
              schema:
                type: object
                $ref: '#/components/schemas/OF22_Response_200'
          description: OK
      security:
      - Operator-Bearer-Token: []
      - OAuth-2: []
      summary: OF22 - Get information about an offer
      tags:
      - Offers
  /api/offers:
    post:
      description: '<div class="extension-title">Description</div>


        <p>Returns the import identifier to track the status of the update.</p><p>You must send all offer fields. Offer fields that are not sent are reset to their default value.</p>


        <div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: Every 5 minutes</div>

        <div class="max-call-frequency">Maximum usage: Once per minute</div>

        </div>'
      operationId: OF24
      parameters:
      - description: Shop ID
        explode: true
        in: query
        name: shop
        required: true
        schema:
          type: integer
          format: int64
        style: form
      requestBody:
        content:
          application/json:
            examples:
              application/json-0:
                summary: Example with business values (application/json)
                value:
                  offers:
                  - all_prices:
                    - channel_code: US
                      discount_end_date: '2019-04-29T22:00:00Z'
                      discount_start_date: '2019-04-01T22:00:00Z'
                      unit_discount_price: '49'
                      unit_origin_price: 50
                      volume_prices:
                      - quantity_threshold: 5
                        unit_discount_price: 45
                        unit_origin_price: 48
                    allow_quote_requests: false
                    available_ended: '2019-05-29T22:00:00Z'
                    available_started: '2019-03-01T22:00:00Z'
                    description: Offer for product MKP100000000154824
                    discount:
                      end_date: '2019-05-31T22:00:00Z'
                      price: 49
                      ranges:
                      - price: 45
                        quantity_threshold: 5
                      start_date: '2019-03-31T22:00:00Z'
                    eco_contributions:
                    - eco_contribution_amount: 3.59
                      epr_category_code: FR-DEA
                      producer_id: FR123456_89ABCD
                    - eco_contribution_amount: 0.99
                      epr_category_code: DE-WEEE
                      producer_id: ProducerID1
                    internal_description: Offer for product MKP100000000154824
                    leadtime_to_ship: 5
                    logistic_class: M
                    max_order_quantity: 3
                    min_order_quantity: 1
                    min_quantity_alert: 2
                    offer_additional_fields:
                    - code: ecotax
                      value: '20'
                    package_quantity: '2'
                    price: 50
                    price_additional_info: Apply Discount prices
                    product_id: '9400016774345'
                    product_id_type: EAN
                    product_tax_code: tax
                    quantity: '5000'
                    shop_sku: Offer_SKU_001
                    state_code: '11'
                    update_delete: update
              application/json-auto:
                summary: Complete example with value types (application/json)
                value:
                  offers:
                  - all_prices:
                    - channel_code: string
                      discount_end_date: string
                      discount_start_date: string
                      unit_discount_price: 0
                      unit_origin_price: 0
                      volume_prices:
                      - quantity_threshold: 0
                        unit_discount_price: 0
                        unit_origin_price: 0
                    allow_quote_requests: true
                    available_ended: string
                    available_started: string
                    description: string
                    discount:
                      end_date: string
                      price: 0
                      ranges:
                      - price: 0
                        quantity_threshold: 0
                      start_date: string
                    eco_contributions:
                    - eco_contribution_amount: 0
                      epr_category_code: FR-AGROPACK
                      producer_id: string
                    internal_description: string
                    leadtime_to_ship: 0
                    logistic_class: string
                    max_order_quantity: 0
                    min_order_quantity: 0
                    min_quantity_alert: 0
                    msrp: 0
                    offer_additional_fields:
                    - code: string
                      type: STRING
                    package_quantity: 0
                    price: 0
                    price_additional_info: string
                    pricing_unit: string
                    product_id: string
                    product_id_type: string
                    product_tax_code: string
                    quantity: 0
                    retail_prices:
                    - discount_end_date: string
                      discount_start_date: string
                      unit_discount_price: 0
                      unit_origin_price: 0
                    shop_sku: string
                    state_code: string
                    update_delete: string
            schema:
              $ref: '#/components/schemas/OF24_Request'
      responses:
        '201':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Example with business values (application/json)
                  value:
                    import_id: 2044
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    import_id: 0
              schema:
                type: object
                $ref: '#/components/schemas/OF24_Response_201'
          description: Created
          headers:
            Location:
              description: Pre-calculated URL to call to get the import status
              explode: false
              schema: {}
              style: simple
      security:
      - Operator-Bearer-Token: []
      - OAuth-2: []
      summary: OF24 - Create, update, or delete offers
      tags:
      - Offers
    get:
      description: '<div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: On each shop''s offers page view</div>

        <div class="max-call-frequency">Maximum usage: On each shop''s offers page view</div>

        <div class="extension-title">Read More</div>


        <ul><li><a href="https://help.mirakl.com/bundle/sellers/page/topics/Mirakl/mmp/Seller/sellers_doc/integrate_price_approval_api.htm">If the "Price approval" option is activated, read this page</a></li><li><a href="https://help.mirakl.com/bundle/sellers/page/topics/Mirakl/mmp/Seller/seller_api/adv_pricing_offer_apis_seller.html#Aboutprioritizationrulesforpricefields">Price prioritization for Advanced Pricing</a></li></ul><div class="extension-title">Pagination</div>


        <p>This resource supports offset pagination (<a href="#section/Offset-pagination-and-sort">see documentation</a>)</p>


        <div class="extension-title">Sort fields</div>


        <code>sort</code> field can have the following values:<ul><li><b>totalPrice</b> (Default) - Sort by total price (asc by default)</li><li><b>price</b> - Sort by price, total price (asc by default)</li><li><b>productTitle</b> - Sort by product title, total price (asc by default)</li></ul>


        <div class="extension-title">Localization</div>


        <p>This resource supports <code>locale</code> parameter (<a href="#section/Locale">see documentation</a>)</p><p>Localized output fields will be highlighted with an icon: <span class="flag"></span></p></div>'
      operationId: OF21
      parameters:
      - description: List of offer state codes
        explode: true
        in: query
        name: offer_state_codes
        required: false
        schema:
          type: string
        style: form
      - description: Offer's sku
        explode: true
        in: query
        name: sku
        required: false
        schema:
          type: string
        style: form
      - description: Product's sku
        explode: true
        in: query
        name: product_id
        required: false
        schema:
          type: string
        style: form
      - description: Filter only favorite offers
        explode: true
        in: query
        name: favorite
        required: false
        schema:
          type: boolean
          default: false
        style: form
      - description: Filter used to pick prices on a specific channel
        explode: true
        in: query
        name: pricing_channel_code
        required: false
        schema:
          type: string
        style: form
      - description: For Customer Pricing users only. Customer identifier code the API will use to return all prices and applicable price for this organization. Ignored if value does not exist.
        explode: true
        in: query
        name: pricing_customer_organization_id
        required: false
        schema:
          type: string
        style: form
      - description: Use this parameter when your user has access to several shops. If not specified, the shop_id from your default shop will be used.
        explode: true
        in: query
        name: shop_id
        required: false
        schema:
          type: integer
          format: int64
        style: form
      responses:
        '200':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Example with business values for single channel pricing users (application/json)
                  value:
                    offers:
                    - active: true
                      all_prices:
                      - channel_code: null
                        discount_end_date: '2019-04-29T22:00:00Z'
                        discount_start_date: '2019-03-31T22:00:00Z'
                        price: 49
                        unit_discount_price: 49
                        unit_origin_price: 50
                        volume_prices:
                        - price: 49
                          quantity_threshold: 1
                          unit_discount_price: 49
                          unit_origin_price: 50
                        - price: 44
                          quantity_threshold: 50
                          unit_discount_price: 44
                          unit_origin_price: 45
                        - price: 39
                          quantity_threshold: 100
                          unit_discount_price: 39
                          unit_origin_price: 40
                      - channel_code: US
                        context:
                          channel_codes:
                          - US
                        discount_end_date: '2019-04-29T22:00:00Z'
                        discount_start_date: '2019-03-31T22:00:00Z'
                        price: 59
                        unit_discount_price: 59
                        unit_origin_price: 60
                        volume_prices:
                        - price: 59
                          quantity_threshold: 1
                          unit_discount_price: 59
                          unit_origin_price: 60
                        - price: 49
                          quantity_threshold: 50
                          unit_discount_price: 49
                          unit_origin_price: 50
                        - price: 44
                          quantity_threshold: 100
                          unit_discount_price: 44
                          unit_origin_price: 45
                      - channel_code: US
                        context:
                          channel_codes:
                          - US
                          customer_group_ids:
                          - Group2
                          - Group3
                          customer_organization_ids:
                          - Org1
                          end_date: '2023-12-31T23:59:59Z'
                          start_date: '2023-01-01T00:00:00Z'
                        discount_end_date: '2023-01-31T22:00:00Z'
                        discount_start_date: '2023-03-31T22:00:00Z'
                        price: 29
                        unit_discount_price: 29
                        unit_origin_price: 30
                        volume_prices:
                        - price: 29
                          quantity_threshold: 1
                          unit_discount_price: 29
                          unit_origin_price: 30
                        - price: 19
                          quantity_threshold: 20
                          unit_discount_price: 19
                          unit_origin_price: 20
                        - price: 14
                          quantity_threshold: 100
                          unit_discount_price: 14
                          unit_origin_price: 15
                      allow_quote_requests: false
                      applicable_pricing:
                        channel_code: US
                        context:
                          channel_codes:
                          - US
                          customer_group_ids:
                          - Group2
                          - Group3
                          customer_organization_ids:
                          - Org1
                          end_date: '2023-12-31T23:59:59Z'
                          start_date: '2023-01-01T00:00:00Z'
                        discount_end_date: '2023-01-31T22:00:00Z'
                        discount_start_date: '2023-03-31T22:00:00Z'
                        price: 29
                        unit_discount_price: 29
                        unit_origin_price: 30
                        volume_prices:
                        - price: 29
                          quantity_threshold: 1
                          unit_discount_price: 29
                          unit_origin_price: 30
                        - price: 19
                          quantity_threshold: 20
                          unit_discount_price: 19
                          unit_origin_price: 20
                        - price: 14
                          quantity_threshold: 100
                          unit_discount_price: 14
                          unit_origin_price: 15
                      available_end_date: '2019-09-29T22:00:00Z'
                      available_start_date: '2019-03-31T22:00:00Z'
                      category_code: '3016100'
                      category_label: Shoes
                      channels:
                      - FR
                      - US
                      currency_iso_code: USD
                      description: Offer description
                      discount:
                        discount_price: null
                        end_date: '2019-04-29T22:00:00Z'
                        origin_price: 50
                        ranges:
                        - price: 49
                          quantity_threshold: 1
                        - price: 44
                          quantity_threshold: 50
                        - price: 39
                          quantity_threshold: 100
                        start_date: '2019-03-31T22:00:00Z'
                      eco_contributions:
                      - eco_contribution_amount: 3.59
                        epr_category_code: FR-DEA
                        producer_id: FR123456_89ABCD
                      - eco_contribution_amount: 0.99
                        epr_category_code: DE-WEEE
                        producer_id: ProducerID1
                      fulfillment:
                        center:
                          code: FULFILLMENT_CENTER_CODE
                      inactivity_reasons:
                      - SHOP_NOT_OPEN
                      - ZERO_QUANTITY
                      leadtime_to_ship: 10
                      logistic_class:
                        code: M
                        label: Medium
                      min_order_quantity: 1
                      min_shipping_price: 0
                      min_shipping_price_additional: 0
                      min_shipping_type: CLC
                      min_shipping_zone: DOM1
                      offer_additional_fields:
                      - code: ecotax
                        type: NUMERIC
                        value: '20'
                      - code: gift-wrap
                        type: BOOLEAN
                        value: 'true'
                      - code: min-quantity-ordered
                        type: NUMERIC
                        value: '5'
                      offer_id: 2135
                      package_quantity: 1
                      price: 49
                      price_additional_info: Apply Discount prices
                      product_brand: Capture
                      product_description: 'Cobalt, fuchsia, leopard print: imitation suede upper. Synthetic lining, upper and sole. Almond toe court with cushioned sole. Heel height 9cm.'
                      product_references:
                      - reference: '9400016774345'
                        reference_type: EAN
                      product_sku: MKP100000000154824
                      product_title: Capture Coloured Court Shoe - 10
                      quantity: 1000000
                      shipping_deadline: '2019-09-01T23:59:59.999Z'
                      shop_sku: S2002
                      state_code: '11'
                      total_price: 49
                      warehouses:
                      - code: WAREHOUSE_001
                        quantity: 750000
                      - code: WAREHOUSE_002
                        quantity: 250000
                    total_count: 1
                application/json-1:
                  summary: Example with business values for multi channel pricing users (application/json)
                  value:
                    offers:
                    - active: true
                      all_prices:
                      - channel_code: null
                        discount_end_date: '2019-04-29T22:00:00Z'
                        discount_start_date: '2019-03-31T22:00:00Z'
                        price: 49
                        unit_discount_price: 49
                        unit_origin_price: 50
                        volume_prices:
                        - price: 49
                          quantity_threshold: 1
                          unit_discount_price: 49
                          unit_origin_price: 50
                        - price: 44
                          quantity_threshold: 50
                          unit_discount_price: 44
                          unit_origin_price: 45
                        - price: 39
                          quantity_threshold: 100
                          unit_discount_price: 39
                          unit_origin_price: 40
                      - channel_code: null
                        context:
                          channel_codes:
                          - US
                        discount_end_date: '2019-04-29T22:00:00Z'
                        discount_start_date: '2019-03-31T22:00:00Z'
                        price: 59
                        unit_discount_price: 59
                        unit_origin_price: 60
                        volume_prices:
                        - price: 59
                          quantity_threshold: 1
                          unit_discount_price: 59
                          unit_origin_price: 60
                        - price: 49
                          quantity_threshold: 50
                          unit_discount_price: 49
                          unit_origin_price: 50
                        - price: 44
                          quantity_threshold: 100
                          unit_discount_price: 44
                          unit_origin_price: 45
                      - channel_code: null
                        context:
                          channel_codes:
                          - US
                          - FR
                          customer_group_ids:
                          - Group2
                          - Group3
                          customer_organization_ids:
                          - Org1
                          end_date: '2023-12-31T23:59:59Z'
                          start_date: '2023-01-01T00:00:00Z'
                        discount_end_date: '2023-01-31T22:00:00Z'
                        discount_start_date: '2023-03-31T22:00:00Z'
                        price: 29
                        unit_discount_price: 29
                        unit_origin_price: 30
                        volume_prices:
                        - price: 29
                          quantity_threshold: 1
                          unit_discount_price: 29
                          unit_origin_price: 30
                        - price: 19
                          quantity_threshold: 20
                          unit_discount_price: 19
                          unit_origin_price: 20
                        - price: 14
                          quantity_threshold: 100
                          unit_discount_price: 14
                          unit_origin_price: 15
                      allow_quote_requests: false
                      applicable_pricing:
                        channel_code: null
                        context:
                          channel_codes:
                          - US
                          - FR
                          customer_group_ids:
                          - Group2
                          - Group3
                          customer_organization_ids:
                          - Org1
                          end_date: '2023-12-31T23:59:59Z'
                          start_date: '2023-01-01T00:00:00Z'
                        discount_end_date: '2023-01-31T22:00:00Z'
                        discount_start_date: '2023-03-31T22:00:00Z'
                        price: 29
                        unit_discount_price: 29
                        unit_origin_price: 30
                        volume_prices:
                        - price: 29
                          quantity_threshold: 1
                          unit_discount_price: 29
                          unit_origin_price: 30
                        - price: 19
                          quantity_threshold: 20
                          unit_discount_price: 19
                          unit_origin_price: 20
                        - price: 14
                          quantity_threshold: 100
                          unit_discount_price: 14
                          unit_origin_price: 15
                      available_end_date: '2019-09-29T22:00:00Z'
                      available_start_date: '2019-03-31T22:00:00Z'
                      category_code: '3016100'
                      category_label: Shoes
                      channels:
                      - FR
                      - US
                      currency_iso_code: USD
                      description: Offer description
                      discount:
                        discount_price: null
                        end_date: '2019-04-29T22:00:00Z'
                        origin_price: 50
                        ranges:
                        - price: 49
                          quantity_threshold: 1
                        - price: 44
                          quantity_threshold: 50
                        - price: 39
                          quantity_threshold: 100
                        start_date: '2019-03-31T22:00:00Z'
                      eco_contributions:
                      - eco_contribution_amount: 3.59
                        epr_category_code: FR-DEA
                        producer_id: FR123456_89ABCD
                      - eco_contribution_amount: 0.99
                        epr_category_code: DE-WEEE
                        producer_id: ProducerID1
                      fulfillment:
                        center:
                          code: FULFILLMENT_CENTER_CODE
                      inactivity_reasons:
                      - SHOP_NOT_OPEN
                      - ZERO_QUANTITY
                      leadtime_to_ship: 10
                      logistic_class:
                        code: M
                        label: Medium
                      min_order_quantity: 1
                      min_shipping_price: 0
                      min_shipping_price_additional: 0
                      min_shipping_type: CLC
                      min_shipping_zone: DOM1
                      offer_additional_fields:
                      - code: ecotax
                        type: NUMERIC
                        value: '20'
                      - code: gift-wrap
                        type: BOOLEAN
                        value: 'true'
                      - code: min-quantity-ordered
                        type: NUMERIC
                        value: '5'
                      offer_id: 2135
                      package_quantity: 1
                      price: 49
                      price_additional_info: Apply Discount prices
                      product_brand: Capture
                      product_description: 'Cobalt, fuchsia, leopard print: imitation suede upper. Synthetic lining, upper and sole. Almond toe court with cushioned sole. Heel height 9cm.'
                      product_references:
                      - reference: '9400016774345'
                        reference_type: EAN
                      product_sku: MKP100000000154824
                      product_title: Capture Coloured Court Shoe - 10
                      quantity: 1000000
                      shipping_deadline: '2019-09-01T23:59:59.999Z'
                      shop_sku: S2002
                      state_code: '11'
                      total_price: 49
                      warehouses:
                      - code: WAREHOUSE_001
                        quantity: 750000
                      - code: WAREHOUSE_002
                        quantity: 250000
                    total_count: 1
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    offers:
                    - active: true
                      all_prices:
                      - channel_code: string
                        context:
                          channel_codes:
                          - string
                          customer_group_ids:
                          - string
                          customer_organization_ids:
                          - string
                          end_date: '2023-03-28T09:34:42Z'
                          start_date: '2023-03-28T09:34:42Z'
                        discount_end_date: '2023-03-28T09:34:42Z'
                        discount_start_date: '2023-03-28T09:34:42Z'
                        price: 0
                        unit_discount_price: 0
                        unit_origin_price: 0
                        volume_prices:
                        - price: 0
                          quantity_threshold: 0
                          unit_discount_price: 0
                          unit_origin_price: 0
                      allow_quote_requests: true
                      applicable_pricing:
                        channel_code: string
                        context:
                          channel_codes:
                          - string
                          customer_group_ids:
                          - string
                          customer_organization_ids:
                          - string
                          end_date: '2023-03-28T09:34:42Z'
                          start_date: '2023-03-28T09:34:42Z'
                        discount_end_date: '2023-03-28T09:34:42Z'
                        discount_start_date: '2023-03-28T09:34:42Z'
                        price: 0
                        unit_discount_price: 0
                        unit_origin_price: 0
                        volume_prices:
                        - price: 0
                          quantity_threshold: 0
                          unit_discount_price: 0
                          unit_origin_price: 0
                      available_end_date: '2023-03-28T09:34:42Z'
                      available_start_date: '2023-03-28T09:34:42Z'
                      category_code: string
                      category_label: string
                      channels:
                      - string
                      currency_iso_code: AED
                      description: string
                      discount:
                        discount_price: 0
                        end_date: '2023-03-28T09:34:42Z'
                        origin_price: 0
                        ranges:
                        - price: 0
                          quantity_threshold: 0
                        start_date: '2023-03-28T09:34:42Z'
                      eco_contributions:
                      - eco_contribution_amount: 0
                        epr_category_code: FR-AGROPACK
                        producer_id: string
                      favorite_rank: 0
                      fulfillment:
                        center:
                          code: string
                      inactivity_reasons:
                      - PRODUCT_STATUS_NEW
                      internal_description: string
                      leadtime_to_ship: 0
                      logistic_class:
                        code: string
                        label: string
                      max_order_quantity: 0
                      min_order_quantity: 0
                      min_quantity_alert: 0
                      min_shipping_price: 0
                      min_shipping_price_additional: 0
                      min_shipping_type: string
                      min_shipping_zone: string
                      msrp: 0
                      offer_additional_fields:
                      - code: string
                        type: STRING
                      offer_id: 0
                      package_quantity: 0
                      price: 0
                      price_additional_info: string
                      product_brand: string
                      product_description: string
                      product_references:
                      - reference: string
                        reference_type: string
                      product_sku: string
                      product_tax_code: string
                      product_title: string
                      quantity: 0
                      retail_prices:
                      - discount_end_date: '2023-03-28T09:34:42Z'
                        discount_start_date: '2023-03-28T09:34:42Z'
                        price: 0
                        unit_discount_price: 0
                        unit_origin_price: 0
                      shipping_deadline: '2023-03-28T09:34:42Z'
                      shop_sku: string
                      state_code: string
                      total_price: 0
                      warehouses:
                      - code: string
                        quantity: 0
                    total_count: 0
              schema:
                type: object
                $ref: '#/components/schemas/OF21_Response_200'
          description: OK
      security:
      - Shop-API-Key:
        - ROLE_SHOP_ADMIN
        - ROLE_PARTNER_OFFER_READ
      summary: OF21 - List offers of a shop
      tags:
      - Offers
  /api/offers/{offer}/quantity:
    get:
      deprecated: true
      description: '<div class="extension-title">Description</div>


        <p>Quantity return rules:<ul><li> 0: if quantity = 0 or the offer is not available</li><li> x: quantity available</li></ul></p>


        <div class="api-description-extension">

        </div>'
      operationId: OF26
      parameters:
      - description: Offer ID
        explode: false
        in: path
        name: offer
        required: true
        schema:
          type: integer
          format: int64
        style: simple
      responses:
        '200':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Example with business values (application/json)
                  value:
                    offer_id: 2087
                    quantity: 7
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    offer_id: 0
                    quantity: 0
              schema:
                type: object
                $ref: '#/components/schemas/OF26_Response_200'
          description: OK
      security:
      - Operator-Bearer-Token: []
      - OAuth-2: []
      summary: OF26 - Get the quantity of stock available for an offer.
      tags:
      - Offers
      x-badges:
      - color: noIntegrationBadge
        name: ⚠️ No Integration Allowed ⚠️
        position: after
  /api/offers/export:
    get:
      deprecated: true
      description: '<div class="extension-title">Deprecated endpoint</div>


        This API is going to be removed in a future update, please use APIs OF52, OF53, and OF54 instead.


        <div class="extension-title">Description</div>


        Get a CSV file that includes the offers updated and deleted since the last request date.<br/>For deleted offers, only offer-id, product-sku, shop-id, shop-sku, active and deleted columns are returned. <br/>If the last_request_date param is not set the api returns all the active offers (inactive offers can be included with include_inactive_offers parameter).<br/>If offers have custom fields, a column is added for each existing custom field with as header the code of the custom field.<br/><br/>Results are sorted by offer identifier.


        <div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: <br/>- Differential: every 5 minutes <br/>- Full: once per day</div>

        <div class="max-call-frequency">Maximum usage: <br/>- Differential: once per minute <br/>- Full: once per day</div>

        <div class="extension-title">Read More</div>


        <ul><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/integrating_mirakl/export_offers.html">More context about exporting offers (synchronous)</a></li><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/integration_guide/integrate_offers_from_sellers_in_system.html">More context about integrating offers from sellers</a></li></ul></div>'
      operationId: OF51
      parameters:
      - description: Date and time of your last request.<br/>If provided, retrieves all offers updated since this date and time, including deleted and inactive offers.<br/>If not provided, retrieves all active offers only, unless otherwise specified in the <i>include_inactive_offers</i> field.
        explode: true
        in: query
        name: last_request_date
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - description: List of the channel codes to filter with, using a comma (,) as a separator. If specified, only offers that can be sold on the specified channel(s) will be returned. If not, offers will be returned regardless of their channels.
        explode: true
        in: query
        name: channel_codes
        required: false
        schema:
          type: string
        style: form
      - description: List of the shipping zones codes to filter with, URL-encoded and using a comma (,) as a separator. If specified, only shipping information linked to the given zones will be returned. Otherwise, all shipping information for all zones will be returned.
        explode: true
        in: query
        name: shipping_zones
        required: false
        schema:
          type: string
        style: form
      - description: When calling the API in full mode (i.e. when no <i>last_request_date</i> is provided), inactive offers are not returned. To retrieve both active and inactive offers, set this field to true.<br />When calling the API in differential mode (i.e. when the <i>last_request_date</i> is provided), both active and inactive offers are returned. This field cannot be used in differential mode otherwise the call fails.
        explode: true
        in: query
        name: include_inactive_offers
        required: false
        schema:
          type: boolean
          default: false
        style: form
      - description: List of the fields to include, URL-encoded and using a comma (,) as a separator. If specified, only listed fields will be returned.
        explode: true
        in: query
        name: include_fields
        required: false
        schema:
          type: string
        style: form
      - description: A comma separated list of platform models to filter with. Accepted values are <code>MARKETPLACE</code>, <code>DROPSHIP</code>, <code>ONE_CREDITOR</code>
        explode: true
        in: query
        name: models
        required: false
        schema:
          type: string
        style: form
      responses:
        '200':
          content:
            text/csv:
              examples:
                text/csv-0:
                  summary: Example with business values (text/csv)
                  value: 'offer-id;product-sku;min-shipping-price;min-shipping-price-additional;min-shipping-zone;min-shipping-type;price;total-price;price-additional-info;quantity;description;state-code;shop-id;shop-name;professional;premium;logistic-class;active;favorite-rank;channels;deleted;origin-price;discount-start-date;discount-end-date;available-start-date;available-end-date;discount-price;currency-iso-code;discount-ranges;leadtime-to-ship;allow-quote-requests;price-ranges;fulfillment-center-code;shop-sku;date-created;last-updated;model;min-order-quantity;max-order-quantity;package-quantity;price[channel=CA];origin-price[channel=CA];discount-start-date[channel=CA];discount-end-date[channel=CA];discount-price[channel=CA];discount-ranges[channel=CA];price-ranges[channel=CA];price[channel=FR];origin-price[channel=FR];discount-start-date[channel=FR];discount-end-date[channel=FR];discount-price[channel=FR];discount-ranges[channel=FR];price-ranges[channel=FR];price[channel=BFR];origin-price[channel=BFR];discount-start-date[channel=BFR];discount-end-date[channel=BFR];discount-price[channel=BFR];discount-ranges[channel=BFR];price-ranges[channel=BFR];price[channel=CHR];origin-price[channel=CHR];discount-start-date[channel=CHR];discount-end-date[channel=CHR];discount-price[channel=CHR];discount-ranges[channel=CHR];price-ranges[channel=CHR];price[channel=US];origin-price[channel=US];discount-start-date[channel=US];discount-end-date[channel=US];discount-price[channel=US];discount-ranges[channel=US];price-ranges[channel=US];ecotax;gift-wrap;min-quantity-ordered;measurement-units;producer-id[FR-DEA];eco-contribution-amount[FR-DEA];producer-id[DE-WEEE];eco-contribution-amount[DE-WEEE]

                    2130;MKP100000000037254;0.00;0.00;DOM1;CLC;50.00;50.00;;40;;11;2000;ACME SHOP;true;true;M;true;;FR|US;false;50.00;;;;;;USD;;;false;1|50.00;DEFAULT;sku-2130;2019-01-31T22:00:00Z;2024-01-07T08:52:10Z;MARKETPLACE;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;kg|1.00000000,L|1.00000000;FR123456_89ABCD;3.59;ProducerID1;0.99

                    2131;MKP100000000025008;0.00;0.00;DOM1;CLC;50.00;50.00;;20;;11;2000;ACME SHOP;true;true;M;true;;FR|US;false;50.00;;;;;;USD;;;false;1|50.00;DEFAULT;sku-2130;2019-03-31T22:00:00Z;2024-01-07T08:52:10Z;MARKETPLACE;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;FR123456_89ABCD;3.59;ProducerID1;0.99

                    2135;MKP100000000154824;0.00;0.00;DOM1;CLC;49.00;49.00;Apply Discount prices;1000000;Offer description;11;2000;ACME SHOP;true;true;M;true;;FR|US;false;50.00;2019-03-31T22:00:00Z;2019-04-29T22:00:00Z;2019-03-31T22:00:00Z;2019-09-29T22:00:00Z;;USD;1|49.00,50|44.00,100|39.00;10;false;1|50.00,50|45.00,100|40.00;DEFAULT;sku-2130;2019-03-31T22:00:00Z;2024-01-07T08:52:10Z;DROPSHIP;1;5;1;;;;;;;;59.00;60.00;2019-03-31T22:00:00Z;2019-04-29T22:00:00Z;;1|59.00,50|49.00,100|44.00;1|60.00,50|50.00,100|45.00;;;;;;;;;;;;;;;;;;;;;;20;true;5;;FR123456_89ABCD;3.59;ProducerID1;0.99

                    2136;MKP100000000154824;0.00;0.00;DOM1;CLC;49.00;49.00;Apply Discount prices;5000;Offer for product MKP100000000154824;11;2000;ACME SHOP;true;true;M;true;;FR|US;false;50.00;2019-03-31T22:00:00Z;2019-05-31T22:00:00Z;2019-03-01T22:00:00Z;2019-05-29T22:00:00Z;;USD;1|49.00,5|45.00;5;true;1|50.00;DEFAULT;sku-2130;2019-03-31T22:00:00Z;2024-01-07T08:52:10Z;DROPSHIP;2;3;2;;;;;;;;;;;;;;;;;;;;;;;;;;;;;49.00;49.00;2019-04-01T22:00:00Z;2019-04-29T22:00:00Z;;50|45.00;1|49.00,50|48.00;20;;;;FR123456_89ABCD;3.59;ProducerID1;0.99

                    '
                text/csv-1:
                  summary: Example with business values (text/csv) with shipping charges and delivery times
                  value: 'offer-id;...;shipping-price[zone=DOM1,method=STD];delivery-time-earliest-days[zone=DOM1,method=STD];delivery-time-latest-days[zone=DOM1,method=STD]

                    2130;...;10.00;1;2

                    2131;...;15.00;;

                    '
                text/csv-auto:
                  summary: Complete example with value types (text/csv)
                  value: string
              schema:
                type: array
                format: binary
                items:
                  $ref: '#/components/schemas/OF51_Response_200_TextCsv_Ext_FileStructure'
          description: 'OK


            > **text/csv**

            >

            > <div class="alert alert-primary" role="alert">

            > The offer custom fields are not listed here. Each custom field will have its own column in the CSV file, with the custom field code as the column name.</div>'
      security:
      - Operator-Bearer-Token: []
      - OAuth-2: []
      summary: OF51 - Get offers CSV file
      tags:
      - Offers
      x-badges:
      - color: noIntegrationBadge
        name: ⚠️ No Integration Allowed ⚠️
        position: after
  /api/offers/export/async:
    post:
      description: '<div class="extension-title">Description</div>


        Export status and files links can be retrieved by calling OF53.<br/>Get a CSV or JSON file that includes the offers updated and deleted since the last request date.<br/><br/>

        <div class="alert alert-warning" role="alert">

        To ease testing processes, the minimum values for "megabytes_per_chunk" and "items_per_chunk" have been lowered on TEST and DEV environments.<br/>

        Please adapt these values on PROD environments.

        </div>



        <div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: <br/>- Differential: every 5 minutes <br/>- Full: once per day</div>

        <div class="max-call-frequency">Maximum usage: <br/>- Differential: once per minute <br/>- Full: once per day</div>

        <div class="extension-title">Read More</div>


        <ul><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/integration_guide/adv_pricing_inte/adv_pricing_of52.htm">Exporting offers with advanced prices</a></li><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/integrating_mirakl/export_offers_async.html">Exporting offers asynchronously - APIs OF52/53</a></li></ul></div>'
      operationId: OF52
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              application/json-0:
                summary: Example of an asynchronous offer CSV export request with business values (application/json)
                value:
                  channel_codes:
                  - B2B
                  export_type: text/csv
                  include_fields:
                  - active
                  - allow-quote-requests
                  - available-end-date
                  - available-start-date
                  - channels
                  - currency-iso-code
                  - date-created
                  - deleted
                  - description
                  - discount-end-date
                  - discount-price
                  - discount-ranges
                  - discount-start-date
                  - favorite-rank
                  - fulfillment-center-code
                  - leadtime-to-ship
                  - logistic-class
                  - measurement-units
                  - min-shipping-price
                  - min-shipping-price-additional
                  - min-shipping-type
                  - min-shipping-zone
                  - offer-id
                  - ongoing-discount-campaigns
                  - origin-price
                  - premium
                  - price
                  - price[channel=B2B]
                  - price-additional-info
                  - price-ranges
                  - product-sku
                  - professional
                  - quantity
                  - shop-id
                  - shop-name
                  - shop-sku
                  - state-code
                  - total-price
                  - model
                  items_per_chunk: 10000
                  last_request_date: '2021-11-12T02:34:00Z'
                  megabytes_per_chunk: 100
                  ongoing_discount_campaign_identifiers:
                  - 1_JANUARY_PROMOTION_CAMPAIGN
                  - 2_FEBRUARY_PROMOTION_CAMPAIGN
                  rename_fields:
                    active: active
                    allow-quote-requests: allowQuoteRequests
                    available-end-date: availableEndDate
                    available-start-date: availableStartDate
                    channels: channels
                    currency-iso-code: currencyIsoCode
                    date-created: dateCreated
                    deleted: deleted
                    description: description
                    discount-end-date: discountEndDate
                    discount-price: discountPrice
                    discount-ranges: discountRanges
                    discount-start-date: discountStartDate
                    favorite-rank: favoriteRank
                    fulfillment-center-code: fulfillmentCenterCode
                    leadtime-to-ship: leadtimeToShip
                    logistic-class: logisticClass
                    measurement-units: measurementUnits
                    min-shipping-price: minShippingPrice
                    min-shipping-price-additional: minShippingPriceAdditional
                    min-shipping-type: minShippingType
                    min-shipping-zone: minShippingZone
                    model: model
                    offer-id: offerId
                    ongoing-discount-campaigns: ongoingDiscountCampaigns
                    origin-price: originPrice
                    premium: premium
                    price: price
                    price-additional-info: priceAdditionalinfo
                    price-ranges: priceRanges
                    product-sku: productSku
                    professional: professional
                    quantity: quantity
                    shop-id: shopId
                    shop-name: shopName
                    state-code: stateCode
                    total-price: totalPrice
                  shipping_zones:
                  - DOM1
              application/json-1:
                summary: Example of an asynchronous offer JSON export request with business values (application/json)
                value:
                  channel_codes:
                  - B2B
                  exclude_customer_specific_prices: 'false'
                  export_type: application/json
                  include_fields:
                  - active
                  - allow_quote_requests
                  - available_end_date
                  - available_start_date
                  - channels
                  - currency_iso_code
                  - date_created
                  - deleted
                  - description
                  - favorite_rank
                  - fulfillment
                  - is_professional
                  - leadtime_to_ship
                  - logistic_class
                  - measurement_units
                  - min_shipping_price
                  - min_shipping_price_additional
                  - offer_id
                  - ongoing_discount_campaigns
                  - premium
                  - prices
                  - price_additional_info
                  - product_sku
                  - quantity
                  - shipping_types
                  - shop_id
                  - shop_name
                  - shop_sku
                  - state_code
                  - eco_contributions
                  - model
                  items_per_chunk: 10000
                  last_request_date: '2021-11-12T02:34:00Z'
                  megabytes_per_chunk: 100
                  ongoing_discount_campaign_identifiers:
                  - 1_JANUARY_PROMOTION_CAMPAIGN
                  - 2_FEBRUARY_PROMOTION_CAMPAIGN
                  shipping_zones:
                  - DOM1
              application/json-auto:
                summary: Complete example with value types (application/json)
                value:
                  channel_codes:
                  - string
                  exclude_customer_specific_prices: true
                  export_type: text/csv
                  include_fields:
                  - string
                  include_inactive_offers: true
                  items_per_chunk: 0
                  last_request_date: '2023-03-28T09:34:42Z'
                  megabytes_per_chunk: 0
                  models:
                  - string
                  ongoing_discount_campaign_identifiers:
                  - string
                  rename_fields: object
                  shipping_zones:
                  - string
            schema:
              $ref: '#/components/schemas/OF52_Request'
      responses:
        '200':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Example of an asynchronous offer export response with business values (application/json)
                  value:
                    tracking_id: 760a9a3a-1a3a-4f0d-93a5-cef772c7c3e5
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    tracking_id: string
              schema:
                type: object
                $ref: '#/components/schemas/OF52_Response_200'
          description: OK
      security:
      - Operator-Bearer-Token: []
      - OAuth-2: []
      summary: OF52 - Export offers CSV or JSON file asynchronously
      tags:
      - Offers
  /api/offers/export/async/status/{tracking_id}:
    get:
      description: '<div class="extension-title">Description</div>


        Retrieve the status for an OF52 offer export.<br/>

        When the export is complete, the URLs to retrieve the files are returned.



        <div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: Once per minute until you get an error or a success</div>

        <div class="max-call-frequency">Maximum usage: Every 10 seconds</div>

        <div class="extension-title">Read More</div>


        <ul><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/integration_guide/adv_pricing_inte/adv_pricing_of52.htm">Exporting offers with advanced prices</a></li><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/integrating_mirakl/export_offers_async.html">Exporting offers asynchronously - APIs OF52/53</a></li></ul></div>'
      operationId: OF53
      parameters:
      - description: The asynchronous offer export id
        explode: false
        in: path
        name: tracking_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Example of a pending export with business values (application/json)
                  value:
                    last_updated: '2021-09-23T08:14:06.095Z'
                    status: PENDING
                application/json-1:
                  summary: Example of a failed export with business values (application/json)
                  value:
                    error:
                      code: '1'
                      detail: Internal error
                    last_updated: '2021-09-23T08:14:06.095Z'
                    status: FAILED
                application/json-2:
                  summary: Example of a completed CSV export with business values (application/json)
                  value:
                    last_updated: '2021-09-15T08:52:30.348Z'
                    status: COMPLETED
                    urls:
                    - http://your-mirakl-tenant.mirakl.net/api/offers/export/async/file/5715f797-2adb-43d9-bdc3-4bb9fcc90909?file=of52-export%offers/0.csv
                    - http://your-mirakl-tenant.mirakl.net/api/offers/export/async/file/5715f797-2adb-43d9-bdc3-4bb9fcc90909?file=of52-export%offers/1.csv
                    - '...'
                application/json-3:
                  summary: Example of a completed JSON export with business values (application/json)
                  value:
                    last_updated: '2021-09-15T08:52:30.348Z'
                    status: COMPLETED
                    urls:
                    - http://your-mirakl-tenant.mirakl.net/api/offers/export/async/file/5715f797-2adb-43d9-bdc3-4bb9fcc90909?file=of52-export%offers/0.json
                    - http://your-mirakl-tenant.mirakl.net/api/offers/export/async/file/5715f797-2adb-43d9-bdc3-4bb9fcc90909?file=of52-export%offers/1.json
                    - '...'
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    error:
                      code: string
                      detail: string
                    last_updated: '2023-03-28T09:34:42Z'
                    status: string
                    urls:
                    - string
              schema:
                type: object
                $ref: '#/components/schemas/OF53_Response_200'
          description: OK
      security:
      - Operator-Bearer-Token: []
      - OAuth-2: []
      summary: OF53 - Poll the status of an asynchronous offer export (OF52)
      tags:
      - Offers
  /dynamic-url/The+URL+is+retrieved+from+OF53+output/OF54:
    get:
      description: '<div class="extension-title">Description</div>


        Retrieve each chunk of an offer export file via the URL generated once the asynchronous offer export is complete


        <div class="api-description-extension">

        <div class="extension-title">Read More</div>


        <ul><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/integration_guide/adv_pricing_inte/adv_pricing_of52.htm">Exporting offers with advanced prices</a></li><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/integrating_mirakl/export_offers_async.html">Exporting offers asynchronously - APIs OF52/53</a></li></ul></div>'
      operationId: OF54
      parameters:
      - description: The asynchronous offer export id
        explode: false
        in: path
        name: tracking_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Example with business values (application/json)
                  value:
                  - active: true
                    allow_quote_requests: true
                    channels:
                    - BFR
                    - CA
                    - CHR
                    - FR
                    - US
                    currency_iso_code: EUR
                    date_created: '2022-01-01T07:52:10Z'
                    deleted: false
                    description: "This is description of the offer 1200: \n Cotton flannelette, brushed both sides for extra comfort and warmth. 165gsm. Includes one flat sheet, one fitted sheet, one pillowcase in single and king single sets, and two pillowcases in all other sets."
                    eco_contributions:
                    - eco_contribution_amount: 3.59
                      epr_category_code: FR-DEA
                      producer_id: FR123456_89ABCD
                    - eco_contribution_amount: 0.99
                      epr_category_code: DE-WEEE
                      producer_id: ProducerID1
                    fulfillment:
                      center:
                        code: DEFAULT
                    is_professional: false
                    last_updated: '2022-03-03T08:52:10Z'
                    leadtime_to_ship: 10
                    logistic_class:
                      code: M
                    min_shipping_price: 0
                    min_shipping_price_additional: 0
                    min_shipping_type: CLC
                    min_shipping_zone: DOM1
                    model: DROPSHIP
                    no_commission: false
                    offer_id: 2003
                    ongoing_discount_campaigns:
                    - identifier: discount_campaign_1
                    premium: false
                    prices:
                    - origin_price: 69.99
[...]
