openapi: 3.2.0
info:
  title: Mirakl Returns API
  version: ''
  description: 'Operations tagged Returns across 5 of this provider''s published API definitions: mirakl-connect-channel-openapi.json, mirakl-connect-openapi.yaml, mirakl-mmp-front-openapi.yaml, mirakl-mmp-operator-openapi.json, mirakl-mmp-seller-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Connect Channel Platform API
  url: https://miraklconnect.com/api/channel-platform
- description: Connect Production endpoint
  url: https://miraklconnect.com/api
- description: URL to be replaced by your Mirakl instance URL
  url: https://your-instance.mirakl.net
tags:
- name: Returns
paths:
  /v1/orders/returns:
    post:
      description: "<div class=\"extension-title\">Description</div>\n\nUse this API to synchronize returns with Mirakl Connect.\n\n   ## Overview\n   - Returns are always associated to an order already known by Mirakl Connect\n   - Each return line must reference an order line already known by Mirakl Connect\n   - The API performs an upsert: existing returns are updated, new ones are created\n   - The operation is **partially successful**: some returns in the payload can succeed while others fail\n\n   ## Usage Notes\n   - The `channel_order_id` must reference an order previously synchronized through the orders API\n   - Each `channel_order_line_id` in `return_lines` must reference an order line previously synchronized through the orders API\n   - This API does not support PATCH operations. Always send all fields for each return.\n   - When the request is syntactically valid, HTTP status is `200` even if some or all returns failed\n   - Global failures are reported with standard HTTP errors: `400` for invalid payloads and `404` for unknown global resources (such as channel or store).\n\n\n<div class=\"api-description-extension\">\n<div class=\"extension-title\">Call Frequency</div>\n\n<div class=\"recommended-call-frequency\">Recommended usage: Every 5 minutes</div>\n<div class=\"max-call-frequency\">Maximum usage: Once per minute</div>\n</div>"
      operationId: upsertReturns
      requestBody:
        content:
          application/json:
            examples:
              application/json-auto:
                summary: Complete example with value types (application/json)
                value:
                  origin:
                    channel_id: string
                    channel_store_id: string
                  returns:
                  - channel_return_id: string
                    channel_order_id: string
                    rma_id: string
                    status: REQUEST_INITIATED
                    tracking:
                      tracking_number: string
                      carrier_name: string
                      tracking_url: string
                    label_url: string
                    method: string
                    rejection_reason: RETURN_WINDOW_CLOSED
                    address:
                      street: string
                      street_additional_info: string
                      city: string
                      state: string
                      country: string
                      country_iso_code: string
                      zip_code: string
                    created_at: '2023-03-28T09:34:42Z'
                    channel_updated_at: '2023-03-28T09:34:42Z'
                    return_lines:
                    - channel_order_line_id: string
                      quantity: 0
                      reason: WRONG_ITEM
                    sub_channel_code: string
            schema:
              $ref: '#/components/schemas/UpsertReturnsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    return_success:
                    - channel_order_id: string
                      channel_return_id: string
                    return_errors:
                    - channel_order_id: string
                      channel_return_id: string
                      details:
                      - code: string
                        message: string
                        field: string
              schema:
                $ref: '#/components/schemas/UpsertReturnsResponse'
          description: Detailed per-return upsert result. Response body contains success and error details for each return.
        '400':
          content:
            application/json:
              examples:
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    code: DATA_NOT_FOUND
                    message: An error occurred while processing your request
                    errors:
                    - message: 'An error occurred while processing your request: id is null'
                      field: input.account.id
                      extensions:
                        minLength: 1
                        maxLength: 255
                    extensions:
                      minLength: 1
                      maxLength: 255
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        '404':
          content:
            application/json:
              examples:
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    code: DATA_NOT_FOUND
                    message: An error occurred while processing your request
                    errors:
                    - message: 'An error occurred while processing your request: id is null'
                      field: input.account.id
                      extensions:
                        minLength: 1
                        maxLength: 255
                    extensions:
                      minLength: 1
                      maxLength: 255
              schema:
                $ref: '#/components/schemas/Error'
          description: 'A critical resource was not found. This may occur if: - The channel or its technology is unknown to connect - The store is unknown to connect'
      security:
      - Bearer:
        - connect-channel-platform:order-returns:upsert
      summary: upsertReturns - Upsert returns
      tags:
      - Returns
    servers:
    - description: Connect Channel Platform API
      url: https://miraklconnect.com/api/channel-platform
  /v2/orders/returns/{return_id}/accept:
    put:
      description: '<div class="extension-title">Description</div>


        Use this API to accept or refuse a return that is in the <code>REQUEST_INITIATED</code> status, from Mirakl Connect. The API also synchronizes the return status on the sales channel.


        <div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: On each new return</div>

        <div class="max-call-frequency">Maximum usage: On each new return</div>

        </div>'
      operationId: v2-acceptReturn
      parameters:
      - description: Return identifier in Mirakl Connect
        example: 70885
        explode: false
        in: path
        name: return_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              application/json-0:
                summary: Accept return request
                value:
                  accepted: true
              application/json-1:
                summary: Refuse return request
                value:
                  accepted: false
                  rejection_reason: NOT_ELIGIBLE_FOR_RETURN
              application/json-auto:
                summary: Complete example with value types (application/json)
                value:
                  accepted: true
                  rejection_reason: RETURN_WINDOW_CLOSED
            schema:
              $ref: '#/components/schemas/AcceptReturnRequest'
        required: true
      responses:
        '202':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Accepted Response
                  value:
                    action_id: 1ba5fc4b-c4fd-4251-880b-3052e301bbd4
                    tracking_id: 1ba5fc4b-c4fd-4251-880b-3052e301bbd4
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    action_id: 1ba5fc4b-c4fd-4251-880b-3052e301bbd4
                    tracking_id: 1ba5fc4b-c4fd-4251-880b-3052e301bbd4
              schema:
                $ref: '#/components/schemas/AsynchronousActionResponse'
          description: Accepted. The accept request will be processed asynchronously.
        '400':
          content:
            application/json:
              examples:
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    code: DATA_NOT_FOUND
                    message: An error occurred while processing your request
                    errors:
                    - message: 'An error occurred while processing your request: id is null'
                      field: input.account.id
                      extensions:
                        minLength: 1
                        maxLength: 255
                    extensions:
                      minLength: 1
                      maxLength: 255
              schema:
                $ref: '#/components/schemas/Error'
          description: The return status has not been updated because of wrong or missing parameters.
        '404':
          content:
            application/json:
              examples:
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    code: DATA_NOT_FOUND
                    message: An error occurred while processing your request
                    errors:
                    - message: 'An error occurred while processing your request: id is null'
                      field: input.account.id
                      extensions:
                        minLength: 1
                        maxLength: 255
                    extensions:
                      minLength: 1
                      maxLength: 255
              schema:
                $ref: '#/components/schemas/Error'
          description: The return status has not been updated because the return does not exist.
      security:
      - Bearer:
        - connect:order-return:accept
      summary: v2-acceptReturn - Accept or refuse return
      tags:
      - Returns
    servers:
    - description: Connect Production endpoint
      url: https://miraklconnect.com/api
  /v2/orders/returns/{return_id}/receive:
    put:
      description: '> ⚠️ **Content-length header**

        >

        > The Content-Length header must be present with value 0, even when there is no request body.


        <div class="extension-title">Description</div>


        Use this API to marks the return as received to officially confirm physical reception of the item from the customer. The API also synchronizes the return status on the sales channel.


        <div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: On each new return</div>

        <div class="max-call-frequency">Maximum usage: On each new return</div>

        </div>'
      operationId: v2-acknowledgeReturnReception
      parameters:
      - description: Return identifier in Mirakl Connect
        example: 70885
        explode: false
        in: path
        name: return_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        '202':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Acknowledge return reception response
                  value:
                    action_id: 1ba5fc4b-c4fd-4251-880b-3052e301bbd4
                    tracking_id: 1ba5fc4b-c4fd-4251-880b-3052e301bbd4
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    action_id: 1ba5fc4b-c4fd-4251-880b-3052e301bbd4
                    tracking_id: 1ba5fc4b-c4fd-4251-880b-3052e301bbd4
              schema:
                $ref: '#/components/schemas/AsynchronousActionResponse'
          description: Accepted. The accept request will be processed asynchronously.
        '400':
          content:
            application/json:
              examples:
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    code: DATA_NOT_FOUND
                    message: An error occurred while processing your request
                    errors:
                    - message: 'An error occurred while processing your request: id is null'
                      field: input.account.id
                      extensions:
                        minLength: 1
                        maxLength: 255
                    extensions:
                      minLength: 1
                      maxLength: 255
              schema:
                $ref: '#/components/schemas/Error'
          description: The return status has not been updated because of wrong or missing parameters.
        '404':
          content:
            application/json:
              examples:
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    code: DATA_NOT_FOUND
                    message: An error occurred while processing your request
                    errors:
                    - message: 'An error occurred while processing your request: id is null'
                      field: input.account.id
                      extensions:
                        minLength: 1
                        maxLength: 255
                    extensions:
                      minLength: 1
                      maxLength: 255
              schema:
                $ref: '#/components/schemas/Error'
          description: The return status has not been updated because the return does not exist.
      security:
      - Bearer:
        - connect:order-return:receive
      summary: v2-acknowledgeReturnReception - Mark return as received
      tags:
      - Returns
    servers:
    - description: Connect Production endpoint
      url: https://miraklconnect.com/api
  /v2/orders/returns/{return_id}/close:
    put:
      description: '> ⚠️ **Content-length header**

        >

        > The Content-Length header must be present with value 0, even when there is no request body.


        <div class="extension-title">Description</div>


        Use this API to marks the return as closed after all necessary steps required by the marketplace or seller’s process are completed (e.g., refund, compliance check, restocking). The API also synchronizes the return status on the sales channel.


        <div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: On each new return</div>

        <div class="max-call-frequency">Maximum usage: On each new return</div>

        </div>'
      operationId: v2-closeReturn
      parameters:
      - description: Return identifier in Mirakl Connect
        example: 70885
        explode: false
        in: path
        name: return_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        '202':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Close return response
                  value:
                    action_id: 1ba5fc4b-c4fd-4251-880b-3052e301bbd4
                    tracking_id: 1ba5fc4b-c4fd-4251-880b-3052e301bbd4
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    action_id: 1ba5fc4b-c4fd-4251-880b-3052e301bbd4
                    tracking_id: 1ba5fc4b-c4fd-4251-880b-3052e301bbd4
              schema:
                $ref: '#/components/schemas/AsynchronousActionResponse'
          description: Accepted. The accept request will be processed asynchronously.
        '400':
          content:
            application/json:
              examples:
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    code: DATA_NOT_FOUND
                    message: An error occurred while processing your request
                    errors:
                    - message: 'An error occurred while processing your request: id is null'
                      field: input.account.id
                      extensions:
                        minLength: 1
                        maxLength: 255
                    extensions:
                      minLength: 1
                      maxLength: 255
              schema:
                $ref: '#/components/schemas/Error'
          description: The return status has not been updated because of wrong or missing parameters.
        '404':
          content:
            application/json:
              examples:
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    code: DATA_NOT_FOUND
                    message: An error occurred while processing your request
                    errors:
                    - message: 'An error occurred while processing your request: id is null'
                      field: input.account.id
                      extensions:
                        minLength: 1
                        maxLength: 255
                    extensions:
                      minLength: 1
                      maxLength: 255
              schema:
                $ref: '#/components/schemas/Error'
          description: The return status has not been updated because the return does not exist.
      security:
      - Bearer:
        - connect:order-return:close
      summary: v2-closeReturn - Mark return as closed
      tags:
      - Returns
    servers:
    - description: Connect Production endpoint
      url: https://miraklconnect.com/api
  /v2/orders/returns:
    get:
      description: '<div class="extension-title">Description</div>


        Use this API to synchronize Mirakl Connect returns with your system. We recommend integrating this API in asynchronous mode. You can retrieve all returns updated since the last call, and update your referential accordingly. To do so, schedule a task that calls this API using the <code>updated_from</code> parameter valued with the last execution time of the task.


        <div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: Asynchronous: every 5 minutes</div>

        <div class="max-call-frequency">Maximum usage: Asynchronous: once per minute</div>

        <div class="extension-title">Pagination</div>


        <p>This resource supports seek pagination (<a href="#section/Seek-pagination-and-sort">see documentation</a>)</p>


        <div class="extension-title">Sort fields</div>


        <code>sort</code> field can have the following values:<ul><li><b>updated_at</b> (Default) - Sort by date time of last return modification in Mirakl Connect (desc by default)</li></ul>


        </div>'
      operationId: v2-listReturns
      parameters:
      - description: Filter by Connect order identifiers
        explode: true
        in: query
        name: order_ids
        required: false
        schema:
          type: array
          items:
            type: string
          maxItems: 100
        style: form
      - description: Filter by return statuses
        explode: true
        in: query
        name: statuses
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - REQUEST_INITIATED
            - REQUEST_DECLINED
            - OPENED
            - RECEIVED
            - CLOSED
          maxItems: 100
        style: form
      - description: Select returns that were last updated in Mirakl Connect from the specified date time.
        explode: true
        in: query
        name: updated_from
        required: true
        schema:
          type: string
          format: date-time
          example: '2021-01-01T08:30:00Z'
        style: form
      - description: Token to access the next or previous page
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      - description: Maximum number of listed returns
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
          default: 10
          maximum: 100
          minimum: 1
        style: form
      responses:
        '200':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: A page of returns
                  value:
                    data:
                    - address:
                        city: New York
                        country: United States
                        country_iso_code: USA
                        state: NY
                        street: 123 Main St
                        street_additional_info: Apt 4B
                        zip_code: '10001'
                      channel_return_id: '12345'
                      channel_updated_at: '2025-03-06T16:00:00Z'
                      created_at: '2025-03-06T14:55:00Z'
                      id: 70885
                      label_url: https://store.example.com/returns/label/12345
                      method: RETURN_METHOD_IN_STORE
                      order_id: 0002_3202630-A
                      origin:
                        channel_id: '0002'
                        channel_name: Connect MP 2
                        channel_store_id: '4'
                        channel_store_name: '* Super Shop USA'
                        sub_channel_code: EU-FR
                        sub_channel_name: France
                      rejection_reason: RETURN_WINDOW_CLOSED
                      return_lines:
                      - order_line_id: 0002_3202630-A-1
                        product_id: '528216235'
                        quantity: 2
                        reason: DEFECTIVE_ITEM
                      rma_id: RMA-12345
                      status: OPENED
                      tracking:
                        carrier_name: CarrierCo
                        tracking_number: TRACK123456789
                        tracking_url: https://carrierco.com/track?num=TRACK123456789
                      updated_at: '2025-03-06T16:00:00Z'
                    next_page_token: bGltaXQ9MTAmYWZ0ZXI9MjAyMS0xMS0xNlQxNjoxNTowOSswMTowMCZhZnRlcj1jb25uZWN0bXAxLXRlc3QmYWZ0ZXI9MzE3ODczOC1BJnNvcnQ9ZGF0ZV91cGRhdGVkLERFU0M=
                    previous_page_token: YmVmb3JlPTIwMjEtMTEtMjRUMDA6MDA6MTErMDE6MDAmYmVmb3JlPWNvbm5lY3RtcDItdGVzdCZiZWZvcmU9MzIwMjYzMC1BJmxpbWl0PTEwJnNvcnQ9ZGF0ZV91cGRhdGVkLERFU0M=
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    previous_page_token: string
                    next_page_token: string
                    data:
                    - id: string
                      channel_return_id: string
                      order_id: string
                      origin:
                        channel_id: string
                        channel_name: string
                        channel_store_id: string
                        channel_store_name: string
                        channel_type: AGENTIC
                        sub_channel_code: string
                        sub_channel_name: string
                      rma_id: string
                      status: REQUEST_INITIATED
                      tracking:
                        tracking_number: string
                        carrier_name: string
                        tracking_url: string
                      label_url: string
                      method: string
                      rejection_reason: RETURN_WINDOW_CLOSED
                      address:
                        street: string
                        street_additional_info: string
                        city: string
                        state: string
                        country: string
                        country_iso_code: string
                        zip_code: string
                      created_at: '2023-03-28T09:34:42Z'
                      channel_updated_at: '2023-03-28T09:34:42Z'
                      updated_at: '2023-03-28T09:34:42Z'
                      return_lines:
                      - order_line_id: string
                        quantity: 0
                        reason: WRONG_ITEM
                        product_id: string
              schema:
                $ref: '#/components/schemas/ReturnsPageResponse'
          description: List of returns
      security:
      - Bearer:
        - connect:order-return:read
      summary: v2-listReturns - List Mirakl Connect returns
      tags:
      - Returns
    servers:
    - description: Connect Production endpoint
      url: https://miraklconnect.com/api
  /v2/orders/returns/{return_id}/trackings:
    put:
      description: '<div class="extension-title">Description</div>


        Use this API to update the tracking information of a return from Mirakl Connect. The API also updates the return tracking information on the sales channel.


        <div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: On each new return</div>

        <div class="max-call-frequency">Maximum usage: On each new return</div>

        </div>'
      operationId: v2-updateReturnTrackingInformation
      parameters:
      - description: Return identifier in Mirakl Connect
        example: 70885
        explode: false
        in: path
        name: return_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              application/json-0:
                summary: Update return tracking information request
                value:
                  label_url: https://shipping.ups.com/returns/labels/d290f1ee-6c54-4b01-90e6-d701748f0851.pdf
                  rma_id: CR117B72FEF5E8391187
                  tracking:
                    carrier: FedEx
                    tracking_number: '791823193211'
                    tracking_url: https://www.fedex.com/fedextrack/?trknbr=791823193211
              application/json-auto:
                summary: Complete example with value types (application/json)
                value:
                  label_url: https://shipping.ups.com/returns/labels/d290f1ee-6c54-4b01-90e6-d701748f0851.pdf
                  rma_id: NL48GEQK22M1-A
                  tracking:
                    tracking_number: '781234567890'
                    tracking_url: https://www.fedex.com/fedextrack/?trknbr=781234567890
                    carrier: DHL Express
            schema:
              $ref: '#/components/schemas/UpdateReturnTrackingInformationRequest'
        required: true
      responses:
        '202':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Accepted Response
                  value:
                    action_id: 1ba5fc4b-c4fd-4251-880b-3052e301bbd4
                    tracking_id: 1ba5fc4b-c4fd-4251-880b-3052e301bbd4
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    action_id: 1ba5fc4b-c4fd-4251-880b-3052e301bbd4
                    tracking_id: 1ba5fc4b-c4fd-4251-880b-3052e301bbd4
              schema:
                $ref: '#/components/schemas/AsynchronousActionResponse'
          description: Accepted. The accept request will be processed asynchronously.
        '400':
          content:
            application/json:
              examples:
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    code: DATA_NOT_FOUND
                    message: An error occurred while processing your request
                    errors:
                    - message: 'An error occurred while processing your request: id is null'
                      field: input.account.id
                      extensions:
                        minLength: 1
                        maxLength: 255
                    extensions:
                      minLength: 1
                      maxLength: 255
              schema:
                $ref: '#/components/schemas/Error'
          description: The return tracking information has not been updated because of wrong or missing parameters.
        '404':
          content:
            application/json:
              examples:
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    code: DATA_NOT_FOUND
                    message: An error occurred while processing your request
                    errors:
                    - message: 'An error occurred while processing your request: id is null'
                      field: input.account.id
                      extensions:
                        minLength: 1
                        maxLength: 255
                    extensions:
                      minLength: 1
                      maxLength: 255
              schema:
                $ref: '#/components/schemas/Error'
          description: The return tracking information has not been updated because the return does not exist.
      security:
      - Bearer:
        - connect:order-return:update-tracking-information
      summary: v2-updateReturnTrackingInformation - Update return tracking information
      tags:
      - Returns
    servers:
    - description: Connect Production endpoint
      url: https://miraklconnect.com/api
  /api/returns:
    post:
      description: '<div class="extension-title">Description</div>


        Limited to 200 returns at a time


        <div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: At each customer return request</div>

        <div class="max-call-frequency">Maximum usage: At each customer return request</div>

        <div class="extension-title">Read More</div>


        <ul><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/concepts/Order/return-concept.htm">More context</a></li></ul></div>'
      operationId: RT01
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              application/json-0:
                summary: Example with business values (application/json)
                value:
                  returns:
                  - accepted: null
                    label_url: https://www.label-url.com
                    method_code: RETURN_METHOD_BY_MAIL
                    order_commercial_id: ORDER-001
                    reason_code: RETURN_CHANGED_MIND
                    return_lines:
                    - order_line_id: ORDER-001-A-1
                      quantity: 1
                    - order_line_id: ORDER-001-B-2
                      quantity: 2
                    rma: RETURN_RMA
                  - accepted: true
                    description: Description of return
                    label_url: null
                    method_code: RETURN_METHOD_DROP_OFF_POINT
                    order_commercial_id: ORDER-DROPSHIP-1
                    reason_code: RETURN_CHANGED_MIND
                    return_lines:
                    - order_line_id: ORDER-DROPSHIP-1-A-1
                      quantity: 1
                    rma: null
              application/json-auto:
                summary: Complete example with value types (application/json)
                value:
                  returns:
                  - accepted: true
                    description: string
                    label_url: string
                    method_code: RETURN_METHOD_BY_MAIL
                    order_commercial_id: string
                    reason_code: RETURN_BROKEN_ITEM
                    return_lines:
                    - order_line_id: string
                      quantity: 0
                      reason_code: string
                    rma: string
            schema:
              $ref: '#/components/schemas/RT01_Request'
      responses:
        '200':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Example with business values (application/json)
                  value:
                    return_errors:
                    - message: The returns are not enabled for the platform model of the order line ORDER-DROPSHIP-1-A-1
                      order_commercial_id: ORDER-DROPSHIP-1
                    return_success:
                    - date_created: '2022-09-28T13:37:00Z'
                      description: Description of return
                      documents: []
                      id: ef0e41b6-35ed-4103-86a1-0e33d50a6b05
                      label_url: https://www.label-url.com
                      last_updated: '2022-09-28T13:37:00Z'
                      method_code: RETURN_METHOD_BY_MAIL
                      order_commercial_id: ORDER-001
                      order_id: ORDER-001-A
                      reason_code: RETURN_CHANGED_MIND
                      rejection_reason_code: null
                      return_address:
                        city: New York
                        country_iso_code: USA
                        state: Manhattan
                        street1: 30, Prince Street
                        street2: 1st floor
                        zip_code: NY 10012
                      return_lines:
                      - compliance: null
                        order_line_id: ORDER-001-A-1
                        quantity: 1
                      rma: RETURN_RMA
                      status: WAITING_ACCEPTANCE
                      tracking: null
                    - date_created: '2022-09-28T13:37:00Z'
                      documents: []
                      id: ef0e41b6-35ed-4103-86a1-0e33d50a6b05
                      label_url: null
                      last_updated: '2022-09-28T13:37:00Z'
                      method_code: RETURN_METHOD_BY_MAIL
                      order_commercial_id: ORDER-001
                      order_id: ORDER-001-B
                      reason_code: RETURN_CHANGED_MIND
                      rejection_reason_code: null
                      return_address:
                        city: New York
                        country_iso_code: USA
                        state: Manhattan
                        street1: 30, Prince Street
                        street2: 1st floor
                        zip_code: NY 10012
                      return_lines:
                      - compliance: null
                        order_line_id: ORDER-001-B-2
                        quantity: 2
                      rma: null
                      status: WAITING_ACCEPTANCE
                      tracking: null
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    return_errors:
                    - message: string
                      order_commercial_id: string
                    return_success:
                    - date_created: '2023-03-28T09:34:42Z'
                      description: string
                      documents:
                      - id: 0
                        type: string
                      id: string
                      label_url: string
                      last_updated: '2023-03-28T09:34:42Z'
                      method_code: RETURN_METHOD_BY_MAIL
                      order_commercial_id: string
                      order_id: string
                      reason_code: RETURN_BROKEN_ITEM
                      rejection_reason_code: RETURN_REJECTION_NOT_ELIGIBLE
                      return_address:
                        city: string
                        country_iso_code: string
                        state: string
                        street1: string
                        street2: string
                        zip_code: string
                      return_lines:
                      - compliance:
                        - compliant: true
                          non_compliance_additional_info: string
                          non_compliance_reason_code: string
                        order_line_id: string
                        quantity: 0
                        reason_code: RETURN_BROKEN_ITEM
                      rma: string
                      state: WAITING_ACCEPTANCE
                      tracking:
                        carrier_code: string
                        carrier_name: string
                        carrier_standard_code: string
                        tracking_number: string
                        tracking_url: string
              schema:
                type: object
                $ref: '#/components/schemas/RT01_Response_200'
          description: OK
      security:
      - Front-Bearer-Token: []
      - OAuth-2: []
      summary: RT01 - Create returns
      tags:
      - Returns
    get:
      description: '<div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: Every 15 minutes</div>

        <div class="max-call-frequency">Maximum usage: Every 5 minutes</div>

        <div class="extension-title">Read More</div>


        <ul><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/concepts/Order/return-concept.htm">More context</a></li></ul><div class="extension-title">Pagination</div>


        <p>This resource supports seek pagination (<a href="#section/Seek-pagination-and-sort">see documentation</a>)</p>


        <div class="extension-title">Sort fields</div>


        <code>sort</code> field can have the following values:<ul><li><b>date_created</b> (Default) - Sort by return date creation (asc by default)</li></ul>


        </div>'
      operationId: RT11
      parameters:
      - description: Return id for filtering. This parameter can be supplied multiple times (return_id=58fd00d1-4ea4-453e-9a56-ec28c5c156ea&return_id=3071c162-dcd9-414b-a39d-ac3165f29453...).
        explode: true
        in: query
        name: return_id
        required: false
        schema:
          type: array
          items:
            type: string
        style: form
      - description: Return state for filtering. This parameter can be supplied multiple times (return_state=WAITING_ACCEPTANCE&return_state=IN_PROGRESS...).
        explode: true
        in: query
        name: return_state
        required: false
        schema:
          type: array
          items:
            type: string
        style: form
      - description: Filter returns with a creation date after the given date.
        explode: true
        in: query
        name: return_creation_date_from
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - description: Filter returns with a creation date before the given date.
        explode: true
        in: query
        name: return_creation_date_to
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - description: Filter returns updated after the given date.
        explode: true
        in: query
        name: return_last_updated_from
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - description: Filter returns updated before the given date.
        explode: true
        in: query
        name: return_last_updated_to
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - description: Order commercial id for filtering. This parameter can be supplied multiple times (order_commercial_id=OR01-A&order_commercial_id=OR02-A...).
        explode: true
        in: query
        name: order_commercial_id
        required: false
        schema:
          type: array
          items:
            type: string
        style: form
      - description: Order line id for filtering. This parameter can be supplied multiple times (order_line_id=OR01-A-1&order_line_id=OR02-A-1...).
        explode: true
        in: query
        name: order_line_id
        required: false
        schema:
          type: array
          items:
            type: string
        style: form
      - description: Return RMA for filtering. This parameter can be supplied multiple times (return_rma=RMA-1&return_rma=RMA-2...).
        explode: true
        in: query
        name: return_rma
        required: false
        schema:
          type: array
          items:
            type: string
        style: form
      - description: Customer id for filtering. This parameter can be supplied multiple times (customer_id=id1&customer_id=id2...).
        explode: true
        in: query
        name: customer_id
        required: false
        schema:
          type: array
          items:
            type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Example with business values (application/json)
                  value:
                    data:
                    - date_created: '2023-02-27T16:14:52Z'
                      description: Description of return
                      documents:
                      - id: 1337
                        type: SYSTEM_RETURN_LABEL
                      id: f61b5db8-d8f5-4715-b05f-aa4432c0e9e2
                      label_url: null
                      last_updated: '2023-02-27T16:14:52Z'
                      method_code: RETURN_METHOD_BY_MAIL
                      order_commercial_id: ORDER-1
                      order_id: ORDER-1-A
                      reason_code: RETURN_CHANGED_MIND
                      rejection_reason_code: null
                      return_address:
                        city: New York
                        country_iso_code: USA
                        state: Manhattan
                        street1: 30, Prince Street
                        street2: 1st floor
                        zip_code: NY 10012
                      return_lines:
                      - compliance:
                        - compliant: false
                          non_compliance_additional_info: There is a missing item
                          non_compliance_reason_code: RETURN_NON_COMPLIANT_MISSING_ITEM
                        order_line_id: ORDER-1-A-1
                        quantity: 2
                      - compliance: null
                        order_line_id: ORDER-1-A-2
                        quantity: 3
                      rma: RETURN_RMA
                      state: WAITING_ACCEPTANCE
                      tracking:
                        carrierCode: UPS
                        carrierName: UPS
                        carrier_standard_code: ups
                        tracking_number: 35H8O95K
                        tracking_url: https://wwwapps.ups.com/WebTracking/track?track=yes&trackNums=35H8O95K
                    - date_created: '2023-02-27T16:32:52Z'
                      documents: []
                      id: 2dc4f7d7-da59-4588-bec7-ce62daab2f93
                      label_url: https://www.label-url.com
                      last_updated: '2023-02-27T16:37:19Z'
                      method_code: RETURN_METHOD_DROP_OFF
                      order_commercial_id: ORDER-2
                      order_id: ORDER-2-A
                      reason_code: RETURN_COUNTERFEIT_ITEM
                      rejection_reason_code: RETURN_REJECTION_NOT_ELIGIBLE
                      return_address:
                        city: New York
                        country_iso_code: USA
                        state: Manhattan
                        street1: 30, Prince Street
                        street2: 1st floor
                        zip_code: NY 10012
                      return_lines:
                      - compliance:
                        - compliant: true
                          non_compliance_additional_info: null
                          non_compliance_reason_code: null
                        order_line_id: ORDER-2-A-1
                        quantity: 1
                      rma: null
                      state: REFUSED
                      tracking: null
                    next_page_token: dGhpcy1pcy1hLWZha2UtcGFnZS10b2tlbi1wbGVhc2UtcmVseS1vbi10aGUtdG9rZW4tcHJvdmlkZWQtYnktdGhlLWFwaS1yZXNwb25zZQo=
                    previous_page_token: null
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    data:
                    - date_created: '2023-03-28T09:34:42Z'
                      description: string
                      documents:
                      - id: 0
                        type: string
                      id: string
                      label_url: string
                      last_updated: '2023-03-28T09:34:42Z'
                      method_code: RETURN_METHOD_BY_MAIL
                      order_commercial_id: string
                      order_id: string
                      reason_code: RETURN_BROKEN_ITEM
                      rejection_reason_code: RETURN_REJECTION_NOT_ELIGIBLE
                      return_address:
                        city: string
                        country_iso_code: string
                        state: string
                        street1: string
                        street2: string
                        zip_code: string
                      return_lines:
                      - compliance:
                        - compliant: true
                          non_compliance_additional_info: string
                          non_compliance_reason_code: string
                        order_line_id: string
                        quantity: 0
                        reason_code: RETURN_BROKEN_ITEM
                      rma: string
                      state: WAITING_ACCEPTANCE
                      tracking:
                        carrier_code: string
                        carrier_name: string
                        carrier_standard_code: string
                        tracking_number: string
                        tracking_url: string
                    next_page_token: string
                    previous_page_token: string
              schema:
                type: object
                $ref: '#/components/schemas/RT11_Response_200'
          description: OK
      security:
      - Front-Bearer-Token: []
      - OAuth-2: []
      summary: RT11 - List returns
      tags:
      - Returns
    put:
      description: '<div class="api-description-extension">

        <div class="extension-title">Read More</div>


        <ul><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/concepts/Order/return-concept.htm">More context</a></li></ul></div>'
      operationId: RT04
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              application/json-0:
                summary: Example with business values (application/json)
                value:
                  returns:
                  - id: f61b5db8-d8f5-4715-b05f-aa4432c0e9e2
                    tracking:
                      tracking_url: https://www.tracking.com
                  - id: c91b5db8-d8f5-4715-b05f-aa4432c0e989
                    tracking:
                      tracking_url: https://invalid_url
                  - id: 2dc4f7d7
                    tracking:
                      tracking_url: https://www.tracking.com
                  - id: 21456f96-19ef-4f34-97be-6cf937755f01
                    rma: RETURN_RMA
                  - id: 2dc4f7d7-da59-4588-bec7-ce62daab2f93
                    label_url: https://www.label-url.com
                    rma: RETURN_RMA
                    tracking:
                      carrier_name: customCarrier
                      tracking_number: 1H79D0K76
                      tracking_url: https://www.tracking.com
                  - id: 1716be7a-93f0-4242-b55b-fff05a76d168
                    label_url: https://www.label-url.com
                    rma: RETURN_RMA
                    tracking:
                      carrier_code: UPS
                      tracking_number: 6HD869420
              application/json-auto:
                summary: Complete example with value types (application/json)
                value:
                  returns:
                  - id: string
                    label_url: string
                    method_code: RETURN_METHOD_BY_MAIL
                    return_address:
                      address:
                        city: string
                        country_iso_code: AFG
                        state: string
                        street1: string
                        street2: string
                        zip_code: string
                    rma: string
                    tracking:
                      carrier_code: string
                      carrier_name: string
                      carrier_standard_code: string
                      tracking_number: string
                      tracking_url: string
            schema:
              $ref: '#/components/schemas/RT04_Request'
      responses:
        '200':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Example with business values (application/json)
                  value:
                    return_errors:
                    - id: f61b5db8-d8f5-4715-b05f-aa4432c0e9e2
                      message: Return is in invalid state
                    - id: c91b5db8-d8f5-4715-b05f-aa4432c0e989
                      message: Invalid return tracking URL format
                    - id: 21456f96-19ef-4f34-97be-6cf937755f01
                      message: Order is in invalid state
                    - id: 2dc4f7d7
                      message: The return id is incorrect.
                    return_success:
                    - date_created: '2023-02-27T16:32:52Z'
                      description: Description of return
                      documents: []
                      id: 2dc4f7d7-da59-4588-bec7-ce62daab2f93
                      label_url: https://www.label-url.com
                      last_updated: '2023-02-27T16:37:19Z'
                      method_code: RETURN_METHOD_DROP_OFF
                      order_commercial_id: ORDER-2
                      order_id: ORDER-2-A
                      reason_code: RETURN_COUNTERFEIT_ITEM
                      rejection_reason_code: RETURN_REJECTION_NOT_ELIGIBLE
                      return_address:
                        city: New York
                        country_iso_code: USA
                        state: Manhattan
                        street1: 30, Prince Street
                        street2: 1st floor
                        zip_code: NY 10012
                      return_lines:
                      - compliance:
                        - compliant: false
                          non_compliance_additional_info: There is a missing item
                          non_compliance_reason_code: RETURN_NON_COMPLIANT_MISSING_ITEM
                        order_line_id: ORDER-2-A-1
                        quantity: 1
                      rma: RETURN_RMA
                      state: REFUSED
                      tracking:
                        carrier_code: null
                        carrier_name: newCarrier
                        carrier_standard_code: null
                        tracking_number: 1H79D0K76
                        tracking_url: https://www.tracking.com
                    - date_created: '2023-04-18T15:24:51Z'
                      documents: []
                      id: 1716be7a-93f0-4242-b55b-fff05a76d168
                      label_url: https://www.label-url.com
                      last_updated: '2023-05-27T16:37:19Z'
                      method_code: RETURN_METHOD_DROP_OFF
                      order_commercial_id: ORDER-2
                      order_id: ORDER-2-A
                      reason_code: RETURN_COUNTERFEIT_ITEM
                      rejection_reason_code: RETURN_REJECTION_NOT_ELIGIBLE
                      return_address:
                        city: New York
                        country_iso_code: USA
                        state: Manhattan
                        street1: 30, Prince Street
                        street2: 1st floor
                        zip_code: NY 10012
                      return_lines:
                      - compliance:
                        - compliant: false
                          non_compliance_additional_info: There is a missing item
                          non_compliance_reason_code: RETURN_NON_COMPLIANT_MISSING_ITEM
                        order_line_id: ORDER-2-A-1
                        quantity: 1
                      rma: RETURN_RMA
                      state: REFUSED
                      tracking:
                        carrier_code: UPS
                        carrier_name: UPS
                        carrier_standard_code: ups
                        tracking_number: 6HD869420
                        tracking_url: https://wwwapps.ups.com/WebTracking/track?track=yes&trackNums=6HD869420
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    return_errors:
                    - id: string
                      message: string
                    return_success:
                    - date_created: '2023-03-28T09:34:42Z'
                      description: string
                      documents:
                      - id: 0
                        type: string
                      id: string
                      label_url: string
                      last_updated: '2023-03-28T09:34:42Z'
                      method_code: RETURN_METHOD_BY_MAIL
                      order_commercial_id: string
                      order_id: string
                      reason_code: RETURN_BROKEN_ITEM
                      rejection_reason_code: RETURN_REJECTION_NOT_ELIGIBLE
                      return_address:
                        city: string
                        country_iso_code: string
                        state: string
                        street1: string
                        street2: string
                        zip_code: string
                      return_lines:
                      - compliance:
                        - compliant: true
                          non_compliance_additional_info: string
                          non_compliance_reason_code: string
                        order_line_id: string
                        quantity: 0
                        reason_code: RETURN_BROKEN_ITEM
                      rma: string
                      state: WAITING_ACCEPTANCE
                      tracking:
                        carrier_code: string
                        carrier_name: string
                        carrier_standard_code: string
                        tracking_number: string
                        tracking_url: string
              schema:
                type: object
                $ref: '#/components/schemas/RT04_Response_200'
          description: OK
      security:
      - Operator-Bearer-Token: []
      - OAuth-2: []
      summary: RT04 - Patch update returns
      tags:
      - Returns
    servers:
    - description: URL to be replaced by your Mirakl instance URL
      url: https://your-instance.mirakl.net
  /api/returns/items_to_return:
    get:
      description: '<div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: At each customer return request</div>

        <div class="max-call-frequency">Maximum usage: At each customer return request</div>

        <div class="extension-title">Read More</div>


        <ul><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/concepts/Order/return-concept.htm">More context</a></li></ul><div class="extension-title">Pagination</div>


        <p>This resource supports seek pagination (<a href="#section/Seek-pagination-and-sort">see documentation</a>)</p>


        <div class="extension-title">Sort fields</div>


        <code>sort</code> field can have the following values:<ul><li><b>order_line_id</b> (Default) - Sort by order line id (asc by default)</li></ul>


        </div>'
      operationId: RT12
      parameters:
      - description: Order commercial id for filtering. This parameter can be supplied multiple times (order_commercial_id=OR01-A&order_commercial_id=OR02-A...).
        explode: true
        in: query
        name: order_commercial_id
        required: false
        schema:
          type: array
          items:
            type: string
        style: form
      - description: Order line id for filtering. This parameter can be supplied multiple times (order_line_id=OR01-A-1&order_line_id=OR02-A-1...).
        explode: true
        in: query
        name: order_line_id
        required: false
        schema:
          type: array
          items:
            type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Example with business values (application/json)
                  value:
                    data:
                    - available_return_methods: null
                      available_return_reasons: null
                      order_commercial_id: test
                      order_line_id: test-A-1
                      return_window: null
                      return_window_end_date: null
                      return_window_start_date: null
                      returnable_quantity: 0
                    - available_return_methods:
                      - RETURN_METHOD_BY_MAIL
                      - RETURN_METHOD_DROP_OFF
                      available_return_reasons:
                      - RETURN_CHANGED_MIND
                      - RETURN_COUNTERFEIT_ITEM
                      order_commercial_id: test
                      order_line_id: test-B-1
                      return_window: 14
                      return_window_end_date: '2026-01-29T00:00:00Z'
                      return_window_start_date: '2026-01-15T00:00:00Z'
                      returnable_quantity: 1
                    next_page_token: dGhpcy1pcy1hLWZha2UtcGFnZS10b2tlbi1wbGVhc2UtcmVseS1vbi10aGUtdG9rZW4tcHJvdmlkZWQtYnktdGhlLWFwaS1yZXNwb25zZQo=
                    previous_page_token: null
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    data:
                    - available_return_methods:
                      - string
                      available_return_reasons:
                      - string
                      order_commercial_id: string
                      order_line_id: string
                      return_window: 0
                      return_window_end_date: '2023-03-28T09:34:42Z'
                      return_window_start_date: '2023-03-28T09:34:42Z'
                      returnable_quantity: 0
                    next_page_token: string
                    previous_page_token: string
              schema:
                type: object
                $ref: '#/components/schemas/RT12_Response_200'
          description: OK
      security:
      - Front-Bearer-Token: []
      - OAuth-2: []
      summary: RT12 - List items to return
      tags:
      - Returns
    servers:
    - description: URL to be replaced by your Mirakl instance URL
      url: https://your-instance.mirakl.net
  /api/returns/receive:
    put:
      description: '<div class="extension-title">Description</div>


        Limited to 100 returns at a time


        <div class="api-description-extension">

        <div class="extension-title">Read More</div>


        <ul><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/concepts/Order/return-concept.htm">More context</a></li></ul></div>'
      operationId: RT25
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              application/json-0:
                summary: Example with business values (application/json)
                value:
                  returns:
                  - id: af1a537d-3f8a-4bb4-a69c-08df8395ece6
                  - id: df7b1144-0789-46f9-a0db-bb79c2c7de3a
                  - id: b77907cb-f72e-4f69-aac3-14df566311de
              application/json-auto:
                summary: Complete example with value types (application/json)
                value:
                  returns:
                  - id: string
            schema:
              $ref: '#/components/schemas/RT25_Request'
      responses:
        '200':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Example with business values (application/json)
                  value:
                    return_errors:
                    - id: af1a537d-3f8a-4bb4-a69c-08df8395ece6
                      message: Return is in invalid state
                    - id: df7b1144-0789-46f9-a0db-bb79c2c7de3a
                      message: The return does not exist.
                    return_success:
                    - id: b77907cb-f72e-4f69-aac3-14df566311de
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    return_errors:
                    - id: string
                      message: string
                    return_success:
                    - id: string
              schema:
                type: object
                $ref: '#/components/schemas/RT25_Response_200'
          description: OK
      security:
      - Front-Bearer-Token: []
      - OAuth-2: []
      summary: RT25 - Validate returns as received
      tags:
      - Returns
    servers:
    - description: URL to be replaced by your Mirakl instance URL
      url: https://your-instance.mirakl.net
  /api/returns/cancel:
    put:
      description: '<div class="extension-title">Description</div>


        Limited to 100 returns at a time


        <div class="api-description-extension">

        </div>'
      operationId: RT29
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              application/json-0:
                summary: Example with business values (application/json)
                value:
                  returns:
                  - id: af1a537d-3f8a-4bb4-a69c-08df8395ece6
                  - id: df7b1144-0789-46f9-a0db-bb79c2c7de3a
                  - id: b77907cb-f72e-4f69-aac3-14df566311de
              application/json-auto:
                summary: Complete example with value types (application/json)
                value:
                  returns:
                  - id: string
            schema:
              $ref: '#/components/schemas/RT29_Request'
      responses:
        '200':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Example with business values (application/json)
                  value:
                    return_errors:
                    - id: af1a537d-3f8a-4bb4-a69c-08df8395ece6
                      message: Return is in invalid state
                    - id: df7b1144-0789-46f9-a0db-bb79c2c7de3a
                      message: The return does not exist.
                    return_success:
                    - id: b77907cb-f72e-4f69-aac3-14df566311de
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    return_errors:
                    - id: string
                      message: string
                    return_success:
                    - id: string
              schema:
                type: object
                $ref: '#/components/schemas/RT29_Response_200'
          description: OK
      security:
      - Front-Bearer-Token: []
      - OAuth-2: []
      summary: RT29 - Mark a return as canceled
      tags:
      - Returns
    servers:
    - description: URL to be replaced by your Mirakl instance URL
      url: https://your-instance.mirakl.net
  /api/returns/return-labels:
    post:
      description: '<div class="extension-title">Description</div>


        Generate return labels for a given list of return IDs


        <div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: At each customer return label request</div>

        <div class="max-call-frequency">Maximum usage: At each customer return label request</div>

        </div>'
      operationId: RT51
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              application/json-0:
                summary: Example with business values (application/json)
                value:
                  return_labels:
                  - carrier_code: null
                    carrier_service_code: null
                    label_options:
                      qr_code: false
                    label_selection_mode: CHEAPEST
                    package:
                      dimensions:
                        height: 15
                        length: 30
                        unit: cm
                        width: 20
                      weight:
                        unit: kg
                        value: 1.5
                    return_id: 6c074a94-e9b5-42ea-afc3-e4d5198fa679
                    shipping_from:
                      city: London
                      contact_name: Store Manager
                      contact_phone: +44 20 1234 5678
                      country_iso_code: GB
                      state: null
                      street_1: 123 High Street
                      street_2: null
                      zip_code: SW1A 1AA
              application/json-auto:
                summary: Complete example with value types (application/json)
                value:
                  return_labels:
                  - carrier_code: string
                    carrier_service_code: string
                    label_options:
                      qr_code: true
                    label_selection_mode: CHEAPEST
                    package:
                      dimensions:
                        height: 0
                        length: 0
                        unit: string
                        width: 0
                      weight:
                        unit: string
                        value: 0
                    return_id: string
                    shipping_from:
                      city: string
                      contact_name: string
                      contact_phone: string
                      country_iso_code: string
                      state: string
                      street_1: string
                      street_2: string
                      zip_code: string
            schema:
              $ref: '#/components/schemas/RT51_Request'
      responses:
        '200':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Example with business values (application/json)
                  value:
                    return_label_errors:
                    - message: return [e2132cd6-891f-4fc5-a7d5-79fa2c9fabf8] is in an incompatible state for label generation
                      return_id: e2132cd6-891f-4fc5-a7d5-79fa2c9fabf8
                    return_label_successes:
                    - return_id: 5cfc665e-8624-4b8d-9758-19b836cb16dd
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    return_label_errors:
                    - error_message: string
                      return_id: string
                    return_label_successes:
                    - return_id: string
              schema:
                type: object
                $ref: '#/components/schemas/RT51_Response_200'
          description: OK
      security:
      - Front-Bearer-Token: []
      - OAuth-2: []
      summary: RT51 - Create return labels
      tags:
      - Returns
    get:
      description: '<div class="extension-title">Description</div>


        Retrieve the list of the return label requests along with their details and states


        <div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: At each customer return label request</div>

        <div class="max-call-frequency">Maximum usage: At each customer return label request</div>

        <div class="extension-title">Pagination</div>


        <p>This resource supports seek pagination (<a href="#section/Seek-pagination-and-sort">see documentation</a>)</p>


        <div class="extension-title">Sort fields</div>


        <code>sort</code> field can have the following values:<ul><li><b>date_created</b> (Default) - Sort by label creation date (asc by default)</li></ul>


        </div>'
      operationId: RT52
      parameters:
      - description: Return id for filtering. This parameter can be supplied multiple times (return_id=58fd00d1-4ea4-453e-9a56-ec28c5c156ea&return_id=3071c162-dcd9-414b-a39d-ac3165f29453...). Limited to 100 values.
        explode: true
        in: query
        name: return_id
        required: false
        schema:
          type: array
          items:
            type: string
        style: form
      - description: Return label state for filtering. This parameter can be supplied multiple times (label_state=PENDING&label_state=CREATED...)
        explode: true
        in: query
        name: label_state
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - PENDING
            - CREATED
            - FAILED
        style: form
      - description: Filter labels created on or after the given date.
        explode: true
        in: query
        name: date_created_from
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - description: Filter labels created on or before the given date.
        explode: true
        in: query
        name: date_created_to
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - description: Filter labels last updated on or after the given date.
        explode: true
        in: query
        name: last_updated_from
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - description: Filter labels last updated on or before the given date.
        explode: true
        in: query
        name: last_updated_to
        required: false
        schema:
          type: string
          format: date-time
        style: form
      responses:
        '200':
          content:
            application/json:
              examples:
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    data:
                    - date_created: '2023-03-28T09:34:42Z'
                      errors:
                      - code: string
                        message: string
                      estimated_cost:
                        amount: 0
                        currency_iso_code: AED
                      files:
                        label:
                          file_type: string
                          url: string
                        qr_code:
                          file_type: string
                          url: string
                      label_state: PENDING
                      last_updated: '2023-03-28T09:34:42Z'
                      return_id: string
                      tracking:
                        carrier_code: string
                        carrier_name: string
                        carrier_service_code: string
                        carrier_standard_code: string
                        tracking_number: string
                        tracking_url: string
                    next_page_token: string
                    previous_page_token: string
              schema:
                type: object
                $ref: '#/components/schemas/RT52_Response_200'
          description: OK
      security:
      - Front-Bearer-Token: []
      - OAuth-2: []
      summary: RT52 - List return labels
      tags:
      - Returns
    servers:
    - description: URL to be replaced by your Mirakl instance URL
      url: https://your-instance.mirakl.net
  /api/returns/accept:
    put:
      description: '<div class="extension-title">Description</div>


        Limited to 100 returns at a time


        <div class="api-description-extension">

        <div class="extension-title">Read More</div>


        <ul><li><a href="https://help.mirakl.com/bundle/customers/page/topics/Mirakl/concepts/Order/return-concept.htm">More context</a></li></ul></div>'
      operationId: RT21
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              application/json-0:
                summary: Example with business values (application/json)
                value:
                  returns:
                  - accepted: true
                    id: af1a537d-3f8a-4bb4-a69c-08df8395ece6
                  - accepted: false
                    id: b77907cb-f72e-4f69-aac3-14df566311de
                    rejection_reason_code: RETURN_REJECTION_NOT_ELIGIBLE
                  - accepted: true
                    id: df7b1144-0789-46f9-a0db-bb79c2c7de3a
              application/json-auto:
                summary: Complete example with value types (application/json)
                value:
                  returns:
                  - accepted: true
                    id: string
                    rejection_reason_code: RETURN_REJECTION_NOT_ELIGIBLE
            schema:
              $ref: '#/components/schemas/RT21_Request'
      responses:
        '200':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Example with business values (application/json)
                  value:
                    return_errors:
                    - id: af1a537d-3f8a-4bb4-a69c-08df8395ece6
                      message: Return is in invalid state
                    - id: df7b1144-0789-46f9-a0db-bb79c2c7de3a
                      message: The return does not exist.
                    return_success:
                    - id: b77907cb-f72e-4f69-aac3-14df566311de
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    return_errors:
                    - id: string
                      message: string
                    return_success:
                    - id: string
              schema:
                type: object
                $ref: '#/components/schemas/RT21_Response_200'
          description: OK
      security:
      - Operator-Bearer-Token: []
      - OAuth-2: []
      summary: RT21 - Accept or refuse a return request
      tags:
      - Returns
    servers:
    - description: URL to be replaced by your Mirakl instance URL
      url: https://your-instance.mirakl.net
  /api/returns/compliance:
    put:
      description: '<div class="extension-title">Description</div>


        Limited to 100 returns at a time


        <div class="api-description-extension">

        </div>'
      operationId: RT26
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              application/json-0:
                summary: Example with business values (application/json)
                value:
                  returns:
                  - id: f61b5db8-d8f5-4715-b05f-aa4432c0e9e2
                    return_lines:
                    - compliant: true
                      order_line_id: OR01-A-1
                    - compliant: false
                      non_compliance_additional_info: There is a missing item
                      non_compliance_reason_code: RETURN_NON_COMPLIANT_MISSING_ITEM
                      order_line_id: OR01-A-2
              application/json-auto:
                summary: Complete example with value types (application/json)
                value:
                  returns:
                  - id: string
                    return_lines:
                    - compliant: true
                      non_compliance_additional_info: string
                      non_compliance_reason_code: RETURN_NON_COMPLIANT_MISSING_ITEM
                      order_line_id: string
            schema:
              $ref: '#/components/schemas/RT26_Request'
      responses:
        '200':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Example with business values (application/json)
                  value:
                    return_errors:
                    - id: af1a537d-3f8a-4bb4-a69c-08df8395ece6
                      message: Return is in invalid state
                    - id: df7b1144-0789-46f9-a0db-bb79c2c7de3a
                      message: 'The compliance has not been specified on the following order lines: OL-46'
                    return_success:
                    - id: b77907cb-f72e-4f69-aac3-14df566311de
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    return_errors:
                    - id: string
                      message: string
                    return_success:
                    - id: string
              schema:
                type: object
                $ref: '#/components/schemas/RT26_Response_200'
          description: OK
      security:
      - Operator-Bearer-Token: []
      - OAuth-2: []
      summary: RT26 - Mark a return as compliant or non compliant
      tags:
      - Returns
    servers:
    - description: URL to be replaced by your Mirakl instance URL
      url: https://your-instance.mirakl.net
  /api/returns/close:
    put:
      description: '<div class="extension-title">Description</div>


        Limited to 100 returns at a time


        <div class="api-description-extension">

        </div>'
      operationId: RT27
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              application/json-0:
                summary: Example with business values (application/json)
                value:
                  returns:
                  - id: af1a537d-3f8a-4bb4-a69c-08df8395ece6
                  - id: df7b1144-0789-46f9-a0db-bb79c2c7de3a
                  - id: b77907cb-f72e-4f69-aac3-14df566311de
              application/json-auto:
                summary: Complete example with value types (application/json)
                value:
                  returns:
                  - id: string
            schema:
              $ref: '#/components/schemas/RT27_Request'
      responses:
        '200':
          content:
            application/json:
              examples:
                application/json-0:
                  summary: Example with business values (application/json)
                  value:
                    return_errors:
                    - id: af1a537d-3f8a-4bb4-a69c-08df8395ece6
                      message: Return is in invalid state
                    - id: df7b1144-0789-46f9-a0db-bb79c2c7de3a
                      message: The return does not exist.
                    return_success:
                    - id: b77907cb-f72e-4f69-aac3-14df566311de
                application/json-auto:
                  summary: Complete example with value types (application/json)
                  value:
                    return_errors:
                    - id: string
                      message: string
                    return_success:
                    - id: string
              schema:
                type: object
                $ref: '#/components/schemas/RT27_Response_200'
          description: OK
      security:
      - Operator-Bearer-Token: []
      - OAuth-2: []
      summary: RT27 - Mark a return as closed
      tags:
      - Returns
    servers:
    - description: URL to be replaced by your Mirakl instance URL
      url: https://your-instance.mirakl.net
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
          description: Error code (immutable)
          examples:
          - DATA_NOT_FOUND
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorItem'
        extensions:
          type: object
          description: Free map where you find additional context data to better describe the error
          examples:
          - maxLength: 255
            minLength: 1
        message:
          type: string
          description: Literal string error description (Please do not base your error handling on this field since it is subject to change)
          examples:
          - An error occurred while processing your request
      required:
      - code
      - message
    UpsertReturnsRequest:
      type: object
      properties:
        origin:
          $ref: '#/components/schemas/OriginRequest'
        returns:
          type: array
          items:
            $ref: '#/components/schemas/ReturnRequest'
          maxItems: 100
          minItems: 1
      required:
      - origin
      - returns
    ReturnErrorDetail:
      type: object
      properties:
        code:
          type: string
          description: Machine-readable error code
        field:
          type: string
          description: JsonPath to the field where the error occurred
        message:
          type: string
          description: Human-readable error message
      required:
      - code
      - message
    OriginRequest:
      type: object
      properties:
        channel_id:
          type: string
          description: Unique identifier of the sales channel
        channel_store_id:
          type: string
          description: Store identifier on the sales channel.
      required:
      - channel_id
      - channel_store_id
    ReturnLineRequest:
      type: object
      properties:
        channel_order_line_id:
          type: string
          description: Order line identifier on the sales channel
        quantity:
          type: integer
          description: Quantity of items being returned
        reason:
          type: string
          description: 'Reason for the return


            Enum: `"WRONG_ITEM"`, `"MISSING_ITEM"`, `"DEFECTIVE_ITEM"`, `"DAMAGED_ITEM"`, `"UNWANTED_ITEM"`, `"OTHER"`

            '
      required:
      - channel_order_line_id
      - quantity
      - reason
    ErrorItem:
      type: object
      properties:
        extensions:
          type: object
          description: Free map where you find additional context data to better describe the error
          examples:
          - maxLength: 255
            minLength: 1
        field:
          type: string
          description: JsonPath to the field where the error occurred
          examples:
          - input.account.id
        message:
          type: string
          description: Literal string error item description (Please do not base your error handling on this field since it is subject to change)
          examples:
          - 'An error occurred while processing your request: id is null'
      required:
      - message
    ReturnRequest:
      type: object
      properties:
        address:
          type: object
          properties:
            city:
              type: string
              description: City
            country:
              type: string
              description: Country
            country_iso_code:
              type: string
              format: iso-3166-1 alpha-3
              description: Country ISO code
            state:
              type: string
              description: State
            street:
              type: string
              description: Street information
            street_additional_info:
              type: string
              description: Additional street information
            zip_code:
              type: string
              description: Postal code
          required:
          - city
          - country_iso_code
          - street
        channel_order_id:
          type: string
          description: Order identifier on the sales channel
        channel_return_id:
          type: string
          description: Return identifier on the sales channel
        channel_updated_at:
          type: string
          format: date-time
          description: Date time the return was last updated on the sales channel
        created_at:
          type: string
          format: date-time
          description: Date time the return was created on the sales channel
        label_url:
          type: string
          description: URL for the return shipping label
        method:
          type: string
          description: Shipping method name on the sales channel
        rejection_reason:
          type: string
          description: 'Reason for the return rejection


            Enum: `"RETURN_WINDOW_CLOSED"`, `"NOT_ELIGIBLE_FOR_RETURN"`, `"FINAL_SALES"`, `"OTHER"`

            '
        return_lines:
          type: array
          items:
            $ref: '#/components/schemas/ReturnLineRequest'
          minItems: 1
        rma_id:
          type: string
          description: Return Merchandise Authorization ID
        status:
          type: string
          description: 'Current return status


            Enum: `"REQUEST_INITIATED"`, `"REQUEST_DECLINED"`, `"OPENED"`, `"RECEIVED"`, `"CLOSED"`, `"CHANNEL_SPECIFIC"`

            '
        sub_channel_code:
          type: string
          description: Code of the sub-channel
        tracking:
          type: object
          properties:
            carrier_name:
              type: string
              description: Carrier company name
            tracking_number:
              type: string
              description: Carrier tracking number
            tracking_url:
              type: string
              description: URL to track the return
      required:
      - channel_order_id
      - channel_return_id
      - channel_updated_at
      - created_at
      - return_lines
      - status
    UpsertReturnsResponse:
      type: object
      properties:
        return_errors:
          type: array
          items:
            type: object
            properties:
              channel_order_id:
                type: string
              channel_return_id:
                type: string
              details:
                type: array
                items:
                  $ref: '#/components/schemas/ReturnErrorDetail'
        return_success:
          type: array
          items:
            type: object
            properties:
              channel_order_id:
                type: string
              channel_return_id:
                type: string
    UpdateReturnTrackingInformationRequest:
      type: object
      properties:
        label_url:
          type: string
          description: Return label URL
          examples:
          - https://shipping.ups.com/returns/labels/d290f1ee-6c54-4b01-90e6-d701748f0851.pdf
        rma_id:
          type: string
          description: RMA ID (Return Merchandise Authorization)
          examples:
          - NL48GEQK22M1-A
        tracking:
          type: object
          description: Return tracking information
          properties:
            carrier:
              type: string
              description: "Carrier company name. For example:\n  - <code>UPS</code>\n  - <code>DHL Express</code>\n  - <code>Amazon Logistics UK</code>\n  - <code>FedEx</code>\n  - <code>China Post</code>\n  - ..."
              examples:
              - DHL Express
            tracking_number:
              type: string
              description: Carrier tracking number
              examples:
              - '781234567890'
            tracking_url:
              type: string
              description: URL to track the return
              examples:
              - https://www.fedex.com/fedextrack/?trknbr=781234567890
    AsynchronousActionResponse:
      type: object
      properties:
        action_id:
          type: string
          description: 'The unique identifier for the asynchronous action. It should be used with the [v2-getActionStatus API](#operation/v2-getActionStatus) to retrieve current action status and potential errors.

            '
          examples:
          - 1ba5fc4b-c4fd-4251-880b-3052e301bbd4
        tracking_id:
          type: string
          deprecated: true
          description: '**Deprecated:** This field was previously used to obtain the action ID. It has been replaced by `action_id` and contains the same value. It is retained for backward compatibility.

            '
          examples:
          - 1ba5fc4b-c4fd-4251-880b-3052e301bbd4
      required:
      - action_id
    AcceptReturnRequest:
      type: object
      properties:
        accepted:
          type: boolean
          description: Indicates if a return is accepted (true) or refused (false).
          examples:
          - true
        rejection_reason:
          type: string
          description: 'Reason for rejecting the return


            Enum: `"RETURN_WINDOW_CLOSED"`, `"NOT_ELIGIBLE_FOR_RETURN"`, `"FINAL_SALES"`

            '
      required:
      - accepted
    Origin:
      type: object
      properties:
        channel_id:
          type: string
          description: Unique identifier of the sales channel
        channel_name:
          type: string
          description: Name of the sales channel
        channel_store_id:
          type: string
          description: Store identifier on the sales channel. This identifier is not guaranteed to be unique as multiple channels can use the same identifier.
        channel_store_name:
          type: string
          description: Store public name on the sales channel
        sub_channel_code:
          type: string
          description: Code of the sub-channel
        sub_channel_name:
          type: string
          description: Name of the sub-channel
      required:
      - channel_id
    ReturnResponse:
      type: object
      properties:
        address:
          type: object
          properties:
            city:
              type: string
              description: City
            country:
              type: string
              description: Country
            country_iso_code:
              type: string
              format: iso-3166-1 alpha-3
              description: Country ISO code
            state:
              type: string
              description: State
            street:
              type: string
              description: Street information
            street_additional_info:
              type: string
              description: Additional street information
            zip_code:
              type: string
              description: Postal code
          required:
          - city
          - country_iso_code
          - street
        channel_return_id:
          type: string
          description: Return identifier on the sales channel. This identifier is not guaranteed to be unique as multiple channels can use the same identifier.
        channel_updated_at:
          type: string
          format: date-time
          description: Date time the return was last updated on the sales channel
        created_at:
          type: string
          format: date-time
          description: Date time the return was created on the sales channel
        id:
          type: string
          description: Unique return identifier used by Mirakl Connect. This identifier can be used as a primary key, but it must not be shared with final users.
        label_url:
          type: string
          description: URL for the return shipping label
        method:
          type: string
          description: Shipping method name on the sales channel
        order_id:
          type: string
          description: Order identifier used by Mirakl Connect
        origin:
          $ref: '#/components/schemas/Origin'
          description: Sales channel information
        rejection_reason:
          type: string
          description: 'Reason for the return rejection


            Enum: `"RETURN_WINDOW_CLOSED"`, `"NOT_ELIGIBLE_FOR_RETURN"`, `"FINAL_SALES"`, `"OTHER"`

            '
        return_lines:
          type: array
          items:
            $ref: '#/components/schemas/ReturnLineResponse'
          minItems: 1
        rma_id:
          type: string
          description: Return Merchandise Authorization ID
        status:
          type: string
          description: 'Current return status


            Enum: `"REQUEST_INITIATED"`, `"REQUEST_DECLINED"`, `"OPENED"`, `"RECEIVED"`, `"CLOSED"`, `"CHANNEL_SPECIFIC"`

            '
        tracking:
          type: object
          properties:
            carrier_name:
              type: string
              description: Carrier company name
            tracking_number:
              type: string
              description: Carrier tracking number
            tracking_url:
              type: string
              description: URL to track the return
        updated_at:
          type: string
          format: date-time
          description: Date time the return was last updated on Mirakl Connect
      required:
      - channel_return_id
      - channel_updated_at
      - created_at
      - id
      - order_id
      - origin
      - return_lines
      - status
    ResourcesPage:
      type: object
      properties:
        next_page_token:
          type: string
          description: Token to access the next page. Absent if the current page is the last one.
          minLength: 1
        previous_page_token:
          type: string
          description: Token to access the previous page. Absent if the current page is the first one.
          minLength: 1
    ReturnLineResponse:
      type: object
      properties:
        order_line_id:
          type: string
          description: Order line identifier used by Mirakl Connect
        product_id:
          type: string
          description: Returnable item identifier
        quantity:
          type: integer
          description: Quantity of items being returned
        reason:
          type: string
          description: 'Reason for the return


            Enum: `"WRONG_ITEM"`, `"MISSING_ITEM"`, `"DEFECTIVE_ITEM"`, `"DAMAGED_ITEM"`, `"UNWANTED_ITEM"`, `"OTHER"`

            '
      required:
      - order_line_id
      - quantity
      - reason
    ReturnsPageResponse:
      allOf:
      - $ref: '#/components/schemas/ResourcesPage'
      - type: object
        properties:
          data:
            type: array
            description: Page of returns corresponding to the filter parameters
            items:
              $ref: '#/components/schemas/ReturnResponse'
        required:
        - data
    RT25_Request_Returns:
      type: object
      description: Return ids
      properties:
        id:
          type: string
          description: Return id, must be a valid UUID
          maxLength: 36
          minLength: 0
      required:
      - id
    RT51_Response_200_ReturnLabelErrors:
      type: object
      properties:
        error_message:
          type: string
          description: Error description
        return_id:
          type: string
          description: Return ID
    RT01_Request_Returns:
      type: object
      description: Returns list
      properties:
        accepted:
          type: boolean
          description: If true, the return is automatically accepted after its creation. If false, the return cannot be accepted automatically. If empty, the returns configuration is taken into account to set the value.
        description:
          type: string
          description: Description
          maxLength: 2000
          minLength: 0
        label_url:
          type: string
          description: Label URL
          maxLength: 2000
          minLength: 1
        method_code:
          type: string
          description: 'Return method code


            Enum: `"RETURN_METHOD_BY_MAIL"`, `"RETURN_METHOD_DROP_OFF_POINT"`, `"RETURN_METHOD_HOME_PICKUP"`, `"RETURN_METHOD_IN_STORE"`, `"RETURN_METHOD_RETURNLESS"`

            '
        order_commercial_id:
          type: string
          description: Order commercial id
[...]
