openapi: 3.1.0
info:
  description: '{% partial file="/partial-content/product/connect-channel-platform/rest/connect/openapi-description.md" /%}'
  title: Mirakl Connect Channel Platform APIs Carriers Incidents API
  version: ''
servers:
- description: Connect Channel Platform API
  url: https://miraklconnect.com/api/channel-platform
tags:
- name: Incidents
paths:
  /api/orders/{order_id}/lines/{line}/resolve_incident:
    put:
      description: '<div class="api-description-extension">

        <div class="extension-title">Call Frequency</div>


        <div class="recommended-call-frequency">Recommended usage: At each incident resolution on an order line</div>

        <div class="max-call-frequency">Maximum usage: At each incident resolution on an order line</div>

        <div class="extension-title">Read More</div>


        <ul><li><a href="https://help.mirakl.com/bundle/sellers/page/topics/Mirakl/mmp/Seller/manage_orders/view_orders_incidents/solve_incidents.html">More context</a></li></ul></div>'
      operationId: OR64
      parameters:
      - description: Order identifier
        explode: false
        in: path
        name: order_id
        required: true
        schema:
          type: string
        style: simple
      - description: Order line identifier
        explode: false
        in: path
        name: line
        required: true
        schema:
          type: string
        style: simple
      - description: Use this parameter when your user has access to several shops. If not specified, the shop_id from your default shop will be used.
        explode: true
        in: query
        name: shop_id
        required: false
        schema:
          type: integer
          format: int64
        style: form
      requestBody:
        content:
          application/json:
            examples:
              application/json-0:
                summary: Example with business values (application/json)
                value:
                  reason_code: '8'
              application/json-auto:
                summary: Complete example with value types (application/json)
                value:
                  reason_code: string
            schema:
              $ref: '#/components/schemas/OR64_Request'
      responses:
        '204':
          description: No Content
      security:
      - Shop-API-Key:
        - ROLE_SHOP_ADMIN
        - ROLE_PARTNER_ORDER_INCIDENT_RESOLVE
      summary: OR64 - Mark an incident as resolved
      tags:
      - Incidents
components:
  schemas:
    OR64_Request:
      type: object
      properties:
        reason_code:
          type: string
          description: Incident resolution reason code
      required:
      - reason_code
  securitySchemes:
    Bearer:
      bearerFormat: JWT
      scheme: bearer
      type: http
x-group-parameters: true
